<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="CompanyForm" #enjiForm="ngForm">
            <div class="form-body">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i>Main Data</h4>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Guarantor Name </label>
                <div class="col-md-4">
                  <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]="CompanyForm" [enjiForm]="enjiForm"
                    [identifier]="'LookupGuarantor'" (lookup)="lookupGuarantor($event)"></lib-uclookupgeneric>
                </div>
              </div>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Company Type </label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode">
                    <option *ngFor="let it of MrCompanyTypeCode" [value]="it.MasterCode">
                      {{it.Descr}}</option>
                  </select>
                </div>

                <label class="col-md-2 adins-required-label" translate>NPWP</label>
                <div class="col-md-4">
                  <input type="number" class="form-control" formControlName="TaxIdNo">
                </div>
              </div>
              <br>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Customer Relationship </label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="MrCustRelationshipCode">
                    <option *ngFor="let it of MrCustRelationshipCode" [value]="it.MasterCode">
                      {{it.Descr}}</option>
                  </select>
                </div>
                <label class="col-md-2 adInsLabel">Industry Type </label>
                <div class="col-md-4">
                  <lib-uclookupgeneric [lookupInput]="inputLookupObj1" [parentForm]="CompanyForm" [enjiForm]="enjiForm"
                    [identifier]="'lookupIndustryType'" (lookup)="handleOutput1($event)"></lib-uclookupgeneric>
                </div>
              </div>
              <br>
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i>Contact Information</h4>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Contact Name </label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput width-75-per" formControlName="ContactName">
                </div>
                <label class="col-md-2 adInsLabel">Position </label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="MrJobPositionCode">
                    <option *ngFor="let it of MrJobPositionCode" value="{{it.MasterCode}}">
                      {{it.Descr}}</option>
                  </select>
                </div>
              </div>
              <br>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Mobile Phone 1</label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput width-75-per" formControlName="MobilePhnNo1">
                </div>
                <label class="col-md-2 adInsLabel">Phone No (Fix Line) 1 </label>
                <div class="col-md-4">
                  <div class="class=form-group row adins-required">
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnArea1">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.PhnArea1" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="Phn1">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.Phn1" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnExt1">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.PhnExt1" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Mobile Phone 2</label>
                <div class="col-md-4">
                  <input type="text" class="form-control adInsInput width-75-per" formControlName="MobilePhnNo2">
                </div>
                <label class="col-md-2 adInsLabel">Phone No (Fix Line) 2 </label>
                <div class="col-md-4">
                  <div class="class=form-group row adins-required">
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnArea2">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.PhnArea2" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="Phn2">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.Phn2" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                    <div class="col-md-4">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnExt2">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.PhnExt2" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="class=form-group row adins-required">
                <label class="col-md-2 adInsLabel">Email </label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="ContactEmail">
                </div>
                <label class="col-md-2 adInsLabel">Fax </label>
                <div class="col-md-4">
                  <div class="class=form-group row adins-required">
                    <div class="col-md-6">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="FaxArea">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.FaxArea" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                    <div class="col-md-6">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="Fax">
                      <lib-uc-show-errors  [control]="CompanyForm.controls.Fax" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors >
                    </div>
                  </div>
                </div>
              </div>
              <lib-ucaddress #UcAddrGrp [title]="'Address'" [UCAddrForm]="CompanyForm" [enjiForm]="enjiForm"
                [identifier]="'AddrObj'" [default]="AddrObj" [inputField]="inputFieldObj" [showPhn3]="false">
              </lib-ucaddress>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" translate>
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary" (click)="SaveForm()" >
                  <i class="fa fa-check-square-o"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>