<div class="row text-left" *ngIf="isReady">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="CompanyForm" #enjiForm="ngForm" (ngSubmit)="CompanyForm.valid && SaveForm()">
            <div class="form-body">
              <lib-ucSubsection [id]="'mainDataId'" [title]="'Main Data'" [panel]="'mainData'">
              </lib-ucSubsection>
              <div *ngIf="tempCustNo!= null">
                <div class="form-group row">
                  <label class="col-md-2">Customer No</label>
                  <label class="col-md-4">{{this.tempCustNo}}</label>
                </div>
              </div>
              <div class="row" id="mainData">
                <!-- left -->
                <div class="col-md-6">
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Guarantor Name </label>
                    <div class="col-md-8">
                      <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]="CompanyForm" [enjiForm]="enjiForm"
                                           [identifier]="'LookupGuarantor'" (lookup)="lookupGuarantor($event)"></lib-uclookupgeneric>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Company Type </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto" formControlName="MrCompanyTypeCode"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.MrCompanyTypeCode.invalid }">
                        <option *ngFor="let it of MrCompanyTypeCode" [value]="it.MasterCode">
                          {{it.Descr}}
                        </option>
                        <lib-uc-show-errors [control]="CompanyForm.controls.MrCompanyTypeCode"
                                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </select>
                    </div>
                  </div>
                  <div class="class=form-group row ">
                    <label class="col-md-4 adInsLabel">Customer Relationship </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto" formControlName="MrCustRelationshipCode"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.MrCustRelationshipCode.invalid }">
                        <option *ngFor="let it of MrCustRelationshipCode" [value]="it.Key">
                          {{it.Value}}
                        </option>
                        <lib-uc-show-errors [control]="CompanyForm.controls.MrCustRelationshipCode"
                                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </select>
                    </div>
                  </div>
                </div>
                <!-- right -->
                <div class="col-md-6 ">
                  <div class="form-group row">
                    <label class="col-md-4" translate>&#x200B;</label>
                    <div class="col-md-8">
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adins-required-label" translate>NPWP</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="TaxIdNo"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.TaxIdNo.invalid }">
                      <lib-uc-show-errors [control]="CompanyForm.controls.TaxIdNo"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Industry Type </label>
                    <div class="col-md-8">
                      <lib-uclookupgeneric [lookupInput]="inputLookupObj1" [parentForm]="CompanyForm" [enjiForm]="enjiForm"
                                           [identifier]="'LookupIndustryType'" (lookup)="handleOutput1($event)"></lib-uclookupgeneric>
                    </div>
                  </div>
                </div>
              </div>
              <app-guarantor-legal-doc (callbackSubmit)="getAppGuarantorLegalDoc($event)" [listLegalDoc]="listLegalDoc">
              </app-guarantor-legal-doc>
              <lib-ucSubsection [id]="'contactInfoId'" [title]="'Contact Information'" [panel]="'contactInfo'">
              </lib-ucSubsection>
              <div class="row" id="contactInfo">
                <div class="col-md-6">
                  <!-- left -->
                  <div class="form-group row" [ngClass]="{'adins-required' : isContactMandatory}">
                    <label class="col-md-4 adInsLabel">Contact Name </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="ContactName" (focusout)="ChangeContactInfo()"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.ContactName.invalid }">
                      <lib-uc-show-errors [control]="CompanyForm.controls.ContactName"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row" [ngClass]="{'adins-required' : isContactMandatory}">
                    <label class="col-md-4 adInsLabel">Mobile Phone 1</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="MobilePhnNo1" (focusout)="ChangeContactInfo()"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.MobilePhnNo1.invalid }">
                      <lib-uc-show-errors [control]="CompanyForm.controls.MobilePhnNo1"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel">Mobile Phone 2</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="MobilePhnNo2" (focusout)="ChangeContactInfo()"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.MobilePhnNo2.invalid }">
                      <lib-uc-show-errors [control]="CompanyForm.controls.MobilePhnNo2"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row" [ngClass]="{'adins-required' : isContactMandatory}">
                    <label class="col-md-4 adInsLabel">Email</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="ContactEmail" (focusout)="ChangeContactInfo()"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.ContactEmail.invalid }">
                      <lib-uc-show-errors [control]="CompanyForm.controls.ContactEmail"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                </div>
                <!-- right -->
                <div class="col-md-6">
                  <div class="form-group row" [ngClass]="{'adins-required' : isContactMandatory}">
                    <label class="col-md-4 adInsLabel">Position</label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto" formControlName="MrJobPositionCode" (change)="ChangeContactInfo()"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.MrJobPositionCode.invalid }">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of MrJobPositionCode" value="{{it.MasterCode}}">
                          {{it.Descr}}
                        </option>
                        <lib-uc-show-errors [control]="CompanyForm.controls.MrJobPositionCode"
                                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row" [ngClass]="{'adins-required' : isContactMandatory}">
                    <!-- <label class="col-md-4 adInsLabel" *ngIf="CompanyForm.controls.ContactName.value==''">Phone No 1</label> -->
                    <!-- <label class="col-md-4 adins-required-label" *ngIf="CompanyForm.controls.ContactName.value!=''">Phone No (Fix Line) 1</label> -->
                    <label class="col-md-4 adInsLabel">Phone No 1</label>
                    <div class="col-md-8">
                      <div class="form-group row">
                        <div class="col-md-3" style="border-right: 1px solid grey">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnArea1" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.PhnArea1.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.PhnArea1" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                        <div class="col-md-6" style="border-right: 1px solid grey">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="Phn1" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.Phn1.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.Phn1" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnExt1" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.PhnExt1.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.PhnExt1" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel">Phone No 2 </label>
                    <div class="col-md-8">
                      <div class="form-group row ">
                        <div class="col-md-3" style="border-right: 1px solid grey">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnArea2" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.PhnArea2.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.PhnArea2" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                        <div class="col-md-6" style="border-right: 1px solid grey">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="Phn2" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.Phn2.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.Phn2" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                        <div class="col-md-3">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="PhnExt2" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.PhnExt2.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.PhnExt2" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel">Fax </label>
                    <div class="col-md-8">
                      <div class="form-group row ">
                        <div class="col-md-3" style="border-right: 1px solid grey">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="FaxArea" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.FaxArea.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.FaxArea" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                        <div class="col-md-6">
                          <input type="text" class="form-control adInsInput width-100-per" formControlName="Fax" (focusout)="ChangeContactInfo()"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && CompanyForm.controls.Fax.invalid }">
                          <lib-uc-show-errors [control]="CompanyForm.controls.Fax" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForCoy" [enjiForm]="enjiForm" [identifier]="'AddrObj'" [UCAddrForm]="CompanyForm">
              </lib-ucaddress>
              <!-- <lib-ucaddress #UcAddrGrp [title]="'Address'" [UCAddrForm]="CompanyForm" [enjiForm]="enjiForm"
                             [identifier]="'AddrObj'" [default]="AddrObj" [inputField]="inputFieldObj" [showAllPhn]="false">
              </lib-ucaddress> -->
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" translate>
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="far fa-check-square"></i> Save
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
