<div class="col-md-12 text-left">
    <div class="card">
        <!-- Income Information -->
        <div class="card-body">
            <div class="px-3">
                <lib-ucSubsection [id]="'viewIncomeInfoId'" [title]="'Income Information'" [panel]="'viewIncomeInfo'">
                </lib-ucSubsection>
                <div class="form-body" id="viewIncomeInfo">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Upping Rate </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="viewIncomeInfoObj.UppingRate >= 0"> {{viewIncomeInfoObj.UppingRate | number:'.2':'en-US'}} </label>
                                  <label *ngIf="viewIncomeInfoObj.UppingRate < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Insurance Income </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="viewIncomeInfoObj.InsuranceIncome >= 0"> {{viewIncomeInfoObj.InsuranceIncome | number:'.2':'en-US'}} </label>
                                  <label *ngIf="viewIncomeInfoObj.InsuranceIncome < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Life Insurance Income </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="viewIncomeInfoObj.LifeInsuranceIncome >= 0"> {{viewIncomeInfoObj.LifeInsuranceIncome | number:'.2':'en-US'}} </label>
                                  <label *ngIf="viewIncomeInfoObj.LifeInsuranceIncome < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Interest Income </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="viewIncomeInfoObj.InterestIncome >= 0"> {{viewIncomeInfoObj.InterestIncome | number:'.2':'en-US'}} </label>
                                  <label *ngIf="viewIncomeInfoObj.InterestIncome < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Max Allocated Amount </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="viewIncomeInfoObj.MaxAllocatedAmount >= 0"> {{viewIncomeInfoObj.MaxAllocatedAmount | number:'.2':'en-US'}} </label>
                                  <label *ngIf="viewIncomeInfoObj.MaxAllocatedAmount < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> Remaining Allocated Amount </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label> {{viewIncomeInfoObj.RemainingAllocatedAmount | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="row" *ngFor="let item of viewIncomeInfoObj.Other; let i = index">
                                <div class="col-md-6 form-inline">
                                  <label class="adInsLabel"> {{ item.FeeTypeName }} </label>
                                </div>
                                <div class="col-md-6 form-inline form-inline-right">
                                  <label *ngIf="item.AppFeeAmt >= 0"> {{item.AppFeeAmt | number:'.2':'en-US'}} </label>
                                  <label *ngIf="item.AppFeeAmt < 0"> {{0 | number:'.2':'en-US'}} </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <form action="">
            <app-form-add-dynamic #Form1 *ngIf="OnForm1" [FormInputObj]="FormInputObjSupplier"
                (update)="GetData($event, 'Supplier')"></app-form-add-dynamic>
            <app-form-add-dynamic #Form2 *ngIf="OnForm2" [FormInputObj]="FormInputObjSupplierEmpl"
                (update)="GetData($event, 'SupplierEmployee')">
            </app-form-add-dynamic>
            <app-form-add-dynamic #Form3 *ngIf="OnForm3" [FormInputObj]="FormInputObjReferantor"
                (update)="GetData($event, 'Referantor')"></app-form-add-dynamic>
        </form>

        <!-- Summary -->
        <div class="card-body">
            <div class="px-3">
                <div class="form-actions row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="button" style="float: right;" (click)="CalculateTotal()"
                            class="btn btn-raised btn-primary" translate>
                            <i class="far fa-check-square"></i> Calculate
                        </button>
                    </div>
                </div>
                <lib-ucSubsection [id]="'viewSummaryId'" [title]="'Summary'" [panel]="'viewSummary'">
                </lib-ucSubsection>                
                <div class="row" id="viewSummary">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 form-inline">
                                <label>Total Commision Amount</label>
                            </div>
                            <div class="col-md-2 form-inline form-inline-right">
                                <label *ngIf="Summary.TotalCommisionAmount <= viewIncomeInfoObj.MaxAllocatedAmount"
                                    style="text-align: right;">
                                    {{Summary.TotalCommisionAmount | number:'.2':'en-US'}} </label>
                                <label *ngIf="Summary.TotalCommisionAmount > viewIncomeInfoObj.MaxAllocatedAmount"
                                    style="color: red; text-align: right;">
                                    {{Summary.TotalCommisionAmount | number:'.2':'en-US'}} </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-inline">
                                <label>Total TAX</label>
                            </div>
                            <div class="col-md-2 form-inline form-inline-right">
                                <label>{{Summary.TotalTaxAmmount | number:'.2':'en-US'}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-inline">
                                <label>Total VAT</label>
                            </div>
                            <div class="col-md-2 form-inline form-inline-right">
                                <label>{{Summary.TotalVATAmount | number:'.2':'en-US'}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-inline">
                                <label>Gross Yield</label>
                            </div>
                            <div class="col-md-2 form-inline form-inline-right">
                                <label>{{Summary.GrossYield | number:'.2':'en-US'}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <button type="button" style="float: right;" (click)="SaveData()"
                            class="btn btn-raised btn-primary" translate>
                            <i class="far fa-check-square"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>