<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton" [routerLink]="[BackLink]" translate>Back</button>
    <button type="button" class="backButton" (click)="uploadReview('RJC')" translate>Reject</button>
    <button type="button" class="addButton" (click)="uploadReview('APV')" translate>Process</button>
  </span>
</div>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
<lib-ucpaging [searchObj]="inputPagingObj" ></lib-ucpaging>
