<form class="form form-horizontal" [formGroup]="LegalForm" #enjiForm="ngForm" (ngSubmit)="SaveData(LegalForm)">
  <lib-ucviewgeneric [viewInput]="viewObj"></lib-ucviewgeneric>
  <lib-ucSubsection [id]="'Hierarchy'" [title]="'Term And Condition'" [panel]="'TermId'"></lib-ucSubsection>
  <div id="TermId" formArrayName="termConditions">
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th class="text-center"><span class="thead-header" name='no' translate>NO</span>
          </th>
          <th class="text-center"><span class="thead-header" name='docName' translate>DOCUMENT NAME</span>
          </th>
          <th class="text-center"><span class="thead-header" name='checked' translate>CHECKED</span>
          </th>
          <th class="text-center"><span class="thead-header" name='mandatory' translate>MANDATORY</span>
          </th>
          <th class="text-center"><span class="thead-header" name='exp' translate>EXPIRED DATE</span>
          </th>
          <th class="text-center"><span class="thead-header" name='promise' translate>PROMISE DATE</span>
          </th>
          <th class="text-center"><span class="thead-header" name='notes' translate>NOTES</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr [formGroupName]="i" *ngFor="let item of LegalForm.controls.termConditions.controls; let i = index">
          <td class="text-center">{{i+1}}</td>
          <td class="text-left">{{item.controls.DocumentName.value}}</td>
          <td class="text-center">
            <input class="border-primary" [checked]="item.controls.IsChecked.value" type="checkbox"
              formControlName="IsChecked" />
          </td>
          <td class="text-center">
            <input class="border-primary" [checked]="item.controls.IsMandatory.value" type="checkbox"
              formControlName="IsMandatory" />
          </td>
          <td class="text-center">{{item.controls.ExpiredDt.value | date: 'dd-MM-yyyy'}}</td>
          <td class="text-center">{{item.controls.PromisedDt.value | date: 'dd-MM-yyyy'}}</td>
          <td class="text-left">{{item.controls.Notes.value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <lib-ucSubsection [id]="'Review'" [title]="'Review Result'" [panel]="'ReviewId'"></lib-ucSubsection>
  <div id="ReviewId">
    <div formArrayName="items">
      <div *ngFor="let item of items.controls; let i = index;">
        <div class="form-group row" [formGroupName]="i">
          <label class="col-md-4 adInsLabel" translate> {{item.controls.ReviewComponentName.value}} </label>
          <div class="col-md-7">
            <input type="text" class="form-control adInsInput" formControlName="values" required>
            <show-errors [control]="LegalForm.controls.items['controls'][i]['controls'].values"
              [submit]="enjiForm.submitted"></show-errors>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="float-right">
    <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['/Mou/CustomerLegalReview/Paging']"
      translate>
      <i class="ft-x"></i> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary mr-1" translate>
      <i class="fa fa-check-square-o"></i> Save
    </button>
    <button type="submit" class="btn btn-raised btn-primary mr-1" translate>
      <i class="fa fa-check-square-o"></i> Submit
    </button>
  </div>
</form>


<!-- <app-mou-cust-tc [MouCustId]="MouCustId"></app-mou-cust-tc>  -->