1234567891011121314151617181920212223242526272829303132333435363738394041
<app-guarantor [AppId]="AppId"></app-guarantor>
 
<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <lib-ucSubsection [id]="'viewReferantorInfoId'" [title]="'Referantor'" [panel]="'viewReferantorInfo'">
          </lib-ucSubsection>
          <div class="form-body" id="viewReferantorInfo">
            <div class="row">
              <div class="col-md-6 ">
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> Referantor Name </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.ReferantorName!=null"> {{ReferantorData.ReferantorName}} </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.ReferantorName==null"> - </label>
                </div>
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> Num Of Sales </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.NumOfSales!=null"> {{ReferantorData.NumOfSales}} </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.NumOfSales==null"> - </label>
                </div>
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> Total Sales Amount </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.TotalSalesAmount!=null"> {{ReferantorData.TotalSalesAmount | number:'.2':'en-US'}} </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.TotalSalesAmount==null"> - </label>
                </div>
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> Total Profit </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.TotalProfit!=null"> {{ReferantorData.TotalProfit}} </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.TotalProfit==null"> - </label>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> Cooperation Date </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.CooperationDate!=null"> {{ReferantorData.CooperationDate | date: 'dd-MMMM-yyyy'}} </label>
                  <label class="col-md-6 adInsLabel" *ngIf="ReferantorData.CooperationDate==null"> - </label>
                </div>
                <div class="row">
                  <label class="col-md-6 adInsLabel" translate> F12PD (Num Of Application) </label>
<app-guarantor [AppId]="AppId"></app-guarantor>
