<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <!-- <div class="ucSearch-Button-Right">
        <span class="mr-1">
          <button type="button" class="backButton" (click)="Back()" translate>
            <i class="ft-x"></i> Cancel
          </button>
        </span>
      </div> -->
      <div class="card-body">
        <div class="px-3">

          <!-- Main Info -->
          <div class="form-body">
            <lib-ucSubsection [id]="'custMainId'" [title]="'Customer Main Info'" [panel]="'custMain'">
            </lib-ucSubsection>
            <div id="custMain">
              <div class="form-group row">
                <label class="col-md-3 adInsLabel">Customer No</label>  
                <a href="javascript:void(0);" (click)="OpenView('cust', MouCustObj.CustNo)" class="label-control col-md-3" *ngIf="MouCustObj?.CustNo != ''">{{MouCustObj.CustNo}}</a>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.CustNo == ''">- </label>
                <label class="col-md-3 adInsLabel">Applicant No</label>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.ApplicantNo != ''">{{MouCustObj.ApplicantNo}}</label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel">Customer Name</label>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.CustName != ''">{{MouCustObj?.CustName}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.CustName == ''">- </label>
                <label class="col-md-3 adInsLabel">NPWP</label>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.TaxIdNo != ''">{{MouCustObj?.TaxIdNo}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="MouCustObj?.TaxIdNo == ''">- </label>
              </div>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'appGuaId'" [title]="'Applicant As Guarantor'" [panel]="'appGua'">
            </lib-ucSubsection>
            <div id="appGua">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <input type="checkbox" [checked]="checkboxAllGuarantor"
                             (change)="SelectAllGuarantor($event.target.checked)" id="checkAll" name="CheckAll">
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='appNo' translate>Application No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custName' translate>
                        Customer
                        Name
                      </span>
                    <th><span class="thead-header" (click)="searchSort($event)" name='IdType' translate>Id Type</span></th>
                    <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListDuplicateAppGuarantor?.length == 0">
                    <td align="center" colspan="5">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListDuplicateAppGuarantor; let i = index">
                    <td>
                      <div *ngIf="ListDuplicateAppGuarantor?.indexOf(item.AppGuarantorId) >- 1">
                        <input type="checkbox" id="checkSameGuarantor" name="itemSameGuarantor"
                               (change)="Checked('AppGuarantor',item.AppGuarantorId,  $event.target.checked)" [checked]="true">
                      </div>
                      <div *ngIf="ListDuplicateAppGuarantor?.indexOf(item.AppGuarantorId) < 0">
                        <input type="checkbox" id="checkDiffGuarantor" name="itemDiffGuarantor"
                               (change)="Checked('AppGuarantor',item.AppGuarantorId,  $event.target.checked)" [checked]=false>
                      </div>
                    </td>
                    <td><a href="javascript:void(0);" (click)="OpenView('app', item.AppId)">{{item.AppNo}}</a></td>
                    <td><a href="javascript:void(0);" (click)="OpenView('cust', item.CustNo)">{{item.CustNo}}</a></td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.MrIdTypeCodeDesc}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'appShareId'" [title]="'Applicant As Shareholder'" [panel]="'appShare'">
            </lib-ucSubsection>
            <div id="appShare">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <input type="checkbox" [checked]="checkboxAllShareholder"
                             (change)="SelectAllShareholder($event.target.checked)" id="checkAll" name="CheckAll">
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='appNo' translate>Application No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custName' translate>
                        Customer
                        Name
                      </span>
                    <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListDuplicateAppShareholder?.length == 0">
                    <td align="center" colspan="5">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListDuplicateAppShareholder; let i = index">
                    <td>
                      <div *ngIf="ListSelectedIdAppShareholder?.indexOf(item.AppCustCompanyMgmntShrholderId) >- 1">
                        <input type="checkbox" id="checkSameShareholder" name="itemSameShareholder"
                               (change)="Checked('AppSharholder', item.AppCustCompanyMgmntShrholderId,  $event.target.checked)"
                               [checked]="true">
                      </div>
                      <div *ngIf="ListSelectedIdAppShareholder?.indexOf(item.AppCustCompanyMgmntShrholderId) < 0">
                        <input type="checkbox" id="checkDiffShareholder" name="itemDiffShareholder"
                               (change)="Checked('AppSharholder', item.AppCustCompanyMgmntShrholderId,  $event.target.checked)" [checked]=false>
                      </div>
                    </td>
                    <td><a href="javascript:void(0);" (click)="OpenView('app', item.AppId)">{{item.AppNo}}</a></td>
                    <td><a href="javascript:void(0);" (click)="OpenView('cust', item.CustNo)">{{item.CustNo}}</a></td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'MouGuaId'" [title]="'Applicant As Mou Guarantor'" [panel]="'MouGua'">
            </lib-ucSubsection>
            <div id="MouGua">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <input type="checkbox" [checked]="checkboxAllMouGuarantor" (change)="SelectAllMouGuarantor($event.target.checked)" id="checkAll"
                             name="CheckAll">
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custName' translate>
                        Customer
                        Name
                      </span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='idType' translate>ID Type</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='idNo' translate>ID Number</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='birthDt' translate>Birth Date</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='mobilePhoneNo' translate>
                        Mobile
                        Phone
                        Number
                      </span>
                    </th>
                    <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListDuplicateMouGuarantor?.length == 0">
                    <td align="center" colspan="9">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListDuplicateMouGuarantor; let i = index">
                    <td>
                      <div *ngIf="ListSelectedIdMouGuarantor?.indexOf(item.MouGuarantorId) >- 1">
                        <input type="checkbox" id="checkSameGuarantor" name="itemSameGuarantor"
                               (change)="Checked('MouGuarantor',item.MouGuarantorId,  $event.target.checked)" [checked]="true">
                      </div>
                      <div *ngIf="ListSelectedIdMouGuarantor?.indexOf(item.MouGuarantorId) < 0">
                        <input type="checkbox" id="checkDiffGuarantor" name="itemDiffGuarantor"
                               (change)="Checked('MouGuarantor',item.MouGuarantorId,  $event.target.checked)" [checked]=false>
                      </div>
                    </td>
                    <td><a href="javascript:void(0);" (click)="OpenView('cust', item.CustNo)">{{item.CustNo}}</a></td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.MrIdTypeCodeDesc}}</td>
                    <td>{{item.IdNo}}</td>
                    <td>{{item.BirthDt | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{item.MobilePhnNo1}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'MouShareId'" [title]="'Applicant As Mou Management / Shareholder'" [panel]="'MouShare'">
            </lib-ucSubsection>
            <div id="MouShare">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <input type="checkbox" [checked]="checkboxAllMouShareholder" (change)="SelectAllMouShareholder($event.target.checked)" id="checkAll"
                             name="CheckAll">
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='custName' translate>
                        Customer
                        Name
                      </span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='idType' translate>ID Type</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='idNo' translate>ID Number</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='birthDt' translate>Birth Date</span>
                    </th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='mobilePhoneNo' translate>
                        Mobile
                        Phone
                        Number
                      </span>
                    </th>
                    <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListDuplicateMouShareholder?.length == 0">
                    <td align="center" colspan="9">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListDuplicateMouShareholder;let i = index">
                    <td>
                      <div *ngIf="ListSelectedIdMouShareholder?.indexOf(item.MouCustCompanyMgmntShrholderId) >- 1">
                        <input type="checkbox" id="checkSameShareholder" name="itemSameShareholder"
                               (change)="Checked('MouShareholder', item.MouCustCompanyMgmntShrholderId,  $event.target.checked)" [checked]="true">
                      </div>
                      <div *ngIf="ListSelectedIdMouShareholder?.indexOf(item.MouCustCompanyMgmntShrholderId) < 0">
                        <input type="checkbox" id="checkDiffSpouse" name="itemDiffSpouse"
                               (change)="Checked('MouShareholder', item.MouCustCompanyMgmntShrholderId,  $event.target.checked)" [checked]=false>
                      </div>
                    </td>
                    <td><a href="javascript:void(0);" (click)="OpenView('cust', item.CustNo)">{{item.CustNo}}</a></td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.IdType}}</td>
                    <td>{{item.IdNo}}</td>
                    <td>{{item.BirthDt | date: 'dd-MMM-yyyy'}}</td>
                    <td>{{item.MobilePhnNo1}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="pull-right">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Back()" translate>
              <i class="ft-x"></i> Cancel
            </button>
            <button type="button" (click)="Submit()" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i> Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
