<div class="form-body">
  <div class="px-3">
    <form class="form form-horizontal">
      <div class="form-body">
        <h4 class="form-section card-title" translate>
          Subsidy
        </h4>
      </div>
    </form>
  </div>
  <div class="col-md-12" style="padding: 0; text-align: right;">
    <span class="mr-1">
      <button type="button" class="addButton" (click)="openModalAddFee()" translate>
        <i class="ft-plus-circle"></i> Add
      </button>
    </span>
  </div>
  <div class="px-3 table-responsive">
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th><span style="float: left;" class="thead-header" name='No' translate>Subsidy From Type</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='CustNo' translate>Subsidy From Value</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='CustName' translate>Subsidy Allocation</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='IdNo' translate>Subsidy Source</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='TaxIdNo' translate>Subsidy Value Type</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='TaxIdNo' translate>Subsidy Value</span>
          </th>
          <th translate>Edit</th>
          <th translate>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listAppSubsidy">
          <td class="text-left">{{item.MrSubsidyFromTypeName}}</td>
          <td class="text-left">{{item.MrSubsidyFromValueName}}</td>
          <td align="left">{{item.MrSubsidyAllocName}}</td>
          <td class="text-left">{{item.MrSubsidySourceName}}</td>
          <td class="text-left">{{item.MrSubsidyValueTypeName}}</td>
          <td class="text-left" *ngIf="item.MrSubsidyValueTypeName == 'Percentage'">{{item.SubsidyPrcnt}}</td>
          <td class="text-left" *ngIf="item.MrSubsidyValueTypeName == 'Amount'">{{item.SubsidyAmt}}</td>
          <td>
            <a class="success p-0" data-original-title="" title="" (click)="editItem(item)">
              <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
          </td>
          <td>
            <a class="danger p-0" data-original-title="" title=""
              (click)="deleteItem(item.CustCompanyMgmntShrholderId)">
              <i class="ft-trash-2 font-medium-3 mr-2"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="px-3">
    <form class="form form-horizontal">
      <div class="form-body">
        <h4 class="form-section card-title" translate>
          Fees
        </h4>
      </div>
    </form>
  </div>



  <div class="px-3">
    <form class="form form-horizontal" [formGroup]="AppSubsidyForm" (ngSubmit)="AppSubsidyForm.valid && SaveValue()"
      #enjiForm="ngForm">

      <div class="form-group row">
        <label class="col-md-1 adins-required-label" translate>Admin Fee Amount </label>
        <div class="col-md-2">
          <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
        <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
          {{it.Value}}</option>
      </select>
      <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div>
        <label class="col-md-1 adInsLabel" translate>Capitalize Amount </label>
        <div class="col-md-2">
          <!-- <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
      <show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div>
        <label class="col-md-1 adins-required-label" translate>Provision Fee Type</label>
        <div class="col-md-2">
          <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
        <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
          {{it.Value}}</option>
      </select>
      <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div>
        
      </div>
      

      <div class="form-group row">
        <label class="col-md-1 adins-required-label" translate>Additional Admin Fee Amount </label>
        <div class="col-md-2">
          <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
        <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
          {{it.Value}}</option>
      </select>
      <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div>
        <label class="col-md-1 adInsLabel" translate>Capitalize Amount </label>
        <div class="col-md-2">
          <!-- <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
      <show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div>
        <label class="col-md-1 adins-required-label" translate>Provision Fee Calculation Base</label>
        <div class="col-md-2">
          <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
        [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
        <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
          {{it.Value}}</option>
      </select>
      <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
      </show-errors> -->
        </div> 
      </div>

      <div class="form-group row">
      <label class="col-md-1 adins-required-label" translate>Notary Amount</label>
      <div class="col-md-2">
        <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
      <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
        {{it.Value}}</option>
    </select>
    <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
    </show-errors> -->
      </div>
      <label class="col-md-1 adInsLabel" translate>Capitalize Amount </label>
      <div class="col-md-2">
        <!-- <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
    <show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
    </show-errors> -->
      </div>
      <label class="col-md-1 adins-required-label" translate>Provision Fee Percentage</label>
      <div class="col-md-2">
        <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
      <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
        {{it.Value}}</option>
    </select>
    <show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
    </show-errors> -->
      </div>
    
    </div>

    
<div class="form-group row">
  <label class="col-md-1 adins-required-label" translate>Other Fee</label>
  <div class="col-md-2">
    <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
  <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
    {{it.Value}}</option>
</select>
<show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
</show-errors> -->
  </div>
  <label class="col-md-1 adInsLabel" translate>Capitalize Amount </label>
  <div class="col-md-2">
    <!-- <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
<show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
</show-errors> -->
  </div>
  <label class="col-md-1 adins-required-label" translate>Provision Fee Amount</label>
  <div class="col-md-2">
    <!-- <select class="form-control adInsInput" style="width: auto" formControlName="MrCompanyTypeCode"
  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.MrCompanyTypeCode.invalid }">
  <option *ngFor="let it of tempCompanyTypeCode " [value]="it.Key">
    {{it.Value}}</option>
</select>
<show-errors [control]="CustomerCompanyForm.controls.MrCompanyTypeCode" [submit]="enjiForm.submitted">
</show-errors> -->
  </div>
  <label class="col-md-1 adInsLabel" translate>Capitalize Amount </label>
  <div class="col-md-2">
    <!-- <input type="text" class="form-control adInsInput" formControlName="TaxIdNo"
  [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerCompanyForm.controls.TaxIdNo.invalid}">
<show-errors [control]="CustomerCompanyForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
</show-errors> -->
  </div>  
</div>







    </form>
  </div>


</div>