<div class="col-md-12 text-left">
  <div class="card">
      <lib-ucviewgeneric [viewInput]="viewProdMainInfoObj"> </lib-ucviewgeneric>
      <aw-wizard #wizard navBarLayout="large-empty-symbols" [defaultStepIndex]="AppStepIndex">

        <aw-wizard-step [stepTitle]="'Customer Data'" (stepEnter)="EnterTab('CUST')"
          [navigationSymbol]="{ symbol: '1' }">
          <!-- <app-customer-data *ngIf="AppStepIndex == 0" [appId]=appId></app-customer-data> -->
        </aw-wizard-step>
  
        <aw-wizard-step [stepTitle]="'Application Data'" (stepEnter)="EnterTab('GUAR')"
          [navigationSymbol]="{ symbol: '2' }">
          <!-- <app-guarantor-paging *ngIf="AppStepIndex == 1" [AppId]=appId></app-guarantor-paging> -->
        </aw-wizard-step>
        
        <aw-wizard-step [stepTitle]="'Fraud Detection Result'" (stepEnter)="EnterTab('REF')"
          [navigationSymbol]="{ symbol: '3' }">
          <!-- <app-app-referantor *ngIf="AppStepIndex == 2" [appId]=appId></app-app-referantor> -->
        </aw-wizard-step>
  
        <aw-wizard-step [stepTitle]="'Deviation'" (stepEnter)="EnterTab('APP')"
        [navigationSymbol]="{ symbol: '4' }">
          <!-- <app-app-model *ngIf="AppStepIndex == 3" [appId]=appId></app-app-model> -->
        </aw-wizard-step>
  
        <aw-wizard-step [stepTitle]="'ApprovalHistory'" (stepEnter)="EnterTab('ASSET')"
        [navigationSymbol]="{ symbol: '5' }">
          <!-- <app-app-life-ins *ngIf="AppStepIndex == 4" [AppId]=appId></app-app-life-ins> -->
        </aw-wizard-step>
      </aw-wizard>
  </div>
</div>