<div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="customerData">
          <form class="form form-horizontal" [formGroup]="AssetDataForm" (ngSubmit)="AssetDataForm.valid && SaveForm()"
                #enjiForm="ngForm">
            <div class="form-body">
              <div id="assetData">
                <lib-ucSubsection [id]="'supplInfoId'" [title]="'Supplier Info'" [panel]="'supplInfo'">
                </lib-ucSubsection>
                <div id="supplInfo">
                  <div class="form-group row">
                    <label class="col-md-2 adInsLabel" translate>Supplier Name</label>
                    <div class="col-md-3">
                      <lib-uclookupgeneric width-75-per [lookupInput]="InputLookupSupplierObj" [identifier]="'lookupSupplier'"
                        [enjiForm]='enjiForm' [parentForm]='AssetDataForm' (lookup)="SetSupplier($event)">
                      </lib-uclookupgeneric>
                    </div>
                    <label class="col-md-2 adInsLabel" translate>Branch Manager</label>
                    <div class="col-md-3">
                      <select class="form-control adInsInput" style="width: auto" formControlName="BranchManagerNo" (change)="BranchChanged($event)"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.BranchManagerNo.invalid }">
                        <option *ngFor="let it of listBranchObj" [value]="it.Key">
                          {{it.Value}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 adInsLabel" translate>Sales Person Name</label>
                    <div class="col-md-3">
                      <select class="form-control adInsInput" style="width: auto" formControlName="SalesPersonNo" (change)="SalesChanged($event)"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.SalesPersonNo.invalid }">
                        <option *ngFor="let it of listSalesObj " [value]="it.Key">
                          {{it.Value}}
                        </option>
                      </select>
                    </div>
                    <label class="col-md-2 adInsLabel" translate>Admin Head</label>
                    <div class="col-md-3">
                      <select class="form-control adInsInput" style="width: auto" formControlName="AdminHeadNo" (change)="AdminChanged($event)"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AdminHeadNo.invalid }">
                        <option *ngFor="let it of listAdminHeadObj " [value]="it.Key">
                          {{it.Value}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
                <lib-ucSubsection [id]="'assetInfoId'" [title]="'Asset Info'" [panel]="'assetInfo'">
                </lib-ucSubsection>
                <div id="assetInfo">
                    <div class="form-group row">
                      <label class="col-md-2 adInsLabel" translate>Asset Name</label>
                      <div class="col-md-3">
                        <lib-uclookupgeneric width-75-per [lookupInput]="InputLookupAssetObj" [identifier]="'lookupAsset'" [enjiForm]='enjiForm' [parentForm]='AssetDataForm' (lookup)="SetAsset($event)">
                        </lib-uclookupgeneric>
                      </div>
                      <label class="col-md-2 adInsLabel" translate>Security Deposit Type </label>
                      <div class="col-md-3">
                        <select class="form-control adInsInput" style="width: auto" formControlName="MrDownPaymentTypeCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrDownPaymentTypeCode.invalid }">
                            <option *ngFor="let it of returnDownPaymentObj " [value]="it.Key">
                                {{it.Value}}
                            </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 adInsLabel" translate>Asset Price</label>
                      <div class="col-md-3">
                        <input type="number" class="form-control adInsInput" formControlName="AssetPrice"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AssetPrice.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.AssetPrice" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                      <label class="col-md-2 adInsLabel" translate>Security Deposit </label>
                        <div class="col-md-3">
                            <input type="number" class="form-control adInsInput" formControlName="DownPayment"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.DownPayment.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.DownPayment" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-2 adInsLabel" translate>Asset Condition</label>
                      <div class="col-md-3">
                          <select class="form-control adInsInput" style="width: auto" formControlName="MrAssetConditionCode"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrAssetConditionCode.invalid }">
                          <option *ngFor="let it of returnAssetConditionObj" [value]="it.Key">
                              {{it.Value}}
                          </option>
                          </select>
                      </div>
                      <label class="col-md-2 adInsLabel" translate>Asset Usage</label>
                        <div class="col-md-3">
                          <select class="form-control" id="assetUsage" formControlName="AssetUsage"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AssetUsage.invalid }">
                            <option *ngFor="let item of returnAssetUsageObj" [value]="item.Key">
                              {{item.Value}}
                            </option>
                          </select>
                          <lib-uc-show-errors [control]="AssetDataForm.controls.AssetUsage" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </div>
                      </div>
                      <div *ngIf="this.mode == 'editAsset'">
                        <div class="form-group row">
                          <label class="col-md-2 adInsLabel" translate>License Plate No</label>
                            <div class="col-md-3">
                              <input type="number" class="form-control adInsInput" formControlName="LicensePlate"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.LicensePlate.invalid}">
                              <lib-uc-show-errors [control]="AssetDataForm.controls.LicensePlate" [submit]="enjiForm.submitted">
                              </lib-uc-show-errors>
                            </div>
                          <label class="col-md-2 adInsLabel" translate>Chassis No</label>
                            <div class="col-md-3">
                                <input type="number" class="form-control adInsInput" formControlName="ChassisNo"
                                [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.ChassisNo.invalid}">
                                <lib-uc-show-errors [control]="AssetDataForm.controls.ChassisNo" [submit]="enjiForm.submitted">
                                </lib-uc-show-errors>
                            </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-2 adInsLabel" translate>Manufacturing Year</label>
                            <div class="col-md-3">
                              <input type="number" class="form-control adInsInput" formControlName="ManufacturingYear"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.ManufacturingYear.invalid}">
                              <lib-uc-show-errors [control]="AssetDataForm.controls.ManufacturingYear" [submit]="enjiForm.submitted">
                              </lib-uc-show-errors>
                            </div>
                          <label class="col-md-2 adInsLabel" translate>Engine No</label>
                            <div class="col-md-3">
                                <input type="number" class="form-control adInsInput" formControlName="EngineNo"
                                [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.EngineNo.invalid}">
                                <lib-uc-show-errors [control]="AssetDataForm.controls.EngineNo" [submit]="enjiForm.submitted">
                                </lib-uc-show-errors>
                            </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2 adInsLabel adins-required" translate>Notes </label>
                        <div class="col-md-3">
                          <textarea type="text" class="form-control adInsInput" formControlName="Notes"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.Notes.invalid }"></textarea>
                          <lib-uc-show-errors [control]="AssetDataForm.controls.Notes" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </div>
                      </div>
                  </div>
                <lib-ucSubsection [id]="'assetUserId'" [title]="'Asset User'" [panel]="'assetUser'">
                </lib-ucSubsection>
                <div id="assetUser">
                  <div class="form-group row">
                    <label class="col-md-2 adInsLabel" translate>Self Usage </label>
                    <div class="col-md-3">
                      <mat-checkbox formControlName="SelfUsage" (change)="SelfUsageChange($event)"></mat-checkbox>
                      <!-- <input class="border-primary" type="checkbox" data-md-icheck formControlName="SelfUsage" /> -->
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 adInsLabel adins-required-label" translate>Username</label>
                      <div class="col-md-3">
                          <input type="text" class="form-control adInsInput" formControlName="Username" required
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.Username.invalid}">
                          <lib-uc-show-errors [control]="AssetDataForm.controls.Username" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                      </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-2 adInsLabel adins-required-label" translate>User Relationship</label>
                      <div class="col-md-3">
                          <select class="form-control adInsInput" style="width: auto" formControlName="UserRelationship" required
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.UserRelationship.invalid }">
                          <option *ngFor="let it of returnUserRelationshipObj" [value]="it.Key">
                              {{it.Value}}
                          </option>
                          </select>
                      </div>
                  </div>
                </div>
                <lib-ucSubsection [id]="'assetLocId'" [title]="'Asset Location'" [panel]="'assetLoc'">
                </lib-ucSubsection>
                <div id="assetLoc">
                  <div class="form-group row">
                    <label class="col-md-2  adInsLabel" translate>Copy Address </label>
                    <div class="col-md-2">
                      <select class="form-control adInsInput" formControlName="LocationAddrType">
                        <option *ngFor="let ram of AppCustAddrObj" [value]="ram.AppCustAddrId">
                          {{ram.MrCustAddrTypeCode}}
                        </option>
                      </select>
                    </div>
                    <div class="input-group-append">
                      <span class="input-group-btn">
                        <button class="btn btn-raised btn-primary" type="button" (click)="copyToLocationAddr()">
                          <i class="fa fa-check-square-o"></i>Copy
                        </button>
                      </span>
                    </div>
                  </div>
                  <div id="AssetLocation">
                    <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLoc" [enjiForm]="enjiForm" [identifier]="'assetLocationAddress'" [UCAddrForm]="AssetDataForm" ></lib-ucaddress> 
                    <!-- <lib-ucaddress #UcAddrGrp [showSubsection]="false" [isRequired]="false" [title]="'Asset Location'" [UCAddrForm]="AssetDataForm" 
                    [enjiForm]="enjiForm" [identifier]="'assetLocationAddress'" [default]="locationAddrObj" [inputField]="inputFieldLocationAddrObj" [showAllPhn]="false" [showOwnership]="false"></lib-ucaddress> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right" style="text-align: right;">
              <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()"
                  translate>
                  <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>