<!-- <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-header header-title">
            <div class="row">
              <div class="col-md-8">
                <h4 class="card-title" id="horz-layout-colored-controls" translate>
                  Application View
                </h4>
              </div>
            </div>
          </div>
          <div class="px-3">
            <app-app-main-info [AppId]="appId"></app-app-main-info>
  
            <mat-tab-group>
              <mat-tab *ngIf="IsCustomer" label="Customer">
                <ng-template matTabContent>
                  <app-view-app-cust-data-personal [appId]="AppId" *ngIf="CustType=='PERSONAL'"></app-view-app-cust-data-personal>
                  <app-view-app-cust-data-company [appId]="AppId" *ngIf="CustType=='COMPANY'"></app-view-app-cust-data-company>
                </ng-template>
              </mat-tab>
  
              <mat-tab *ngIf="IsGuarantor" label="Guarantor">
                <ng-template matTabContent>
                  <app-guarantor [AppId]="AppId"></app-guarantor>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Referantor">
                <ng-template matTabContent>
                  <app-tab-referantor [appId]="AppId"></app-tab-referantor>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Application">
                <ng-template matTabContent>
                  <app-tab-application [appId]="AppId"></app-tab-application>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Asset">
                <ng-template matTabContent>
                  <app-app-asset-data [AppId]="AppId"></app-app-asset-data>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Insurance">
                <ng-template matTabContent>
                  <view-insurance [AppId]="AppId"></view-insurance>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Life Insurance">
                <ng-template matTabContent>
                  <app-life-insurance [AppId]="AppId"></app-life-insurance>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Financial">
                <ng-template matTabContent>
                  <view-financial [AppId]="AppId"></view-financial>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="TC">
                <ng-template matTabContent>
                  <app-app-tc [AppId]="AppId"></app-app-tc>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Commission">
                <ng-template matTabContent>
                  <app-tab-commission [appId]="AppId"></app-tab-commission>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Reserved Fund">
                <ng-template matTabContent>
                  <view-reserved-fund [appId]="AppId"></view-reserved-fund>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Phone Verification">
                <ng-template matTabContent>
                  <view-phone-verif [appId]="AppId"></view-phone-verif>
                </ng-template>
              </mat-tab>
  
              <mat-tab label="Fraud Detection Result">
                <ng-template matTabContent>
                  <app-view-fraud-detection-result [appId]="AppId" [mrCustTypeCode]="CustType" [isView]=true></app-view-fraud-detection-result>
                </ng-template>
              </mat-tab> -->
  
              <!-- <mat-tab label="Deviation">
                <ng-template matTabContent>
                  <app-tab-deviation [AppId]="AppId" [Type]='View'></app-tab-deviation>
                </ng-template>
              </mat-tab> -->
  
              <!-- <mat-tab label="Analysis Result">
                <ng-template matTabContent>
                  <app-tab-analysis-result [appId]="AppId"></app-tab-analysis-result>
                </ng-template>
              </mat-tab>
  
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  