<lib-ucSubsection [id]="'FinData_SubsidyId'" [title]="'Subsidy'" [panel]="'FinData_Subsidy'">
</lib-ucSubsection>
<div id="FinData_Subsidy">
  <div class="float-right"> 
  <button class="btn btn-raised btn-primary" translate type="button" tabindex="0" (click)="AddReason()">
    Add Subsidy
  </button>
</div>
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th style="text-align: center;"><span class="thead-header" name="MrSubsidyFromTypeName" translate>From Type
            Name
          </span>
        </th>
        <th style="text-align: center;"><span class="thead-header" name="MrSubsidyFromValueName" translate>From Value
            Name
          </span>
        </th>
        <th style="text-align: center;"><span class="thead-header" name="MrSubsidyAllocName" translate>Subsidy
            Allocation
          </span>
        </th>
        <th style="text-align: center;"><span class="thead-header" name="MrSubsidyValueTypeName" translate>Subsidy
            Value Type
          </span>
        </th>
        <th style="text-align: center;"><span class="thead-header" name="SubsidyAmt" translate>Subsidy Value
          </span>
        </th>
        <th><span translate class="thead-header" name='action'>Action</span></th>
      </tr>
    </thead>
    <tbody *ngIf = "listSubsidy.length == 0">
      <tr>
        <td colspan="100%">No Data Available</td>
      </tr>
    </tbody>
    <tbody *ngIf = "listSubsidy.length > 0">
      <tr *ngFor="let item of listSubsidy; let i = index">
        <td style="text-align: center;">{{item.MrSubsidyFromTypeName}}</td>
        <td style="text-align: center;">{{item.MrSubsidyFromValueName}}</td>
        <td style="text-align: center;">{{item.MrSubsidyAllocName}}</td>
        <td style="text-align: center;">{{item.MrSubsidyValueTypeName}}</td>
        <td style="text-align: center;">{{item.SubsidyAmt | number : '1.2-2' }}</td>
        <td>
          <a class="warning p-0" data-original-title="" title="" (click)="deleteSubsidy(item)">
            <i class="ft-trash-2 font-medium-3 mr-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>