<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="row" style="border-bottom: 1px solid black; margin-bottom: 15px;">
            <div class="col-md-8" style="padding-left: 0px;">
              <h4 class="form-section card-title" translate><i class="ft-file-text"></i>{{this.pageTitle}}
              </h4>
            </div>
          </div>
          <lib-ucSubsection [id]="'lktmReqDetailId'" [title]="'CUSTOMER DATA'" [panel]="'lktmReqDetail'">
          </lib-ucSubsection>
          <!-- start customer data -->
          <div class="form-body customerData" id="lktmReqDetail">
            <form class="form form-horizontal" #enjiForm="ngForm">
              <div class="form-body">
                <div class="form-group row">
                  <label class="col-md-2" translate>Customer Type</label>
                  <div class="col-md-10">
                    <mat-radio-group [(ngModel)]="MrCustTypeCode" name="MrCustTypeCode" (change)="CheckBox($event)">
                      <mat-radio-button [disabled]="isExisting" class="custom-control custom-radio display-inline-block"
                        *ngFor="let item of CustTypeObj" [value]="item.Key">
                        {{item.Value}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
              </div>
            </form>
            <div id="CustMainDataPersonal" *ngIf="MrCustTypeCode == 'PERSONAL'">
              <form class="form form-horizontal" [formGroup]="CustDataForm"
                (ngSubmit)="CustDataForm.valid && SaveForm()" #enjiForm="ngForm">
                <div class="form-body">
                  <div *ngIf="isBindDataDone == true">
                    <app-ltkm-cust-personal-main-data-x [isLockLookupCust]="isLockLookupCust" [isLockMode]="isLockMode"
                      (callbackCopyCust)="CopyCustomer($event)" (spouseObj)="GenderChanged($event)"
                      (isMarried)="MaritalChanged($event)" [appId]="appId" [IsSpouseExist]="IsSpouseExist"
                      [custDataPersonalObj]="custDataPersonalObj" [enjiForm]="enjiForm" [parentForm]="CustDataForm"
                      [bizTemplateCode]="bizTemplateCode" [identifier]="'personalMainData'">
                    </app-ltkm-cust-personal-main-data-x>

                    <lib-ucSubsection [id]="'CustAddrId'" [title]="'Customer Address'" [panel]="'CustAddress'">
                    </lib-ucSubsection>
                    <div id="CustAddress" style="overflow-x: auto;">
                      <table class="table table-responsive-md text-center table-hover">
                          <thead>
                              <tr class="table-header">
                                  <th class="text-left"><span name='addrType' translate>Address Type</span> </th>
                                  <th class="text-left"><span name='fullAddr' translate>Address</span></th>
                                  <th class="text-left"><span name='houseOwnership' translate>Building Ownership</span></th>
                                  <th class="text-center"><span name='phoneNo1' translate>Phone (Fix Line) 1</span></th>
                                  <th class="text-center"><span name='phoneNo2' translate>Phone (Fix Line) 2</span></th>
                              </tr>
                          </thead>
                          <tbody *ngIf="addrObjsForView?.length == 0">
                              <tr>
                                  <td colspan="100%">No Data Available</td>
                              </tr>
                          </tbody>
                          <tbody>
                              <ng-container *ngFor="let item of addrObjsForView">
                                  <tr>
                                    <td class="text-left">{{item.CustAddrTypeName ? item.CustAddrTypeName: '-'}}</td>
                                    <td class="text-left">{{item.FullAddr ? item.FullAddr : '-'}}</td>
                                    <td class="text-left">{{ item.HouseOwnershipName ? item.HouseOwnershipName : '-'}}</td>
                                    <td class="text-center">{{item.PhoneNo ? item.PhoneNo : "-"}}</td>
                                    <td class="text-center">{{item.PhoneNo2 ? item.PhoneNo2 : "-"}}</td>
                                  </tr>
                              </ng-container>
                          </tbody>
                      </table>
                  </div>

                    <!-- <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLegal" [enjiForm]="enjiForm"
                      [identifier]="'legalAddr'" [UCAddrForm]="CustDataForm">
                    </lib-ucaddress> -->
                    <!-- (don't uncomment unless neccessary) <lib-ucaddress #UcAddrGrp [title]="'Legal Address'" [UCAddrForm]="CustDataForm" [enjiForm]="enjiForm"
            [identifier]="'legalAddr'" [default]="legalAddrObj" [inputField]="inputFieldLegalObj" [showAllPhn]="false">
          </lib-ucaddress> (don't uncomment unless neccessary) -->
                    <!-- <lib-ucSubsection [id]="'residenceAddrId'" [title]="'Residence Address'" [panel]="'residenceAddr'">
                    </lib-ucSubsection> -->
                    <!-- <div id="residenceAddr">
                      <div *ngIf="!isLockMode" class="form-group row">
                        <label class="col-md-2" translate>Copy Address From</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <select class="form-control" formControlName="CopyFromResidence"
                              [(ngModel)]="copyFromResidence">
                              <option *ngFor="let item of copyToResidenceTypeObj" [value]="item.Key">
                                {{item.Value}}
                              </option>
                            </select>
                            <div class="input-group-append">
                              <span class="input-group-btn">
                                <button class="btn btn-raised btn-primary" type="button" (click)="copyToResidence()">
                                  <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForResidence" [enjiForm]="enjiForm"
                        [identifier]="'residenceAddr'" [UCAddrForm]="CustDataForm"></lib-ucaddress> -->
                      <!-- (don't uncomment unless neccessary) <lib-ucaddress #UcAddrGrp [showSubsection]="false" [UCAddrForm]="CustDataForm" [enjiForm]="enjiForm"
              [identifier]="'residenceAddr'" [default]="residenceAddrObj" [inputField]="inputFieldResidenceObj"
              [showPhn3]="false" [showOwnership]="true"></lib-ucaddress> (don't uncomment unless neccessary) -->
                    <!-- </div> -->
                    <!-- <lib-ucSubsection [id]="'mailingAddrId'" [title]="'Mailing Address'" [panel]="'mailingAddr'">
                    </lib-ucSubsection>
                    <div id="mailingAddr">
                      <div *ngIf="!isLockMode" class="form-group row">
                        <label class="col-md-2" translate>Copy Address From</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <select class="form-control" formControlName="CopyFromMailing"
                              [(ngModel)]="copyFromMailing">
                              <option *ngFor="let item of copyToMailingTypeObj" [value]="item.Key">
                                {{item.Value}}
                              </option>
                            </select>
                            <div class="input-group-append">
                              <span class="input-group-btn">
                                <button class="btn btn-raised btn-primary" type="button" (click)="copyToMailing()">
                                  <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForMailing" [enjiForm]="enjiForm"
                        [identifier]="'mailingAddr'" [UCAddrForm]="CustDataForm"></lib-ucaddress> -->
                      <!-- (don't uncomment unless neccessary) <lib-ucaddress #UcAddrGrp [showSubsection]="false" [UCAddrForm]="CustDataForm" [enjiForm]="enjiForm"
              [identifier]="'mailingAddr'" [default]="mailingAddrObj" [inputField]="inputFieldMailingObj"
              [showPhn3]="false"></lib-ucaddress> (don't uncomment unless neccessary) -->
                    <!-- </div> -->
                    <!-- (don't uncomment unless neccessary) <app-cust-personal-contact-information [isLockMode]="isLockMode" (callbackCopyAddr)="copyToContactPersonAddr($event)"
                      (callbackSubmit)="getCustContactInformation($event)" [isMarried]="isMarried"
                      [spouseGender]="spouseGender" [listContactPersonPersonal]="listAppCustPersonalContactInformation">
                    </app-cust-personal-contact-information> (don't uncomment unless neccessary) -->
                    <!-- (don't uncomment unless neccessary) <app-cust-personal-financial-data [isLockMode]="isLockMode"
                      [appCustPersonalFinDataObj]="custDataPersonalObj.AppCustPersonalFinDataObj" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'financialData'" [isMarried]="isMarried">
                    </app-cust-personal-financial-data>
                    <app-cust-bank-account [isLockMode]="isLockMode" (callbackSubmit)="getAppCustBankAcc($event)"
                      [listBankAcc]="listAppCustBankAcc">
                    </app-cust-bank-account> (don't uncomment unless neccessary) -->
                    <app-ltkm-cust-job-data-x [isLockMode]="isLockMode" [custModelCode]="defCustModelCode"
                    [ltkmCustPersonalJobDataObj]="ltkmCustPersonalJobDataObj" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'jobData'"></app-ltkm-cust-job-data-x>
                    <!-- urs-los-057 spt nap baru, tdkada socmed -->
                    <!-- <app-cust-socmed [isLockMode]="isLockMode" [appCustSocmedObjs]="custDataPersonalObj.AppCustSocmedObjs" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'socmed'"></app-cust-socmed> -->
                    <!-- <app-ltkm-cust-grp-member [isLockMode]="isLockMode"
                      [ltkmCustGrpObjs]="listLtkmCustGrpObj" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'custGrpMember'"></app-ltkm-cust-grp-member> -->

                      <lib-ucSubsection [id]="'CustGrpId0'" [title]="'Customer Group'" [panel]="'CustGrp0'">
                      </lib-ucSubsection>
                      <div id="CustGrp0" style="overflow-x: auto;">
                        <table class="table table-responsive-md text-center table-hover">
                          <thead>
                            <tr class="table-header">
                              <th class="text-center"><span name='no' translate>No</span> </th>
                              <th class="text-left"><span name='custName' translate>Customer No</span></th>
                              <th class="text-left"><span name='custName' translate>Customer Name</span></th>
                              <th class="text-center"><span name='relationship' translate>Customer Relationship</span>
                              </th>
                              <th class="text-center"><span name='notes' translate>Notes</span></th>
                              <th class="text-center"><span name='notes' translate>Active Status</span></th>
                            </tr>
                          </thead>
                          <tbody *ngIf="ltkmCustGrpParentObjs == null">
                            <tr>
                              <td colspan="100%">No Data Available</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="ltkmCustGrpParentObjs != null">
                            <ng-container>
                              <tr>
                                <td class="text-center">1</td>
                                <td class="text-left">{{ltkmCustGrpParentObjs.CustNo}}</td>
                                <td class="text-left">{{ltkmCustGrpParentObjs.CustName}}</td>
                                <td class="text-center">{{ltkmCustGrpParentObjs.RelationshipName}}</td>
                                <td class="text-center">{{ltkmCustGrpParentObjs.CustGrpNotes}}</td>
                                <td class="text-center" *ngIf="ltkmCustGrpParentObjs.IsActive">Yes</td>
                                <td class="text-center" *ngIf="!ltkmCustGrpParentObjs.IsActive">No</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                      <lib-ucSubsection [id]="'CustGrpId1'" [title]="'Customer Group Member'" [panel]="'CustGrp1'">
                      </lib-ucSubsection>
                      <div id="CustGrp1" style="overflow-x: auto;">
                        <table class="table table-responsive-md text-center table-hover">
                          <thead>
                            <tr class="table-header">
                              <th class="text-center"><span name='no' translate>No</span> </th>
                              <th class="text-left"><span name='custName' translate>Customer No</span></th>
                              <th class="text-left"><span name='custName' translate>Customer Name</span></th>
                              <th class="text-center"><span name='relationship' translate>Customer Relationship</span>
                              </th>
                              <th class="text-center"><span name='notes' translate>Notes</span></th>
                              <th class="text-center"><span name='notes' translate>Active Status</span></th>
                            </tr>
                          </thead>
                          <tbody *ngIf="ltkmCustGrpChildObjs.length == 0">
                            <tr>
                              <td colspan="100%">No Data Available</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="ltkmCustGrpChildObjs.length > 0">
                            <ng-container *ngFor="let item of ltkmCustGrpChildObjs; let i=index">
                              <tr>
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-left">{{item.CustNo}}</td>
                                <td class="text-left">{{item.CustName}}</td>
                                <td class="text-center">{{item.RelationshipName}}</td>
                                <td class="text-center">{{item.CustGrpNotes}}</td>
                                <td class="text-center" *ngIf="item.IsActive">Yes</td>
                                <td class="text-center" *ngIf="!item.IsActive">No</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>

                    <app-ltkm-other-info [isLockMode]="isLockMode" [enjiForm]="enjiForm" [parentForm]="CustDataForm"
                      [identifier]="'OtherInfoList'" [CustOtherInfo]="ltkmCustOtherInfo" [CustTypeCode]="MrCustTypeCode"></app-ltkm-other-info>

                    <app-ltkm-attr-content-component #attrlistcustcomponent [ListAttrContent]="listAttrContentCustData"
                      [isLockMode]="isLockMode" [title]="'Customer Attribute'" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'AttrList'" [AttrGroup]="AttrGroup">
                    </app-ltkm-attr-content-component>

                    <app-ltkm-emergency-contact [LtkmCustEmergencyContact]="LtkmCustEmergencyContactObj"
                      [IsMarried]="IsMarried" [isLockMode]="isLockMode" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'EmergencyContact'"></app-ltkm-emergency-contact>

                    <app-ltkm-financial-personal-x (UpdateSource)="updateListLtkmCustPersonalFinData($event)"
                      [IsMarried]="IsMarried" [isLockMode]="isLockMode" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [ListLtkmCustPersonalFinData]="listLtkmCustPersonalFinDataObjs"
                      [identifier]="'FinData'"></app-ltkm-financial-personal-x>


                    <app-ltkm-attr-content-component [isLockMode]="isLockMode" #attrlistfindatacomponent
                      [ListAttrContent]="listAttrContentFinData" [title]="'Financial Attribute'" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'AttrListFinancialForm'" [AttrGroup]="AttrGroupFinData">
                    </app-ltkm-attr-content-component>

                    <app-ltkm-bank-section [isLockMode]="isLockMode" (UpdateBankSection)="updateListLtkmCustBankAccObjs($event)"
                      [parentForm]="CustDataForm" [identifier]="'BankSection'" [enjiForm]="enjiForm"
                      [LtkmCustBankAccList]="listLtkmCustBankAccObjs" (OutputObj)="GetEvent($event)">
                    </app-ltkm-bank-section>

                    <ltkm-family-main-data-paging [listFamily]="listFamily"></ltkm-family-main-data-paging>
                    <br />
                    <br />
                    <lib-ucSubsection [id]="'applicationDataId'" [title]="'APPLICATION DATA'" [panel]="'ApplicationData'">
                    </lib-ucSubsection>
                    <div id="ApplicationData" class="row col-md-12">
                      <label class="col-md-3 adins-required-label" translate>Application No </label>
                      <div class="col-md-4">
                        <lib-uclookupgeneric *ngIf="isCustomerSelected" [lookupInput]="inputLookupApplicationObj" [parentForm]='CustDataForm'
                        [enjiForm]='enjiForm' [identifier]="'appNo'" #applicationData (lookup)="getLookupAppNo($event)"
                        >
                      </lib-uclookupgeneric>
                      <label class="col-md-9" *ngIf="!isCustomerSelected" style="color: red;">Choose Customer First</label>
                    </div>
                  </div>
                  <!-- Ltkm Analysis -->
                    <app-ltkm-request-analysis *ngIf="mode != 'return'" [enjiForm]="enjiForm"
                      [parentForm]="CustDataForm" [identifier]="'ltkmAnalysis'"></app-ltkm-request-analysis>
                  </div>
                </div>

                <div *ngIf="!FinFormIsDetail" class="form-actions right">
                  <button type="button" class="btn btn-raised btn-warning mr-1" (click)="resetForm()">
                    <i class="fa fa-times"></i>&nbsp;<span translate>Reset</span>
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square"></i>&nbsp;<span translate>Save</span>
                  </button>
                  <!-- <button type="button" class="btn btn-raised btn-primary" (click)="CekExpiredDt()">
                  <i class="fa fa-check-square-o"></i> test
                </button> -->
                </div>
              </form>
            </div>
            <div id="CustMainDataCompany" *ngIf="MrCustTypeCode == 'COMPANY'">
              <form class="form form-horizontal" [formGroup]="CustDataCompanyForm"
                (ngSubmit)="CustDataCompanyForm.valid && SaveForm()" #enjiFormCompany="ngForm">
                <div class="form-body">
                  <div *ngIf="isBindDataDone == true">
                    <app-ltkm-cust-company-main-data-x [isLockMode]="isLockMode"  
                    [isLockLookupCust]="isLockLookupCust"
                      (callbackCopyCust)="CopyCustomerCompany($event)" 
                       [custDataCompanyObj]="custDataCompanyObj"
                      [enjiForm]="enjiFormCompany" [parentForm]="CustDataCompanyForm"
                      [bizTemplateCode]="bizTemplateCode" [identifier]="'companyMainData'"></app-ltkm-cust-company-main-data-x>

                      <lib-ucSubsection [id]="'CustAddrId'" [title]="'Customer Address'" [panel]="'CustAddress'">
                      </lib-ucSubsection>
                      <div id="CustAddress" style="overflow-x: auto;">
                        <table class="table table-responsive-md text-center table-hover">
                            <thead>
                                <tr class="table-header">
                                    <th class="text-left"><span name='addrType' translate>Address Type</span> </th>
                                    <th class="text-left"><span name='fullAddr' translate>Address</span></th>
                                    <th class="text-left"><span name='houseOwnership' translate>Building Ownership</span></th>
                                    <th class="text-center"><span name='phoneNo1' translate>Phone (Fix Line) 1</span></th>
                                    <th class="text-center"><span name='phoneNo2' translate>Phone (Fix Line) 2</span></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="addrObjsForView?.length == 0">
                              <tr>
                                  <td colspan="100%">No Data Available</td>
                              </tr>
                          </tbody>
                          <tbody>
                              <ng-container *ngFor="let item of addrObjsForView">
                                  <tr>
                                    <td class="text-left">{{item.CustAddrTypeName ? item.CustAddrTypeName: '-'}}</td>
                                    <td class="text-left">{{item.FullAddr ? item.FullAddr : '-'}}</td>
                                    <td class="text-left">{{ item.HouseOwnershipName ? item.HouseOwnershipName : '-'}}</td>
                                    <td class="text-center">{{item.PhoneNo ? item.PhoneNo : "-"}}</td>
                                    <td class="text-center">{{item.PhoneNo2 ? item.PhoneNo2 : "-"}}</td>
                                  </tr>
                              </ng-container>
                          </tbody>
                        </table>
                    </div>

                    <!-- <lib-ucaddress [addressObj]="inputAddressObjForLegalCoy" [enjiForm]="enjiFormCompany"
                      [identifier]="'legalAddrCompany'" [UCAddrForm]="CustDataCompanyForm"></lib-ucaddress> -->
                    <!-- (don't uncomment unless neccessary) <lib-ucaddress [title]="'Company Legal Address'" [UCAddrForm]="CustDataCompanyForm"
            [enjiForm]="enjiFormCompany" [identifier]="'legalAddrCompany'" [default]="legalAddrCompanyObj"
            [inputField]="inputFieldLegalCompanyObj" [showPhn3]="false"></lib-ucaddress> (don't uncomment unless neccessary) -->
                    <!-- <lib-ucSubsection [id]="'mailingAddrCompanyId'" [title]="'Mailing Address'"
                      [panel]="'mailingAddrCompany'">
                    </lib-ucSubsection>
                    <div id="mailingAddrCompany">
                      <div *ngIf="!isLockMode" class="form-group row">
                        <label class="col-md-2" translate>Copy Address From</label>
                        <div class="col-md-4">
                          <div class="input-group">
                            <select class="form-control" formControlName="CopyFromMailing"
                              [(ngModel)]="copyFromMailingCompany">
                              <option *ngFor="let item of copyToMailingCompanyTypeObj" [value]="item.Key">
                                {{item.Value}}
                              </option>
                            </select>
                            <div class="input-group-append">
                              <span class="input-group-btn">
                                <button class="btn btn-raised btn-primary" type="button"
                                  (click)="copyToMailingCompany()">
                                  <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                                </button>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <lib-ucaddress
                      [addressObj]="inputAddressObjForMailingCoy"
                      [enjiForm]="enjiFormCompany"
                        [identifier]="'mailingAddrCompany'"
                        [UCAddrForm]="CustDataCompanyForm"></lib-ucaddress>
                    </div> -->
                    <app-ltkm-mgmnt-shrholder
                    [isLockMode]="isLockMode"
                      [listLtkmCustCompanyManagementShareholderObj]="listLtkmCustCompanyManagementShareholderObj">
                    </app-ltkm-mgmnt-shrholder>

                    <app-ltkm-cc-contact-information-x
                        [enjiForm]="enjiFormCompany"
                        [identifier]="'contactPersonCompany'"
                        [parentForm]="CustDataCompanyForm"
                        [LtkmCustCompanyContactPersonObj]= "ContactPersonCompany"
                        [isLockMode]="isLockMode"
                    >
                    </app-ltkm-cc-contact-information-x>

                    <app-ltkm-financial-company-x
                    [isLockMode]="isLockMode"
                      [ListLtkmCustCoyFinData]="listLtkmCustCoyFinData"
                      [enjiForm]="enjiFormCompany"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'financialDataCompany'"
                      (UpdateSource)="updateListLtkmCustCoyFinDatas($event)"
                      >
                    </app-ltkm-financial-company-x>

                    <app-ltkm-attr-content-component
                    [isLockMode]="isLockMode" #attrlistfindatacomponentcoy
                      [ListAttrContent]="listAttrContentFinDataCoy"
                      [title]="'Financial Attribute'"
                      [enjiForm]="enjiFormCompany"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'AttrListFinancialForm'"
                      [AttrGroup]="AttrGroupFinData">
                    </app-ltkm-attr-content-component>

                    <app-ltkm-bank-section
                    [isLockMode]="isLockMode"
                    (UpdateBankSection)="updateListLtkmCustBankAccObjsCoy($event)"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'BankSection'"
                      [enjiForm]="enjiFormCompany"
                      [LtkmCustBankAccList]="listLtkmCustBankAccCompany">
                    </app-ltkm-bank-section>

                    <!-- <app-cust-bank-account [isLockMode]="isLockMode" (callbackSubmit)="getAppCustBankAccCompany($event)"
                      [listBankAcc]="listAppCustBankAccCompany"></app-cust-bank-account> -->
                    <app-ltkm-legal-doc-tab
                    [parentForm]="CustDataCompanyForm"
                    [identifier]="'ListCompanyLegalDoc'"
                    [enjiForm]="enjiFormCompany"
                    [listLtkmCustCompanyLegalDoc]="listLtkmCustCompanyLegalDoc"
                    [isLockMode]="isLockMode"
                    (UpdateSource)="updateListLtkmCustCoyLegalDocs($event)">
                    </app-ltkm-legal-doc-tab>

                    <!-- <app-cust-grp-member [isLockMode]="isLockMode" [appCustGrpObjs]="custDataCompanyObj.AppCustGrpObjs"
                      [enjiForm]="enjiFormCompany" [parentForm]="CustDataCompanyForm"
                      [identifier]="'custGrpMemberCompany'"></app-cust-grp-member> -->
                      <!-- <app-ltkm-cust-grp-member
                      [isLockMode]="isLockMode"
                      [ltkmCustGrpObjs]="listLtkmCustGrpsCompany"
                      [enjiForm]="enjiFormCompany"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'custGrpMemberCompany'"
                      ></app-ltkm-cust-grp-member> -->

                      <lib-ucSubsection [id]="'CustGrpId0'" [title]="'Customer Group'" [panel]="'CustGrp0'">
                      </lib-ucSubsection>
                      <div id="CustGrp0" style="overflow-x: auto;">
                        <table class="table table-responsive-md text-center table-hover">
                          <thead>
                            <tr class="table-header">
                              <th class="text-center"><span name='no' translate>No</span> </th>
                              <th class="text-left"><span name='custName' translate>Customer No</span></th>
                              <th class="text-left"><span name='custName' translate>Customer Name</span></th>
                              <th class="text-center"><span name='relationship' translate>Customer Relationship</span>
                              </th>
                              <th class="text-center"><span name='notes' translate>Notes</span></th>
                              <th class="text-center"><span name='notes' translate>Active Status</span></th>
                            </tr>
                          </thead>
                          <tbody *ngIf="ltkmCustGrpParentObjs == null">
                            <tr>
                              <td colspan="100%">No Data Available</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="ltkmCustGrpParentObjs != null">
                            <ng-container>
                              <tr>
                                <td class="text-center">1</td>
                                <td class="text-left">{{ltkmCustGrpParentObjs.CustNo}}</td>
                                <td class="text-left">{{ltkmCustGrpParentObjs.CustName}}</td>
                                <td class="text-center">{{ltkmCustGrpParentObjs.RelationshipName}}</td>
                                <td class="text-center">{{ltkmCustGrpParentObjs.CustGrpNotes}}</td>
                                <td class="text-center" *ngIf="ltkmCustGrpParentObjs.IsActive">Yes</td>
                                <td class="text-center" *ngIf="!ltkmCustGrpParentObjs.IsActive">No</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>
                      <lib-ucSubsection [id]="'CustGrpId1'" [title]="'Customer Group Member'" [panel]="'CustGrp1'">
                      </lib-ucSubsection>
                      <div id="CustGrp1" style="overflow-x: auto;">
                        <table class="table table-responsive-md text-center table-hover">
                          <thead>
                            <tr class="table-header">
                              <th class="text-center"><span name='no' translate>No</span> </th>
                              <th class="text-left"><span name='custName' translate>Customer No</span></th>
                              <th class="text-left"><span name='custName' translate>Customer Name</span></th>
                              <th class="text-center"><span name='relationship' translate>Customer Relationship</span>
                              </th>
                              <th class="text-center"><span name='notes' translate>Notes</span></th>
                              <th class="text-center"><span name='notes' translate>Active Status</span></th>
                            </tr>
                          </thead>
                          <tbody *ngIf="ltkmCustGrpChildObjs.length == 0">
                            <tr>
                              <td colspan="100%">No Data Available</td>
                            </tr>
                          </tbody>
                          <tbody *ngIf="ltkmCustGrpChildObjs.length > 0">
                            <ng-container *ngFor="let item of ltkmCustGrpChildObjs; let i=index">
                              <tr>
                                <td class="text-center">{{i + 1}}</td>
                                <td class="text-left">{{item.CustNo}}</td>
                                <td class="text-left">{{item.CustName}}</td>
                                <td class="text-center">{{item.RelationshipName}}</td>
                                <td class="text-center">{{item.CustGrpNotes}}</td>
                                <td class="text-center" *ngIf="item.IsActive">Yes</td>
                                <td class="text-center" *ngIf="!item.IsActive">No</td>
                              </tr>
                            </ng-container>
                          </tbody>
                        </table>
                      </div>

                      <app-ltkm-other-info
                      [isLockMode]="isLockMode"
                      [enjiForm]="enjiFormCompany"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'OtherInfoList'"
                      [CustOtherInfo]="ltkmCustOtherInfo"
                      [CustTypeCode]="MrCustTypeCode"></app-ltkm-other-info>

                    <app-ltkm-attr-content-component #attrlistcustcomponentcoy
                    [ListAttrContent]="listAttrContentCustDataCoy"
                      [isLockMode]="isLockMode"
                      [title]="'Customer Attribute'"
                      [enjiForm]="enjiFormCompany"
                      [parentForm]="CustDataCompanyForm"
                      [identifier]="'AttrList'"
                      [AttrGroup]="AttrGroup">
                    </app-ltkm-attr-content-component>

                    <br />
                    <br />
                    <!-- Ltkm Analysis -->
                    <lib-ucSubsection [id]="'applicationDataCompanyId'" [title]="'APPLICATION DATA'" [panel]="'ApplicationDataCompany'">
                    </lib-ucSubsection>
                    <div id="ApplicationDataCompany" class="row col-md-12">
                      <label class="col-md-3 adins-required-label" translate>Application No </label>
                      <div  class="col-md-4">
                        <lib-uclookupgeneric *ngIf="isCustomerCompanySelected" [lookupInput]="inputLookupApplicationCompanyObj" [parentForm]='CustDataCompanyForm'
                          [enjiForm]='enjiFormCompany' [identifier]="'appNo'" #applicationCompanyData (lookup)="getLookupAppNo($event)"
                          >
                        </lib-uclookupgeneric>
                        <label class="col-md-9" *ngIf="!isCustomerCompanySelected" style="color: red;">Choose Customer First</label>
                      </div>
                    </div>
                    <app-ltkm-request-analysis
                    *ngIf="mode != 'return'"
                    [enjiForm]="enjiFormCompany"
                    [parentForm]="CustDataCompanyForm"
                      [identifier]="'ltkmAnalysis'">
                      </app-ltkm-request-analysis>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-raised btn-warning mr-1" (click)="resetForm()">
                    <i class="fa fa-times"></i>&nbsp;<span translate>Reset</span>
                  </button>
                  <button type="submit" class="btn btn-raised btn-primary">
                    <i class="fa fa-check-square"></i>&nbsp;<span translate>Save</span>
                  </button>
                  <!-- <button type="button" class="btn btn-raised btn-primary" (click)="testCompany()">
                  <i class="fa fa-check-square-o"></i> test
                </button> -->
                </div>
              </form>
            </div>
          </div>
          <!-- end customer data -->
        </div>
      </div>
    </div>
  </div>
</div>
