<app-agr-main-info-x [arrValue]="arrValue"></app-agr-main-info-x>

<lib-ucSubsection [id]="'SupplierListId'" [title]="'Supplier List'" [panel]="'SupplierList'">
</lib-ucSubsection>
<div class="form-body" id="SupplierList" style="overflow-x: auto;">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
    <tr class="table-header">
      <th class="text-left"><span translate class="thead-header">SUPPLIER CODE</span></th>
      <th class="text-left"><span translate class="thead-header">SUPPLIER NAME</span></th>
      <th class="text-center" translate>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of AppAssetList">
      <td style="text-align: left;">{{item.SupplCode}}</td>
      <td style="text-align: left;">{{item.SupplName}}</td>
      <td style="text-align: center;">
        <a class="success p-0" [routerLink]="[urlDetail]"
           [queryParams]="{AgrmntId:item.AgrmntId, AppId:item.AppId, AppAssetId:item.AppAssetId, SupplCode:item.SupplCode, LobCode : lobCode, TaskListId : TaskListId, BizTemplateCode: BizTemplateCode}">
          <i class="ft-edit-2 font-medium-3 mr-2"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="form-body">
  <form class="form form-horizontal" [formGroup]="tcForm" (ngSubmit)="tcForm.valid && SaveForm()" #enjiForm="ngForm">
    <div class="form-actions right">
      <button type="button" class="btn btn-raised btn-warning mr-1 margin-r-5" (click)="Cancel()">
        <i class="ft-x"></i>&nbsp;<span translate>Cancel</span>
      </button>
      <button type="submit" class="btn btn-raised btn-primary">
        <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
      </button>
    </div>
  </form>
</div>

