<div class="col-md-12">
  <app-app-main-info-component-x [arrValue]="arrValue"></app-app-main-info-component-x>
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="PhoneDataForm" #formDirective="ngForm" (ngSubmit)="PhoneDataForm.valid && SaveForm(formDirective)"
          #enjiForm="ngForm">
          <div class="form-body"> 
            <lib-ucSubsection [id]="'srvDetailid'" [title]="'SURVEY DETAIL'" [panel]="'srvDetail'">
            </lib-ucSubsection>
            <div id="srvDetail">
              <div class="form-group row">
                <label class="col-md-3 adins-required-label" for="surveyDt" translate>SURVEY DATE</label>
                <div class="col-md-4">
                  <input type="date" id="surveyDt" class="form-control" formControlName="SurveyDt" max="{{MaxDate | date:'yyyy-MM-dd'}}"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && PhoneDataForm.controls.SurveyDt.invalid }"    
                         >
                  <lib-uc-show-errors [control]="PhoneDataForm.controls.SurveyDt" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div formArrayName="QuestionObjs">
              <div class="form-body" [formGroupName]="i"
                *ngFor="let QuestionGrpList of PhoneDataForm.controls.QuestionObjs['controls']; let i = index">
                <lib-ucSubsection [id]="'grpName'+i+'id'" [title]="QuestionGrpList.value.VerfQuestionGrpName"
                  [panel]="'grpName'+i">
                </lib-ucSubsection>
                <div id="grpName{{i}}">
                  <span formArrayName="VerfQuestionAnswerList">
                    <div class= "row">
                      <label class="col-md-3"translate><h4 class="modal-title">Question</h4></label>
                      <label class="col-md-4"translate><h4 class="modal-title">Answer</h4></label>
                      <label class="col-md-5"translate><h4 class="modal-title">Notes</h4></label>
                    </div>
                    <div class="form-group row" [formGroupName]="j"
                         *ngFor="let QRList of QuestionGrpList.controls.VerfQuestionAnswerList.controls; let j = index">
                      <label class="col-md-3 adins-required-label" *ngIf="PhoneDataForm.controls.MrVerfResultHStatCode.value == 'SCS'"
                             translate>{{QRList.value.QuestionGrp.VerfQuestionText}} </label>
                      <label class="col-md-3 adInsLabel" *ngIf="PhoneDataForm.controls.MrVerfResultHStatCode.value != 'SCS'"
                             translate>{{QRList.value.QuestionGrp.VerfQuestionText}} </label>
                      <div class="col-md-4" formGroupName="ResultGrp">
                        <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'DDL' || QRList.value.QuestionGrp.VerfAnswerTypeCode == 'RBL'">
                          <select class="form-control" formControlName="Answer"
                                  [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
                            <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer"
                                                [submit]="enjiForm.submitted">
                            </lib-uc-show-errors>
                            <option *ngFor="let item of ListVerfAnswer[i][j]" value="{{item}}">
                              {{item}}
                            </option>
                          </select>

                        </span>
                        <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'TXT'">
                          <input type="text" class="form-control" formControlName="Answer"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
                          <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer"
                                              [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </span>
                        <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'DT_PICKER'">
                          <input type="date" class="form-control" formControlName="Answer"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
                          <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer"
                                              [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </span>
                        <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'UC_INPUT_NUMBER'">
                          <input type="" currencyMask id="AnswerId" class="form-control" formControlName="Answer"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
                          <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer"
                                              [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </span>
                      </div>
                      <div class="col-md-5" formGroupName="ResultGrp">
                        <textarea class="form-control" formControlName="Notes"></textarea>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>

            <lib-ucSubsection [id]="'surveynotesid'" [title]="'Survey Notes'" [panel]="'surveynotes'">
            </lib-ucSubsection>
            <div id="surveynotes">
            <div class="form-group row">
              <label class="col-md-2 adins-required-label" translate>Survey Notes</label>
              <div class="col-md-4">
                <textarea type="text" class="form-control adInsInput" formControlName="Notes"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && PhoneDataForm.controls.Notes.invalid }"></textarea>
                <lib-uc-show-errors [control]="PhoneDataForm.controls.Notes" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
          </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1 margin-r-5" (click)="Cancel()">
                <i class="ft-x"></i> Cancel
              </button>

              <button type="submit" class="btn btn-raised btn-primary" id="save">
                <i class="far fa-check-square"></i> Save
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
