<div class="row">
  <div class="col-md-12">
    <div class="form-group row">
      <label class="col-md-2" for="address" translate>Address </label>
      <div class="col-md-4">
        <textarea id="address" rows="2" class="form-control" name="addr" required [(ngModel)]="inputField.addr"
          #Addr="ngModel"></textarea>
      </div>
      <label class="col-md-2" for="zipcode" translate>Zipcode </label>
      <div class="col-md-4">
        <app-lookup-zipcode [lookupInput]="inputField.inputLookupObj" (select)="onSelect($event)"></app-lookup-zipcode>
        <!-- <lib-uclookupgeneric [lookupInput]="inputField.inputLookupObj" [parentForm]='parentForm'
                      [identifier]="identifier" (lookup)="getLookup($event)"></lib-uclookupgeneric> -->
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2" for="areaCode4" translate>Rt / Rw </label>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="areaCode4" class="form-control" name="areaCode4"
              [(ngModel)]="inputField.areaCode4" #AreaCode4="ngModel">
          </div>
          <div class="col-md-6">
            <input type="text" pattern="^[0-9]+$" id="areaCode3" class="form-control" name="areaCode3"
              [(ngModel)]="inputField.areaCode3" #AreaCode3="ngModel">
          </div>
        </div>
      </div>
      <label class="col-md-2" for="areaCode2" translate>Kelurahan </label>
      <div class="col-md-4">
        <input type="text" id="areaCode2" class="form-control" name="areaCode2"
          [(ngModel)]="inputField.areaCode2" #AreaCode2="ngModel" readonly>
      </div>
    </div>
    <div class="form-group row" *ngIf="address != 'asset' && address != 'collateral'">
      <label class="col-md-2" for="phn1" translate>Phone(Fix Line) 1 </label>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-3" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="phnArea1" class="form-control" name="phnArea1"
              [(ngModel)]="inputField.phnArea1" #PhnArea1="ngModel">
          </div>
          <div class="col-md-6" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="phn1" class="form-control" name="phn1"
              [(ngModel)]="inputField.phn1" #Phn1="ngModel">
          </div>
          <div class="col-md-3">
            <input type="text" pattern="^[0-9]+$" id="phnExt1" class="form-control" name="phnExt1" placeholder="Ext"
              [(ngModel)]="inputField.phnExt1" #PhnExt1="ngModel">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="address != 'asset' && address != 'collateral'">
      <label class="col-md-2" for="phn2" translate>Phone(Fix Line) 2 </label>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-3" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="phnArea2" class="form-control" name="phnArea2"
              [(ngModel)]="inputField.phnArea2" #PhnArea2="ngModel">
          </div>
          <div class="col-md-6" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="phn2" class="form-control" name="phn2"
              [(ngModel)]="inputField.phn2" #Phn2="ngModel">
          </div>
          <div class="col-md-3">
            <input type="text" pattern="^[0-9]+$" id="phnExt2" class="form-control" name="phnExt2" placeholder="Ext"
              [(ngModel)]="inputField.phnExt2" #PhnExt2="ngModel">
          </div>
        </div>
      </div>
      <label class="col-md-2" for="areaCode1" translate>Kecamatan </label>
      <div class="col-md-4">
        <input type="text" id="areaCode1" class="form-control" name="areaCode1" required
          [(ngModel)]="inputField.areaCode1" #AreaCode1="ngModel" readonly>
      </div>
    </div>
    <div class="form-group row" *ngIf="identifier != 'asset' && identifier != 'collateral'">
      <label class="col-md-2" for="fax" translate>Fax </label>
      <div class="col-md-4">
        <div class="form-group row">
          <div class="col-md-2" style="border-right: 1px solid grey">
            <input type="text" pattern="^[0-9]+$" id="faxArea" class="form-control" name="faxArea"
              [(ngModel)]="inputField.faxArea" #FaxArea="ngModel">
          </div>
          <div class="col-md-4">
            <input type="text" pattern="^[0-9]+$" id="fax" class="form-control" name="fax" [(ngModel)]="inputField.fax"
              #Fax="ngModel">
          </div>
        </div>
      </div>
      <label class="col-md-2" for="city" translate>City </label>
      <div class="col-md-4">
        <input type="text" id="city" class="form-control" name="city" required [(ngModel)]="inputField.city"
          #City="ngModel" readonly>
      </div>
    </div>
  </div>
</div>