<form class="form form-horizontal" [formGroup]="MouDetailFactoringForm" #enjiForm="ngForm" novalidate
  (ngSubmit)="enjiForm.form.valid && Save()">
  <lib-ucSubsection [id]="'MouDetailFactoringId'" [title]="'MOU Detail'" [panel]="'MouDetailFactoringSection'">
  </lib-ucSubsection>
  <div id="MouDetailFactoringSection">
    <div class="form-body">
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="VirtualAccNo" translate>Virtual Account No</label>
        <div class="col-md-4">
          <input type="text" class="form-control adInsInput" formControlName="VirtualAccNo" min="0"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.VirtualAccNo.invalid }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.VirtualAccNo" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="CurrCode" translate>Currency</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="CurrCode"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.CurrCode.invalid }">
            <option *ngFor="let item of currencyList" [value]="item.Key">{{item.Value}}</option>
          </select>
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.CurrCode" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="MrRecourseTypeCode" translate>Recourse Type</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="MrRecourseTypeCode"
            (change)="OnChangeRecourseType($event.target.value)"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.MrRecourseTypeCode.invalid }">
            <option *ngFor="let item of recourseTypeList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel adins-required-label" for="WopCode" translate>WoP</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="WopCode"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.WopCode.invalid }">
            <option *ngFor="let item of wopList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel adins-required-label" for="MrPaidByCode" translate>Paid By</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="MrPaidByCode"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.MrPaidByCode.invalid }">
            <option *ngFor="let item of paidByList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="IsDisclosed" translate>Is Disclosed</label>
        <div class="col-md-4">
          <input type="checkbox" formControlName="IsDisclosed" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="MrInstTypeCode" translate>Installment Type</label>
        <div class="col-md-5">
          <select type="text" class="form-control adInsInput" formControlName="MrInstTypeCode"
            (change)="instTypeHandler()"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.MrInstTypeCode.invalid }">
            <option *ngFor="let item of instTypeList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row" *ngIf="IsSingleIns">
        <label class="col-md-3 adInsLabel" for="SingleInstCalcMthd" translate>Calculate Method</label>
        <div class="col-md-5">
          <select style="border-left: 1px solid grey" type="text" class="form-control adInsInput"
            formControlName="SingleInstCalcMthd"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.SingleInstCalcMthd.invalid }">
            <option *ngFor="let item of singleInstCalcMthdList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="IsSingleIns" class="form-group row">
        <label class="col-md-3 adInsLabel adins-required-label" for="TopDays" translate>Term of Payment (in Days)</label>
        <div class="col-md-3">
          <input type="number" class="form-control adInsInput" formControlName="TopDays" min="1"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.TopDays.invalid }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.TopDays" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <div *ngIf="!IsSingleIns" class="form-group row">
        <label class="col-md-3 adInsLabel" for="TenorFromTo" translate>Tenor From - Tenor To</label>
        <div class="col-md-2">
          <input type="number" class="form-control adInsInput" formControlName="TenorFrom"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.TenorFrom.invalid }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.TenorFrom" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <div style="text-align: center;">
          <i class="fas fa-slash" style="transform: rotate(142.5deg); margin-top: 50%;"></i>
        </div>
        <div class="col-md-2">
          <input type="number" class="form-control adInsInput" formControlName="TenorTo"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.TenorTo.invalid }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.TenorTo" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <div *ngIf="isTenorInvalid" class="invalid-feedback d-block col-md-12 offset-md-3">
          <div translate>{{tenorInvalidMsg}}</div>
        </div>
      </div>
      <div *ngIf="!IsSingleIns" class="form-group row">
        <label class="col-md-3 adInsLabel" for="PayFreqCode" translate>Payment Frequency</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="PayFreqCode"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.PayFreqCode.invalid }">
            <option *ngFor="let item of payFreqList" [value]="item.PayFreqCode">{{item.Descr}}</option>
          </select>
        </div>
      </div>
      <div *ngIf="!IsSingleIns" class="form-group row">
        <label class="col-md-3 adInsLabel" for="MrInstSchmCode" translate>Installment Scheme</label>
        <div class="col-md-4">
          <select class="form-control adInsInput" formControlName="MrInstSchmCode"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.MrInstSchmCode.invalid }">
            <option *ngFor="let item of instSchmList" [value]="item.Key">{{item.Value}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="InterestRatePrcnt" translate>Interest Rate (%)</label>
        <div class="col-md-2">
          <input type="" currencyMask class="form-control adInsInput" formControlName="InterestRatePrcnt"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.InterestRatePrcnt.invalid }"
            [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: false, allowZero:true, precision: 6, nullable: false }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.InterestRatePrcnt"
            [submit]="enjiForm.submitted"></lib-uc-show-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="RetentionPrcnt" translate>Retention (%)</label>
        <div class="col-md-2">
          <input type="" currencyMask class="form-control adInsInput" formControlName="RetentionPrcnt"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.RetentionPrcnt.invalid }"
            [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: false, allowZero:true, precision: 6, nullable: false }" />
          <lib-uc-show-errors [control]="MouDetailFactoringForm.controls.RetentionPrcnt" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adins-required-label" for="LinkSupplier" translate>Link Supplier </label>
        <div class="col-md-3">
          <lib-uclookupgeneric *ngIf="inputLookupObj?.isReady" [lookupInput]="inputLookupObj"
            [parentForm]='MouDetailFactoringForm' [enjiForm]='enjiForm' [identifier]="'lookupSupp'" 
            (lookup)="SetSupplier($event)">
          </lib-uclookupgeneric>
        </div>
      </div>
      <div class="form-group row" [hidden]="isRecourse">
        <label class="col-md-3 adins-required-label" for="LinkCustomer" translate>Link Customer
          Factoring</label>
        <div class="col-md-3">
          <lib-uclookupgeneric [lookupInput]="inputLookupCustObj"
            [parentForm]='MouDetailFactoringForm' [enjiForm]='enjiForm' [identifier]="'lookupCust'" 
            (lookup)="SetCustomer($event)">
          </lib-uclookupgeneric>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 adInsLabel" for="Notes" translate>Notes</label>
        <div class="col-md-3">
          <textarea class="form-control adInsInput" formControlName="Notes"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && MouDetailFactoringForm.controls.Notes.invalid }">
          </textarea>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="isRecourse">
    <app-mou-cust-listed-cust-fctr *ngIf="shouldComponentLoad" [MouCustId]="MouCustId" [IsListedCustFctr]="isListedFctr"
    (OutputData)="GetDataListCustFctr($event)">
    </app-mou-cust-listed-cust-fctr>
  </div>
  
  <div class="col-md-12" style="padding: 0; text-align: right;">
    <div class="form-actions right">
      <!-- <button type="button" class="btn btn-raised btn-primary" translate (click)="findInvalidControls()">
        <i class="far fa-check-square"></i> Test
      </button> -->
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="far fa-check-square"></i> Save
      </button>
    </div>
  </div>
</form>