<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <div class="card-img">
            <img alt="element 06" class="mb-1" src="assets/img/logo.png" width="190">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h5 class="black">Loan Origination System - {{version}}</h5>
              <br />
              <div *ngIf="!isRequested">
                <form class="form form-horizontal" [formGroup]="ReqPassForm" (ngSubmit)="ReqPassForm.valid && SaveForm()"
                      #enjiForm="ngForm">
                  <div class="form-body">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-md-4  adinslabel" translate>Username</label>
                        <div class="col-md-8">
                          <input type="text" class="form-control" formControlName="Username"
                                 [ngClass]="{ 'is-invalid': enjiForm.submitted && ReqPassForm.controls.Username.invalid }">
                          <lib-uc-show-errors [control]="ReqPassForm.controls.Username" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </div>
                      </div>
                    </div>
                    <div class="form-actions col-md-12">
                      <button type="submit" class="btn btn-primary btn-block btn-raised">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="isRequested">
                <p style="font-size:14px;">
                  The link contained with reset password link
                  has been sent to {{censoredEmail}}
                  Please check your spam folder in case
                  you didn't receive the email verification
                  within 24 hours
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

