################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/.vs/LOSR3FrontEnd/v16/.suo
