<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
    <div class="row full-height-vh">
      <div class="col-12 d-flex align-items-center justify-content-center">
        <div class="card text-center width-400">
          <div class="card-img">
            <img alt="element 06" class="mb-1" src="assets/img/logo.png" width="190">
          </div>
          <div class="card-body">
            <div class="card-block">
              <h5 class="black">Loan Origination System - {{version}}</h5>
              <div *ngIf="!isLocked">
                <form novalidate="" (ngSubmit)="onSubmit($event)" #f="ngForm">
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="text" class="form-control" name="inputUser" id="inputUser" placeholder="User" ngModel required #user>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="password" class="form-control" name="inputPass" id="inputPass" placeholder="Password" ngModel required #pass>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary btn-block btn-raised">LOGIN</button>
                    </div>
                  </div>
                </form>
                <div class="card-footer">
                  <div class="float-right"><a (click)="onForgotPassword()" class="black">Forgot Password?</a></div>
                </div>
              </div>
              <div *ngIf="isLocked">
                <p style="font-size:14px;">
                  Your Account has been locked
                  due to several wrong password attempts.
                  Click Reset Password link below
                  to gain access to your account.
                </p>
                <div class="align-items-center">
                  <a (click)="onForgotPassword()" class="pointer">Reset Password</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Login Page Ends-->
