<div formGroupName="{{identifier}}">
    <lib-ucSubsection [id]="'OtherInformationId'" [title]="'Other Information'" [panel]="'OtherInformation'">
    </lib-ucSubsection>
    <div id="OtherInformation">
      <div class="row" *ngIf="IsLookupReady">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Debitor Group</label>
            <div class="col-md-8">
              <lib-uclookupgeneric [enjiForm]="enjiForm" [lookupInput]="InputDebitorGroupLookupObj"
                [parentForm]="parentForm" [identifier]="'DebitorGroup'" (lookup)="getLookupDebitorGroup($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Counterpart Category</label>
            <div class="col-md-8">
              <lib-uclookupgeneric [enjiForm]="enjiForm" [lookupInput]="InputCounterpartCategoryLookupObj"
                [parentForm]="parentForm" [identifier]="'CounterpartCategry'"
                (lookup)="getLookupCounterpartCategory($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Debitor Business Scale</label>
            <div class="col-md-8">
              <lib-uclookupgeneric [enjiForm]="enjiForm" [lookupInput]="InputDebitorBusinessScaleLookupObj"
                [parentForm]="parentForm" [identifier]="'DebitorBusinessScale'"
                (lookup)="getLookupDebitorBusinessScale($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Sustainable Financial Business</label>
            <div class="col-md-8">
              <lib-uclookupgeneric [enjiForm]="enjiForm" [lookupInput]="InputSustaianableFinancialBusinessLookupObj"
                [parentForm]="parentForm" [identifier]="'SustainableFinancialBusiness'"
                (lookup)="getLookupSustainableFinancialBusiness($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- <app-attr-content-component [isLockMode]="isLockMode"  [title]="'Attribute List'" [AppCustId]="AppCustId" [enjiForm]="enjiForm"
      [parentForm]="OtherInformationForm" [identifier]="'AttrList'" [AttrGroup]="AttrGroup"></app-attr-content-component> -->
  </div>