<div class="card">
  <div class="card-body">
    <lib-ucviewgeneric *ngIf="IsReady" [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>
    <div class="px-3">
      <div *ngIf="isMulti">
        <span>
          <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Back()" translate><i class="ft-arrow-left"></i> Back</button>
        </span>
      </div>
      <div *ngIf="AppCollateralDocs?.length">
        <lib-ucSubsection [id]="'AddCollDocumentId'" [title]="'Collateral Document'" [panel]="'AddCollDocument'">
        </lib-ucSubsection>
        <div class="form-body" id="AddCollDocument">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th><span translate class="thead-header">Document</span></th>
                <th><span translate class="thead-header">Received</span></th>
                <th><span translate class="thead-header">Document No</span></th>
                <th><span translate class="thead-header">Expired Date</span></th>
                <th><span translate class="thead-header">Document Notes</span></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of this.AppCollateralDocs">
                <td>
                  {{item.DocCode}}
                </td>
                <td *ngIf="item.IsReceived == true">
                  Yes
                </td>
                <td *ngIf="item.IsReceived == false">
                  No
                </td>
                <td>
                  {{item.DocNo}}
                </td>
                <td>
                  {{item.ExpiredDt | date: 'yyyy-MM-dd'}}
                </td>
                <td>
                  {{item.DocNotes}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <lib-ucSubsection *ngIf="AppCollateralAttrObjs?.length" [id]="'assetAttrId'"
        [title]="'Asset Attribute'" [panel]="'assetAttr'">
      </lib-ucSubsection>
      <div class="col-md-12" id="assetAttr">
        <div  class="row" *ngIf="AppCollateralAttrObjs?.length">
          <div class="col-md-12">
            <div class="col-md-12" *ngFor="let item of this.AppCollateralAttrObjs;">
              <div class="form-group row">
                <label class="col-md-3 adInsLabel"> {{item.CollateralAttrName}} </label>
                <label class="col-md-9 adInsLabel"> {{item.AttrValue}} </label>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <lib-ucSubsection [id]="'collateralAccessoriesId'" [title]="'Collateral Accessories'" [panel]="'collateralAccessories'">
      </lib-ucSubsection>
      <div id="collateralAccessories">
        <div class="form-group row">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: center;"><span class="thead-header" translate>No
                  </span>
                </th>
                <th style="text-align: center;"><span class="thead-header" translate>Accessory
                  </span>
                </th>
                <th style="text-align: center;"><span class="thead-header" translate>Accessory Price
                  </span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="AppCollateralAccessoryObjs?.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody *ngIf="AppCollateralAccessoryObjs?.length > 0">
              <tr *ngFor="let item of this.AppCollateralAccessoryObjs; let i = index">
                <td style="text-align: center;">{{i + 1}}</td>
                <td style="text-align: center;">{{item.CollateralAccessoryName}}</td>
                <td style="text-align: right;">{{item.AccessoryPriceAmt | number:'.2':'en-US'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <lib-ucviewgeneric *ngIf="IsReady" [viewGenericObj]="viewUOLObj"></lib-ucviewgeneric>
  </div>
</div>