<div *ngIf="IsHidden">
  <lib-ucSubsection [id]="'AssetListId'" [title]="'ASSET LIST'" [panel]="'AssetListSection'"></lib-ucSubsection>
  <div id="AssetListSection" class="row">
    <div class="col-md-12" style="overflow-x: auto;">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='no' translate>No.</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='assetName' translate>Asset Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='supplierBranch' translate>Supplier Branch</span>
            </th>
            <th style="text-align: left;" *ngFor="let e of SerialNoLabelAssetList">
              <span class="thead-header" name='serialNo1' translate>{{e.SerialNoLabel}}</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='viewDetail' translate>View Detail</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf = "appAssetList?.length == 0">
          <tr><td colspan="100%">No Data Available</td></tr>
        </tbody>
        <tbody  *ngIf = "appAssetList?.length > 0">
          <tr *ngFor="let item of appAssetList; let i = index">
            <td style="text-align: center;"> {{i+1}} </td>
            <td style="text-align: left;"> {{item.FullAssetName}} </td>
            <td style="text-align: left;"> {{item.SupplName}} </td>
            <td style="text-align: left;" *ngFor="let e of SerialNoLabelAssetList; index as j">
              {{item['SerialNo'+(j+1)]}}
            </td>
            <td style="text-align: center;">
              <a (click)="viewDetailHandler(item.AppAssetId)">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <lib-ucSubsection [id]="'CollateralListId'" [title]="'Collateral List'" [panel]="'CollateralList'"></lib-ucSubsection>
  <div id="CollateralList" class="row">
    <div class="col-md-12" style="overflow-x: auto;">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th class="text-left"><span translate class="thead-header">Collateral Name</span></th>
            <th class="text-left"><span translate class="thead-header">Collateral Owner Name</span></th>
            <th style="text-align: left;" *ngFor="let e of SerialNoLabelCollateralList; let i = index">
              <span class="thead-header" name='serialNo1' translate>{{SerialNoLabelCollateralList[i]}}</span>
            </th>
            <th><span translate class="thead-header">View</span></th>
          </tr>
        </thead>
        <tbody *ngIf = "AppCollateralObj?.length == 0">
          <tr><td colspan="100%">No Data Available</td></tr>
        </tbody>
        <tbody *ngIf = "AppCollateralObj?.length > 0">
          <tr *ngFor="let item of this.AppCollateralObj">
            <td  class="text-left">{{item.FullAssetName}}</td>
            <td  class="text-left">{{item.OwnerName}}</td>
            <td style="text-align: left;" *ngFor="let e of SerialNoLabelCollateralList; index as j">
              {{item['SerialNo'+(j+1)]}}
            </td>
            <td class="text-center">
              <a (click)="viewDetailCollateralHandler(item.AppCollateralId)"><i class="fas fa-pencil-alt"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>  
<div *ngIf="!IsHidden">
  <app-view-app-collateral-single [agrmntId]="agrmntId" [AppCollateralId]="AppCollateralId" (outputTab)="getValue($event)" [isMulti]="true">
  </app-view-app-collateral-single>
</div>