<div class="input-group">
  <input type="text" class="form-control" attr.data-json='{{jsonSelect}}' attr.data-inputId='{{idSelect}}'
    attr.data-datatype="Text" value="{{lookupInput.nameSelect}}" readonly>
  <div class="input-group-append">
    <span class="input-group-btn">
      <button class="btn btn-raised btn-primary" type="button" (click)="open(content)"><i
          class="ft-search"></i></button>
    </span>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Lookup - Asset</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      <div class="form-body">
        <div class="row">
          <div class="col-md-6 form-group">
            <div class="col-md-12">
              <div class="row">
                <label class="col-md-5 no-padding" for="CustNo" translate>City Code</label>
                <div class="col-md-7 no-padding">
                  <input type="text" id="CustNo" name="CustNo">
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 form-group">
            <div class="col-md-12">
              <div class="row">
                <label class="col-md-5 no-padding" for="CustNo" translate>City Name</label>
                <div class="col-md-7 no-padding">
                  <input type="text" id="CustName" name="CustName">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <form>
            <div class="form-actions right">
              <button type="button" (click)="reset()" class="btn btn-raised btn-warning mr-1" translate>
                <i class="ft-x"></i> Reset
              </button>
              <button type="button" (click)="searchClick()" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-search"></i> Search
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div [hidden]="resultData == null">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr>
            <th><span translate class="thead-header">City Name</span>
            </th>
            <th><span translate class="thead-header">City Code</span>
            </th>
            <th translate>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of resultData">
            <td class="text-left">{{item.cityCode}}</td>
            <td class="text-left">{{item.cityName}}</td>
            <td>
              <a class="success p-0" (click)="choose(item.cityCode,item.cityName,item)">
                <i class="ft-edit-2 font-medium-3 mr-2"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <lib-ucgridfooter #ucgridFooter (select)="doNothing()"></lib-ucgridfooter>
    </div>
  </div>
</ng-template>