<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <!-- <div class="px-3"> -->

        <form class="form form-horizontal" [formGroup]="NapAppModelForm"
              (ngSubmit)="NapAppModelForm.valid && ClickSave()" #enjiForm="ngForm">
          <!-- Sales Info -->
          <lib-ucSubsection [id]="'salesInfomationId'" [title]="'Sales Information'" [panel]="'salesInfomation'">
          </lib-ucSubsection>
          <div class="form-body" id="salesInfomation">

            <div class="form-group row">
              <!-- Sales Officer -->
              <div class="form-group col-md-2 adins-required">
                <label class="adInsLabel">Sales Officer </label>
              </div>
              <div class="col-md-4" *ngIf="isInputLookupObj">
                <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='NapAppModelForm'
                                     [enjiForm]='enjiForm' [identifier]="'employeeIdentifier'"
                                     (lookup)="getLookupEmployeeResponse($event)">
                </lib-uclookupgeneric>
                <lib-uc-show-errors [control]="NapAppModelForm.controls.SalesOfficerName"
                                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
              </div>
              <!-- Sales Supervisor -->
              <label class="col-md-2 adInsLabel">Sales Supervisor </label>
              <label class="col-md-4 adInsLabel" *ngIf="NapAppModelForm.controls.SalesHeadName.value">{{NapAppModelForm.controls.SalesHeadName.value}} </label>
              <label class="col-md-4 adInsLabel" *ngIf="!NapAppModelForm.controls.SalesHeadName.value"> -  </label>
            </div>

            <div class="form-group row">
              <!-- Sales Notes -->
              <label class="col-md-2 adInsLabel">Sales Notes </label>
              <div class="col-md-4">
                <textarea class="form-control adInsInput width-75-per" id="basicTextarea" formControlName="SalesNotes"
                          rows="3"></textarea>
              </div>
            </div>

          </div>

          <!-- Application Info -->
          <lib-ucSubsection [id]="'applicationInfomationId'" [title]="'Application Information'"
                            [panel]="'applicationInfomation'">
          </lib-ucSubsection>
          <div class="form-body" id="applicationInfomation">

            <div class="row">

              <div class="col-md-6">

                <div class="form-group row">
                  <!-- Application Source -->
                  <div class="form-group col-md-4 adins-required">
                    <label class="adInsLabel">Application Source </label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="MrAppSourceCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.MrAppSourceCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['APP_SOURCE']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrAppSourceCode"
                                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row adins-required">
                  <!-- Tenor -->
                  <label class="col-md-4 adInsLabel" *ngIf="BizTemplateCode != 'OPL'">Tenor </label>
                  <label class="col-md-4 adInsLabel" *ngIf="BizTemplateCode == 'OPL'">Rental Period (In Months) </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control adInsInput number" formControlName="Tenor"
                           [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.Tenor.invalid }"
                           (change)="ChangeNumOfInstallmentTenor()">
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.Tenor" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row adins-required" *ngIf="BizTemplateCode != 'OPL'">
                  <!-- Payment Frequency -->
                  <label class="col-md-4 adInsLabel"> Payment Frequency</label>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="PayFreqCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.PayFreqCode.invalid }" (change)="ChangeNumOfInstallmentPayFreq($event)">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['PAYFREQ']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.PayFreqCode"
                                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row" *ngIf="BizTemplateCode != 'OPL'">
                  <!-- Num of Installment -->
                  <label class="col-md-4 adInsLabel">Num of Installment</label>
                  <label class="col-md-8 adInsLabel">{{NapAppModelForm.controls.NumOfInst.value}} </label>
                </div>

                <div class="form-group row adins-required">
                  <!-- Customer Notification By -->
                  <label class="col-md-4 adInsLabel"> Customer Notification By </label>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="MrCustNotifyOptCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.MrCustNotifyOptCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['CUST_NOTIF_OPT']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrCustNotifyOptCode"
                                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row" *ngIf="BizTemplateCode == 'FL4W'">
                  <!-- MOU Cust -->
                  <label class="col-md-2 adInsLabel"> MOU Customer </label>
                  <div class="col-md-4">
                    <select class="form-control adInsInput" style="width: auto" formControlName="MouCustId">
                      <option value=null>None</option>
                      <option *ngFor="let it of resMouCustObj" [value]="it.Key">
                        {{it.Value}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group row">
                  <!-- First Installment Type -->
                  <label class="col-md-4 adInsLabel" *ngIf="BizTemplateCode != 'OPL'"> First Installment Type </label>
                  <label class="col-md-4 adInsLabel" *ngIf="BizTemplateCode == 'OPL'"> First Rental Type </label>
                  <div class="col-md-8">
                    <!-- <label class="adInsLabel"> {{FirstInstType}} </label> -->
                    <select class="form-control adInsInput" style="width: 50%" formControlName="MrFirstInstTypeCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.MrFirstInstTypeCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['FIRSTINSTTYPE']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrFirstInstTypeCode" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row" *ngIf="BizTemplateCode != 'OPL'">
                  <!-- Interest Type -->
                  <div class="col-md-4 adins-required">
                    <label class="adInsLabel"> Interest Type </label>
                  </div>
                  <div class="col-md-8">
                    <select  class="form-control adInsInput" style="width: auto" formControlName="InterestType"
              (change)="ChangeInterestType()"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.InterestType.invalid }">
              <option value="">-Select One-</option>
              <option *ngFor="let it of applicationDDLitems['INTRSTTYPE']" value="{{it.Key}}">
                {{it.Value}} </option>
            </select>
            <lib-uc-show-errors [control]="NapAppModelForm.controls.InterestType"
              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>

                <div *ngIf="!isFixedRate && BizTemplateCode != 'OPL'" class="form-group row adins-required">
                  <!-- Floating Period -->
                  <label class="col-md-4 adInsLabel"> Floating Period </label>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="FloatingPeriod"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.FloatingPeriod.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['Floating_Period']" value="{{it.PayFreqCode}}">
                        {{it.Descr}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.FloatingPeriod"
                                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row" *ngIf="BizTemplateCode != 'OPL'">
                  <!-- Installment Scheme -->
                  <div class="form-group col-md-4 adins-required">
                    <label class="adInsLabel">Installment Scheme</label>
                  </div>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="MrInstSchemeCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.MrInstSchemeCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['INST_SCHM']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrInstSchemeCode"
                                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row adins-required">
                  <!-- Way of Payment -->
                  <label class="col-md-4 adInsLabel"> Way of Payment </label>
                  <div class="col-md-8">
                    <select class="form-control adInsInput" style="width: 50%" formControlName="MrWopCode"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.MrWopCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of applicationDDLitems['WOP']" value="{{it.Key}}">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrWopCode" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row" *ngIf="BizTemplateCode == 'OPL'">
                  <!-- Application Notes -->
                  <label class="col-md-4 adInsLabel"> Application Notes </label>
                  <div class="col-md-8">
                    <textarea class="form-control adInsInput width-75-per" id="basicTextarea" formControlName="ApplicationNotes"
                              rows="3"></textarea>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.ApplicationNotes" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="BizTemplateCode != 'OPL'">
            <lib-ucSubsection [id]="'crossInfomationId'" [title]="'Cross Application/Agreement Information'" [panel]="'crossInfomation'">
            </lib-ucSubsection>
            <div class="form-body" id="crossInfomation">

              <div class="form-actions right">
                <button type="button" (click)="AddTemp(contentCrossApp)" class="btn btn-raised btn-primary" translate>
                  <i class="fa ft-plus"></i> Add
                </button>
              </div>

              <!-- Table Cross Application -->
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th style="text-align: center;">
                      <span class="thead-header" translate>
                        Application No
                      </span>
                    </th>
                    <th style="text-align: center;">
                      <span class="thead-header" translate>
                        Agreement No
                      </span>
                    </th>
                    <th style="text-align: left;">
                      <span class="thead-header" translate>
                        Customer Name
                      </span>
                    </th>
                    <th><span translate class="thead-header" name='action'>Delete</span></th>
                  </tr>
                </thead>
                <tbody *ngIf="resultCrossApp?.length == 0">
                  <tr>
                    <td colspan="100%">No Data Available</td>
                  </tr>
                </tbody>
                <tbody>
                  <tr *ngFor="let item of resultCrossApp; let i = index">
                    <td style="text-align: center;">{{item.CrossAppNo}}</td>
                    <td style="text-align: center;">{{item.CrossAgrmntNo}}</td>
                    <td style="text-align: left;">{{item.CustName}}</td>
                    <td>
                      <a class="warning p-0" (click)="DeleteCrossApp(i)">
                        <i class="ft-trash-2 font-medium-3 mr-2"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Model Card -->
              <ng-template #contentCrossApp let-c="close" let-d="dismiss">
                <div class="modal-header">
                  <h4 class="modal-title">Add Cross Application</h4>
                  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <app-search-cross-app [ListCrossAppObjInput]="ListCrossAppObj" (objTempOutput)="GetDataTemp($event)">
                </app-search-cross-app>
              </ng-template>
            </div>
          </div>
          <!-- Cross Info -->
          <!-- Loan Object -->
          <div *ngIf="BizTemplateCode != 'OPL'">
            <app-loan-object [AppId]="appId" [mode]="mode" [isCollateral]="true" (ResponseProdOfrUpToDate)="MissingProdOfrHandler($event)" *ngIf="IsLoanObject"></app-loan-object>
          </div>

          
          
          <lib-ucSubsection [id]="'mailingAddrId'" [title]="'Mailing Address'" [panel]="'mailingAddr'" *ngIf="isIncludeMailingAddress">
          </lib-ucSubsection>
          <div id="mailingAddr" *ngIf="isIncludeMailingAddress">
            <div class="form-group row">
              <label class="col-md-2" translate>Copy Address From</label>
              <div class="col-md-4">
                <div class="input-group">
                  <select class="form-control" formControlName="CopyFromMailing">
                    <option *ngFor="let item of copyToMailingTypeObj" [value]="item.Key">{{item.Value}}</option>
                  </select>
                  <div class="input-group-append">
                    <span class="input-group-btn">
                      <button class="btn btn-raised btn-primary" type="button" (click)="copyToMailing()">
                        <i class="fa fa-check-square-o"></i>Copy
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObj" [enjiForm]="enjiForm"
              [identifier]="'Address'" [UCAddrForm]="NapAppModelForm"></lib-ucaddress>
          </div>

          <div>
            <lib-ucSubsection [id]="'restDataId'" [title]="'Restructuring Data'" [panel]="'restData'">
            </lib-ucSubsection>
            <div class="form-body" id="restData">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <div class="form-group col-md-4 ">
                      <label class="adins-required-label">Characteristic of Credit </label>
                    </div>
                    <div class="col-md-8">
                      <select class="form-control adInsInput" style="width: 50%" formControlName="CharaCredit"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.CharaCredit.invalid }"(change)= "ChangeCharacteristicOfCredit()">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of applicationDDLitems['CHARACTERISTIC_OF_CREDIT']" value="{{it.Key}}">
                          {{it.Value}}
                        </option>
                      </select>
                      <lib-uc-show-errors [control]="NapAppModelForm.controls.CharaCredit"
                                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div *ngIf="NapAppModelForm.controls.CharaCredit.value != 'OTHER' && NapAppModelForm.controls.CharaCredit.value != ''">
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel">Previous Agreement No </label>
                      <div class="col-md-8">
                        <input type="text" class="form-control adInsInput" formControlName="PrevAgrNo"
                               [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.PrevAgrNo.invalid }">
                        <lib-uc-show-errors [control]="NapAppModelForm.controls.PrevAgrNo" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label">Way of Restructure</label>
                      <div class="col-md-8">
                        <select class="form-control adInsInput" style="width: 50%" formControlName="WayRestructure"
                                [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppModelForm.controls.WayRestructure.invalid }">
                          <option value="">-Select One-</option>
                          <option *ngFor="let it of applicationDDLitems['WAY_OF_RESTRUCTURE']" value="{{it.Key}}">
                            {{it.Value}}
                          </option>
                        </select>
                        <lib-uc-show-errors [control]="NapAppModelForm.controls.WayRestructure"
                                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </div>
                    </div>  
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adins-required-label">Economic Sector (Slik)</label>
                    <div class="col-md-8">  
                    <lib-uclookupgeneric *ngIf="isInputLookupObj" [lookupInput]="inputLookupEconomicSectorObj" [parentForm]='NapAppModelForm' [enjiForm]='enjiForm'
                      [identifier]="'economicSectorIdentifier'" (lookup)="getLookupEconomicSector($event)">
                    </lib-uclookupgeneric>
                    <lib-uc-show-errors [control]="NapAppModelForm.controls.MrSlikSecEcoDescr" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                    </div> 
                  </div> 
                </div>
              </div>
            </div>
          </div>

          <div class="form-actions right">
            <button *ngIf="showCancel" type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
              <i class="ft-x"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i> Save
            </button>
            <!-- <button type="button" class="btn btn-raised btn-primary" (click)="test()">
      <i class="fa fa-check-square-o"></i> Test
    </button> -->
            <!-- <button type="submit" (click)="ClickSave('next')" class="btn btn-raised btn-primary">
      <i class="fa fa-check-square-o"></i> Next
    </button> -->
          </div>

        </form>

        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
