<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"></lib-ucviewgeneric>

<div class="px-3">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th>
          <span class="thead-header" translate>No</span>
        </th>
        <th>
          <span class="thead-header" translate>Accessory Name</span>
        </th>
        <th>
          <span class="thead-header" translate>Accessory Price</span>
        </th>
        <th>
          <span class="thead-header" translate>Notes</span>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngIf="AccessoriesList.length === 0">
        <td colspan="100%">No Data Available</td>
      </tr>
      <tr *ngFor="let item of AccessoriesList; let i = index">
        <td>{{i+1}}</td>
        <td class="align-left">{{item.AssetAccessoryName}}</td>
        <td class="text-right">{{item.AccessoryPriceAmt | number:'1.2-2':'en-US'}}</td>
        <td class="align-left">{{item.AccessoryNotes}}</td>
      </tr>
    </tbody>
  </table>
</div>