<h4 class="form-section card-title" translate><i class="ft-file-text"></i> Pre Go Live</h4>
<lib-ucviewgeneric [viewGenericObj]="viewGenericObj" (callback)="GetCallBack($event)"> </lib-ucviewgeneric>
<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="FormObj" #enjiForm="ngForm"
            (ngSubmit)="FormObj.valid && SaveForm()">
            <mat-tab-group>
              <mat-tab label="Term & Conditions">
                <ng-template matTabContent>
                  <app-term-conditions *ngIf="isReadyToLoadTC" [AppId]="AppObj?.AppId" [parentForm]="FormObj" [enjiForm]="enjiForm"
                  (OutputValueIsCheckAll)="ReceiveIsChecked($event)">
                </app-term-conditions>
                </ng-template>
              </mat-tab>
              <mat-tab *ngIf="SysConfigResultObj?.ConfigValue == 1" label="Agreement Document">
                <ng-template matTabContent>
                  <app-dms-iframe *ngIf="isDmsReady && SysConfigResultObj?.ConfigValue == 1" [dmsObj]="dmsObj"></app-dms-iframe>
                </ng-template>
              </mat-tab>
            </mat-tab-group>

            <!-- <lib-ucSubsection [id]="'TermAndConditionId'" [title]="'Term And Condition'" [panel]="'tc'">
            </lib-ucSubsection>
            <div id="tc">
              <app-term-conditions *ngIf="isReadyToLoadTC" [AppId]="AppObj?.AppId" [parentForm]="FormObj" [enjiForm]="enjiForm"
                (OutputValueIsCheckAll)="ReceiveIsChecked($event)">
              </app-term-conditions>
            </div> -->

            <lib-ucapprovalcreate [parentForm]= "FormObj" [enjiForm]="enjiForm" [InputObj]="InputObj" *ngIf="IsReady" (result)="Submit($event)" #ApprovalComponent>
            </lib-ucapprovalcreate>

            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]" translate>
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary mr-1" translate>
                <i class="far fa-check-square"></i> Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>