<form class="form form-horizontal" [formGroup]="MainInfoForm" (ngSubmit)="MainInfoForm.valid" #enjiForm="ngForm">
  <lib-ucSubsection [id]="'MainInfoId'" [title]="'Main Info'" [panel]="'MainInfo'">
  </lib-ucSubsection>
  <div class="form-body" id="MainInfo">
    <div class="form-group">
      <label class="col-md-2 adInsLabel" translate>Mou No </label>
      <a href="javascript:void(0);" (click)="OpenView('mou')"><label class="col-md-2 adInsLabel" style="color: #299699; cursor: pointer;" translate>{{mouCustNo}}</label></a>
      <label class="col-md-2"></label>
      <label class="col-md-2 adInsLabel" translate>Mou Date </label>
      <label class="col-md-2 adInsLabel" translate>{{mouCustDt}} </label>
    </div>
    <div class="form-group">
      <label class="col-md-2 adInsLabel" translate>Customer Name </label>
      <a href="javascript:void(0);" (click)="OpenView('cust')"><label class="col-md-2 adInsLabel" style="color: #299699  ; cursor: pointer;" translate>{{custName}} </label></a>
      <label class="col-md-2"></label>
      <label class="col-md-2 adInsLabel" translate>Plafond Amount </label>
      <label class="col-md-2 adInsLabel" translate>{{plafondAmt | number}} </label>
    </div>
    <div class="form-group">
      <label class="col-md-2 adInsLabel" translate style="padding-right: 0; width: 16.6%;">Start Date - End Date </label>
      <label class="col-md-3 adInsLabel" translate>{{startDt}} - {{endDt}}</label>
      <label class="col-md-1"></label>
      <label class="col-md-2 adInsLabel" translate>Mou Type </label>
      <label class="col-md-2 adInsLabel" translate>{{mrMouTypeCode}} </label>
    </div>
    <div class="form-group">
      <label class="col-md-2 adInsLabel" translate>Reference No. </label>
      <label class="col-md-2 adInsLabel" translate>{{refNo}} </label>
      <label class="col-md-2"></label>
      <label class="col-md-2 adInsLabel" translate>Revolving </label>
      <label class="col-md-2 adInsLabel" translate>{{isRevolving}}</label>
    </div>
    <div class="form-group">
      <label class="col-md-2 adInsLabel" translate>Status </label>
      <label class="col-md-2 adInsLabel" translate>{{mouCustStatView}}</label>
    </div>
  </div>
</form>