<div class="col-md-12 text-left">
  <div class="card">
    <div class="card-header header-title">
      <h4 class="card-title ucSearch-title" translate>Credit Approval</h4>
    </div>
    <br>
    <app-app-main-info-x [AppId]="appId" [BizTemplateCode]="BizTemplateCode" *ngIf="IsViewReady"></app-app-main-info-x>
    <div class="card-body">
      <div class="px-3" *ngIf="isShow">
        <app-crd-rvw-cust-info-x *ngIf="isShow" [appId]="appId" [crdRvwCustInfoObj]="crdRvwCustInfoObj" [crdRvwAppObj]="crdRvwAppObj" [captureStat]="captureStat">
        </app-crd-rvw-cust-info-x>
        <app-crd-rvw-fam-guar [appId]="appId" [crdRvwCustInfoObj]="crdRvwCustInfoObj">
        </app-crd-rvw-fam-guar>
        <app-crd-rvw-legal-doc *ngIf="crdRvwCustInfoObj.MrCustTypeCode == CustTypeCompany"
          [AppCustCompanyId]="crdRvwCustInfoObj.AppCustCompanyId"></app-crd-rvw-legal-doc>

        <app-crd-rvw-third-party-checking-x-dsf *ngIf="AppObj.AppNo != ''" [AppNo]="AppObj.AppNo" [CrdRvwCustInfoObj]="crdRvwCustInfoObj">
        </app-crd-rvw-third-party-checking-x-dsf>
        <app-crd-rvw-app-info-x *ngIf="isShow" [CrdRvwCustInfoId]="crdRvwCustInfoObj.CrdRvwCustInfoId" [appId]="appId" (callbackCrdRvwAppObj)="getCrdRvwAppObj($event)">
        </app-crd-rvw-app-info-x>
        <app-crd-rvw-asset *ngIf="BizTemplateCode!='CFNA'" [crdRvwCustInfoObj]="crdRvwCustInfoObj"> </app-crd-rvw-asset>
        <app-crd-rvw-asset-acc *ngIf="BizTemplateCode!='CFNA'" [crdRvwCustInfoObj]="crdRvwCustInfoObj"></app-crd-rvw-asset-acc>
        <app-crd-rvw-additional-coll [CrdRvwCustInfoId]="crdRvwCustInfoObj.CrdRvwCustInfoId">
        </app-crd-rvw-additional-coll>
        <app-crd-rvw-cmo-info [CrdRvwCustInfoId]="crdRvwCustInfoObj.CrdRvwCustInfoId">
        </app-crd-rvw-cmo-info>
        <app-crd-rvw-dealer-info *ngIf="!IsFD" [CrdRvwCustInfoId]="crdRvwCustInfoObj.CrdRvwCustInfoId">
        </app-crd-rvw-dealer-info>
        <app-tab-deviation [AppId]="appId" [IsEditManualDeviation]="false"></app-tab-deviation>

      </div>
    </div>

    <!-- <lib-ucapproval [inputObj]="inputObj" [showCancel]="'true'" (onCancel)="onCancelClick()" (nextTask)="onAvailableNextTask()" (result)="onApprovalSubmited($event)">
    </lib-ucapproval>  -->
    <lib-ucapprovalgeneralinfo [InputObj]="UcInputApprovalGeneralInfoObj" *ngIf="IsReady"></lib-ucapprovalgeneralinfo>

    <app-view-highlight-comment [appId]="appId" (outputTab)="GetCommnet($event)"></app-view-highlight-comment>
    <br />

    <lib-ucapprovalR3 [InputObj]="InputApvObj" *ngIf="IsReady" (result)="onApprovalSubmited($event)"
      (onCancel)="onCancelClick()"></lib-ucapprovalR3>
  </div>
</div>