  <lib-ucSubsection [id]="'AssetListId'" [title]="'ASSET LIST'" [panel]="'AssetListSection'"></lib-ucSubsection>
  <div id="AssetListSection">
    <div class="col-md-12">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='no' translate>No.</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='assetName' translate>Asset Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='supplierBranch' translate>Supplier Branch</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='serialNo1' translate>Serial No. 1</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='serialNo2' translate>Serial No. 2</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='serialNo3' translate>Serial No. 3</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='serialNo4' translate>Serial No. 4</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='serialNo5' translate>Serial No. 5</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='viewDetail' translate>View Detail</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of appAssetList; let i = index">
            <td style="text-align: center;"> {{i+1}} </td>
            <td style="text-align: left;"> {{item.FullAssetName}} </td>
            <td style="text-align: left;"> {{item.SupplName}} </td>
            <td style="text-align: left;"> {{item.SerialNo1}} </td>
            <td style="text-align: left;"> {{item.SerialNo3}} </td>
            <td style="text-align: left;"> </td>
            <td style="text-align: left;"> </td>
            <td style="text-align: left;"> {{item.SerialNo5}} </td>
            <td style="text-align: center;">
              <a (click)="viewDetailHandler(item.AppAssetId)">
                <i class="fas fa-pencil-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>