<div class="card">
  <div class="card-header">
    <h4 class="card-title" translate> Credit Investigation </h4>
  </div>
  <div class="card-body">
    <lib-ucviewgeneric [viewInput]="viewObj" [whereValue]="arrValue"></lib-ucviewgeneric>
    <aw-wizard #wizard navBarLayout="large-empty-symbols" [awNavigationMode] navigateBackward="allow"
      navigateForward="allow" [defaultStepIndex]="0">
      <aw-wizard-step [stepTitle]="'CUSTOMER DATA'" (stepEnter)="EnterTab('customerData')"
        [navigationSymbol]="{ symbol: '1' }">
        <app-view-app-cust-data-personal *ngIf="type == 'customerData' && mrCustTypeCode == 'PERSONAL'" [appId]="appId">
        </app-view-app-cust-data-personal>
        <app-view-app-cust-data-company *ngIf="type == 'customerData' && mrCustTypeCode == 'COMPANY'" [appId]="appId">
        </app-view-app-cust-data-company>
      </aw-wizard-step>
      <aw-wizard-step [stepTitle]="'APPLICATION DATA'" (stepEnter)="EnterTab('appData')"
        [navigationSymbol]="{ symbol: '2' }">
        <app-tab-application-data *ngIf="type == 'appData'" [appId]="appId"></app-tab-application-data>
      </aw-wizard-step>
      <aw-wizard-step [stepTitle]="'FRAUD DETECTION RESULT'" (stepEnter)="EnterTab('fraudDetection')"
      [navigationSymbol]="{ symbol: '3' }">
      </aw-wizard-step>
      <aw-wizard-step [stepTitle]="'CUSTOMER HISTORY'" (stepEnter)="EnterTab('custHist')"
      [navigationSymbol]="{ symbol: '4' }">
      <app-cust-history *ngIf="type == 'custHist'" [AppId]="appId"></app-cust-history>
      </aw-wizard-step> 
    </aw-wizard>
    <div class="px-3">
      <lib-ucSubsection [id]="'creditRiskAnalysisId'" [title]="'Credit Risk Analysis'" [panel]="'creditRiskAnalysis'">
      </lib-ucSubsection>
      <div id="creditRiskAnalysis">
        <form class="form form-horizontal" [formGroup]="CreditInvestigationForm" (ngSubmit)="CreditInvestigationForm.valid && SaveForm()"
            #enjiForm="ngForm">
          <div class="form-body">
            <div formArrayName="AppCrdInvstgDs">
              <div *ngFor="let item of CreditInvestigationForm.controls.AppCrdInvstgDs.controls;let i = index;">
                <div class="form-group row" [formGroupName]="i">
                  <label class="col-md-2" translate>{{item.controls.AnalysisItemName.value}}</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="AnalysisResult"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CreditInvestigationForm.controls.AppCrdInvstgDs.controls[i].controls.AnalysisResult.invalid }">
                  <lib-uc-show-errors [control]="CreditInvestigationForm.controls.AppCrdInvstgDs.controls[i].controls.AnalysisResult" [submit]="enjiForm.submitted"></lib-uc-show-errors>                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="['../CreditInvestigation/Paging']">
                <i class="ft-x"></i> Cancel
              </button>            
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="fa fa-check-square-o"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
