<div class="card">
  <div class="card-header">
    <h4 class="card-title" translate> Credit Investigation </h4>
  </div>
  <div class="card-body">
    <app-app-main-info [arrValue]="arrValue"></app-app-main-info>
    <mat-tab-group>
      <mat-tab label="Customer Data">
        <ng-template matTabContent>
          <app-view-app-cust-data-personal [appId]="appId" *ngIf="mrCustTypeCode=='PERSONAL'">
          </app-view-app-cust-data-personal>
          <app-view-app-cust-data-company [appId]="appId" *ngIf="mrCustTypeCode=='COMPANY'">
          </app-view-app-cust-data-company>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="BizTemplateCode != 'FL4W'" label="Application Data">
        <ng-template matTabContent>
          <app-tab-application-data [AppId]="appId"></app-tab-application-data>
        </ng-template>
      </mat-tab>
      <mat-tab *ngIf="BizTemplateCode == 'FL4W'" label="Application Data">
        <ng-template matTabContent>
          <app-view-application-data-multi [AppId]="appId"></app-view-application-data-multi>
        </ng-template>
      </mat-tab>
      <mat-tab label="Fraud Detection Result">
        <ng-template matTabContent>
          <app-view-fraud-detection-result [appId]="appId" [mrCustTypeCode]="mrCustTypeCode"></app-view-fraud-detection-result>
        </ng-template>
      </mat-tab>
      <!-- <mat-tab label="Fraud Detection Result">
        <ng-template matTabContent>
          <app-view-app-fraud-verification [AppId]="appId" [mrCustTypeCode]="mrCustTypeCode"></app-view-app-fraud-verification>
        </ng-template>
      </mat-tab> -->
      <mat-tab label="Customer History">
        <ng-template matTabContent>
          <app-cust-history [AppId]="appId"></app-cust-history>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <div class="px-3">
      <lib-ucSubsection [id]="'creditRiskAnalysisId'" [title]="'Credit Risk Analysis'" [panel]="'creditRiskAnalysis'">
      </lib-ucSubsection>
      <div id="creditRiskAnalysis">
        <form class="form form-horizontal" [formGroup]="CreditInvestigationForm" (ngSubmit)="CreditInvestigationForm.valid && SaveForm()"
            #enjiForm="ngForm">
          <div class="form-body">
            <div formArrayName="AppCrdInvstgDs">
              <div *ngFor="let item of CreditInvestigationForm.controls.AppCrdInvstgDs['controls'];let i = index;">
                <div class="form-group row" [formGroupName]="i">
                  <label class="col-md-2" translate>{{item.controls.AnalysisItemName.value}}</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="AnalysisResult"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && CreditInvestigationForm.controls.AppCrdInvstgDs.controls[i].controls.AnalysisResult.invalid }">
                  <lib-uc-show-errors [control]="CreditInvestigationForm.controls.AppCrdInvstgDs.controls[i].controls.AnalysisResult" [submit]="enjiForm.submitted"></lib-uc-show-errors>                  </div>
                </div>
              </div>
            </div>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Back()">
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary">
                <i class="far fa-check-square"></i> Save
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
