<lib-ucSubsection [id]="'reservedFundId'" [title]="'Reserved Fund'" [panel]="'reservedFund'">
</lib-ucSubsection>
<div id="reservedFund">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th translate class="text-center">No</th>
        <th translate class="text-left">Reserved Fund Source</th>
        <th translate class="text-left">Reserved Fund Allocation</th>
        <th translate class="text-right">Reserved Fund Amount</th>
      </tr>
    </thead>
    <tbody *ngIf = "RsvFundObj.length == 0">
      <tr>
        <td colspan="100%">No Data Available</td>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let item of RsvFundObj;let i=index">
        <td class="text-center">{{i+1}}</td>
        <td class="text-left">{{item.MrReservedFundSourceCode}}</td>
        <td class="text-left">{{item.MrReservedFundCode}}</td>
        <td class="text-right">{{item.ReservedFundAmt | number:'.2':'en-US'}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <br>
  <label class="col-md-3  adInsLabel" translate>Total Reserved Fund Amount</label>
  <label class="col-md-4  adinslabel" translate>{{this.totalRsvFund | number:'.2':'en-US'}}</label>
</div>