<lib-ucviewgeneric [viewInput]="viewProdMainInfoObj"> </lib-ucviewgeneric>

<div class="card-body" *ngIf="AppStepIndex > -1">
  <div class="px-3">
    <aw-wizard #wizard navBarLayout="large-empty-symbols" [defaultStepIndex]="AppStepIndex">

      <aw-wizard-step [stepTitle]="'Customer Data'" (stepEnter)="EnterTab('CUST')"
        [navigationSymbol]="{ symbol: '1' }">
        <app-customer-data *ngIf="AppStepIndex == 0" [appId]=appId (callbackSubmit)="WizardNavigation($event)"></app-customer-data>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Guarantor Data'" (stepEnter)="EnterTab('GUAR')"
        [navigationSymbol]="{ symbol: '2' }">
        <app-guarantor-paging *ngIf="AppStepIndex == 1" [AppId]=appId></app-guarantor-paging>
      </aw-wizard-step>
      
      <aw-wizard-step [stepTitle]="'Referantor Data'" (stepEnter)="EnterTab('REF')"
        [navigationSymbol]="{ symbol: '3' }">
        <app-referantor-data *ngIf="AppStepIndex == 2" [appId]=appId></app-referantor-data>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Application Data'" (stepEnter)="EnterTab('APP')"
      [navigationSymbol]="{ symbol: '4' }">
        <app-application-data-model *ngIf="AppStepIndex == 3" [appId]=appId></app-application-data-model>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Asset Data'" (stepEnter)="EnterTab('ASSET')"
      [navigationSymbol]="{ symbol: '5' }">
        <app-asset-data *ngIf="AppStepIndex == 4" [AppId]=appId></app-asset-data>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Insurance Data'" (stepEnter)="EnterTab('INS')"
      [navigationSymbol]="{ symbol: '6' }">
      <app-insurance-data *ngIf="AppStepIndex == 5" [appId]=appId></app-insurance-data>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Life Insurance Data'" (stepEnter)="EnterTab('LFI')"
      [navigationSymbol]="{ symbol: '7' }">
        <app-life-insurance-data *ngIf="AppStepIndex == 6" [AppId]=appId></app-life-insurance-data>
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Financial Data'" (stepEnter)="EnterTab('FIN')"
      [navigationSymbol]="{ symbol: '8' }">
        <!-- <app-financial-data *ngIf="AppStepIndex == 7" [AppId]=appId></app-financial-data> -->
      </aw-wizard-step>

      <aw-wizard-step [stepTitle]="'Terms and Conditions'" (stepEnter)="EnterTab('TC')"
        [navigationSymbol]="{ symbol: '9' }">
        <app-tc-data *ngIf="AppStepIndex == 8" [AppId]=appId></app-tc-data>
        </aw-wizard-step>
    </aw-wizard>
  </div>
</div>

<div class="form-actions ucSearch-Button-Right">
  <button type="button" class="btn btn-raised btn-cancel" [routerLink]="['../Paging']" [queryParams]="{LobCode:'CF4W'}" translate>
    <i class="fa fa-check-square-o"></i> Back
  </button>
  <button type="button" class="btn btn-raised btn-primary">
    <i class="fa fa-check-square-o"></i> Save and Continue
  </button>
</div>