<div class="card-body">
  <div class="px-3" *ngIf="IsReady">
    <lib-ucSubsection [id]="'OutstandingAmountInfo' + exposureType + 'Id'" [title]="'Outstanding Amount'"
      [panel]="'OutstandingAmountInfo' + exposureType">
    </lib-ucSubsection>
    <div [id]="'OutstandingAmountInfo' + exposureType">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> OS Principal Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsPrincipalAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> OS Interest Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsInterestAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> OS AR Balance </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsArBalance | number:'.2':'en-US'}} </label>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'MaximumAmountInfo' + exposureType + 'Id'" [title]="'Maximum Amount'"
      [panel]="'MaximumAmountInfo' + exposureType">
    </lib-ucSubsection>
    <div [id]="'MaximumAmountInfo' + exposureType">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Max AR </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxAr | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Max Installment Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxInstallmentAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Max Overdue Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxOverdueAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Max Overdue Days </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxOverdueDays}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'NumberOfInfo' + exposureType + 'Id'" [title]="'Number Of'"
      [panel]="'NumberOfInfo' + exposureType">
    </lib-ucSubsection>
    <div [id]="'NumberOfInfo' + exposureType">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Active Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.ActiveAgrmnt}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Agreement In Process </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntInProcess}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Asset In Financing </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetInFinancing}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Rejected Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntRejected}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Cancelled Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntCancelled}} </label>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Asset Repossessed </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetRepossessed}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Asset Inventoried </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetInventoried}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Written Off Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntWrittenOff}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Non Acrual Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntNonAcrual}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control" translate> Bounce Cheque </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.BounceCheque}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'BucketInfo' + exposureType + 'Id'" [title]="'Bucket'"
      [panel]="'BucketInfo' + exposureType">
    </lib-ucSubsection>
    <div [id]="'BucketInfo' + exposureType">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: left;">
                  <span class="thead-header" name='Bucket' translate>Bucket</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='TotalPastDue' translate>Total Past Due</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="ListCrdRvwCustBucketObj.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let item of ListCrdRvwCustBucketObj; let i = index; let odd = odd;">
                <span *ngIf="odd">
                  <td style="text-align: left;"> {{item.BucketRange}} </td>
                  <td style="text-align: right;"> {{item.Value | number:'.2':'en-US'}} </td>
                </span>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-6" *ngIf="ListCrdRvwCustBucketObj.length > 0">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: left;">
                  <span class="thead-header" name='Bucket' translate>Bucket</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='TotalPastDue' translate>Total Past Due</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="ListCrdRvwCustBucketObj.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let item of ListCrdRvwCustBucketObj; let i = index; let even = even;">
                <span *ngIf="even">
                  <td style="text-align: left;"> {{item.BucketRange}} </td>
                  <td style="text-align: right;"> {{item.Value | number:'.2':'en-US'}} </td>
                </span>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'ApplicationAgreementListInfo' + exposureType + 'Id'"
      [title]="'Application / Agreement List'" [panel]="'ApplicationAgreementListInfo' + exposureType">
    </lib-ucSubsection>
    <div [id]="'ApplicationAgreementListInfo' + exposureType">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='No' translate>No. </span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationNo' translate>Application No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='AgreementNo' translate>Agreement No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='GoLiveDate' translate>Go Live Date</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OfferingName' translate>Product Offering Name</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ContractStatus' translate>Contract Status</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OsPrincipal' translate>Os Principal</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='Fpd' translate>FPD (#AGR)</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListCrdRvwAppAgrHist.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListCrdRvwAppAgrHist; let i = index">
            <td style="text-align: center;">{{i+1}}</td>
            <td style="text-align: center;">{{item.AppNo}}</td>
            <td style="text-align: center;">{{item.AgrmntNo}}</td>
            <td style="text-align: center;">{{item.GoLiveDt | date: 'dd-MMM-yyyy'}}</td>
            <td style="text-align: center;">{{item.OfferingName}}</td>
            <td style="text-align: center;">{{item.ContractStat}}</td>
            <td style="text-align: right;">{{item.OsPrincipal | number:'.2':'en-US'}}</td>
            <td style="text-align: center;">{{item.Fpd}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>