<!--Login Page Starts-->
<section id="login">
  <div class="container-fluid">
      <div class="row full-height-vh">
          <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="card text-center width-400">
                  <div class="card-img">
                      <img alt="element 06" class="mb-1" src="assets/img/logo.png" width="190">
                  </div>
                  <div class="card-body">
                      <div class="card-block">
                          <h5 class="black">Change Password</h5>
                          <form novalidate="" (ngSubmit)="onSubmit($event)" #changepasswordform="ngForm">
                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="password" class="form-control" name="inputOldPassword"
                                          id="inputOldPassword" placeholder="Current Password" ngModel required
                                          #password>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="password" class="form-control" name="inputNewPassword"
                                          id="inputNewPassword" placeholder="New Password" ngModel required
                                          #newpassword>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <input type="password" class="form-control" name="inputConfirmNewPassword"
                                          id="inputConfirmNewPassword" placeholder="Confirm New Password" ngModel
                                          required #confirmenwpassword>
                                  </div>
                                  <div [hidden]="isMatch">
                                      <br>
                                      <span style="color:red">Password mismatch.</span>
                                      <br>
                                  </div>
                              </div>

                              <div class="form-group">
                                  <div class="col-md-12">
                                      <button type="submit"
                                          class="btn btn-primary btn-block btn-raised">Submit</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
                  <!-- <div class="card-footer">
                    <div class="float-right"><a (click)="onForgotPassword()" class="black">Reset Password</a></div>
                </div> -->
              </div>
          </div>
      </div>
  </div>
</section>
<!--Login Page Ends-->