
    <lib-ucSubsection [id]="'CreditApprovalHistoryId'" [title]="'Credit Approval History'"
    [panel]="'CreditApprovalHistory'">
  </lib-ucSubsection>
  <div id="CreditApprovalHistory">
    <lib-ucapprovalHistory *ngIf="IsCrdApvReady"  [InputObj]="CrdApvObj">
    </lib-ucapprovalHistory>
  </div>

  <lib-ucSubsection [id]="'PackageValidityId'" [title]="'Offering Validity Checking Approval History'"
    [panel]="'PackageValidity'">
  </lib-ucSubsection>
  <div id="PackageValidity">
    <lib-ucapprovalHistory *ngIf="IsOfferingReady"  [InputObj]="OfferingObj">
    </lib-ucapprovalHistory>
  </div>

  <lib-ucSubsection [id]="'PreGoId'" [title]="'Pre Go Live Approval'" [panel]="'PreGo'">
  </lib-ucSubsection>
  <div id="PreGo">
      <lib-ucapprovalHistory *ngIf="IsPregoliveApvReady"  [InputObj]="PregoliveApvObj">
      </lib-ucapprovalHistory>
  </div>