<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <div class="px-3">

          <!-- Main Info -->
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Customer Main Info </h4>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Customer No</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj.CustNo}} </label>
              <label class="col-md-3 adInsLabel">NPWP</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj.TaxIdNo}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Customer Name</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj.CustName}} </label>
            </div>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Address </h4>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Address</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.Addr}} </label>
              <label class="col-md-3 adInsLabel">Zipcode</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.Zipcode}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">RT / RW</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.AreaCode4}} / {{AppCustAddrObj.AreaCode3}} </label>
              <label class="col-md-3 adInsLabel">Sub Zipcode </label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.SubZipcode}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Phone</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.Phn1}}</label>
              <label class="col-md-3 adInsLabel">Kelurahan</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.AreaCode2}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Phone 2</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.Phn2}}</label>
              <label class="col-md-3 adInsLabel">Kecamatan</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.AreaCode1}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Fax</label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.Fax}}</label>
              <label class="col-md-3 adInsLabel">City </label>
              <label class="col-md-3 adInsLabel">{{AppCustAddrObj.City}} </label>
            </div>

          </div>

          <div class="pull-right">
            <button type="button" class="btn btn-raised btn-primary mr-1" [routerLink]="['/AppDupCheck/ApplicantExistingDataCompany']" 
            [queryParams]="{AppId:AppId}" translate> New Customer
            </button>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Match / Similiar Data </h4>
            <table *ngIf="ListCustomerDuplicate?.length > 0" class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListCustomerDuplicate">
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>                  
                  <td>{{item.TaxIdNo}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  <td>
                    <a class="danger p-0" data-original-title="" title="" (click)="SelectCust(item)">
                      Select
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i>Negative Customer</h4>
            <table *ngIf="ListNegativeCust?.length > 0" class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='negativeStat' translate>Negative
                      Status</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='negativeSrc' translate>Negative
                      Source</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListNegativeCust">
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>
                  <td>{{item.TaxIdNo}}</td>
                  <td>{{item.NegativeStat}}</td>
                  <td>{{item.NegativeSrc}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  <td>
                    <a class="danger p-0" data-original-title="" title="" (click)="SelectNegativeCust(item)">
                      Select
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Match / Similiar Data </h4>
            <table *ngIf="ListAppCustDuplicate?.length > 0" class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListAppCustDuplicate">
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>                  
                  <td>{{item.TaxIdNo}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  <td>
                    <a class="danger p-0" data-original-title="" title="" (click)="SelectCust(item)">
                      Select
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>