<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">

        <div class="pull-right">
          <button type="button" class="addButton" translate (click)="GetFinData(ListAppCustCoyFinData.length)"><i
              class="ft-plus-circle"></i> Add</button>
        </div>
        <lib-ucSubsection [id]="'FinancialId'" [title]="'Financial Data'" [panel]="'Financial'">
        </lib-ucSubsection>
        <div id="Financial">

          <div id="ListCustFinData" class="mb-3">
            <table class="table table-stripped table-bordered">
              <thead>
                <tr class="table-header">
                  <th class="text-center" translate>Date</th>
                  <th class="text-center" translate>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListAppCustCoyFinData; let i = index">
                  <td class="text-center">{{item.DateAsOf | date: 'dd-MMM-yyyy'}}</td>
                  <td class="text-center"><a href="javascript:;" (click)="GetFinData(i)"><i
                        class="ft-edit-2 font-medium-3 mr-2"></i></a></td>
                </tr>
                <tr *ngIf="ListAppCustCoyFinData.length <= 0">
                  <td class="text-center" colspan="2" translate>No Data Available</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <ng-template #ModalCoyFinData let-modal>
          <form class="form form-horizontal" [formGroup]="FinancialForm" #enjiForm="ngForm"
            (ngSubmit)="enjiForm.form.valid && SaveAppCustPersonalFinData()">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">
                {{IsAddFinData ? 'Add Financial Data' : 'Financial Data Date as of '}}
                {{FinancialForm.controls.DateAsOf.value | date: 'dd-MMM-yyyy'}}
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()"><span
                  aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 adins-required-label" translate>Monthly Income</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="GrossMonthlyIncomeAmt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrossMonthlyIncomeAmt.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.GrossMonthlyIncomeAmt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Return Of Investment(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ReturnOfInvestmentPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfInvestmentPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfInvestmentPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Return Of Asset(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ReturnOfAssetPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfAssetPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfAssetPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Current Ratio(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="CurrentRatioPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrentRatioPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.CurrentRatioPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Invetory Turn Over(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="InvTurnOverPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.InvTurnOverPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.InvTurnOverPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Growth(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="GrowthPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrowthPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.GrowthPrcnt" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Other Monthly Installment</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="OthMonthlyInstAmt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.OthMonthlyInstAmt.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.OthMonthlyInstAmt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Revenue</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="Revenue"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.Revenue.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.Revenue" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Profit Before Tax</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ProfitBeforeTax"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ProfitBeforeTax.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ProfitBeforeTax"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Nett Fixed Asset</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="NetFixedAsset"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.NetFixedAsset.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.NetFixedAsset"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Current Liabilities</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="CurrLiablts"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrLiablts.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.CurrLiablts" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Shareholder Equity</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ShareholderEquity"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ShareholderEquity.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ShareholderEquity"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4" translate>Monthly Expense</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="GrossMonthlyExpenseAmt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrossMonthlyExpenseAmt.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.GrossMonthlyExpenseAmt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Return Of Equity(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ReturnOfEquityPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfEquityPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfEquityPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Profit Margin(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ProfitMarginPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ProfitMarginPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ProfitMarginPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Debt Equity Ratio(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="DebtEquityRatioPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.DebtEquityRatioPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.DebtEquityRatioPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>AR Turn Over(%)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="ArTurnOverPrcnt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ArTurnOverPrcnt.invalid}"
                        [options]="{suffix:'%', max:100, allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.ArTurnOverPrcnt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Working Capital (Amount)</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="WorkingCapitalAmt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.WorkingCapitalAmt.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.WorkingCapitalAmt"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Operational Cost</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="OprCost"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.OprCost.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.OprCost" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Current Asset</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="CurrAsset"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrAsset.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.CurrAsset" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Total Asset</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="TotalAsset"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.TotalAsset.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.TotalAsset" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Long Term Liabilities</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="LongTermLiablts"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.LongTermLiablts.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.LongTermLiablts"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-md-4" translate>Current Ratio</label>
                    <div class="col-md-8">
                      <input type="" currencyMask class="form-control" formControlName="CurrRatio"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrRatio.invalid}"
                        [options]="{allowNegative: false}">
                      <lib-uc-show-errors [control]="FinancialForm.controls.CurrRatio" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>

                  <div class="form-group row adins-required" *ngIf="IsAddFinData">
                    <label class="col-md-4 adInsLabel" for="DateAsOf" translate>Date As Of</label>
                    <div class="col-md-8">
                      <input type="date" class="form-control adInsInput" formControlName="DateAsOf"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.DateAsOf.invalid }" />
                      <lib-uc-show-errors [control]="FinancialForm.controls.DateAsOf" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-warning btn-raised" (click)="modal.dismiss()" translate><i
                  class="far fa-window-close"></i> Cancel</button>
              <button type="submit" class="btn btn-raised btn-primary" translate><i class="far fa-check-square"></i>
                Save</button>
            </div>
          </form>
        </ng-template>

        <form class="form form-horizontal" [formGroup]="FinancialForm" (ngSubmit)="FinancialForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <!-- <lib-ucSubsection [id]="'FinancialId'" [title]="'Financial Information'" [panel]="'Financial'">
          </lib-ucSubsection>
          <div id="Financial">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4 adins-required-label" translate>Monthly Income</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="GrossMonthlyIncomeAmt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrossMonthlyIncomeAmt.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.GrossMonthlyIncomeAmt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Return Of Investment(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ReturnOfInvestmentPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfInvestmentPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfInvestmentPrcnt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Return Of Asset(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ReturnOfAssetPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfAssetPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfAssetPrcnt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Current Ratio(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="CurrentRatioPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrentRatioPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.CurrentRatioPrcnt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Invetory Turn Over(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="InvTurnOverPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.InvTurnOverPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.InvTurnOverPrcnt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Growth(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="GrowthPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrowthPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.GrowthPrcnt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Other Monthly Installment</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="OthMonthlyInstAmt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.OthMonthlyInstAmt.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.OthMonthlyInstAmt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Revenue</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="Revenue"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.Revenue.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.Revenue" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Profit Before Tax</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ProfitBeforeTax"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ProfitBeforeTax.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ProfitBeforeTax" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Nett Fixed Asset</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="NetFixedAsset"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.NetFixedAsset.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.NetFixedAsset" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Current Liabilities</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="CurrLiablts"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrLiablts.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.CurrLiablts" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Shareholder Equity</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ShareholderEquity"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ShareholderEquity.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ShareholderEquity" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-md-4" translate>Monthly Expense</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="GrossMonthlyExpenseAmt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.GrossMonthlyExpenseAmt.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.GrossMonthlyExpenseAmt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Return Of Equity(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ReturnOfEquityPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ReturnOfEquityPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ReturnOfEquityPrcnt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Profit Margin(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ProfitMarginPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ProfitMarginPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ProfitMarginPrcnt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Debt Equity Ratio(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="DebtEquityRatioPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.DebtEquityRatioPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.DebtEquityRatioPrcnt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>AR Turn Over(%)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="ArTurnOverPrcnt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.ArTurnOverPrcnt.invalid}" [options]="{suffix:'%', max:100, allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.ArTurnOverPrcnt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Working Capital (Amount)</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="WorkingCapitalAmt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.WorkingCapitalAmt.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.WorkingCapitalAmt"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Date As Of</label>
                  <div class="col-md-8">
                    <input type="date" class="form-control" formControlName="DateAsOf"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.DateAsOf.invalid}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.DateAsOf"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Operational Cost</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="OprCost"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.OprCost.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.OprCost"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Current Asset</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="CurrAsset"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrAsset.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.CurrAsset"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Total Asset</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="TotalAsset"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.TotalAsset.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.TotalAsset"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Long Term Liabilities</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="LongTermLiablts"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.LongTermLiablts.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.LongTermLiablts"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" translate>Current Ratio</label>
                  <div class="col-md-8">
                    <input type="" currencyMask class="form-control" formControlName="CurrRatio"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && FinancialForm.controls.CurrRatio.invalid}" [options]="{allowNegative: false}">
                    <lib-uc-show-errors [control]="FinancialForm.controls.CurrRatio"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

          <app-attr-content-component [title]="'Financial Attribute Information'" [AppCustId]="AppCustId"
            [enjiForm]="enjiForm" [parentForm]="FinancialForm" [identifier]="'AttrList'" [AttrGroups]="AttrGroups">
          </app-attr-content-component>

          <app-bank-section [AppCustId]="AppCustId" [AppCustBankAccList]="AppCustBankAccList"
            (OutputObj)="GetEvent($event)"></app-bank-section>

          <div class="form-actions right" *ngIf="!IsDetail">
            <button type="submit" (click)="formValidate.scrollIfFormHasErrors(FinancialForm)"
              class="btn btn-raised btn-primary" translate>
              <i class="fa fa-check-square"></i> Save & Continue
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>