<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <app-agr-main-info [arrValue]="arrValue"></app-agr-main-info>

                <div class="px-3">
                    <!-- Purchase Order Information -->
                    <lib-ucSubsection [id]="'PurchaseOrderInfoId'" [title]="'Purchase Order Information'"
                        [panel]="'PurchaseOrderInfo'">
                    </lib-ucSubsection>
                    <div class="form-body" id="PurchaseOrderInfo">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-12"><b>To </b></label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Supplier Name </label>
                                    <label class="col-md-6">{{AssetObj?.VendorObj.VendorName}} </label>
                                </div>
                                <div class="row" style="display:none;">
                                    <label class="col-md-6">Address </label>
                                    <label class="col-md-6">{{AssetObj?.VendorAddrObj.Addr}} </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Supplier Bank Account No </label>
                                    <label class="col-md-6">{{AssetObj?.VendorBankAccObj.BankAccountNo}} </label>
                                </div>
                                <div class="row" style="display:none;">
                                    <label class="col-md-6">MoU </label>
                                    <div class="col-md-6">
                                        <select class="form-control" [(ngModel)]="MouNo" name="MouNo">
                                            <option *ngFor="let item of AssetObj?.MouVendorListObj"
                                                [value]="item.MouVendorNo">
                                                {{item.MouVendorNo}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-12"><b>Send To </b></label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Customer Name </label>
                                    <label class="col-md-6">{{AssetObj?.AgrmntObj.CustName}} </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Address </label>
                                    <label class="col-md-6">{{Address}} </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Asset List -->
                    <lib-ucSubsection [id]="'AssetInfoId'" [title]="'Asset List'" [panel]="'AssetInfo'">
                    </lib-ucSubsection>
                    <div class="form-body" id="AssetInfo">
                        <table class="table table-responsive-md text-center table-hover">
                            <thead>
                                <tr class="table-header">
                                    <th><span translate class="thead-header text-left">ASSET NAME</span></th>
                                    <th><span translate class="thead-header text-right">ASSET PRICE</span></th>
                                    <th><span translate class="thead-header text-right">DOWN PAYMENT</span></th>
                                    <th><span translate class="thead-header">SERIAL NO. 1</span></th>
                                    <th><span translate class="thead-header">SERIAL NO. 2</span></th>
                                    <th><span translate class="thead-header">LICENSE PLATE</span></th>
                                    <th><span translate class="thead-header">NOTES</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of AssetObj?.AppAssetListObj">
                                    <td class="text-left">{{item.FullAssetName}}</td>
                                    <td class="text-right">{{item.AssetPriceAmt | number}}</td>
                                    <td class="text-right">{{item.DownPaymentAmt | number}}</td>
                                    <td>{{item.SerialNo1}}</td>
                                    <td>{{item.SerialNo2}}</td>
                                    <td>{{item.SerialNo3}}</td>
                                    <td>{{item.AssetNotes}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Summary -->
                    <lib-ucSubsection [id]="'SummaryPOId'" [title]="'Summary'" [panel]="'SummaryPO'">
                    </lib-ucSubsection>
                    <div class="form-body" id="SummaryPO">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-6">Total Asset Price </label>
                                    <label class="col-md-6 text-right">{{AssetObj?.AgrmntFinDataObj.TotalAssetPriceAmt | number}}
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Down Payment Nett </label>
                                    <label
                                        class="col-md-6 text-right">{{AssetObj?.AgrmntFinDataObj.DownPaymentNettAmt | number}}
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">TDP At Coy </label>
                                    <label class="col-md-6 text-right">{{AssetObj?.AgrmntFinDataObj.TdpPaidCoyAmt | number}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-6">Insurance Premium </label>
                                    <label class="col-md-6 text-right">{{TotalInsCustAmt | number}}
                                    </label>
                                </div>
                                <div class="row">
                                    <label class="col-md-6">Life Insurance Premium </label>
                                    <label class="col-md-6 text-right">{{TotalLifeInsCustAmt | number}}
                                    </label>
                                </div>
                                <div *ngIf="AssetObj?.AgrmntObj.MrFirstInstTypeCode == 'AD'" class="row">
                                    <label class="col-md-6">First Installment Amount </label>
                                    <label class="col-md-6 text-right">{{AssetObj?.AgrmntFinDataObj.InstAmt | number}} </label>
                                </div>
                            </div>
                            <div class="col-md-6" *ngFor="let item of AssetObj?.AgrmntFeeListObj">
                                <div class="row">
                                    <label class="col-md-6">{{item.FeeName}} </label>
                                    <label class="col-md-6 text-right">{{item.AppFeeAmt | number}} </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <label class="col-md-6">Total Purchase Order </label>
                                            <label class="col-md-6 text-right">{{TotalPurchaseOrderAmt | number}} </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Subsidy List -->
                    <lib-ucSubsection [id]="'AgrmntSubsidyId'" [title]="'Subsidy Information'"
                        [panel]="'AgrmntSubsidy'">
                    </lib-ucSubsection>
                    <div class="form-body" id="AgrmntSubsidy">
                        <table class="table table-responsive-md text-center table-hover">
                            <thead>
                                <tr class="table-header">
                                    <th><span translate class="thead-header text-left">Subsidy Allocation</span></th>
                                    <th><span translate class="thead-header text-left">Subsidy Source</span></th>
                                    <th><span translate class="thead-header text-right">Subsidy Amount</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of AssetObj?.AgrmntSubsidyListObj">
                                    <td class="text-left">{{item.MrSubdAllocCode}}</td>
                                    <td class="text-left">{{item.MrSubdSourceCode}}</td>
                                    <td class="text-right">{{item.SubsidyAmt | number}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Other Information -->
                    <lib-ucSubsection [id]="'OtherInformationId'" [title]="'Other Information'"
                        [panel]="'OtherInformation'">
                    </lib-ucSubsection>
                    <div class="form-body" id="OtherInformation">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-6">Additional Notes </label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" [(ngModel)]="Notes" name="Notes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <label class="col-md-6">Expired Date </label>
                                    <label class="col-md-6">{{PurchaseOrderExpiredDt | date: 'dd-MMM-yyyy' }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form>
                        <div class="form-actions right">
                            <button type="button" class="btn btn-raised btn-warning mr-1"
                                [routerLink]="[CancelLink]" [queryParams]="{AgrmntId:AgrmntId, LobCode: lobCode,AppId:AppId, TaskListId: TaskListId}"
                                translate>
                                <i class="ft-x"></i> Cancel
                            </button>
                            <button type="button" (click)="SaveForm()" class="btn btn-raised btn-primary" translate>
                                <i class="far fa-check-square"></i> Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
