<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
      <div class="card-body">
        <div class="px-3">
          <aw-wizard #wizard navBarLayout="large-empty-symbols" [defaultStepIndex]="0">
            <aw-wizard-step [stepTitle]="'General Data'" (stepEnter)="EnterTab('GeneralData')"
              [navigationSymbol]="{ symbol: '1', fontFamily: 'FontAwesome' }">
              <app-ho-general-data *ngIf="type == 'GeneralData'" [objInput]="objPassing"  (ApproverId)="ChangeComponent($event)" ></app-ho-general-data>
            </aw-wizard-step> 
            <aw-wizard-step [stepTitle]="'Product Component'" (stepEnter)="EnterTab('ProductComponent')"
              [navigationSymbol]="{ symbol: '2', fontFamily: 'FontAwesome' }">
              <app-ho-prod-compnt *ngIf="type == 'ProductComponent'" [objInput]="objPassing"></app-ho-prod-compnt>
            </aw-wizard-step>
            <aw-wizard-step [stepTitle]="'Office Member'" (stepEnter)="EnterTab('OfficeMember')"
              [navigationSymbol]="{ symbol: '3', fontFamily: 'FontAwesome' }">
              <app-ho-office-mbr *ngIf="type == 'OfficeMember'" [objInput]="objPassing"></app-ho-office-mbr>
            </aw-wizard-step>
          </aw-wizard>
        </div>
      </div>
    </div>
  </div>
</div>