<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate> Delivery Order </h4>
            </div>
          </div>
        </div>
        <app-agr-main-info [arrValue]="arrValue"></app-agr-main-info>
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="DeliveryOrderForm"
                (ngSubmit)="DeliveryOrderForm.valid && SaveForm()" #enjiForm="ngForm">
            <lib-ucSubsection [id]="'AssetInfoId'" [title]="'Asset Info'" [panel]="'AssetInformation'">
            </lib-ucSubsection>
            <div id="AssetInformation">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-md-4 adins-required-label" for="ManufacturingYearModel" translate> Manufacturing Year </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput" formControlName="ManufacturingYear"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.ManufacturingYear.invalid}">
                      <lib-uc-show-errors [control]="DeliveryOrderForm.controls.ManufacturingYear"
                                          [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div formArrayName="listItem">
                    <div *ngFor="let item of listItem.controls; let i = index;">
                      <div class="form-group row" [formGroupName]="i">
                        <label class="col-md-4 "
                          [ngClass]="{'adins-required-label': item.controls.IsMandatory.value == true}"
                          translate>
                          {{item.controls.SerialNoLabel.value}} </label>
                        <div class="col-md-8">
                          <input type="text" class="form-control adInsInput" formControlName="SerialNoValue"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.listItem['controls'][i]['controls'].SerialNoValue.invalid}">
                          <lib-uc-show-errors
                            [control]="DeliveryOrderForm.controls.listItem['controls'][i]['controls'].SerialNoValue"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="this.MrAssetConditionCode != 'USED'">
              <lib-ucSubsection [id]="'MainDocumentLetterId'" [title]="'Main Document Letter'"
                                [panel]="'MainDocumentLetter'">
              </lib-ucSubsection>
              <div class="form-body" id="MainDocumentLetter">
                <div class="form-group row">
                  <label class="col-md-2" translate>Temporary Registration Letter No</label>
                  <div class="col-md-4">
                    <input type="text" class="form-control width-75-per" formControlName="TempRegisLettNo"
                           [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.TempRegisLettNo.invalid}">
                    <lib-uc-show-errors [control]="DeliveryOrderForm.controls.TempRegisLettNo"
                                        [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2" translate>Temporary Registration Letter Date</label>
                  <div class="col-md-4">
                    <input type="date" min="{{MaxDate | date:'yyyy-MM-dd'}}" class="form-control width-75-per" formControlName="TempRegisLettDt"
                           [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.TempRegisLettDt.invalid}">
                    <lib-uc-show-errors [control]="DeliveryOrderForm.controls.TempRegisLettDt"
                                        [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </div>
            <lib-ucSubsection [id]="'AssetDocumentId'" [title]="'Asset Document'" [panel]="'AssetDocument'">
            </lib-ucSubsection>
            <div class="form-body" id="AssetDocument" formArrayName="items">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th><span translate class="thead-header">Document Name</span></th>
                    <th><span translate class="thead-header">Value Needed</span></th>
                    <th><span translate class="thead-header">Mandatory</span></th>
                    <th><span translate class="thead-header">Checked</span></th>
                    <th><span translate class="thead-header">Document No</span></th>
                    <th><span translate class="thead-header">Expired Date</span></th>
                    <th><span translate class="thead-header">Notes</span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of DeliveryOrderForm.controls.items.controls; let i = index" [formGroupName]="i">
                    <td>{{item.controls.AssetDocName.value}}</td>
                    <td *ngIf="item.controls.IsValueNeeded.value==true">Yes</td>
                    <td *ngIf="item.controls.IsValueNeeded.value==false">No</td>
                    <td *ngIf="this.MrAssetConditionCode=='NEW' && item.controls.IsMandatoryNew.value == true">Yes</td>
                    <td *ngIf="this.MrAssetConditionCode=='NEW' && item.controls.IsMandatoryNew.value == false">No</td>
                    <td *ngIf="this.MrAssetConditionCode=='USED' && item.controls.IsMandatoryNew.value == true">Yes</td>
                    <td *ngIf="this.MrAssetConditionCode=='USED' && item.controls.IsMandatoryNew.value == false">No</td>
                    <td>
                      <input type="checkbox" class="border-primary" formControlName="IsReceived">
                    </td>
                    <td>
                      <input type="text" class="form-control width-100-per" formControlName="DocNo"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.items.controls[i].controls.DocNo.invalid}">
                      <lib-uc-show-errors [control]="DeliveryOrderForm.controls.items.controls[i].controls.DocNo" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </td>
                    <td>
                      <input type="date" class="form-control width-100-per" formControlName="ACDExpiredDt"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.items.controls[i].controls.ACDExpiredDt.invalid}">
                      <lib-uc-show-errors [control]="DeliveryOrderForm.controls.items.controls[i].controls.ACDExpiredDt"
                                          [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </td>
                    <td>
                      <input type="text" class="form-control width-100-per" formControlName="DocNotes"
                             [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.items.controls[i].controls.DocNotes.invalid}">
                      <lib-uc-show-errors [control]="DeliveryOrderForm.controls.items.controls[i].controls.DocNotes" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <lib-ucSubsection [id]="'RecipientInfoId'" [title]="'Recipient Information'" [panel]="'RecipientInfo'">
            </lib-ucSubsection>
            <div class="form-body" id="RecipientInfo">
              <div class="form-group row">
                <label class="col-md-2" translate>Delivery Order No</label>
                <div class="col-md-4">
                  <input type="text" class="form-control width-75-per" formControlName="DeliveryNo">
                </div>
                <label class="col-md-2" translate>Recipient Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control width-75-per" formControlName="RecipientName">
                  <lib-uc-show-errors [control]="DeliveryOrderForm.controls.RecipientName"
                                      [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" translate>Delivery Date</label>
                <div class="col-md-4">
                  <input type="date" min="{{PurchaseOrderDt | date: 'yyyy-MM-dd'}}" class="form-control width-75-per" formControlName="DeliveryDt">
                  <lib-uc-show-errors [control]="DeliveryOrderForm.controls.DeliveryDt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" translate>Recipient Address</label>
                <div class="col-md-4">
                  <input type="text" class="form-control width-75-per" formControlName="DeliveryAddr">
                  <lib-uc-show-errors [control]="DeliveryOrderForm.controls.DeliveryAddr" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2" translate>Customer Relationship</label>
                <div class="col-md-4">
                  <select class="form-control" style="width: auto" formControlName="MrCustRelationshipCode"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && DeliveryOrderForm.controls.MrCustRelationshipCode.invalid }">
                    <option *ngFor="let it of itemType" value="{{it.Key}}">
                      {{it.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="DeliveryOrderForm.controls.MrCustRelationshipCode"
                                      [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <app-term-conditions [AppId]="AppId" [parentForm]="DeliveryOrderForm" [enjiForm]="enjiForm">
            </app-term-conditions>
            <div class="form-actions right">
              <button type="button" class="btn btn-raised btn-warning mr-1"
                      [routerLink]="['/Nap/AdminProcess/DeliveryOrder/Paging']" translate>
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save
              </button>
            </div>
          </form>
        </div>
        <!-- <div></div> -->
      </div>
    </div>
  </div>
