<lib-ucSubsection [id]="'DealerInfoId'" [title]="'Dealer Information'" [panel]="'DealerInfo'">
</lib-ucSubsection>
<div id="DealerInfo">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Dealer Name </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwDealerObj.DealerName}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Cooperate Date </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwDealerObj.CooperationDt | date: 'dd-MMM-yyyy'}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Sales / Spv / Bm </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwDealerObj.Sales}} / {{crdRvwDealerObj.Spv}} / {{crdRvwDealerObj.Bm}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> #App Incoming / Reject / Live (Last {{crdRvwDealerObj.SpanOfMonth}} Month) </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwDealerObj.AppIncoming}} / {{crdRvwDealerObj.AppReject}} / {{crdRvwDealerObj.AppLive}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> #AGR FPD / Repo / WO (Last {{crdRvwDealerObj.SpanOfMonth}} Month) </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwDealerObj.AgrmntFpd}} / {{crdRvwDealerObj.AgrmntRepo}} / {{crdRvwDealerObj.AgrmntWo}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="card-body">
    <!-- <div class="px-3">     -->
      <h4 class="form-section card-title" style="font-size: 1rem;" translate>Active Agreement Current Condition</h4>
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: left;">
              <span  name='No' translate>#AGR</span>
            </th>
            <th style="text-align: left;" *ngFor="let item of crdRvwDealerObj.ListCrdRvwDealerBucketObj; let i = index;">
              <span  name='' translate>{{item.BucketRange}}</span>
            </th>
            <th style="text-align: left;">
              <span  name='AssetPrice' translate>WO</span>
            </th>
            <th style="text-align: left;">
              <span  name='Insurance' translate>REPO</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left;">{{crdRvwDealerObj.AllAgrmnt}}</td>
            <td style="text-align: left;" *ngFor="let item of crdRvwDealerObj.ListCrdRvwDealerBucketObj; let i = index;">{{item.Value | number:'.2':'en-US'}}</td>
            <td style="text-align: left;">{{crdRvwDealerObj.AllWo}}</td>
            <td style="text-align: left;">{{crdRvwDealerObj.AllRepo}}</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>
</div>