<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <div class="px-3">

          <!-- Main Info -->
          <div class="form-body">
            <lib-ucSubsection [id]="'custMainId'" [title]="'Customer Main Info'" [panel]="'custMain'">
            </lib-ucSubsection>
            <div id="custMain">
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Customer No</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.CustNo != ''">{{AppCustObj?.CustNo}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.CustNo == ''">- </label>
                <label class="col-md-3 adInsLabel" translate>NPWP</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.TaxIdNo != ''">{{AppCustObj?.TaxIdNo}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.TaxIdNo == ''">- </label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Customer Name</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.CustName != ''">{{AppCustObj?.CustName}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustObj?.CustName == ''">- </label>
              </div>
            </div>
          </div>
          <div class="form-body">
            <lib-ucSubsection [id]="'addrId'" [title]="'Address'" [panel]="'addr'">
            </lib-ucSubsection>
            <div id="addr">
              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Address</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Addr != ''">{{AppCustAddrObj?.Addr}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Addr == ''">- </label>
                <label class="col-md-3 adInsLabel" translate>Zipcode</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Zipcode != ''">{{AppCustAddrObj?.Zipcode}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Zipcode == ''">- </label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>RT / RW</label>
                <label class="col-md-3 adInsLabel">{{AppCustAddrObj?.AreaCode4}} / {{AppCustAddrObj?.AreaCode3}} </label>
                <label class="col-md-3 adInsLabel" translate>Sub Zipcode </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.SubZipcode != ''">{{AppCustAddrObj?.SubZipcode}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.SubZipcode == ''">- </label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Phone</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Phn1 != ''">{{AppCustAddrObj?.Phn1}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Phn1 == ''">- </label>
                <label class="col-md-3 adInsLabel" translate>Kelurahan</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.AreaCode2 != ''">{{AppCustAddrObj?.AreaCode2}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.AreaCode2 == ''">- </label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Phone 2</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Phn2 != ''">{{AppCustAddrObj?.Phn2}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Phn2 == ''">- </label>
                <label class="col-md-3 adInsLabel" translate>Kecamatan</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.AreaCode1 != ''">{{AppCustAddrObj?.AreaCode1}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.AreaCode1 == ''">- </label>
              </div>

              <div class="form-group row">
                <label class="col-md-3 adInsLabel" translate>Fax</label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Fax != ''">{{AppCustAddrObj?.Fax}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.Fax == ''">- </label>
                <label class="col-md-3 adInsLabel" translate>City </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.City != ''">{{AppCustAddrObj?.City}} </label>
                <label class="col-md-3 adInsLabel" *ngIf="AppCustAddrObj?.City == ''">- </label>
              </div>
            </div>
          </div>

          <div class="pull-right">
            <button type="button" class="btn btn-raised btn-primary mr-1" (click)="NewCustomer()" translate>
              New Customer
            </button>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'simExistId'" [title]="'Match/Similar Existing Customer'" [panel]="'simExist'">
            </lib-ucSubsection>
            <div id="simExist">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" name='custName' translate>
                        Customer
                        Name
                      </span>
                    <th><span class="thead-header" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListCustomerDuplicate?.length == 0">
                    <td align="center" colspan="5">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListCustomerDuplicate">
                    <td>{{item.CustNo}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                    <td>
                      <a class="danger p-0" (click)="SelectCust(item)">
                        Select
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'simNegId'" [title]="'Match/Similar Negative Customer'" [panel]="'simNeg'">
            </lib-ucSubsection>
            <div id="simNeg">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" name='custName' translate>
                        Customer
                        Name
                      </span>
                    </th>
                    <th><span class="thead-header" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" name='negativeStat' translate>
                        Negative
                        Status
                      </span>
                    </th>
                    <th>
                      <span class="thead-header" name='negativeSrc' translate>
                        Negative
                        Source
                      </span>
                    </th>
                    <th>
                      <span class="thead-header" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListNegativeCust?.length == 0">
                    <td align="center" colspan="7">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListNegativeCust">
                    <td>{{item.CustNo}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.NegativeStat}}</td>
                    <td>{{item.NegativeSrc}}</td>
                    <td>{{item.DuplicateItem}}</td>
                    <td>
                      <a class="danger p-0" (click)="SelectNegativeCust(item)">
                        Select
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="form-body">
            <lib-ucSubsection [id]="'simAppId'" [title]="'Match/Similar In Progress Application'" [panel]="'simApp'">
            </lib-ucSubsection>
            <div id="simApp">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" name='custNo' translate>Customer No</span>
                    </th>
                    <th>
                      <span class="thead-header" name='custName' translate>
                        Customer
                        Name
                      </span>
                    <th><span class="thead-header" name='npwp' translate>NPWP</span></th>
                    <th>
                      <span class="thead-header" name='duplicateItem' translate>
                        Duplicate
                        Item
                      </span>
                    </th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="ListAppCustDuplicate?.length == 0">
                    <td align="center" colspan="5">No data found</td>
                  </tr>
                  <tr *ngFor="let item of ListAppCustDuplicate">
                    <td>{{item.CustNo}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.TaxIdNo}}</td>
                    <td>{{item.DuplicateItem}}</td>
                    <td>
                      <a class="danger p-0" (click)="SelectCust(item)">
                        Select
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="pull-right">
      <button type="button" class="btn btn-raised btn-warning mr-1 margin-r-5" (click)="back()" translate>
        <i class="ft-x"></i> Cancel
      </button>
    </div>
  </div>
</div>