<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <!-- diubah ke yang dulu karena view nya beda, ini mesti diperbaikin jadi pake view generic -->
          <!-- <app-agr-main-info [arrValue]="arrValue"></app-agr-main-info> -->

          <lib-ucSubsection [id]="'MainInfoFormId'" [title]="'Pre Go Live Approval Main Info'" [panel]="'MainInfoForm'">
          </lib-ucSubsection>
          <div class="form-body" id="MainInfoForm">

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Application No</label>
              <div class="col-md-4 blue">
                <label id="AppNo" translate><a href="javascript:void(0);" (click)="OpenView('app')">{{AppNo}}</a></label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Num Of Asset</label>
              <div class="col-md-4">
                <label id="NumOfAsset" translate>{{NumOfAsset}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Agreement No</label>
              <div class="col-md-4 blue">
                <label id="AgrmntDt" translate><a href="javascript:void(0);" (click)="OpenView('agrmnt')">{{AgrmntNo}}</a></label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Tenor</label>
              <div class="col-md-4">
                <label id="Tenor" translate>{{Tenor}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Customer No</label>
              <div class="col-md-4 blue">
                <label id="CustNo" translate><a (click)="openView(CustNo)">{{CustNo}}</a></label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Installment Amount</label>
              <div class="col-md-4">
                <label id="InstAmt" translate>{{InstAmt  | number:'.2':'en-US'}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Lead No</label>
              <div class="col-md-4 blue">
                <label id="LeadNo" translate><a href="javascript:void(0);" (click)="OpenView('lead')">{{LeadNo}}</a></label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Mou No</label>
              <div class="col-md-4 blue">
                <label id="MouNo" translate><a href="javascript:void(0);" (click)="OpenView('mou')">{{MouNo}}</a></label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Customer Name</label>
              <div class="col-md-4">
                <label id="CustName" translate>{{CustName}}</label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Delivery Date</label>
              <div class="col-md-4">
                <label id="DeliveryDt" translate>{{DeliveryDt}}</label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Office Name</label>
              <div class="col-md-4">
                <label id="OfficeName" translate>{{OfficeName}}</label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Product Offering Name</label>
              <div class="col-md-4 blue">
                <label id="ProdOfferingName" translate><a href="javascript:void(0);" (click)="OpenView('prod')">{{ProdOfferingName}}</a></label>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-2 adInsLabel" translate>Purpose Of Financing</label>
              <div class="col-md-4">
                <label id="PurposeOfFinancing" translate>{{PurposeOfFinancing}}</label>
              </div>
              <label class="col-md-2 adInsLabel" translate>Way Of Financing</label>
              <div class="col-md-4">
                <label id="WayOfFinancing" translate>{{WayOfFinancing}}</label>
              </div>
            </div>
          </div>

          <div *ngIf="result">
            <div *ngIf="count1>0">
              <lib-ucSubsection [id]="'PreGoLiveApprovalHistoryId'" [title]="'PreGoLive Approval History'"
                [panel]="'PreGoLiveApprovalHistory'">
              </lib-ucSubsection>
              <lib-ucapprovalhist [inputObj]="listPreGoLiveAppvrObj">
              </lib-ucapprovalhist>
            </div>
          </div>

          <lib-ucSubsection [id]="'DataTableId'" [title]="'Term and Condition'" [panel]="'DataTable'">
          </lib-ucSubsection>

          <form class="form form-horizontal" [formGroup]="MainInfoForm" #MainInfoReqForm="ngForm"
            (ngSubmit)="MainInfoForm.valid && SaveForm()">
            <div id="DataTable">

              <div formArrayName="{{identifier}}">
                <table class="table table-responsive-md text-center table-hover">
                  <thead>
                    <tr class="table-header">
                      <th><span translate class="thead-header text-left">No</span></th>
                      <th><span translate class="thead-header text-left">Document Name</span></th>
                      <th><span translate class="thead-header">Required</span></th>
                      <th><span translate class="thead-header">Check</span></th>
                      <th><span translate class="thead-header">Promise Date</span></th>
                      <th><span translate class="thead-header">Expired Date</span></th>
                      <th><span translate class="thead-header">Notes</span></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr [formGroupName]="i"
                      *ngFor="let item of MainInfoForm.controls[identifier].controls; let i = index">
                      <td class="text-left">{{i+1}}</td>
                      <td class="text-left">{{MainInfoForm.controls[identifier].controls[i].controls.TcName.value}}</td>
                      <td class="text-center">{{MainInfoForm.controls[identifier].controls[i].controls.IsMandatory.value == '1' ? 'Yes' : 'No'}}
                      </td>
                      <td class="text-left"><input type="checkbox" class="border-primary" (change)="changeValidation(i)"
                          formControlName="IsChecked"></td>
                      <td><input type="date" class="form-control" formControlName="PromisedDt"
                          [ngClass]="{ 'is-invalid': MainInfoReqForm.submitted && MainInfoForm.controls[identifier].controls[i].controls.PromisedDt.invalid}">
                        <lib-uc-show-errors
                          [control]="MainInfoForm.controls[identifier].controls[i].controls.PromisedDt"
                          [submit]="MainInfoReqForm.submitted">
                        </lib-uc-show-errors>
                      </td>
                      <td><input type="date" class="form-control" formControlName="ExpiredDt"
                          [ngClass]="{ 'is-invalid': MainInfoReqForm.submitted && MainInfoForm.controls[identifier].controls[i].controls.ExpiredDt.invalid}">
                        <lib-uc-show-errors [control]="MainInfoForm.controls[identifier].controls[i].controls.ExpiredDt"
                          [submit]="MainInfoReqForm.submitted">
                        </lib-uc-show-errors>
                      </td>
                      <td><textarea class="form-control" formControlName="Notes"></textarea></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<lib-ucapproval [inputObj]="inputObj" [showCancel]="'true'" (onCancel)="onCancelClick()"
  (nextTask)="onAvailableNextTask($event)" (result)="onApprovalSubmited($event)">
</lib-ucapproval>