<lib-ucviewgeneric [viewInput]="viewObj"> </lib-ucviewgeneric>
<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">

          <form class="form form-horizontal" [formGroup]="MainInfoForm" #MainInfoReqForm="ngForm"
            (ngSubmit)="MainInfoForm.valid && SaveForm()">
            <lib-ucSubsection [id]="'MainInfoFormId'" [title]="'Pre Go Live Information'" [panel]="'MainInfoForm'">
            </lib-ucSubsection>
            <div class="form-body" id="MainInfoForm">
              <div class="form-group row adins-required">
                <label class="col-md-2 adInsLabel" for="Reason" translate>Reason</label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="Reason"
                    [ngClass]="{ 'is-invalid': MainInfoReqForm.submitted && MainInfoForm.controls.Reason.invalid }">
                    <option *ngFor="let it of itemReason" value="{{it.Key}}">
                      {{it.Value}}</option>
                  </select>
                  <show-errors [control]="MainInfoForm.controls.Reason" [submit]="MainInfoReqForm.submitted">
                  </show-errors>
                </div>
                <label class="col-md-2 adInsLabel" for="ApprovedBy" translate>To be Approved By</label>
                <div class="col-md-4">
                  <select class="form-control adInsInput" style="width: auto" formControlName="ApprovedBy"
                    [ngClass]="{ 'is-invalid': MainInfoReqForm.submitted && MainInfoForm.controls.ApprovedBy.invalid }">
                    <option *ngFor="let it of itemApprovedBy" value="{{it.Key}}">
                      {{it.Value}}</option>
                  </select>
                  <show-errors [control]="MainInfoForm.controls.ApprovedBy" [submit]="MainInfoReqForm.submitted">
                  </show-errors>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-2 adInsLabel" for="Note" translate>Notes</label>
                <div class="col-md-4">
                  <input type="text" id="Note" class="form-control adInsInput name" formControlName="Notes">
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>