<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <div class="px-3">

          <!-- Main Info -->
          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Customer Main Info </h4>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Customer No</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj?.CustNo}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">NPWP</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj?.TaxIdNo}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Customer Name</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj?.CustName}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">ID No</label>
              <label class="col-md-3 adInsLabel">{{AppCustObj?.IdNo}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Gender</label>
              <label class="col-md-3 adInsLabel">{{AppCustPersonalObj?.MrGenderCode}} </label>
            </div>

            <div class="form-group row">
              <label class="col-md-3 adInsLabel">Birth Place / Date</label>
              <label class="col-md-3 adInsLabel">{{AppCustPersonalObj?.BirthPlace}} / {{AppCustPersonalObj?.BirthDt}} </label>
            </div>

          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Applicant As Guarantor </h4>
            <table *ngIf = "ListAppGuarantorDuplicate?.length > 0" class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><input type="checkbox" [checked]="checkboxAllGuarantor" (change)="SelectAllGuarantor($event.target.checked)" id="checkAll"
                    name="CheckAll"></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idType' translate>ID Type</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idNo' translate>ID Number</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='birthDt' translate>Birth Date</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='mobilePhoneNo' translate>Mobile
                      Phone
                      Number</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListAppGuarantorDuplicate; let i = index">
                  <td>
                    <div *ngIf="listSelectedIdGuarantor?.indexOf(item.AppGuarantorId) >- 1">
                      <input type="checkbox" id="checkSameGuarantor" name="itemSameGuarantor"
                        (change)="CheckedGuarantor(item.AppGuarantorId,  $event.target.checked)" [checked]="true">
                    </div>
                    <div *ngIf="listSelectedIdGuarantor?.indexOf(item.AppGuarantorId) < 0">
                      <input type="checkbox" id="checkDiffGuarantor" name="itemDiffGuarantor"
                        (change)="CheckedGuarantor(item.AppGuarantorId,  $event.target.checked)" [checked]=false>
                    </div>
                  </td>
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>
                  <td>{{item.IdType}}</td>
                  <td>{{item.IdNo}}</td>
                  <td>{{item.BirthDt}}</td>
                  <td>{{item.MobilePhnNo1}}</td>
                  <td>{{item.TaxIdNo}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Applicant As Spouse </h4>
            <table *ngIf="ListSpouseDuplicate?.length > 0" class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><input type="checkbox" [checked]="checkboxAllSpouse" (change)="SelectAllSpouse($event.target.checked)" id="checkAll"
                    name="CheckAll"></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idType' translate>ID Type</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idNo' translate>ID Number</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='birthDt' translate>Birth Date</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='mobilePhoneNo' translate>Mobile
                      Phone
                      Number</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListSpouseDuplicate; let i = index">
                  <td>
                    <div *ngIf="listSelectedIdSpouse?.indexOf(item.AppCustPersonalConstactPersonId) >- 1">
                      <input type="checkbox" id="checkSameSpouse" name="itemSameSpouse"
                        (change)="CheckedSpouse(item.AppCustPersonalConstactPersonId,  $event.target.checked)" [checked]="true">
                    </div>
                    <div *ngIf="listSelectedIdSpouse?.indexOf(item.AppCustPersonalConstactPersonId) < 0">
                      <input type="checkbox" id="checkDiffSpouse" name="itemDiffSpouse"
                        (change)="CheckedSpouse(item.AppCustPersonalConstactPersonId,  $event.target.checked)" [checked]=false>
                    </div>
                  </td>
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>
                  <td>{{item.IdType}}</td>
                  <td>{{item.IdNo}}</td>
                  <td>{{item.BirthDt}}</td>
                  <td>{{item.MobilePhnNo1}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-body">
            <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Applicant As Management / Shareholder </h4>
            <table *ngIf="ListAppShareholderDuplicate?.length > 0"class="table table-responsive-md text-center table-hover">
              <thead>
                <tr class="table-header">
                  <th><input type="checkbox" [checked]="checkboxAllShareholder" (change)="SelectAllShareholder($event.target.checked)" id="checkAll"
                    name="CheckAll"></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custNo' translate>Customer No</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='custName' translate>Customer
                      Name</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idType' translate>ID Type</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='idNo' translate>ID Number</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='birthDt' translate>Birth Date</span>
                  </th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='mobilePhoneNo' translate>Mobile
                      Phone
                      Number</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='npwp' translate>NPWP</span></th>
                  <th><span class="thead-header" (click)="searchSort($event)" name='duplicateItem' translate>Duplicate
                      Item</span></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ListAppShareholderDuplicate;let i = index">
                  <td>
                    <div *ngIf="listSelectedIdShareholder?.indexOf(item.AppCustCompanyMgmntShrholderId) >- 1">
                      <input type="checkbox" id="checkSameShareholder" name="itemSameShareholder"
                        (change)="CheckedShareholder(item.AppCustCompanyMgmntShrholderId,  $event.target.checked)" [checked]="true">
                    </div>
                    <div *ngIf="listSelectedIdShareholder?.indexOf(item.AppCustCompanyMgmntShrholderId) < 0">
                      <input type="checkbox" id="checkDiffSpouse" name="itemDiffSpouse"
                        (change)="CheckedShareholder(item.AppCustCompanyMgmntShrholderId,  $event.target.checked)" [checked]=false>
                    </div>
                  </td>
                  <td>{{item.CustNo}}</td>
                  <td>{{item.CustName}}</td>
                  <td>{{item.IdType}}</td>
                  <td>{{item.IdNo}}</td>
                  <td>{{item.BirthDt}}</td>
                  <td>{{item.MobilePhnNo1}}</td>
                  <td>{{item.TaxIdNo}}</td>
                  <td>{{item.DuplicateItem}}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>

          <div class="form-actions right">
            <button type="button" (click)="Submit()" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square-o"></i> Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>