<div class="card">
  <div class="card-body">
    <div class="px-3">
      <div class="customerData">
        <form class="form form-horizontal" [formGroup]="AssetDataForm" (ngSubmit)="AssetDataForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <div class="form-body">
            <div id="assetData">
              <lib-ucSubsection [id]="'supplInfoId'" [title]="'Supplier Info'" [panel]="'supplInfo'">
              </lib-ucSubsection>
              <div id="supplInfo">
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel adins-required-label" translate>Supplier Name</label>
                  <div class="col-md-4">
                    <lib-uclookupgeneric *ngIf="InputLookupSupplierObj?.isReady" width-75-per
                      [lookupInput]="InputLookupSupplierObj" [identifier]="'lookupSupplier'" [enjiForm]='enjiForm'
                      [parentForm]='AssetDataForm' (lookup)="SetSupplier($event)">
                    </lib-uclookupgeneric>
                  </div>
                  <label class="col-md-2 adInsLabel adins-required-label" translate>Sales Person Name</label>
                  <div class="col-md-4">
                    <select class="form-control adInsInput" style="width: auto" formControlName="SalesPersonId"
                      (change)="SalesPersonChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.SalesPersonId.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of listSalesObj" [value]="it.VendorEmpId">
                        {{it.VendorEmpName}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="AssetDataForm.controls.SalesPersonId" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>

                  </div>
                  <!-- <div class="form-group row"> -->
                  <!-- <label class="col-md-2 adInsLabel" translate>Branch Manager</label>
                  <div class="col-md-4">
                    <select class="form-control adInsInput" style="width: auto" formControlName="BranchManagerNo"
                      (change)="BranchChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.BranchManagerNo.invalid }">
                      <option *ngFor="let it of listBranchObj" [value]="it.Key">
                        {{it.Value}}
                      </option>
                    </select>
                  </div> -->
                  <label class="col-md-2 adInsLabel" translate>Admin Head</label>
                  <div class="col-md-4">
                    <select class="form-control adInsInput" style="width: auto" formControlName="AdminHeadId"
                      (change)="AdminChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AdminHeadId.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of listAdminHeadObj" [value]="it.VendorEmpId">
                        {{it.VendorEmpName}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'assetInfoId'" [title]="'Asset Info'" [panel]="'assetInfo'">
              </lib-ucSubsection>
              <div id="assetInfo">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel adins-required-label" translate>Asset Name</label>
                      <div class="col-md-8">
                        <lib-uclookupgeneric *ngIf="InputLookupAssetObj?.isReady" width-75-per
                          [lookupInput]="InputLookupAssetObj" [identifier]="'lookupAsset'" [enjiForm]='enjiForm'
                          [parentForm]='AssetDataForm' (lookup)="SetAsset($event)">
                        </lib-uclookupgeneric>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label" translate>Manufacturing Year</label>
                      <div class="col-md-8">
                        <input type="number" class="form-control adInsInput" formControlName="ManufacturingYear"
                          (blur)="manufacturingYearHandler()"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.ManufacturingYear.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.ManufacturingYear"
                          [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel adins-required-label" translate>Asset Condition</label>
                      <div class="col-md-8">
                        <select class="form-control adInsInput" style="width: auto" (change)="UcAddressHandler()"
                          formControlName="MrAssetConditionCode"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrAssetConditionCode.invalid }">
                          <option *ngFor="let it of RMAssetCondObj " [value]="it.Key">
                            {{it.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel adins-required-label" translate>Security Deposit Type </label>
                      <div class="col-md-8">
                        <select class="form-control adInsInput" style="width: auto" (change)="downPaymentChange()"
                          formControlName="MrDownPaymentTypeCode"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrDownPaymentTypeCode.invalid }">
                          <option *ngFor="let it of returnDownPaymentObj " [value]="it.Key">
                            {{it.Value}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel adins-required-label" translate>Asset Price</label>
                      <div class="col-md-8">
                        <input type="" currencyMask class="form-control adInsInput" formControlName="AssetPrice"
                          (keyup)="updateValueDownPayment()"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AssetPrice.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.AssetPrice" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4  adins-required-label" translate>Security Deposit (%/Amt)</label>
                      <div class="col-md-4" style="border-right: 1px solid grey">
                        <input type="" currencyMask id="downPaymentPrctg" class="form-control" [options]="CurrencyMaskPrct"
                          formControlName="DownPaymentPrctg" (focusout)="updateValueDownPayment()"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.DownPaymentPrctg.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.DownPaymentPrctg"
                          [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                      <div class="col-md-4">
                        <input type="" currencyMask id="DownPayment" class="form-control" formControlName="DownPayment"
                          (focusout)="updateValueDownPaymentPrctg()"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.DownPayment.invalid}">
                        <lib-uc-show-errors [control]="AssetDataForm.controls.DownPayment"
                          [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label" translate>Asset Usage</label>
                      <div class="col-md-8">
                        <select class="form-control" id="assetUsage" formControlName="AssetUsage"
                          (change)="assetUsageHandler()"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.AssetUsage.invalid }">
                          <option value="">-Select One-</option>
                          <option *ngFor="let item of returnAssetUsageObj" [value]="item.Key">
                            {{item.Value}}
                          </option>
                        </select>
                        <lib-uc-show-errors [control]="AssetDataForm.controls.AssetUsage" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" translate>Color</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control" formControlName="Color"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.Color.invalid}" />
                        <lib-uc-show-errors [control]="AssetDataForm.controls.Color" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" [ngClass]="{'adins-required-label': AssetDataForm.controls.MrAssetConditionCode.value == 'USED'}" translate>BPKB Issue Date</label>
                      <div class="col-md-8">
                        <input type="date" class="form-control adInsInput" formControlName="TaxIssueDt" />       
                        <lib-uc-show-errors [control]="AssetDataForm.controls.TaxIssueDt" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4" translate [ngClass]="{'adins-required-label': AssetDataForm.controls.MrAssetConditionCode.value == 'USED'}">BPKB City Issuer</label>
                      <div class="col-md-8 input-group">
                        <!-- <input type="text" class="form-control" formControlName="TaxCityIssuer" [readonly]="true"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.TaxCityIssuer.invalid }" />
                        <div class="input-group-append">
                          <span class="input-group-btn">
                            <button class="btn btn-raised btn-primary" type="button" (click)="showModalTaxCityIssuer()">
                              <i class="ft-search"></i>
                            </button>
                          </span>
                        </div> -->
                        <lib-uclookupgeneric width-75-per [lookupInput]="InputLookupCityIssuerObj"
                        [identifier]="'TaxCityIssuer'" [enjiForm]='enjiForm' [parentForm]='AssetDataForm'
                        (lookup)="SetBpkbCity($event)">
                      </lib-uclookupgeneric>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" translate>Notes</label>
                      <div class="col-md-8">
                        <textarea type="text" class="form-control adInsInput" formControlName="Notes"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.Notes.invalid }"></textarea>
                        <lib-uc-show-errors [control]="AssetDataForm.controls.Notes" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6" *ngIf="isSerialReady">
                    <div formArrayName="items">
                      <div *ngFor="let item of items.controls; let i = index;">
                        <div class="form-group row" [formGroupName]="i">
                          <label class="col-md-4 "
                            [ngClass]="{'adins-required-label': AssetDataForm.controls.MrAssetConditionCode.value == 'USED' && AssetDataForm.controls.items['controls'][i]['controls'].IsMandatory.value}"
                            translate>
                            {{item.controls.SerialNoLabel.value}} </label>
                          <div class="col-md-8">
                            <input type="text" class="form-control adInsInput" formControlName="SerialNoValue"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.items['controls'][i]['controls'].SerialNoValue.invalid}">
                            <lib-uc-show-errors
                              [control]="AssetDataForm.controls.items['controls'][i]['controls'].SerialNoValue"
                              [submit]="enjiForm.submitted" [customPattern]="ListPattern"></lib-uc-show-errors>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="IsUseDigitalization == '1' && IntegratorCheckBySystemGsValue == '0' && IsSvcExist">
                <lib-ucSubsection [id]="'FraudCheckingId'" [title]="'Fraud Checking'" [panel]="'fraudChecking'">
                </lib-ucSubsection>
                <div [id]="fraudChecking">
                  <div class="form-group row">
                    <label class="col-md-2" translate>RAPINDO</label>
                    <div class="col-md-8">
                      <button type="button" name="hitAPI" id="add" (click)="HitAPI()"  [disabled]="AssetDataForm.controls.MrAssetConditionCode.value == 'NEW'"
                        class="btn btn-raised btn-primary" translate>
                        Check Rapindo
                      </button>
                      <label *ngIf="LastRequestedDate != ''" class="col-md-4" translate>{{LastRequestedDate}}</label>
                    </div>
                  </div>
                </div>
              </div>
              <uc-attribute-form *ngIf="isAssetAttrReady" [parentForm]="AssetDataForm" [identifier]="identifierAssetAttr" [enjiForm]="enjiForm" [AttrSetting]="attrSettingObj"></uc-attribute-form>
              <lib-ucSubsection [id]="'AddAssetDocumentId'" [title]="'Asset Document'" [panel]="'AddAssetDocument'">
              </lib-ucSubsection>
              <div id="AddAssetDocument">
                <div class="form-body" formArrayName="ListDoc" style="overflow-x: auto;">
                  <table class="table table-responsive-md text-center table-hover">
                    <thead>
                      <tr class="table-header">
                        <th><span translate class="thead-header">Document</span></th>
                        <th><span translate class="thead-header">Received</span></th>
                        <th><span translate class="thead-header">Document No</span></th>
                        <th><span translate class="thead-header">Expired Date</span></th>
                        <th><span translate class="thead-header">Document Notes</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of AssetDataForm.controls.ListDoc['controls']; let i = index" [formGroupName]="i">
                        <td>{{item.controls.AssetDocName.value}}</td>
                        <td>
                          <input type="checkbox" class="border-primary" formControlName="IsReceived">
                        </td>
                        <td>
                          <input type="text" class="form-control width-100-per" formControlName="DocNo">
                          <lib-uc-show-errors [control]="AssetDataForm.controls.DocNo" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </td>
                        <td>
                          <input type="date" class="form-control width-100-per" formControlName="ACDExpiredDt">
                          <lib-uc-show-errors [control]="AssetDataForm.controls.ACDExpiredDt" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </td>
                        <td>
                          <input type="text" class="form-control width-100-per" formControlName="DocNotes">
                          <lib-uc-show-errors [control]="AssetDataForm.controls.DocNotes" [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <lib-ucSubsection [id]="'accessoriesDataId'" [title]="'Accessories'" [panel]="'accessoriesData'">
              </lib-ucSubsection>
              <div id="accessoriesData">
                <div class="form-actions right">
                  <button type="button" name="add" id="add" (click)="addAccessories()"
                    class="btn btn-raised btn-primary">
                    <i class="ft-plus-circle"></i>&nbsp;<span translate>Add</span>
                  </button>
                </div>
                <div formArrayName="AssetAccessoriesObjs" class="table-responsive" *ngIf="IsReady">
                  <table class="table text-center table-hover">
                    <thead>
                      <tr class="table-header">
                        <th class="nowrap"><span translate class="thead-header">No</span></th>
                        <th class="nowrap"><span translate class="thead-header">Supplier Name</span></th>
                        <th class="nowrap"><span translate class="thead-header">Accessories Name</span></th>
                        <th class="nowrap"><span translate class="thead-header">Accessories Price</span></th>
                        <th class="nowrap"><span translate class="thead-header">Security Deposit Type</span></th>
                        <th class="nowrap" style="padding-right: 90px;"><span translate
                            class="thead-header">Security Deposit(%/Amt)</span></th>
                        <th class="nowrap" style="padding-right: 70px;"><span translate
                            class="thead-header">Notes</span></th>
                        <th class="nowrap"><span translate class="thead-header">Delete</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="AssetDataForm.controls['AssetAccessoriesObjs'].controls == 0">
                        <td align="center" colspan="8">No data available</td>
                      </tr>
                      <tr *ngFor="let item of AssetDataForm.controls['AssetAccessoriesObjs'].controls;let i = index">
                        <td [formGroupName]="i" class="text-center">
                          {{i + 1}}
                        </td>
                        <td [formGroupName]="i" class="text-center">
                          <lib-uclookupgeneric [enjiForm]="enjiForm"
                            [lookupInput]="dictSuppLookup[AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].No.value]"
                            [parentForm]="AssetDataForm"
                            [identifier]="'lookupSupplierObj' + AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].No.value"
                            (lookup)="SetSupplierAccessory(i,$event)"></lib-uclookupgeneric>
                        </td>
                        <td [formGroupName]="i" class="text-center">
                          <lib-uclookupgeneric [enjiForm]="enjiForm"
                            [lookupInput]="dictAccLookup[AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].No.value]"
                            [parentForm]="AssetDataForm"
                            [identifier]="'lookupAccObj' + AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].No.value"
                            (lookup)="SetAccessory(i,$event)"></lib-uclookupgeneric>
                        </td>
                        <td [formGroupName]="i">
                          <input type="" currencyMask id="accessoryPriceAmt{{i}}" class="form-control"
                            formControlName="AccessoryPriceAmt" [options]="{ nullable: true }" (focusout)="CheckAccessoryDPValue(i)"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryPriceAmt.invalid }">
                          <lib-uc-show-errors
                            [control]="AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryPriceAmt"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <select class="form-control" formControlName="AccessoryDownPaymentType"
                            (change)="ChangeAccessoryDPType(i, $event.target.value)"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentType.invalid }">
                            <option value="">Select One</option>
                            <option *ngFor="let item of DpObj" [value]="item.Key">
                              {{item.Value}}
                            </option>
                          </select>
                          <lib-uc-show-errors
                            [control]="AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentType"
                            [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <div class="row">
                            <div class="col-md-5" style="border-right: 1px solid grey">
                              <input type="" currencyMask id="AccessoryDownPaymentPrcnt{{i}}" class="form-control"
                                (focusout)="CheckAccessoryDPValue(i)" formControlName="AccessoryDownPaymentPrcnt"
                                [options]="CurrencyMaskPrct"
                                [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentPrcnt.invalid }">
                              <lib-uc-show-errors
                                [control]="AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentPrcnt"
                                [submit]="enjiForm.submitted"></lib-uc-show-errors>
                            </div>
                            <div class="col-md-6">
                              <input type="" currencyMask id="AccessoryDownPaymentAmt{{i}}" class="form-control"
                                (focusout)="CheckAccessoryDPValue(i)" formControlName="AccessoryDownPaymentAmt"
                                [options]="{ min: 0 }"
                                [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentAmt.invalid }">
                              <lib-uc-show-errors
                                [control]="AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryDownPaymentAmt"
                                [submit]="enjiForm.submitted"></lib-uc-show-errors>
                            </div>
                          </div>
                        </td>
                        <td [formGroupName]="i">
                          <textarea type="text" class="form-control" formControlName="AccessoryNotes"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryNotes.invalid}"></textarea>
                          <lib-uc-show-errors
                            [control]="AssetDataForm.controls['AssetAccessoriesObjs']['controls'][i]['controls'].AccessoryNotes"
                            [submit]="enjiForm.submitted">
                          </lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <a class="danger p-0" (click)="deleteAccessory(i)">
                            <i class="ft-trash-2 font-medium-3 mr-2"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <lib-ucSubsection [id]="'assetUserId'" [title]="'Asset User'" [panel]="'assetUser'">
              </lib-ucSubsection>
              <div id="assetUser">
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel" translate>Self Usage </label>
                  <div class="col-md-3">
                    <mat-checkbox formControlName="SelfUsage" (change)="SelfUsageChange($event)"></mat-checkbox>
                    <!-- <input class="border-primary" type="checkbox" data-md-icheck formControlName="SelfUsage" /> -->
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel adins-required-label" translate>Username</label>
                  <div class="col-md-3">
                    <input type="text" class="form-control adInsInput" formControlName="Username" required
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.Username.invalid}">
                    <lib-uc-show-errors [control]="AssetDataForm.controls.Username" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel adins-required-label" translate>User Relationship</label>
                  <div class="col-md-3">
                    <select class="form-control adInsInput" style="width: auto" formControlName="UserRelationship"
                      required
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.UserRelationship.invalid }">
                      <option *ngFor="let it of returnUserRelationshipObj" [value]="it.Key">
                        {{it.Value}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'ownerDataId'" [title]="'Asset Owner'" [panel]="'ownerData1'">
              </lib-ucSubsection>
              <div id="ownerData1">
                <div class="form-group row">
                  <label class="col-md-2" for="selfOwner" translate>Self Owner</label>
                  <div class="col-md-4">
                    <mat-checkbox formControlName="SelfOwner" (change)="SelfOwnerChange()"></mat-checkbox>
                  </div>
                  <label class="col-md-2" translate>Owner Type</label>
                  <div class="col-md-4">
                    <mat-radio-group formControlName="MrOwnerTypeCode" (change)="OwnerTypeChange($event.value, true)">
                      <mat-radio-button class="custom-control custom-radio display-inline-block"
                        *ngFor="let item of OwnerTypeObj" [value]="item.Key">
                        {{item.Value}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" translate>Owner Name </label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="OwnerName" [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.OwnerName.invalid}">
                    <lib-uc-show-errors [control]="AssetDataForm.controls.OwnerName" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2  adins-required-label" translate>Owner Id Type </label>
                  <div class="col-md-4">
                    <select class="form-control" id="idType" formControlName="MrIdTypeCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrIdTypeCode.invalid }"
                      style="width:50%">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of IdTypeObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="AssetDataForm.controls.MrIdTypeCode" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2  adins-required-label" translate>Owner Relationship </label>
                  <div class="col-md-4">
                    <select class="form-control" id="userRelationship" formControlName="MrOwnerRelationshipCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.MrOwnerRelationshipCode.invalid }"
                      style="width:50%">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of OwnerRelationObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="AssetDataForm.controls.MrOwnerRelationshipCode"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                  <label class="col-md-2  adInsLabel" translate>Owner Id No </label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="OwnerIdNo">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2" translate>Owner Profession</label>
                  <div class="col-md-4" *ngIf="AssetDataForm.controls.MrOwnerTypeCode.value == 'PERSONAL'">
                    <lib-uclookupgeneric *ngIf="InputLookupProfessionObj.isReady" [enjiForm]="enjiForm"
                        [lookupInput]="InputLookupProfessionObj" [parentForm]="AssetDataForm"
                        [identifier]="'lookupProfessionData'" (lookup)="GetProfession($event)" #LookupProfession>
                    </lib-uclookupgeneric>
                  </div>
                  <div class="col-md-4" *ngIf="AssetDataForm.controls.MrOwnerTypeCode.value == 'COMPANY'">
                    <select class="form-control adInsInput" style="width: auto" formControlName="OwnerProfessionCode"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && AssetDataForm.controls.OwnerProfessionCode.invalid }">
                      <option value="">Select One</option>
                      <option *ngFor="let it of OwnerProfessionObj " [value]="it.Key">
                        {{it.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="AssetDataForm.controls.OwnerProfessionCode" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2  adInsLabel" translate>Owner Mobile Phone No </label>
                  <div class="col-md-4">
                    <input type="text" class="form-control" formControlName="OwnerMobilePhnNo">
                    <lib-uc-show-errors [control]="AssetDataForm.controls.OwnerMobilePhnNo"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2" translate>Copy Address</label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <select class="form-control" formControlName="OwnerAddrType">
                        <option value="">-Select One-</option>
                        <option *ngFor="let item of AppCustAddrObj" [value]="item.MrCustAddrTypeCode">
                          {{item.MrCustAddrTypeCode}}
                        </option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-btn" *ngIf="!AssetDataForm.controls.SelfOwner.value">
                          <button class="btn btn-raised btn-primary" type="button" (click)="copyToOwnerAddr()">
                            <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-md-12" *ngIf="isAddressReady">
                    <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForOwner" [enjiForm]="enjiForm"
                      [identifier]="'ownerData'" [UCAddrForm]="AssetDataForm"></lib-ucaddress>
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'assetLocId'" [title]="'Asset Location'" [panel]="'assetLoc'">
              </lib-ucSubsection>
              <div id="assetLoc">
                <div class="form-group row">
                  <label class="col-md-2 adInsLabel" translate>Copy Address </label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <select class="form-control adInsInput" formControlName="LocationAddrType">
                        <option value="" translate>-Select One-</option>
                        <option *ngFor="let ram of AppCustAddrObj" [value]="ram.AppCustAddrId">
                          {{ram.MrCustAddrTypeCode}}
                        </option>
                      </select>
                      <div class="input-group-append">
                        <span class="input-group-btn">
                          <button class="btn btn-raised btn-primary" type="button" (click)="copyToLocationAddr()">
                            <i class="fa fa-check-square-o"></i>&nbsp;<span translate>Copy</span>
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div id="AssetLocation" *ngIf="isAddressReady">
                  <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLoc" [enjiForm]="enjiForm"
                    [identifier]="'assetLocationAddress'" [UCAddrForm]="AssetDataForm"></lib-ucaddress>
                  <!-- <lib-ucaddress #UcAddrGrp [showSubsection]="false" [isRequired]="false" [title]="'Asset Location'" [UCAddrForm]="AssetDataForm" 
                    [enjiForm]="enjiForm" [identifier]="'assetLocationAddress'" [default]="locationAddrObj" [inputField]="inputFieldLocationAddrObj" [showAllPhn]="false" [showOwnership]="false"></lib-ucaddress> -->
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right" style="text-align: right;">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()">
              <i class="ft-x"></i>&nbsp;<span translate>Cancel</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check-square"></i>&nbsp;<span translate>Save</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>