<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="form-body">
            <div class="panel-active">
              <mat-tab-group>
                <mat-tab label="Customer Detail">
                  <ng-template matTabContent>
                    <div id="outStandingAmount">
                      <div class="form-group row">

                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Name</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Jakarta</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Phone</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>081343457689</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Address</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Jakarta</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab label="Task Detail">
                  <ng-template matTabContent>
                    <div id="outStandingAmount">
                      <div class="form-group row">

                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Task Id</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>6632211</label>
                          </div>
                        </div>
                        <label class="col-md-2" for="custNickName" translate>Assignment Date</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>04 Sep 2020 13:04</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Application ID</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>-</label>
                          </div>
                        </div>
                        <label class="col-md-2" for="custNickName" translate>Retrieved Date</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>04 Sep 2020 13:04</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Form</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Survey Alpha SVAR</label>
                          </div>
                        </div>
                        <label class="col-md-2" for="custNickName" translate>Submitted Date</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>04 Sep 2020 13:06</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Branch</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Cabang DAAN MOGOT</label>
                          </div>
                        </div>
                        <label class="col-md-2" for="custNickName" translate>Field Person Name</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Junaedi</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Priority</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Normal</label>
                          </div>
                        </div>
                        <label class="col-md-2" for="custNickName" translate>Task Status</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate>Released</label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-md-2" for="custNickName" translate>Note</label>
                        <div class="col-md-4">
                          <div class="row">
                            <label class="col-md-1" for="custNickName" translate></label>
                            <label class="col-md-11" for="custNickName" translate> </label>
                          </div>
                        </div>
                      </div>
                    </div>

                  </ng-template>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="form-body">
            <div class="panel-active">
              <mat-tab-group>
                <mat-tab label="Answer History">
                  <ng-template matTabContent>
                    <div class="col-md-12">
                      <table class="table table-responsive-md text-center table-hover">
                        <thead>
                          <tr class="table-header">
                            <th><span class="thead-header" name='Office' translate>Question Label
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Submitted Answer
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-left">Jenis Asset</td>
                            <td class="text-left">[ Mobil ASDF ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Brand</td>
                            <td class="text-left">[ DAIHATSU ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Type</td>
                            <td class="text-left">[ Daihatsu Ayla ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Model</td>
                            <td class="text-left">[ X MT ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Warna</td>
                            <td class="text-left">orange</td>
                          </tr>
                          <tr>
                            <td class="text-left">OTR</td>
                            <td class="text-left">Rp 125.000.000,00</td>
                          </tr>
                          <tr>
                            <td class="text-left">DP diajukan</td>
                            <td class="text-left">Rp 37.500.000,00</td>
                          </tr>
                          <tr>
                            <td class="text-left">Kepemilikan Rumah</td>
                            <td class="text-left">[ Milik Sendiri ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Pekerjaan</td>
                            <td class="text-left">[ Kepolisian RI ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Status Perkawinan</td>
                            <td class="text-left">[ Menikah ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Foto rumah tampak depan</td>
                            <td class="text-left"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150"
                                src="assets/img/foto-rumah.png"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150" src="assets/img/staticmap.png">
                              <br>
                              Accuracy : 13 m, Distance to Branch : 9.754 Km
                              <br>
                              Timestamp : 2020-09-04 13:06:02.0
                            </td>
                          </tr>
                          <tr>
                            <td class="text-left">Foto jalanan depan rumah</td>
                            <td class="text-left"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150"
                                src="assets/img/foto-jalan.png"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150" src="assets/img/staticmap.png">
                              <br>
                              Accuracy : 13 m
                              <br>
                              Timestamp : 2020-09-04 13:06:07.0
                            </td>
                          </tr>
                          <tr>
                            <td class="text-left">Foto usaha / kantor</td>
                            <td class="text-left"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150"
                                src="assets/img/foto-kantor.png"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150" src="assets/img/staticmap.png">
                              <br>
                              Accuracy : 13 m, Distance to Branch : 9.754 Km
                              <br>
                              Timestamp : 2020-09-04 13:06:13.0
                            </td>
                          </tr>
                          <tr>
                            <td class="text-left">Foto selfie dengan customer</td>
                            <td class="text-left"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150"
                                src="assets/img/foto-selfie.png"><img alt="300x300"
                                class="media-object d-flex mr-3 bg-success height-150" src="assets/img/staticmap.png">
                              <br>
                              Accuracy : 13 m
                              <br>
                              Timestamp : 2020-09-04 13:06:21
                            </td>
                          </tr>
                          <tr>
                            <td class="text-left">Rekomendasi</td>
                            <td class="text-left">[ Direkomendasikan ]</td>
                          </tr>
                          <tr>
                            <td class="text-left">Catatan Rekomendasi</td>
                            <td class="text-left">ok</td>
                          </tr>
                          <tr>
                            <td class="text-left">Comment</td>
                            <td class="text-left">ok</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </mat-tab>
                <mat-tab label="Task History">
                  <ng-template matTabContent>
                    <div class="col-md-12">
                      <table class="table table-responsive-md text-center table-hover">
                        <thead>
                          <tr class="table-header">
                            <th><span class="thead-header" name='Office' translate>Task Process
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Actor
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Field Person
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Date
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Notes
                              </span>
                            </th>
                            <th><span class="thead-header" name='AppNo' translate>Status
                              </span>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-left"><b>Approval</b></td>
                            <td class="text-left">Hassan Derajat</td>
                            <td class="text-left">Junaedi</td>
                            <td class="text-left">04-Sep-2020 13:08</td>
                            <td class="text-left">Task with ID: 6632211 has been approved. | oke bagus</td>
                            <td class="text-left">Released</td>
                          </tr>
                          <tr>
                            <td class="text-left"><b>Verified</b></td>
                            <td class="text-left">Hassan Derajat</td>
                            <td class="text-left">Junaedi</td>
                            <td class="text-left">04-Sep-2020 13:07</td>
                            <td class="text-left">Task with ID: 6632211 has been verified | oke</td>
                            <td class="text-left">Approval</td>
                          </tr>
                          <tr>
                            <td class="text-left"><b>Submitted</b></td>
                            <td class="text-left">Junaedi</td>
                            <td class="text-left">Junaedi</td>
                            <td class="text-left">04-Sep-2020 13:06</td>
                            <td class="text-left">Task from MO has been submitted</td>
                            <td class="text-left">Verification</td>
                          </tr>
                          <tr>
                            <td class="text-left"><b>Re-assignment</b></td>
                            <td class="text-left">Hassan Derajat</td>
                            <td class="text-left">Junaedi</td>
                            <td class="text-left">04-Sep-2020 13:04</td>
                            <td class="text-left">ASSIGN OUT</td>
                            <td class="text-left">Pending</td>
                          </tr>
                          <tr>
                            <td class="text-left"><b>Assignment</b></td>
                            <td class="text-left">Mulyanto</td>
                            <td class="text-left">Ferdi Setiawan</td>
                            <td class="text-left">04-Sep-2020 13:02</td>
                            <td class="text-left">Assign Task With Round Robin Module</td>
                            <td class="text-left">Pending</td>
                          </tr>
                          <tr>
                            <td class="text-left"><b>Unassigned</b></td>
                            <td class="text-left">MOS</td>
                            <td class="text-left"> </td>
                            <td class="text-left">04-Sep-2020 13:02</td>
                            <td class="text-left">MOS</td>
                            <td class="text-left">Unassigned</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </ng-template>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>