<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="JobDataForm" (ngSubmit)="JobDataForm.valid && SaveForm()"
          #enjiForm="ngForm">
          <lib-ucSubsection [id]="'jobDataId'" [title]="MrCustModelDescr + ' Job Data'" [panel]="'jobData'">
          </lib-ucSubsection>
          <div id="jobData">
            <div class="form-group row">
              <label class="col-md-2 adins-required-label" translate>Profession Name</label>
              <div class="col-md-4">
                <lib-uclookupgeneric *ngIf="InputLookupProfessionObj.isReady" [enjiForm]="enjiForm"
                  [lookupInput]="InputLookupProfessionObj" [parentForm]="JobDataForm"
                  [identifier]="'lookupProfessionData'" (lookup)="GetProfession($event)" #LookupProfession>
                </lib-uclookupgeneric>
              </div>
              <label class="col-md-2 adins-required-label" *ngIf="CustModelCode != 'NONPROF'" translate>Industry
                Type</label>
              <div class="col-md-4" *ngIf="CustModelCode != 'NONPROF'">
                <lib-uclookupgeneric *ngIf="InputLookupIndustryTypeObj.isReady" [enjiForm]="enjiForm"
                  [lookupInput]="InputLookupIndustryTypeObj" [parentForm]="JobDataForm"
                  [identifier]="'lookupIndustryType'" (lookup)="GetIndustryType($event)">
                </lib-uclookupgeneric>
              </div>
            </div>
            <div *ngIf="CustModelCode == 'EMP' || CustModelCode == 'SME'">
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" translate>Company Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="CoyName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.CoyName.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.CoyName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" [ngClass]="{ 'adins-required-label': CustModelCode == 'EMP' }"
                  translate>Establishment Date</label>
                <div class="col-md-4">
                  <input type="date" class="form-control" formControlName="EmploymentEstablishmentDt"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.EmploymentEstablishmentDt.invalid }"
                    max="{{BusinessDt | date:'yyyy-MM-dd'}}">
                  <lib-uc-show-errors [control]="JobDataForm.controls.EmploymentEstablishmentDt"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" translate>Job Position</label>
                <div class="col-md-4">
                  <select class="form-control" formControlName="MrJobPositionCode">
                    <option *ngFor="let item of JobPositionObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                </div>
                <label class="col-md-2" translate>Company Scale</label>
                <div class="col-md-4">
                  <select class="form-control" formControlName="MrCoyScaleCode">
                    <option *ngFor="let item of CompanyScaleObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="CustModelCode == 'PROF'">
              <div class="form-group row">
                <label class="col-md-2" translate>Professional No</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="ProfessionalNo"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.ProfessionalNo.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.ProfessionalNo" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2 adins-required-label" translate>Establishment Date</label>
                <div class="col-md-4">
                  <input type="date" class="form-control" formControlName="EmploymentEstablishmentDt"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.EmploymentEstablishmentDt.invalid }"
                    max="{{BusinessDt | date:'yyyy-MM-dd'}}">
                  <lib-uc-show-errors [control]="JobDataForm.controls.EmploymentEstablishmentDt"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="CustModelCode != 'NONPROF'">
              <label class="col-md-2" translate>Job Title Name</label>
              <div class="col-md-4">
                <input type="text" class="form-control" formControlName="JobTitleName"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.JobTitleName.invalid }">
                <lib-uc-show-errors [control]="JobDataForm.controls.JobTitleName" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
              <label class="col-md-2" *ngIf="CustModelCode != 'PROF'" translate>Number of Employee</label>
              <div class="col-md-2" *ngIf="CustModelCode != 'PROF'">
                <input type="number" min="0" class="form-control" formControlName="NumOfEmployee"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.NumOfEmployee.invalid }">
                <lib-uc-show-errors [control]="JobDataForm.controls.NumOfEmployee" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
            <div *ngIf="CustModelCode == 'EMP'">
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" translate>Job Status</label>
                <div class="col-md-4">
                  <select class="form-control" formControlName="MrJobStatCode">
                    <option *ngFor="let item of JobStatObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                </div>
                <label class="col-md-2" translate>Internal Employee</label>
                <div class="col-md-4">
                  <input type="checkbox" data-md-icheck formControlName="IsMfEmp">
                </div>
              </div>
            </div>
            <div *ngIf="CustModelCode == 'SME'">
              <div class="form-group row">
                <label class="col-md-2" translate>Investment Type</label>
                <div class="col-md-4">
                  <select class="form-control" formControlName="MrInvestmentTypeCode">
                    <option *ngFor="let item of InvestmentTypeObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="CustModelCode != 'NONPROF'">
              <lib-ucaddress *ngIf="isUcAddrReady" [addressObj]="InputJobAddrObj" [enjiForm]="enjiForm"
                [identifier]="'JobAddr'" [UCAddrForm]="JobDataForm"></lib-ucaddress>
              <div class="form-group row">
                <label class="col-md-2" translate>Notes </label>
                <div class="col-md-4">
                  <textarea type="text" class="form-control adInsInput" formControlName="JobNotes"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.JobNotes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="JobDataForm.controls.JobNotes" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="IsUseDigitalization == '1' && IsIntegratorCheckBySystem == '0' && IsCustomer && mouCustId == 0 && bizTemplateCode != 'FCTR'">
            <lib-ucSubsection [id]="'IntegratorId'" [title]="'Fraud Checking Customer'" [panel]="'Integrator'">
            </lib-ucSubsection>
            <div id="Integrator" class="form-group row">
              <label class="col-md-2" translate>Integrator Checking</label>
              <div class="col-md-10">
                <button type="button" (click)="FlaggingIsNeedIntegrator()" class="btn btn-raised btn-primary">
                  <i class="" style="background-color: #23dc29;"></i> HIT Integrator
                </button>
                <label *ngIf="requestedDate != ''" class="col-md-8" translate> Last Requested at : {{requestedDate | date: 'dd-MMMM-yyyy hh:mm:ss'}}</label>
              </div>
            </div>
          </div>
          <div *ngIf="CustModelCode != 'NONPROF'">
            <lib-ucSubsection [id]="'PrevJobDataId'" [title]="'Previous Job Data'" [panel]="'PrevJobData'">
            </lib-ucSubsection>
            <div id="PrevJobData">
              <div class="form-group row">
                <label class="col-md-2" translate>Previous Company Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="PrevCoyName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.PrevCoyName.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.PrevCoyName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" translate>Previous Employment Date</label>
                <div class="col-md-4">
                  <input type="date" class="form-control" formControlName="PrevEmploymentDt"
                    max="{{BusinessDt | date:'yyyy-MM-dd'}}">
                  <lib-uc-show-errors [control]="JobDataForm.controls.PrevEmploymentDt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <lib-ucaddress *ngIf="isUcAddrReady" [addressObj]="InputPrevJobAddrObj" [enjiForm]="enjiForm"
                [identifier]="'PrevJobAddr'" [UCAddrForm]="JobDataForm"></lib-ucaddress>
              <div class="form-group row">
                <label class="col-md-2" translate>Notes </label>
                <div class="col-md-4">
                  <textarea type="text" class="form-control adInsInput" formControlName="PrevJobNotes"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.PrevJobNotes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="JobDataForm.controls.PrevJobNotes" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <lib-ucSubsection [id]="'OtherJobDataId'" [title]="'Other Business'" [panel]="'OtherJobData'">
            </lib-ucSubsection>
            <div id="OtherJobData">
              <div class="form-group row">
                <label class="col-md-2" translate>Other Business Name</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="OthBizName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.OthBizName.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.OthBizName" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" translate>Other Business Type</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="OthBizType"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.OthBizType.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.OthBizType" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2" translate>Other Business Industry Type</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="OthBizIndustryTypeCode"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.OthBizIndustryTypeCode.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.OthBizIndustryTypeCode"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <label class="col-md-2" translate>Other Job Type</label>
                <div class="col-md-4">
                  <input type="text" class="form-control" formControlName="OthBizJobPosition"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.OthBizJobPosition.invalid }">
                  <lib-uc-show-errors [control]="JobDataForm.controls.OthBizJobPosition" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2" translate>Establishment Date</label>
                <div class="col-md-4">
                  <input type="date" class="form-control" formControlName="OthBizEstablishmentDt"
                    max="{{BusinessDt | date:'yyyy-MM-dd'}}">
                  <lib-uc-show-errors [control]="JobDataForm.controls.OthBizEstablishmentDt"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <lib-ucaddress *ngIf="isUcAddrReady" [addressObj]="InputOthBizAddrObj" [enjiForm]="enjiForm"
              [identifier]="'OthBizAddr'" [UCAddrForm]="JobDataForm"></lib-ucaddress>
            <div class="form-group row">
              <label class="col-md-2" translate>Notes </label>
              <div class="col-md-4">
                <textarea type="text" class="form-control adInsInput" formControlName="OthBizNotes"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && JobDataForm.controls.OthBizNotes.invalid }"></textarea>
                <lib-uc-show-errors [control]="JobDataForm.controls.OthBizNotes" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="submit" (click)=formValidate.scrollIfFormHasErrors(JobDataForm)
              class="btn btn-raised btn-primary" translate>
              <i class="far fa-check-square"></i> Save & Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>