<div class="row text-left">
  <div class="col-md-12">
      <div class="card">
          <div class="card-body">
              <div class="card-header header-title" style="margin-bottom: 10px;">
                  <div class="px-3">
                      <!-- <form class="form form-horizontal"> -->
                      <lib-ucSubsection [title]="'3RD PARTY CHECKING'" [panel]="'thirdPartyPanel'"></lib-ucSubsection>

                      <div id="thirdPartyPanel" class="form-group" *ngIf="ResultThirdPartyObj">
                          <div class="row">
                              <div class="col-md-1">
                                  <label class="label-control" translate>Dukcapil</label>
                              </div>
                              <div class="col-md-1">
                                  <span style="float: right;">
                                      <i *ngIf="ResultThirdPartyObj.DukcapilIndicator"
                                          [ngStyle]="{'color': ResultThirdPartyObj.DukcapilIndicator}"
                                          class="font-medium-3 fa fa-circle tooltips">
                                      </i>
                                  </span>
                              </div>
                              <div class="col-md-4">
                                  <label>{{ResultThirdPartyObj.DukcapilResult}}</label>
                              </div>
                              <div class="col-md-1">
                                  <label class="label-control" translate>Pefindo</label>
                              </div>
                              <div class="col-md-1">
                                  <span style="float: right;">
                                      <i *ngIf="ResultThirdPartyObj.PefindoIndicator"
                                          [ngStyle]="{'color': ResultThirdPartyObj.PefindoIndicator}"
                                          class="font-medium-3 fa fa-circle tooltips">
                                      </i>
                                  </span>
                              </div>
                              <div class="col-md-4">
                                  <label>{{ResultThirdPartyObj.PefindoResult}}</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-1">
                                  <label class="label-control" translate>Rapindo</label>
                              </div>
                              <div class="col-md-1">
                                  <span style="float: right;">
                                      <i *ngIf="ResultThirdPartyObj.RapindoIndicator"
                                          [ngStyle]="{'color': ResultThirdPartyObj.RapindoIndicator}"
                                          class="font-medium-3 fa fa-circle tooltips">
                                      </i>
                                  </span>
                              </div>
                              <div class="col-md-4">
                                  <label>{{ResultThirdPartyObj.RapindoResult}}</label>
                              </div>
                              <div class="col-md-1">
                                  <label class="label-control" translate>SLIK</label>
                              </div>
                              <div class="col-md-1">
                                  <span style="float: right;">
                                      <i *ngIf="ResultThirdPartyObj.SlikIndicator"
                                          [ngStyle]="{'color': ResultThirdPartyObj.SlikIndicator}"
                                          class="font-medium-3 fa fa-circle tooltips">
                                      </i>
                                  </span>
                              </div>
                              <div class="col-md-4">
                                  <label>{{ResultThirdPartyObj.SlikResult}}</label>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-1">
                                  <label class="label-control" translate>Profind</label>
                              </div>
                              <div class="col-md-1">
                                  <span style="float: right;">
                                      <i *ngIf="ResultThirdPartyObj.ProfindIndicator"
                                          [ngStyle]="{'color': ResultThirdPartyObj.ProfindIndicator}"
                                          class="font-medium-3 fa fa-circle tooltips">
                                      </i>
                                  </span>
                              </div>
                              <div class="col-md-4">
                                  <label>{{ResultThirdPartyObj.ProfindResult}}</label>
                              </div>
                          </div>
                      </div>
                      <!-- </form> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
