<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="InsuranceDataForm"
          (ngSubmit)="InsuranceDataForm.valid && SaveForm()" #enjiForm="ngForm">
          <div class="form-body">
            <lib-ucSubsection [id]="'collateralDataId'" [title]="'Insurance Object'" [panel]="'collateralData'">
            </lib-ucSubsection>
            <div id="collateralData">
              <div class="form-group row">
                <label class="col-md-2" translate>Insurance Object Name</label>
                <label class="col-md-4" translate>{{appCollateralObj?.FullAssetName}}</label>
                <label class="col-md-2" translate>Insurance Object Price</label>
                <label class="col-md-4" translate>{{totalAssetPriceAmt | number:'.2':'en-US'}}</label>
              </div>
            </div>
            <lib-ucSubsection [id]="'collateralAccessoriesId'" [title]="'Insurance Object Accessories'"
              [panel]="'collateralAccessories'">
            </lib-ucSubsection>
            <div id="collateralAccessories">
              <div class="form-group row">
                <table class="table table-responsive-md text-center table-hover">
                  <thead>
                    <tr class="table-header">
                      <th style="text-align: center;"><span class="thead-header" translate>No
                        </span>
                      </th>
                      <th style="text-align: center;"><span class="thead-header" translate>Accessory
                        </span>
                      </th>
                      <th style="text-align: center;"><span class="thead-header" translate>Accessory Price
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngIf="appCollateralAccessoryObjs?.length == 0">
                    <tr>
                      <td colspan="100%">No Data Available</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="appCollateralAccessoryObjs?.length > 0">
                    <tr *ngFor="let item of appCollateralAccessoryObjs; let i = index">
                      <td style="text-align: center;">{{i + 1}}</td>
                      <td style="text-align: center;">{{item.CollateralAccessoryName}}</td>
                      <td style="text-align: right;">{{item.AccessoryPriceAmt | number:'.2':'en-US'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <lib-ucSubsection [id]="'insuranceInfoId'" [title]="'Insurance Information'"
              [panel]="'insuranceInformation'">
            </lib-ucSubsection>
            <div id="insuranceInformation">
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" for="insuredBy" translate>Insured By</label>
                <div class="col-md-4">
                  <select class="form-control width-75-per" id="insuredBy" formControlName="InsAssetCoveredBy"
                    (change)="InsuredByChanged($event)"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetCoveredBy.invalid }">
                    <option value="">-Select One-</option>
                    <option *ngFor="let item of insuredByObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetCoveredBy"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div
                *ngIf="InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CU' || InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CUCO'">
                <div *ngIf="InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CUCO'">
                  <div class="form-group row">
                    <label class="col-md-2" style="font-weight:bold" translate>Customer</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="insuredBy" translate>Insco Branch Name</label>
                  <div class="col-md-4">
                    <input type="text" id="policyNo" class="form-control" formControlName="CustInscoBranchName"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CustInscoBranchName.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CustInscoBranchName"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                  <label class="col-md-2" for="policyNo" translate>Policy No</label>
                  <div class="col-md-4">
                    <input type="text" id="policyNo" class="form-control" formControlName="InsPolicyNo"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsPolicyNo.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsPolicyNo"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="custCvgAmt" translate>Coverage Amount</label>
                  <div class="col-md-4">
                    <input type="" currencyMask id="custCvgAmt" class="form-control" formControlName="CustCvgAmt"
                      [options]="{ allowNegative: false }"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CustCvgAmt.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CustCvgAmt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2" for="policyName" translate>Policy Name</label>
                  <div class="col-md-4">
                    <input type="text" id="policyName" class="form-control" formControlName="InsPolicyName"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsPolicyName.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsPolicyName"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="startDt" translate>Start Date</label>
                  <div class="col-md-4">
                    <input type="date" class="form-control" formControlName="CustCoverStartDt" id="startDt"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CustCoverStartDt.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CustCoverStartDt"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                  <label class="col-md-2 adins-required-label" for="endDt" translate>End Date</label>
                  <div class="col-md-4">
                    <input type="date" class="form-control" formControlName="EndDt" id="endDt"
                      (focusout)="EndDt_FocusOut()"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.EndDt.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.EndDt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2" for="notes" translate>Insurance Notes</label>
                  <div class="col-md-4">
                    <textarea rows="5" id="notes" class="form-control" formControlName="CustNotes"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CustNotes.invalid }"></textarea>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CustNotes" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
              </div>
              <div
                *ngIf="InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CO' || InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CUCO'">
                <div *ngIf="InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CUCO'">
                  <div class="form-group row">
                    <label class="col-md-2" style="font-weight:bold" translate>Company</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="paidBy" translate>Paid By</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="paidBy" formControlName="InsAssetPaidBy"
                      (change)="InsAssetPaidByChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetPaidBy.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of paidByObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetPaidBy"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                  <label class="col-md-2 adins-required-label" for="payPeriodToInsco" translate>Payment Type</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="payPeriodToInsco" formControlName="PayPeriodToInsco"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.PayPeriodToInsco.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of payPeriodToInscoObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.PayPeriodToInsco"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="assetRegion" translate>Asset Region</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="assetRegion" formControlName="InsAssetRegion"
                      (change)="AssetRegionChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetRegion.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of insAssetRegionObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetRegion"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                  <label class="col-md-2 adins-required-label" for="insuredBy" translate>Insco Branch Name</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="insuredBy" formControlName="InscoBranchCode"
                      (change)="InscoBranchCodeChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InscoBranchCode.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of inscoBranchObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InscoBranchCode"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2 adins-required-label" for="cvgAmt" translate>Coverage Amount</label>
                  <div class="col-md-4">
                    <input type="" currencyMask id="cvgAmt" class="form-control" formControlName="CvgAmt"
                      [options]="{ allowNegative: false }"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CvgAmt.invalid }"
                      (ngModelChange)="CvgAmtChanged($event)">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CvgAmt" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2 adins-required-label" for="coverPeriod" translate>Cover Period</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="coverPeriod" formControlName="InsAssetCoverPeriod"
                      (change)="CoverPeriodChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetCoverPeriod.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let item of insAssetCoverPeriodObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetCoverPeriod"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-2" for="notes" translate>Insurance Notes</label>
                  <div class="col-md-4">
                    <textarea rows="5" id="notes" class="form-control" formControlName="Notes"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.Notes.invalid }"></textarea>
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.Notes" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                  <label class="col-md-2 adins-required-label" for="insLength" translate>Insurance Length</label>
                  <div class="col-md-4">
                    <input type="number" id="insLength" min="minInsLength" max="maxInsLength"
                      class="form-control adInsInput width-25-per" formControlName="InsLength"
                      (change)="InsLengthChanged($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsLength.invalid}">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsLength" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-raised btn-primary" (click)="GenerateInsurance()">
                    <i class="fa fa-check-square-o"></i> Generate Insurance
                  </button>
                </div>
              </div>
            </div>
            <div
              *ngIf="showGenerate == true && (InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CO' || InsuranceDataForm.controls.InsAssetCoveredBy.value == 'CUCO')">
              <lib-ucSubsection [id]="'insuranceFeeId'" [title]="'Insurance Fee'" [panel]="'insuranceFee'">
              </lib-ucSubsection>
              <div id="insuranceFee">
                <div class="form-group row">
                  <label class="col-md-2" for="adminFee" translate>Admin Fee</label>
                  <div class="col-md-4">
                    <input type="" currencyMask id="adminFee" class="form-control" formControlName="CustAdminFeeAmt"
                      [options]="{ allowNegative: false }"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CustAdminFeeAmt.invalid }"
                      (ngModelChange)="CustAdminFeeAmtChanged($event)">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.CustAdminFeeAmt"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'insuranceCoverageId'" [title]="'Insurance Coverage'"
                [panel]="'insuranceCoverage'">
              </lib-ucSubsection>
              <div id="insuranceCoverage">
                <div [hidden]="InsuranceDataForm.controls.InsLength.value <= 12" class="form-group row">
                  <label class="col-md-2" for="mainCvg" translate>Main Coverage</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="mainCvg" formControlName="InsMainCvgType">
                      <option *ngFor="let item of insMainCvgTypeRuleObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-raised btn-primary" (click)="ApplyToCoverage()">
                      <i class="fa fa-check-square-o"></i> Apply To All
                    </button>
                  </div>
                </div>
                <div [hidden]="InsuranceDataForm.controls.InsLength.value <= 12" class="form-group row">
                  <label class="col-md-2" for="startDt" translate>Additional Coverage</label>
                  <div class="col-md-4">
                    <label formArrayName="InsAddCvgTypes"
                      *ngFor="let item of InsuranceDataForm.controls.InsAddCvgTypes.controls; let i=index"
                      class="custom-control display-inline-block">
                      <div [formGroupName]="i">
                        <label [hidden]="insAddCvgTypeRuleObj[i].Value == 'Loading'">
                          <input type="checkbox" class="checkboxLabel" formControlName="Value"> {{insAddCvgTypeRuleObj[i].Value}}
                        </label>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-raised btn-primary" (click)="CalculateInsurance()">
                    <i class="fa fa-check-square-o"></i> Calculate Insurance
                  </button>
                </div>
                <div formArrayName="AppInsMainCvgs">
                  <table class="table table-responsive-md text-center table-hover">
                    <thead>
                      <tr>
                        <th class="text-center width-5-per"><span translate class="thead-header">Year Num</span></th>
                        <th class="text-center width-5-per"><span translate class="thead-header"># of Month</span></th>
                        <th class="text-center width-5-per"><span translate class="thead-header">Sum Insured (%)</span></th>
                        <th class="text-left"><span translate class="thead-header">Main Coverage Type</span></th>
                        <th class="text-center"><span translate class="thead-header"></span></th>
                        <th class="text-right"><span translate class="thead-header">Rate</span></th>
                        <th class="text-right"><span translate class="thead-header">Main Premi Amount</span></th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let item of InsuranceDataForm.controls.AppInsMainCvgs.controls;let i = index">
                      <tr [formGroupName]="i">
                        <td class="text-center">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.YearNo.value}}
                        </td>
                        <td class="text-center">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.Tenor.value}}
                        </td>
                        <td class="text-center">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.SumInsuredPrcnt.value}}
                        </td>
                        <td class="text-center">
                          <div class="form-group-row">
                            <select class="form-control" formControlName="MrMainCvgTypeCode"
                              (change)="MainCvgTypeDetailChanged($event, i)"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.MrMainCvgTypeCode.invalid }">
                              <option *ngFor="let item of insMainCvgTypeObj" [value]="item.Key">
                                {{item.Value}}
                              </option>
                            </select>
                            <lib-uc-show-errors
                              [control]="InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.MrMainCvgTypeCode"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </div>
                        </td>
                        <td></td>
                        <td class="text-right">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.CustMainPremiRate.value | number:'.6':'en-US'}}
                          %
                        </td>
                        <td class="text-right">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.CustMainPremiAmt.value | number:'.2':'en-US'}}
                        </td>
                      </tr>
                      <tr [formGroupName]="i">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-left">                          
                          <label style="font-weight:bold">Additional Coverage Type</label>
                        </td>
                        <td class="text-left">
                          <label style="font-weight:bold">Sum Insured Amount</label>
                        </td>
                        <td class="text-right">
                          <label style="font-weight:bold">Rate</label>
                        </td>
                        <td class="text-right">
                          <label style="font-weight:bold">Additional Premi Amount</label>
                        </td>
                      </tr>
                      <tr
                        *ngFor="let item of InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls; let j=index"
                        [formGroupName]="i">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-left">
                          <div formArrayName="AppInsAddCvgs">
                            <div [formGroupName]="j">
                              <label for="">
                                <input type="checkbox" class="checkboxLabel" [attr.disabled]="InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.AddCvgTypeName.value == 'Loading' ? true : null" formControlName="Value" (change)="IsAddCvgChanged($event)">{{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.AddCvgTypeName.value}}
                              </label>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <div formArrayName="AppInsAddCvgs" class="form-group-row">
                            <div [formGroupName]="j">
                              <select class="form-control" formControlName="SumInsuredAmt"
                              (change)="SumInsuredAmtAddCvgChanged($event, i, j)"                   
                              [hidden]="InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.MrAddCvgTypeCode.value != 'TPL'
                                          || InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.Value.value == false">
                                <option *ngFor="let item of sumInsuredAmtObj" [value]="item">
                                  {{item | number:'.2':'en-US'}}
                                </option>
                              </select>
                            </div>
                          </div>
                        </td>
                        <td class="text-right">
                          <span
                            *ngIf="InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.PremiumType.value == 'AMT'">
                            {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.CustAddPremiRate.value | number:'.2':'en-US'}}
                          </span>
                          <span
                            *ngIf="InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.PremiumType.value == 'PRCNT'">
                            {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.CustAddPremiRate.value | number:'.6':'en-US'}}
                            %
                          </span>
                        </td>
                        <td class="text-right">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.AppInsAddCvgs.controls[j].controls.CustAddPremiAmt.value | number:'.2':'en-US'}}
                        </td>
                      </tr>
                      <tr [formGroupName]="i">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-right">
                          <label style="font-weight:bold">Total Premi per Year</label>
                        </td>
                        <td class="text-right">
                          {{InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.CustMainPremiAmt.value + InsuranceDataForm.controls.AppInsMainCvgs.controls[i].controls.TotalCustAddPremiAmt.value | number:'.2':'en-US'}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <lib-ucSubsection [id]="'totalPremiId'" [title]="'Total Premi'" [panel]="'totalPremi'">
              </lib-ucSubsection>
              <div id="totalPremi">
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Total Main Premi</label>
                  <label class="col-md-4 text-right" style="font-size: 90%"
                    translate>{{InsuranceDataForm.controls.TotalCustMainPremiAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Total Additional Premi</label>
                  <label class="col-md-4 text-right" style="font-size: 90%"
                    translate>{{InsuranceDataForm.controls.TotalCustAddPremiAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Total Fee</label>
                  <label class="col-md-4 text-right" style="font-size: 90%"
                    translate>{{InsuranceDataForm.controls.CustAdminFeeAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Total Premi to Customer</label>
                  <label class="col-md-4 text-right" style="font-size: 90%"
                    translate>{{InsuranceDataForm.controls.TotalCustMainPremiAmt.value + InsuranceDataForm.controls.TotalCustAddPremiAmt.value + InsuranceDataForm.controls.CustAdminFeeAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" for="discAmt" translate>Discount</label>
                  <div class="col-md-4">
                    <input type="" currencyMask id="discAmt" style="float: right;" class="form-control width-75-per" formControlName="TotalCustDiscAmt"
                      [options]="{ allowNegative: false }"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.TotalCustDiscAmt.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.TotalCustDiscAmt"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Total Premi to Customer after
                    Discount</label>
                  <label class="col-md-4 text-right" style="font-size: 90%"
                    translate>{{InsuranceDataForm.controls.TotalCustMainPremiAmt.value + InsuranceDataForm.controls.TotalCustAddPremiAmt.value + InsuranceDataForm.controls.CustAdminFeeAmt.value - InsuranceDataForm.controls.TotalCustDiscAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" for="insCpltzAmt" translate>Capitalize Amount</label>
                  <div class="col-md-4">
                    <input type="" currencyMask id="insCpltzAmt" style="float: right;" class="form-control width-75-per" formControlName="InsCpltzAmt"
                      [options]="{ allowNegative: false }"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsCpltzAmt.invalid }">
                    <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsCpltzAmt"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button [hidden]="IsMultiAsset == 'true' || showCancel == false" type="button"
              class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
              <i class="ft-x"></i> Cancel
            </button>
            <button style="margin-right: 10px;" [hidden]="IsMultiAsset == 'false'" type="button" (click)="back()"
              class="btn btn-raised btn-warning">
              <i class="ft-x"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>