<lib-ucSubsection [id]="'FinData_FinDataId'" [title]="'Financial Data'" [panel]="'FinData_FinData'">
</lib-ucSubsection>
<div id="FinData_FinData">
  <form [formGroup]="ParentForm" #enjiForm="ngForm">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6 form-inline">
              <label>Total {{PriceLabel}}</label>
            </div>
            <div class="col-md-6 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalAssetPriceAmt.value | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Total Fee</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalFeeAmt.value | number : '1.2-2'}}</label>
            </div>
            <div class="col-md-3 form-inline">
              <label>Total Fee Capitalized</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalFeeCptlzAmt.value | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Total Insurance</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalInsCustAmt.value | number : '1.2-2'}}</label>
            </div>
            <div class="col-md-3 form-inline">
              <label>Total Insurance Capitalized</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.InsCptlzAmt.value | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Total Life Insurance</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalLifeInsCustAmt.value | number : '1.2-2'}}</label>
            </div>
            <div class="col-md-3 form-inline">
              <label>Total Life Insurance Capitalized</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.LifeInsCptlzAmt.value | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>
      </div>
      <br />
      <span *ngIf="result.BizTemplateCode != 'CFRFN4W'">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 form-inline">
                <label>DP Asset</label>
              </div>
              <div class="col-md-3 form-inline form-inline-right">
                <label>{{ParentForm.controls.DownPaymentGrossAmt.value | number : '1.2-2'}}</label>
              </div>
              <div class="col-md-3 form-inline">
                <label>TDP</label>
              </div>
              <div class="col-md-3 form-inline form-inline-right">
                <label>{{ParentForm.controls.TotalDownPaymentNettAmt.value | number : '1.2-2'}}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 form-inline">
                <label>DP Asset - Subsidy DP</label>
              </div>
              <div class="col-md-3 form-inline form-inline-right">
                <label>{{ParentForm.controls.DownPaymentNettAmt.value | number : '1.2-2'}}</label>
              </div>
              <!-- <div class="col-md-3 form-inline">
              <label>TDP Paid at MF</label>
          </div>
            <div class="col-md-3 form-inline form-inline-right">
              <input type="" class="form-control full-width" formControlName="TdpPaidCoyAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.TdpPaidCoyAmt.invalid}"
                (keyup)="SetNeedReCalculate(true)"
                currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.TdpPaidCoyAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
        </div> -->
            </div>
          </div>
        </div>
        <br />
      </span>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>NTF</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.NtfAmt.value | number : '1.2-2'}}</label>
            </div>
            <div class="col-md-3 form-inline">
              <label>Num of Inst</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.NumOfInst.value | number}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Rate Type</label>
            </div>
            <div class="col-md-3 form-inline">
              <select formControlName="RateType" class="form-control full-width" (change)="SetNeedReCalculate(true)">
                <option value="">--Select--</option>
                <option *ngFor="let m of RateTypeOptions" value={{m.Key}}>{{m.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="ParentForm.controls.RateType" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
            <div class="col-md-3 form-inline">
              <label>Rounding</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <input type="" class="form-control full-width" formControlName="RoundingAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.RoundingAmt.invalid}"
                (keyup)="SetNeedReCalculate(true)" currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.RoundingAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Effective/Flat Rate</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <div class="row">
                <div class="col-md-6">
                  <input type="" class="form-control full-width" formControlName="EffectiveRatePrcnt"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.EffectiveRatePrcnt.invalid}"
                    [readonly]="ParentForm.controls.RateType.value != 'EFCTV' || ParentForm.controls.EffectiveRateBhv.value == 'LOCK'"
                    (focusout)="EffectiveRatePrcntInput_FocusOut()"
                    [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 6, nullable: false }"
                    (keyup)="SetNeedReCalculate(true)" currencyMask>
                  <lib-uc-show-errors [control]="ParentForm.controls.EffectiveRatePrcnt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
                <div class="col-md-6">
                  <input type="" class="form-control full-width" formControlName="FlatRatePrcnt"
                    (ngModelChange)="SetNeedReCalculate(true)"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.FlatRatePrcnt.invalid}"
                    [readonly]="ParentForm.controls.RateType.value != 'FLT'"
                    [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 6, nullable: false }"
                    currencyMask>
                  <lib-uc-show-errors [control]="ParentForm.controls.FlatRatePrcnt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
            <div class="col-md-3 form-inline" *ngIf="result.BizTemplateCode != 'CFRFN4W'">
              <label>Supplier Rate</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right" *ngIf="result.BizTemplateCode != 'CFRFN4W'">
              <label>{{ParentForm.controls.SupplEffectiveRatePrcnt.value | number : '1.2-2'}}</label>
            </div>
            <!-- <div class="col-md-3 form-inline">
              <label>Effective Rate To Supplier</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <input type="" class="form-control full-width" formControlName="SupplEffectiveRatePrcnt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.SupplEffectiveRatePrcnt.invalid}"
                (keyup)="SetNeedReCalculate(true)"
                currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.SupplEffectiveRatePrcnt"
                [submit]="enjiForm.submitted"></lib-uc-show-errors>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Diff Rate Amount</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.DiffRateAmt.value | number : '1.2-2'}}</label>
            </div>
            <!-- <div class="col-md-3 form-inline">
              <label>Flat Rate To Supplier</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <input type="" class="form-control full-width" formControlName="SupplFlatRatePrcnt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.SupplFlatRatePrcnt.invalid}"
                (keyup)="SetNeedReCalculate(true)"
                currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.SupplFlatRatePrcnt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div> -->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Installment Amount</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <input type="" class="form-control full-width" formControlName="InstAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.InstAmt.invalid}"
                (keyup)="SetNeedReCalculate(true)" currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.InstAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
            <div class="col-md-3 form-inline" *ngIf="result.BizTemplateCode == 'FL4W'">
              <label>Residual Value Amount</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right" *ngIf="result.BizTemplateCode == 'FL4W'">
              <input type="" class="form-control full-width" formControlName="ResidualValueAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.ResidualValueAmt.invalid}"
                (keyup)="SetNeedReCalculate(true)" currencyMask>
              <lib-uc-show-errors [control]="ParentForm.controls.ResidualValueAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Grace Period</label>
            </div>
            <div class="col-md-1 form-inline form-inline-right">
              <input type="number" class="form-control full-width" formControlName="GracePeriod"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.GracePeriod.invalid}"
                (keyup)="SetNeedReCalculate(true)"
                >
              <lib-uc-show-errors [control]="ParentForm.controls.GracePeriod" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
            <div class="col-md-2 form-inline">
              <select formControlName="MrGracePeriodTypeCode" class="form-control full-width"
                (change)="SetNeedReCalculate(true)">
                <option value="">--Select--</option>
                <option *ngFor="let m of GracePeriodeTypeOptions" value={{m.Key}}>{{m.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="ParentForm.controls.MrGracePeriodTypeCode" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
        </div>
      </div> -->
      <br />
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Total Interest</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalInterestAmt.value | number : '1.2-2'}}</label>
            </div>
            <div class="col-md-3 form-inline">
              <label>Gross Yield</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.GrossYieldPrcnt.value | number : '1.2-2'}}%</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 form-inline">
              <label>Total AR</label>
            </div>
            <div class="col-md-3 form-inline form-inline-right">
              <label>{{ParentForm.controls.TotalAR.value | number : '1.2-2'}}</label>
            </div>
          </div>
        </div>
      </div>
      <br />
    </div>

    <div class="margin-b-5" formArrayName="ListEntryInst">
      <table *ngIf="ParentForm.controls.ListEntryInst['controls'].length > 0"
        class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;"><span class="thead-header" name="No" translate>
                No
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="InstallmentAmt" translate>
                Installment Amount
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngFor="let item of ParentForm.controls.ListEntryInst.controls;let i = index">
          <tr>
            <td [formGroupName]="i" class="text-center">
              {{ParentForm.controls.ListEntryInst.controls[i].controls.InstSeqNo.value}}
            </td>
            <td [formGroupName]="i" class="text-left">
              <div class="form-group-row">
                <div class="col-md-12">
                  <input type="" class="form-control full-width" formControlName="InstAmt"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && ParentForm.controls.ListEntryInst.controls[i].controls.InstAmt.invalid}"
                    (keyup)="SetNeedReCalculate(true)" currencyMask>
                  <lib-uc-show-errors [control]="ParentForm.controls.ListEntryInst.controls[i].controls.InstAmt"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="ParentForm.controls.ListEntryInst['controls'].length > 0" class="form-inline-right">
      <button class="btn btn-raised btn-primary" translate type="button" tabindex="0" (click)="CalculateAmortization()">
        Calculate Amortization
      </button>
    </div>

    <div *ngIf="listInstallment">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;"><span class="thead-header" name="MrSubsidyFromTypeName" translate>
                No
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="MrSubsidyFromValueName" translate>
                Installment Amount
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="MrSubsidyAllocName" translate>
                Principal Amount
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="MrSubsidyValueTypeName" translate>
                Interest Amount
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="SubsidyPrcnt" translate>
                Os Principal Amount
              </span>
            </th>
            <th style="text-align: center;"><span class="thead-header" name="SubsidyAmt" translate>
                Os Interest Amount
              </span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="listInstallment.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody *ngIf="listInstallment.length > 0">
          <tr *ngFor="let item of listInstallment; let i = index">
            <td style="text-align: center;">{{item.InstSeqNo}}</td>
            <td style="text-align: right;">{{item.InstAmt | number : '1.2-2'}}</td>
            <td style="text-align: right;">{{item.PrincipalAmt | number : '1.2-2'}}</td>
            <td style="text-align: right;">{{item.InterestAmt| number : '1.2-2'}}</td>
            <td style="text-align: right;">{{item.OsPrincipalAmt| number : '1.2-2'}}</td>
            <td style="text-align: right;">{{item.OsInterestAmt| number : '1.2-2'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>