<app-view-app-cust-detail *ngIf="isShowDetail && !isPopupDetail"
 [AppCustId]="detailAppCustId" [MrCustTypeCode]="detailMrCustTypeCode" [CustomerTitle]="detailCustomerTitle" [IsPopup]="false"
 (CloseDetail)="closeDetailHandler(event)"
 >
</app-view-app-cust-detail>
<div *ngIf="!isShowDetail">
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true" [viewGenericObj]="viewMainDataObj"></lib-ucviewgeneric>
    <!--Section Addr-->
    <div class="px-3">
        <lib-ucSubsection [id]="'CustAddrId'" [title]="customerTitle+' Address'" [panel]="'CustAddress'">
        </lib-ucSubsection>
        <div id="CustAddress">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-left"><span name='addrType' translate>Address Type</span> </th>
                    <th class="text-left"><span name='fullAddr' translate>Address</span></th>
                    <th class="text-left"><span name='houseOwnership' translate>Building Ownership</span></th>
                    <th class="text-center"><span name='phoneNo1' translate>Phone (Fix Line) 1</span></th>
                    <th class="text-center"><span name='phoneNo2' translate>Phone (Fix Line) 2</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "appCustAddrForViewObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                <ng-container *ngFor="let item of appCustAddrForViewObjs">
                    <tr>
                    <td class="text-left">{{item.CustAddrTypeName ? item.CustAddrTypeName: '-'}}</td>
                    <td class="text-left">{{item.FullAddr ? item.FullAddr : '-'}}</td>
                    <td class="text-left">{{ item.HouseOwnershipName ? item.HouseOwnershipName : '-'}}</td>
                    <td class="text-center">{{item.PhoneNo ? item.PhoneNo : "-"}}</td>
                    <td class="text-center">{{item.PhoneNo2 ? item.PhoneNo2 : "-"}}</td>
                    </tr> 
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!--Section Family-->
    <div class="px-3" *ngIf="!isDetail">
        <lib-ucSubsection [id]="'FamilyId'" [title]="'Family'" [panel]="'Family'">
        </lib-ucSubsection>
        <div id="Family">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-center"><span name='no' translate>No</span> </th>
                    <th class="text-left"><span name='name' translate>Family Name</span></th>
                    <th class="text-left"><span name='relationship' translate>Relationship</span></th>
                    <th class="text-left"><span name='birthPlace' translate>Birh Place</span></th>
                    <th class="text-center"><span name='birthDate' translate>Birh Date</span></th>
                    <th class="text-center"><span translate class="thead-header">View</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "!appCustFamilyObjs || appCustFamilyObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                    <ng-container *ngFor="let item of appCustFamilyObjs; let i=index">
                        <tr>
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-left">{{item.CustName}}</td>
                            <td class="text-left">{{item.MrCustRelationshipDescr}}</td>
                            <td class="text-left">{{item.BirthPlace}}</td>
                            <td class="text-center">{{item.BirthDt | date: 'dd-MMM-yyyy'}}</td>             
                            <td class="text-center">
                                <a (click)="viewDetailFamilyHandler(item.AppCustId, item.MrCustTypeCode)" class="success p-0"><i class="ft-edit-2 font-medium-3 mr-2"></i></a>
                            </td>           
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <!--Section Job Data-->
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'PROF'" [viewGenericObj]="viewJobDataProfObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'EMP'" [viewGenericObj]="viewJobDataEmpObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'SME'" [viewGenericObj]="viewJobDataSmeObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'NONPROF'" [viewGenericObj]="viewJobDataNonProfObj"></lib-ucviewgeneric>
    <!--Section Emergency Contact-->
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true" [viewGenericObj]="viewEmergencyContactObj"></lib-ucviewgeneric>
    <!--Section Fin Data-->
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true" [viewGenericObj]="viewFinDataObj"></lib-ucviewgeneric>
    <!--Section Bank-->
    <div class="px-3">
        <lib-ucSubsection [id]="'BankAccountId'" [title]="'Bank Account'" [panel]="'BankAccount'">
        </lib-ucSubsection>
        <div id="BankAccount">
            <div *ngFor="let item of appCustBankAccObjs; let i=index">
                <lib-ucSubsection [id]="'BankAccInfo' + i + 'id'" [title]="item.BankInfo" [panel]="'BankAccInfo' + i">
                </lib-ucSubsection>
                <div [id]="'BankAccInfo' + i">
                    <div class="form-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="label-control" translate> Bank Branch </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="label-control" translate> {{item.BankBranch}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="table table-responsive-md text-center table-hover">
                        <thead>
                        <tr class="table-header">
                            <th class="text-center"><span name='month' translate>Month</span> </th>
                            <th class="text-center"><span name='year' translate>Year</span></th>
                            <th class="text-right"><span name='debit' translate>Debit</span></th>
                            <th class="text-right"><span name='credit' translate>Credit</span></th>
                            <th class="text-right"><span name='balanceAmt' translate>Balance Amount</span></th>
                        </tr>
                        </thead>
                        <tbody *ngIf = "appCustBankAccObjs[i].AppCustBankStmntObjs?.length == 0">
                            <tr>
                                <td colspan="100%">No Data Available</td>
                            </tr>
                        </tbody>
                        <tbody>
                        <ng-container *ngFor="let item of appCustBankAccObjs[i].AppCustBankStmntObjs">
                            <tr>
                                <td class="text-center">{{item.MonthName}}</td>
                                <td class="text-center">{{item.Year}}</td>
                                <td class="text-right">{{item.DebitAmt | number:'.2':'en-US'}}</td>
                                <td class="text-right">{{item.CreditAmt | number:'.2':'en-US'}}</td>
                                <td class="text-right">{{item.BalanceAmt | number:'.2':'en-US'}}</td>
                            </tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--Section Cust Group-->
    <div class="px-3">
        <lib-ucSubsection [id]="'CustGrpId'" [title]="'Customer Group Member'" [panel]="'CustGrp'">
        </lib-ucSubsection>
        <div id="CustGrp">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-center"><span name='no' translate>No</span> </th>
                    <th class="text-left"><span name='custName' translate>Customer Name</span></th>
                    <th class="text-center"><span name='relationship' translate>Customer Relationship</span></th>
                    <th class="text-left"><span name='notes' translate>Notes</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "appCustGrpObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                <ng-container *ngFor="let item of appCustGrpObjs; let i=index">
                    <tr>
                        <td class="text-center">{{i + 1}}</td>
                        <td class="text-left">{{item.CustName}}</td>
                        <td class="text-center">{{item.RelationshipName}}</td>
                        <td class="text-left">{{item.CustGrpNotes}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>