<app-view-app-cust-data-completion-personal *ngIf="IsNAPVersionCompletion" [appId]="appId"></app-view-app-cust-data-completion-personal>
<div *ngIf="!IsNAPVersionCompletion">
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true" [viewGenericObj]="viewMainDataObj"></lib-ucviewgeneric>
    <div class="px-3">
        <lib-ucSubsection [id]="'CustAddrId'" [title]="'Customer Address'" [panel]="'CustAddress'">
        </lib-ucSubsection>
        <div id="CustAddress">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-left"><span class="thead-header" name='addrType' translate>Address Type</span> </th>
                    <th class="text-left"><span class="thead-header" name='fullAddr' translate>Address</span></th>
                    <th class="text-center"><span class="thead-header" name='phoneNo' translate>Phone No</span></th>
                    <th class="text-center"><span class="thead-header" name='houseOwnership' translate>House Ownership</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "appCustAddrForViewObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                <ng-container *ngFor="let item of appCustAddrForViewObjs">
                    <tr>
                    <td class="text-left" *ngIf="item.CustAddrTypeName != null">{{item.CustAddrTypeName}}</td>
                    <td class="text-left" *ngIf="item.CustAddrTypeName == null"> - </td>
                    <td class="text-left" *ngIf="item.FullAddr != null">{{item.FullAddr}}</td>
                    <td class="text-left" *ngIf="item.FullAddr == null"> - </td>
                    <td class="text-center">{{item.PhoneNo ? item.PhoneNo : "-"}}</td>
                    <td class="text-center" *ngIf="item.HouseOwnershipName != null">{{item.HouseOwnershipName}}</td>
                    <td class="text-center" *ngIf="item.HouseOwnershipName == null"> - </td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'PROF'" [viewGenericObj]="viewJobDataProfObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'EMP'" [viewGenericObj]="viewJobDataEmpObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'SME'" [viewGenericObj]="viewJobDataSmeObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true && custModelCode == 'NONPROF'" [viewGenericObj]="viewJobDataNonProfObj"></lib-ucviewgeneric>
    <lib-ucviewgeneric *ngIf="isDataAlreadyLoaded == true" [viewGenericObj]="viewFinDataObj"></lib-ucviewgeneric>
    <div class="px-3">
        <lib-ucSubsection [id]="'BankAccountId'" [title]="'Bank Account'" [panel]="'BankAccount'">
        </lib-ucSubsection>
        <div id="BankAccount">
            <div class="px-3">
                <div *ngFor="let item of appCustBankAccObjs; let i=index">
                    <lib-ucSubsection [id]="'BankAccInfo' + i + 'id'" [title]="item.BankInfo" [panel]="'BankAccInfo' + i">
                    </lib-ucSubsection>
                    <div [id]="'BankAccInfo' + i">
                        <div class="form-body">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="label-control" translate> Bank Branch </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="label-control" translate> {{item.BankBranch}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table table-responsive-md text-center table-hover">
                            <thead>
                            <tr class="table-header">
                                <th class="text-center"><span class="thead-header" name='month' translate>Month</span> </th>
                                <th class="text-center"><span class="thead-header" name='year' translate>Year</span></th>
                                <th class="text-right"><span class="thead-header" name='debit' translate>Debit</span></th>
                                <th class="text-right"><span class="thead-header" name='credit' translate>Credit</span></th>
                                <th class="text-right"><span class="thead-header" name='balanceAmt' translate>Balance Amount</span></th>
                            </tr>
                            </thead>
                            <tbody *ngIf = "appCustBankAccObjs[i].ListAppCustBankAccStmntObj?.length == 0">
                                <tr>
                                    <td colspan="100%">No Data Available</td>
                                </tr>
                            </tbody>
                            <tbody>
                            <ng-container *ngFor="let item of appCustBankAccObjs[i].ListAppCustBankAccStmntObj">
                                <tr>
                                    <td class="text-center">{{item.MonthName}}</td>
                                    <td class="text-center">{{item.Year}}</td>
                                    <td class="text-right">{{item.DebitAmt | number:'.2':'en-US'}}</td>
                                    <td class="text-right">{{item.CreditAmt | number:'.2':'en-US'}}</td>
                                    <td class="text-right">{{item.BalanceAmt | number:'.2':'en-US'}}</td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="px-3">
        <lib-ucSubsection [id]="'CustGrpId'" [title]="'Customer Group Member'" [panel]="'CustGrp'">
        </lib-ucSubsection>
        <div id="CustGrp">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-center"><span class="thead-header" name='no' translate>No</span> </th>
                    <th class="text-left"><span class="thead-header" name='custName' translate>Customer Name</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "appCustGrpObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                <ng-container *ngFor="let item of appCustGrpObjs; let i=index">
                    <tr>
                        <td class="text-center">{{i + 1}}</td>
                        <td class="text-left">{{item.CustName}}</td>
                    </tr>
                </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="px-3">
        <lib-ucSubsection [id]="'ContactInformationId'" [title]="'Contact Information'" [panel]="'ContactInformation'">
        </lib-ucSubsection>
        <div id="ContactInformation">
            <table class="table table-responsive-md text-center table-hover">
                <thead>
                <tr class="table-header">
                    <th class="text-center"><span class="thead-header" name='no' translate>No</span> </th>
                    <th class="text-left"><span class="thead-header" name='name' translate>Name</span></th>
                    <th class="text-center"><span class="thead-header" name='idNo' translate>ID No</span></th>
                    <th class="text-center"><span class="thead-header" name='relationship' translate>Relationship</span></th>
                    <th class="text-center"><span class="thead-header" name='mobilePhn' translate>Mobile Phone</span></th>
                    <th class="text-left"><span class="thead-header" name='profession' translate>Profession</span></th>
                    <th class="text-left"><span class="thead-header" name='addr' translate>Address</span></th>
                    <th class="text-center"><span class="thead-header" name='emergency' translate>Emergency Contact</span></th>
                    <th class="text-center"><span class="thead-header" name='family' translate>Family</span></th>
                </tr>
                </thead>
                <tbody *ngIf = "appCustPersonalContactPersonObjs?.length == 0">
                    <tr>
                        <td colspan="100%">No Data Available</td>
                    </tr>
                </tbody>
                <tbody>
                    <ng-container *ngFor="let item of appCustPersonalContactPersonObjs; let i=index">
                        <tr>
                            <td class="text-center">{{i + 1}}</td>
                            <td class="text-left">{{item.ContactPersonName}}</td>
                            <td class="text-center">{{item.IdNo}}</td>
                            <td class="text-center" *ngIf="item.RelationshipName!=null">{{item.RelationshipName}}</td>
                            <td class="text-center" *ngIf="item.RelationshipName==null"> - </td>
                            <td class="text-center">{{item.MobilePhnNo1}}</td>
                            <td class="text-left" *ngIf="item.JobProfessionName!=null">{{item.JobProfessionName}}</td>
                            <td class="text-left" *ngIf="item.JobProfessionName==null"> - </td>
                            <td class="text-left">{{item.FullAddr}}</td>
                            <td class="text-center">
                                <span *ngIf="item.IsEmergencyContact == true">Yes</span>
                                <span *ngIf="item.IsEmergencyContact == false">No</span>
                            </td>
                            <td class="text-center">
                                <span *ngIf="item.IsFamily == true">Yes</span>
                                <span *ngIf="item.IsFamily == false">No</span>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>






