<div formGroupName="{{identifier}}">
    <lib-ucSubsection [id]="'LegalDocSectionId'" [title]="'Legal Document'" [panel]="'LegalDocSection'">
    </lib-ucSubsection>
    <div id="LegalDocSection">
      <div *ngIf="!IsDetail">
        <div *ngIf="!isLockMode" class="button-right margin-15">
          <button type="button" class="btn btn-raised btn-primary" (click)="LegalDocHandler('Add')" translate>
            <i class="ft-plus-circle"></i> Add
          </button>
        </div>
        <div *ngIf="listLtkmCustCompanyLegalDoc?.length != 0">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: center;">
                  <span class="thead-header" name="LegalDocType" translate>Legal Document Type</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name="DocumentNo" translate>Document No</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name="IssuedDt" translate>Issued Date</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name="ExpiredDt" translate>Expired Date</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name="NotaryName" translate>Notary Name</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name="Action" translate>Action</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="listLtkmCustCompanyLegalDoc?.length > 0">
              <tr *ngFor="let item of listLtkmCustCompanyLegalDoc; let i = index">
                <td class="text-center">{{item.MrLegalDocTypeCode }}</td>
                <td class="text-center">{{item.DocNo }}</td>
                <td class="text-center">{{item.DocDt | date: 'dd-MMM-yyyy'}}</td>
                <td class="text-center">{{item.DocExpiredDt | date: 'dd-MMM-yyyy'}}</td>
                <td class="text-center">{{item.NotaryName }}</td>
                <td>
                  <a class="success p-0" (click)="LegalDocHandler('Edit', listLtkmCustCompanyLegalDoc[i], i)">
                    <i class="ft-edit-2 font-medium-3 mr-2"></i>
                  </a>
                  <a *ngIf="!isLockMode" class="warning p-0"
                    (click)="LegalDocHandler('Delete', listLtkmCustCompanyLegalDoc[i], i)">
                    <i class="ft-trash-2 font-medium-3 mr-2"></i>
                  </a>
                </td>
              </tr>
              <tr *ngIf="listLtkmCustCompanyLegalDoc.length <= 0">
                <td class="text-center" colspan="2" translate>No Data Available</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <div *ngIf="ListLegalDoc?.length > 0"> -->
        <!-- <lib-ucgridview [gridInput]="InputGridObj" (callback)="GetCallback($event)"></lib-ucgridview> -->
  
        <!-- </div> -->
        <!-- <div class="pull-right margin-15">
      <button type="button" (click)="Continue()" class="btn btn-raised btn-primary">
        <i class="far fa-check-square"></i> Save & Continue
      </button>
    </div> -->
      </div>
      <div *ngIf="IsDetail">
        <lib-ucSubsection [id]="'LegalDocId'" [title]="'Legal Document Detail'" [panel]="'LegalDoc'">
        </lib-ucSubsection>
        <div id="LegalDoc">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4 adins-required-label" translate>Legal Document Type</label>
                <div class="col-md-6">
                  <select [attr.disabled]="isLockMode == true ? true : null" class="form-control"
                    formControlName="MrLegalDocTypeCode" style="width:100%;" (change)="ChangeLegalDocType($event.target)"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['MrLegalDocTypeCode'].invalid }">
                    <option *ngFor="let item of LegalDocTypeObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['MrLegalDocTypeCode']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 adins-required-label" translate>Issued Date</label>
                <div class="col-md-8">
                  <input [attr.disabled]="isLockMode == true ? true : null" type="date" class="form-control"
                    formControlName="DocDt" [min]="BusinessDt | date: 'yyyy-MM-dd'"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['DocDt'].invalid}">
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['DocDt']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4" translate>Notary Name</label>
                <div class="col-md-8">
                  <input type="text" [attr.disabled]="isLockMode == true ? true : null" class="form-control"
                    formControlName="NotaryName"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['NotaryName'].invalid}">
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['NotaryName']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4" translate>Notes</label>
                <div class="col-md-8">
                  <textarea [attr.disabled]="isLockMode == true ? true : null" class="form-control adInsInput"
                    formControlName="DocNotes"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['DocNotes'].invalid }">
              </textarea>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-md-4" translate>Document No</label>
                <div class="col-md-8">
                  <input [attr.disabled]="isLockMode == true ? true : null" type="text" class="form-control"
                    formControlName="DocNo"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['DocNo'].invalid}">
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['DocNo']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4" [ngClass]="{ 'adins-required-label': IsExpDateMandatory }" translate>Expired
                  Date</label>
                <div class="col-md-8">
                  <input [attr.disabled]="isLockMode == true ? true : null" type="date" class="form-control"
                    formControlName="DocExpiredDt" [min]="BusinessDt | date: 'yyyy-MM-dd'"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['DocExpiredDt'].invalid}">
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['DocExpiredDt']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4" translate>Notary Location</label>
                <div class="col-md-8">
                  <input [attr.disabled]="isLockMode == true ? true : null" type="text" class="form-control"
                    formControlName="NotaryLocation"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm['controls'][identifier]['controls']['NotaryLocation'].invalid}">
                  <lib-uc-show-errors [control]="parentForm['controls'][identifier]['controls']['NotaryLocation']"
                    [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions right">
          <button type="button" (click)="LegalDocHandler('Cancel')" class="btn btn-raised btn-warning mr-1">
            <i class="ft-x"></i> Cancel
          </button>
          <button type="submit" *ngIf="!isLockMode" (click)="SaveForm(enjiForm)" class="btn btn-raised btn-primary mr-1">
            <i class="fa fa-check-square"></i> Save
          </button>
        </div>
      </div>
    </div>
  </div>