<div class="container-fluid">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="isReady">
          <div class="px-3">
            <lib-ucSubsection [id]="'AgrmntListId'" [title]="'Customer Agreement List'" [panel]="'AgrmntList'">
            </lib-ucSubsection>
            <div id="AgrmntList" style="overflow-x: auto;">
              <table class="table table-responsive-md text-center table-hover">
                <thead>
                  <tr class="table-header">
                    <th>
                      <span class="thead-header" translate>No</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>Application No</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>Agreement No</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>Agreement Date</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>Currency</span>
                    </th>
                    <th class="text-right">
                      <span class="thead-header" translate>Installment Amount</span>
                    </th>
                    <th>
                      <span class="thead-header" translate>Agreement Step</span>
                    </th>
                  </tr>
                </thead>
    
                <tbody>
                  <tr *ngIf="AgrmntList.length === 0">
                    <td colspan="100%">No Data Available</td>
                  </tr>
                  <tr *ngFor="let item of AgrmntList; let i = index">
                    <td>{{i+1}}</td>
                    <td><a href="javascript:void(0);" (click)="appNoHandler(item)">{{item.AppNo}}</a></td>
                    <td><a href="javascript:void(0);" (click)="agrmntNoHandler(item)">{{item.AgrmntNo}}</a></td>
                    <td >{{item.AgrmntDate | date:'dd-MM-yyyy'}}</td>
                    <td>{{item.CurrName}}</td>
                    <td class="text-right">{{item.InstAmt == null ? '-' : item.InstAmt | number:'1.2-2':'en-US'}}</td>
                    <td>{{item.AgrmntCurrStep}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>