
<div class="card-body">
  <div class="px-3" *ngIf="IsReady">
    <lib-ucSubsection [id]="'OutstandingAmountInfoId'" [title]="'Outstanding Amount'" [panel]="'OutstandingAmountInfo'">
    </lib-ucSubsection>
    <div id="OutstandingAmountInfo">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> OS Principal Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsPrincipalAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> OS Interest Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsInterestAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> OS AR Balance </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.OsArBalance | number:'.2':'en-US'}} </label>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 ">
        </div>
      </div>
    </div>
    
    <lib-ucSubsection [id]="'MaximumAmountInfoId'" [title]="'Maximum Amount'" [panel]="'MaximumAmountInfo'">
    </lib-ucSubsection>
    <div id="MaximumAmountInfo">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Max AR </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxAr | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Max Installment Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxInstallmentAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
        </div>
    
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Max Overdue Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxOverdueAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Max Overdue Days </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.MaxOverdueDays}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'NumberOfInfoId'" [title]="'Number Of'" [panel]="'NumberOfInfo'">
    </lib-ucSubsection>
    <div id="NumberOfInfo">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Active Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.ActiveAgrmnt}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Agreement In Process </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntInProcess}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Asset In Financing </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetInFinancing}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Rejected Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntRejected}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Cancelled Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntCancelled}} </label>
            </div>
          </div>
        </div>
    
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Asset Repossessed </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetRepossessed}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Asset Inventoried </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AssetInventoried}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Written Off Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntWrittenOff}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Non Acrual Agreement </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.AgrmntNonAcrual}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Bounce Cheque </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{ExposureDObj.BounceCheque}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'BucketInfoId'" [title]="'Bucket'" [panel]="'BucketInfo'">
    </lib-ucSubsection>
    <div id="BucketInfo">
      <div class="row">
        <div class="col-md-6">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: left;">
                  <span class="thead-header" name='Bucket' translate>Bucket</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='TotalPastDue' translate>Total Past Due</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="ListCrdRvwCustBucketObj.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let item of ListCrdRvwCustBucketObj; let i = index; let odd = odd;">
                <span *ngIf="odd">
                  <td style="text-align: left;"> {{item.BucketRange}} </td>
                  <td style="text-align: right;"> {{item.Value | number:'.2':'en-US'}} </td>
                </span>
              </tr>
            </tbody>
          </table>
        </div>
    
        <div class="col-md-6" *ngIf="ListCrdRvwCustBucketObj.length > 0">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: left;">
                  <span class="thead-header" name='Bucket' translate>Bucket</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='TotalPastDue' translate>Total Past Due</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="ListCrdRvwCustBucketObj.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let item of ListCrdRvwCustBucketObj; let i = index; let even = even;">
                <span *ngIf="even">
                  <td style="text-align: left;"> {{item.BucketRange}} </td>
                  <td style="text-align: right;"> {{item.Value | number:'.2':'en-US'}} </td>
                </span>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'SummaryInfoId'" [title]="'Summary'" [panel]="'SummaryInfo'">
    </lib-ucSubsection>
    <div id="SummaryInfo">
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Customer Exposure Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{SummaryData.CustomerExposureAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Family Exposure Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{SummaryData.FamilyExposureAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Guarantor Exposure Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{SummaryData.GuarantorExposureAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Shareholder Exposure Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{SummaryData.ShareholderExposureAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label class="label-control"> Obligor Exposure Amount </label>
            </div>
            <div class="col-md-6" style="text-align: right;">
              <label class="label-control"> {{SummaryData.ObligorExposureAmt | number:'.2':'en-US'}} </label>
            </div>
          </div>
        </div>

        <div class="col-md-6 ">
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'CustomerDataInfoId'" [title]="'Customer Data'" [panel]="'CustomerDataInfo'">
    </lib-ucSubsection>
    <div id="CustomerDataInfo">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationNo' translate>Application No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='AgreementNo' translate>Agreement No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OfferingName' translate>Product Offering Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='OutstandingAR' translate>Outstanding AR</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='ApplicationStep' translate>Application Step</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationStatus' translate>Application Status</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ContractStatus' translate>Contract Status</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListCustDataCrdRvwAppAgrHist.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListCustDataCrdRvwAppAgrHist; let i = index">
            <td style="text-align: center;">{{item.AppNo}}</td>
            <td style="text-align: center;">{{item.AgrmntNo}}</td>
            <td style="text-align: center;">{{item.OfferingName}}</td>
            <td style="text-align: right;">{{item.OsPrincipal | number:'.2':'en-US'}}</td>
            <td style="text-align: left;">{{item.AppStep}}</td>
            <td style="text-align: left;">{{item.AppStat}}</td>
            <td style="text-align: left;">{{item.ContractStat}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <lib-ucSubsection [id]="'FamilyDataInfoId'" [title]="'Family Data'" [panel]="'FamilyDataInfo'">
    </lib-ucSubsection>
    <div id="FamilyDataInfo">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationNo' translate>Application No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='AgreementNo' translate>Agreement No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='CustName' translate>Customer Name</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OfferingName' translate>Product Offering Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='OutstandingAR' translate>Outstanding AR</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='ApplicationStep' translate>Application Step</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationStatus' translate>Application Status</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ContractStatus' translate>Contract Status</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListFamilyDataCrdRvwAppAgrHist.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListFamilyDataCrdRvwAppAgrHist; let i = index">
            <td style="text-align: center;">{{item.AppNo}}</td>
            <td style="text-align: center;">{{item.AgrmntNo}}</td>
            <td style="text-align: center;">{{item.CustName}}</td>
            <td style="text-align: center;">{{item.OfferingName}}</td>
            <td style="text-align: right;">{{item.OsPrincipal | number:'.2':'en-US'}}</td>
            <td style="text-align: left;">{{item.AppStep}}</td>
            <td style="text-align: left;">{{item.AppStat}}</td>
            <td style="text-align: left;">{{item.ContractStat}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <lib-ucSubsection [id]="'GuarantorDataInfoId'" [title]="'Guarantor Data'" [panel]="'GuarantorDataInfo'">
    </lib-ucSubsection>
    <div id="GuarantorDataInfo">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationNo' translate>Application No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='AgreementNo' translate>Agreement No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='CustName' translate>Customer Name</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OfferingName' translate>Product Offering Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='OutstandingAR' translate>Outstanding AR</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='ApplicationStep' translate>Application Step</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationStatus' translate>Application Status</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ContractStatus' translate>Contract Status</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListGuarantorDataCrdRvwAppAgrHist.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListGuarantorDataCrdRvwAppAgrHist; let i = index">
            <td style="text-align: center;">{{item.AppNo}}</td>
            <td style="text-align: center;">{{item.AgrmntNo}}</td>
            <td style="text-align: center;">{{item.CustName}}</td>
            <td style="text-align: center;">{{item.OfferingName}}</td>
            <td style="text-align: right;">{{item.OsPrincipal | number:'.2':'en-US'}}</td>
            <td style="text-align: left;">{{item.AppStep}}</td>
            <td style="text-align: left;">{{item.AppStat}}</td>
            <td style="text-align: left;">{{item.ContractStat}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <lib-ucSubsection [id]="'ShareholderDataInfoId'" [title]="'Shareholder Data'" [panel]="'ShareholderDataInfo'">
    </lib-ucSubsection>
    <div id="ShareholderDataInfo">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationNo' translate>Application No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='AgreementNo' translate>Agreement No</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='CustName' translate>Customer Name</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='OfferingName' translate>Product Offering Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='OutstandingAR' translate>Outstanding AR</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='ApplicationStep' translate>Application Step</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ApplicationStatus' translate>Application Status</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='ContractStatus' translate>Contract Status</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListGuarantorDataCrdRvwAppAgrHist.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListGuarantorDataCrdRvwAppAgrHist; let i = index">
            <td style="text-align: center;">{{item.AppNo}}</td>
            <td style="text-align: center;">{{item.AgrmntNo}}</td>
            <td style="text-align: center;">{{item.CustName}}</td>
            <td style="text-align: center;">{{item.OfferingName}}</td>
            <td style="text-align: right;">{{item.OsPrincipal | number:'.2':'en-US'}}</td>
            <td style="text-align: left;">{{item.AppStep}}</td>
            <td style="text-align: left;">{{item.AppStat}}</td>
            <td style="text-align: left;">{{item.ContractStat}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>