<form class="form form-horizontal" [formGroup]="TCDataForm" (ngSubmit)="TCDataForm.valid" #enjiForm="ngForm">
  <lib-ucSubsection [id]="'TCDataId'" [title]="'Term and Condition'" [panel]="'TCData'">
  </lib-ucSubsection>
  <div class="form-body" id="TCData">
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th><span class="thead-header" name='No' translate>NO.</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='DocName' translate>DOCUMENT NAME</span>
          </th>
          <th><span class="thead-header" name='IsChecked' translate>CHECKED</span>
          </th>
          <th><span class="thead-header" name='IsMandatory' translate>MANDATORY</span>
          </th>
          <th><span class="thead-header" name='ExpiredDt' translate>EXPIRED DATE</span>
          </th>
          <th><span class="thead-header" name='PromiseDt' translate>PROMISE DATE</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='Notes' translate>NOTES</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listTCData; let i = index">
          <td>{{i+1}}</td>
          <td align="left">{{item.TcCode}}</td>
          <td *ngIf="item.IsChecked == true">Yes</td>
          <td *ngIf="item.IsChecked == false">No</td>
          <td *ngIf="item.IsMandatory == true">Yes</td>
          <td *ngIf="item.IsMandatory == false">No</td>
          <td>{{item.ExpiredDt | date: 'dd-MM-yyyy'}}</td>
          <td>{{item.PromisedDt | date: 'dd-MM-yyyy'}}</td>
          <td align="left">{{item.Notes}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</form>