<h4>GUARANTOR PERSONAL</h4>
<lib-ucviewgeneric [viewInput]="viewObj" [whereValue]="arrValue"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewInput]="viewObj1" [whereValue]="arrValue"></lib-ucviewgeneric>
<h4>GUARANTOR COMPANY</h4>
<lib-ucviewgeneric [viewInput]="viewObj2" [whereValue]="arrValue"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewInput]="viewObj3" [whereValue]="arrValue"></lib-ucviewgeneric>
<h6>Legal Document</h6>
<lib-ucgridview [gridInput]="inputGridObj"></lib-ucgridview>
<lib-ucviewgeneric [viewInput]="viewObj4" [whereValue]="arrValue"></lib-ucviewgeneric>
