<form class="form form-horizontal" [formGroup]="CustBankAccForm" #enjiForm="ngForm" novalidate
  (ngSubmit)="CustBankAccForm.valid && Save(enjiForm)">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('0')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="">
        <div class="">
          <div class="px-3">
            <div class="form-body">
              <div id="CustBankAccSection">
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required-label" translate>Bank Name</label>
                  <div class="col-md-9" *ngIf="pageType != 'editStmnt'">
                    <lib-uclookupgeneric *ngIf="InputLookupBankObj.isReady" [lookupInput]="InputLookupBankObj"
                      [parentForm]='CustBankAccForm' [enjiForm]='enjiForm' [identifier]="'LookupBank'"
                      (lookup)="getLookupRefBankResponse($event)">
                    </lib-uclookupgeneric>
                  </div>
                  <div class="col-md-9" *ngIf="pageType == 'editStmnt'">
                    {{bankName}}
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required-label" for="BankBranch" translate>Bank Branch</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control adInsInput" formControlName="BankBranch"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.controls.BankBranch.invalid }"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : null" />
                    <lib-uc-show-errors [control]="CustBankAccForm.controls.BankBranch" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required-label" for="BankAccName" translate>Account
                    Name</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control adInsInput" formControlName="BankAccName"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.controls.BankAccName.invalid }"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : null" />
                    <lib-uc-show-errors [control]="CustBankAccForm.controls.BankAccName" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel adins-required-label" for="BankAccNo" translate>Account No</label>
                  <div class="col-md-9">
                    <input type="text" class="form-control adInsInput" formControlName="BankAccNo"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.controls.BankAccNo.invalid }"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : null" />
                    <lib-uc-show-errors [control]="CustBankAccForm.controls.BankAccNo" [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate for="MrPlafonFromBank">Plafon from Bank</label>
                  <div class="col-md-4">
                    <select class="form-control" formControlName="MrPlafonFromBank" style="width: auto"
                      class="form-control" name="MrPlafonFromBank"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.controls.MrPlafonFromBank.invalid }"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : null">
                      <option value="">--Select One--</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                    </select>
                    <lib-uc-show-errors [control]="CustBankAccForm.controls.MrPlafonFromBank"
                      [submit]="enjiForm.submitted">
                    </lib-uc-show-errors>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" for="IsDefault" translate>Is Default</label>
                  <div class="col-md-9">
                    <input type="checkbox" formControlName="IsDefault" (change)="CheckDefault()"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : null" />
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" for="IsActive" translate>Is Active</label>
                  <div class="col-md-9">
                    <input type="checkbox" formControlName="IsActive"
                      [attr.disabled]="pageType == 'editStmnt' ? '' : CustBankAccForm.controls.IsDefault.value? '' : null"/>
                  </div>
                </div>
                <div class="form-group row" *ngIf="isAddBankStatement">
                  <div class="col-md-12" style="text-align: right; margin-top: 10px;">
                    <button type="button" class="btn btn-raised btn-primary mr-1" (click)="calculate()">
                      Calculate
                    </button>
                    <button type="button" class="btn btn-raised btn-primary" (click)="addRowCustBankStmnt()"
                      [disabled]="rowCustBankStmnt >= '12'">
                      Add New Row
                    </button>
                  </div>
                  <div class="col-md-12">
                    <table class="table table-responsive-md text-center table-hover">
                      <thead>
                        <tr class="table-header">
                          <th style="text-align: left;">
                            <span class="thead-header" name='month' translate>MONTH</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='year' translate>YEAR</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='debitTrxCount' translate>DEBIT TRANSACTION COUNT</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='debit' translate>DEBIT (-)</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='creditTrxCount' translate>CREDIT TRANSACTION COUNT</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='credit' translate>CREDIT (+)</span>
                          </th>
                          <th style="text-align: left;">
                            <span class="thead-header" name='endingBalance' translate>ENDING BALANCE</span>
                          </th>
                          <th style="text-align: center;">
                            <span class="thead-header" name='action' translate>DELETE</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="text-align: left;">Beginning Balance</td>
                          <td style="text-align: left;"></td>
                          <td style="text-align: center;"></td>
                          <td style="text-align: left;"></td>
                          <td style="text-align: left;"></td>
                          <td style="text-align: left;">

                            <input type="" currencyMask class="form-control adInsInput" formControlName="BegBalanceAmt"
                              (keyup)="onBegBalanceAmtChange($event)"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.controls.BegBalanceAmt.invalid }" />
                            <lib-uc-show-errors [control]="CustBankAccForm.controls.BegBalanceAmt"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>

                          </td>
                          <td style="text-align: right;">
                            {{begBalance | number:'.2':'en-US'}}
                          </td>
                          <td style="text-align: left;"></td>

                        </tr>
                      </tbody>
                      <tbody formArrayName="CustBankStmnts">
                        <tr *ngFor="let stmntControl of CustBankAccForm.get('CustBankStmnts').controls; index as i"
                          [formGroupName]="i">
                          <td style="text-align: left;">
                            <select (change)="onMonthChange()" class="form-control adInsInput" formControlName="Month"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.Month.invalid }">
                              <option *ngFor="let monthItem of monthOfYear; index as j" [value]="j">{{monthItem}}
                              </option>
                            </select>
                            <lib-uc-show-errors [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.Month"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: left;">
                            <input type="text" class="form-control adInsInput" formControlName="Year"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.Year.invalid }" />
                            <lib-uc-show-errors [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.Year"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: left;">
                            <input type="number" (change)="ChangeTrxCountDebit(i)" (keyup)="ChangeTrxCountDebit(i)"
                              class="form-control adInsInput" formControlName="DebitTrxCount"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.DebitTrxCount.invalid }" />
                            <lib-uc-show-errors
                              [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.DebitTrxCount"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: left;">
                            <input type="" currencyMask class="form-control adInsInput" formControlName="DebitAmt"
                              (keyup)="onDebitAmtChange($event)"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.DebitAmt.invalid }" />
                            <lib-uc-show-errors
                              [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.DebitAmt"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: left;">
                            <input type="number" (change)="ChangeTrxCountCredit(i)" (keyup)="ChangeTrxCountCredit(i)"
                              class="form-control adInsInput" formControlName="CreditTrxCount"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.CreditTrxCount.invalid }" />
                            <lib-uc-show-errors
                              [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.CreditTrxCount"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: left;">
                            <input type="" currencyMask class="form-control adInsInput" formControlName="CreditAmt"
                              (keyup)="onCreditAmtChange($event)"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.CreditAmt.invalid }" />
                            <lib-uc-show-errors
                              [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.CreditAmt"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td style="text-align: right;">
                            {{stmntControl.value.BalanceAmt | number:'.2':'en-US'}}
                            <!-- <input type="" currencyMask class="form-control adInsInput" formControlName="BalanceAmt" 
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && CustBankAccForm.get('CustBankStmnts').at(i).controls.BalanceAmt.invalid }" />
                            <lib-uc-show-errors [control]="CustBankAccForm.get('CustBankStmnts').at(i).controls.BalanceAmt" [submit]="enjiForm.submitted"></lib-uc-show-errors> -->
                          </td>
                          <td style="text-align: center; vertical-align: middle;">
                            <a (click)="removeCustBankStmnt(i)">
                              <i class="fas fa-trash"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-raised" (click)="activeModal.dismiss('0')"><i
        class="far fa-window-close"></i> Cancel</button>
    <button type="submit" class="btn btn-raised btn-primary">
      <i class="far fa-check-square"></i> Save
    </button>
  </div>
</form>