<form class="form form-horizontal" [formGroup]="DOAssetDetail" #enjiForm="ngForm" novalidate
  (ngSubmit)="enjiForm.form.valid && Save()">
  <div class="modal-header">
    <h4 class="modal-title" translate>Asset Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModalAsset.dismiss('0')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <div class="px-3">
        <lib-ucSubsection [id]="'DOAssetInformationId'" [title]="'ASSET INFORMATION'" [panel]="'DOAssetInformationSection'"></lib-ucSubsection>
        <div id="DOAssetInformationSection" class="form-body">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 adInsLabel adins-required-label" for="ManufacturingYear" translate>Manufacturing Year</label>
              <div class="col-md-8">
                <input type="number" class="form-control adInsInput" formControlName="ManufacturingYear"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.controls.ManufacturingYear.invalid }" />
                <lib-uc-show-errors [control]="DOAssetDetail.controls.ManufacturingYear" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
            <div formArrayName="listItem">
              <div *ngFor="let item of listItem.controls; let i = index;">
                <div class="form-group row" [formGroupName]="i">
                  <label class="col-md-4 " [ngClass]="{'adins-required-label': item.controls.IsMandatory.value == true}"
                    translate>
                    {{item.controls.SerialNoLabel.value}} </label>
                  <div class="col-md-8">
                    <input type="text" class="form-control adInsInput" formControlName="SerialNoValue"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.controls.listItem['controls'][i]['controls'].SerialNoValue.invalid}">
                    <lib-uc-show-errors [control]="DOAssetDetail.controls.listItem['controls'][i]['controls'].SerialNoValue"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <lib-ucSubsection [id]="'MainDocLetterId'" [title]="'MAIN DOCUMENT LETTER'" [panel]="'MainDocLetterSection'"></lib-ucSubsection>
        <div id="MainDocLetterSection" class="form-body">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 adInsLabel adins-required-label" for="TempRegisLettNo" translate>Temporary Registration Letter No</label>
              <div class="col-md-8">
                <input type="text" class="form-control adInsInput" formControlName="TempRegisLettNo" 
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.controls.TempRegisLettNo.invalid }" />
                <lib-uc-show-errors [control]="DOAssetDetail.controls.TempRegisLettNo" [submit]="enjiForm.submitted"></lib-uc-show-errors>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-md-4 adInsLabel adins-required-label" for="TempRegisLettDt" translate>Temporary Registration Letter Date</label>
              <div class="col-md-8">
                <input type="date" class="form-control adInsInput" formControlName="TempRegisLettDt" onkeypress="return false;"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.controls.TempRegisLettDt.invalid }" />
                <lib-uc-show-errors [control]="DOAssetDetail.controls.TempRegisLettDt" [submit]="enjiForm.submitted"></lib-uc-show-errors>
              </div>
            </div>
          </div>
        </div>
        <lib-ucSubsection [id]="'DOAssetDocId'" [title]="'ASSET DOCUMENT'" [panel]="'DOAssetDocSection'"></lib-ucSubsection>
        <div id="DOAssetDocSection" class="form-body">
          <table class="table table-responsive-md text-center table-hover">
            <thead>
              <tr class="table-header">
                <th style="text-align: left;">
                  <span class="thead-header" name='docName' translate>DOCUMENT NAME</span>
                </th>
                <th style="text-align: left;">
                  <span class="thead-header" name='valueNeeded' translate>VALUE NEEDED</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='mandatory' translate>MANDATORY</span>
                </th>
                <th style="text-align: center;">
                  <span class="thead-header" name='checked' translate>CHECKED</span>
                </th>
                <th style="text-align: left;">
                  <span class="thead-header" name='docNo' translate>DOCUMENT NO.</span>
                </th>
                <th style="text-align: left;">
                  <span class="thead-header" name='notes' translate>NOTES</span>
                </th>
              </tr>
            </thead>
            <tbody formArrayName="DOAssetDocList">
              <tr *ngFor="let item of DOAssetDetail.get('DOAssetDocList')['controls']; index as i" [formGroupName]="i">
                <td class="text-left">
                  {{DOAssetDetail.get('DOAssetDocList').at(i).controls.DocName.value }}
                </td>
                <td class="text-center">
                  {{DOAssetDetail.get('DOAssetDocList').at(i).controls.IsValueNeeded.value ? "YES" : "NO"}}
                </td>
                <td class="text-center">
                  {{DOAssetDetail.get('DOAssetDocList').at(i).controls.MrCollateralConditionCode.value == 'NEW' ? (DOAssetDetail.get('DOAssetDocList').at(i).controls.IsMandatoryNew.value ? "YES" : "NO") : (DOAssetDetail.get('DOAssetDocList').at(i).controls.IsMandatoryUsed.value ? "YES" : "NO")}}
                </td>
                <td class="text-center">
                  <input type="checkbox" formControlName="IsReceived" />
                </td>
                <td style="text-align: left;">
                  <input type="text" class="form-control adInsInput" formControlName="DocNo"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.get('DOAssetDocList').at(i).controls.DocNo.invalid }" />
                  <lib-uc-show-errors [control]="DOAssetDetail.get('DOAssetDocList').at(i).controls.DocNo" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </td>
                <td style="text-align: left;">
                  <textarea class="form-control adInsInput" formControlName="DocNotes"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && DOAssetDetail.get('DOAssetDocList').at(i).controls.DocNotes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="DOAssetDetail.get('DOAssetDocList').at(i).controls.DocNotes" [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning btn-raised" (click)="activeModalAsset.dismiss('0')" translate>
      <i class="ft-x"></i> Cancel
    </button> 
    <button type="submit" class="btn btn-raised btn-primary" translate>
      <i class="far fa-check-square"></i> Save
    </button>
  </div>
</form>