<div *ngIf="IsHidden">
  <lib-ucSubsection [id]="'SupplierListId'" [title]="'Purchase Order Supplier List'" [panel]="'SupplierList'">
  </lib-ucSubsection>
  <div class="form-body" id="SupplierList" style="overflow-x: auto;">
      <table class="table table-responsive-md text-center table-hover">
          <thead>
              <tr class="table-header">
                  <th class="text-left"><span translate class="thead-header">SUPPLIER CODE</span></th>
                  <th class="text-left"><span translate class="thead-header">SUPPLIER NAME</span></th>
                  <th class="text-center"><span translate class="thead-header">PURCHASE ORDER NO</span></th>
                  <th class="text-center" translate>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of AppAssetList">
                  <td style="text-align: left;">{{item.SupplCode}}</td>
                  <td style="text-align: left;">{{item.SupplName}}</td>
                  <td style="text-align: center;" >{{item.PurchaseOrderNo}}</td>
                  <td style="text-align: center;">
                      <a (click)="viewPurchaseOrderDetailHandler(item)" class="success p-0">
                          <i class="fas fa-pencil-alt"></i>
                      </a>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>
  
  <lib-ucSubsection [id]="'CreditApprovalResultExtensionId'" [title]="'Credit Approval Extension History'" [panel]="'CreditApprovalResultExtension'" *ngIf="CrdApvMainDataObj.CrdApvResultExtId != 0">
    </lib-ucSubsection>
    <div id="CreditApprovalResultExtension">
    <div class="px-4" *ngIf="CrdApvMainDataObj.CrdApvResultExtId != 0">
        <lib-ucSubsection [id]="'crdApvExtInfoId'" [title]="'Credit Approval Extension Information'" [panel]="'crdApvExtInfo'">
        </lib-ucSubsection>
        <div id="crdApvExtInfo">
        <div class="form-group row">
            <label class="col-md-2  adInsLabel" translate>Credit Approval Result Expired Date</label>
            <label class="col-md-4  "
            translate>{{this.CrdApvMainDataObj?.CrdApvResultExpDt | date: 'dd-MM-yyyy'}}</label>
            <label class="col-md-2  adInsLabel" translate>New Credit Approval Result Expired Date</label>
            <label class="col-md-4" translate>
            {{this.CrdApvMainDataObj?.ExtendedCrdApvResultExpDt | date: 'dd-MM-yyyy'}}
            </label>
        </div>
        <div class="form-group row">
            <label class="col-md-2  adInsLabel" translate>Remaining Days</label>
            <label class="col-md-4" translate>
            {{this.CrdApvMainDataObj?.RemainingDays}}
            </label>
            <label class="col-md-2  adInsLabel" translate>Number of Extension</label>
            <label class="col-md-4  " translate>{{this.CrdApvMainDataObj?.NumberOfExtension}}</label>
        </div>
        <div class="form-group row">
        <label class="col-md-2  adInsLabel" translate>Extend By</label>
        <label class="col-md-4  " translate>{{this.CrdApvMainDataObj?.ExtendBy}}</label>
        <label class="col-md-2  adInsLabel" translate>Approval Date</label>
        <label class="col-md-4  " translate>{{this.CrdApvMainDataObj?.ApprovalDate | date: 'dd-MM-yyyy'}}</label>
    </div>
    </div>
    </div>
    <lib-ucapprovalHistory *ngIf="IsCrdApvRsltExtReady && CrdApvMainDataObj.CrdApvResultExtId != 0" [InputObj]="CrdApvRsltExtObj">
    </lib-ucapprovalHistory>
</div>
