<!-- Basic form layout section start -->
<section id="horizontal-form-layouts">
  <div class="row text-left">
    <div class="col-md-12">
      <div class="card">
        <div class="pl-3 mb-2 mt-2" *ngIf="configuration?.title != undefined && configuration?.title != ''">
          <h4 class="card-title ucSearch-title" translate>{{configuration.title}}</h4>
        </div>
        <div class="card-body">
          <div class="px-3">
            <form class="form form-horizontal" id="formSearch" #formIdSearch #enjiForm="ngForm" (ngSubmit)="false">
              <div class="form-body">
                <h4 class="form-section font-weight-bold">
                  <div (click)="changeState()" class="btn no-padding cursor-pointer flip">
                    <i class="fa" style="font-size: 15px; margin: 0px 0px 5px -15px;"
                      [ngClass]="isHidden ? 'fa-chevron-right' : 'fa-chevron-down'"></i>
                  </div>
                  <span
                    *ngIf="configuration?.sectionTitle != undefined && configuration?.sectionTitle != ''; then inputSectionTitle else defaultSectionTitle"></span>
                  <ng-template #inputSectionTitle>
                    {{configuration?.sectionTitle}}
                  </ng-template>
                  <ng-template #defaultSectionTitle>
                    Paging
                  </ng-template>
                </h4>
                <!-- Ini Digunakan untuk Generate Dynamic Component -->
                <!-- [hidden]="isHidden" -->
                <div class="panel-active" [@changeDivSize]=currentState>
                  <div class="row">
                    <div class="col-md-6 form-group" *ngFor="let question of configuration?.component">
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-5 no-padding" for="{{question.id}}"
                            [ngClass]="{'adins-required-label': (question.isRequired || (question?.ddlType != undefined && question.ddlType == 'one'))}"
                            translate>{{question.label}}</label>
                          <div class="col-md-7 no-padding">
                            <div *ngIf="question.type=='textbox'">
                              <input type="text" id="{{question.id}}" class="form-control search-form-control"
                                name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                value="{{question.value}}" (keyup.enter)="searchClick()"
                                attr.data-type="{{question.datatype}}" attr.label="{{question.label}}"
                                attr.data-restriction="{{question.restriction}}">
                            </div>
                            <div *ngIf="question.type=='textarea'">
                              <textarea type="text" id="{{question.id}}" class="form-control search-form-control"
                                name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                attr.data-type="{{question.datatype}}" attr.label="{{question.label}}"
                                value="{{question.value}}"></textarea>
                            </div>
                            <div *ngIf="question.type=='numeric'">
                              <input type="text" id="{{question.id}}" (focus)="transformToDecimal($event)"
                                (blur)="transformAmount($event)" class="form-control search-form-control"
                                name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                value="{{question.value}}" (keyup.enter)="searchClick()"
                                attr.data-restriction="{{question.restriction}}" attr.data-type="{{question.datatype}}">
                            </div>
                            <div *ngIf="question.type=='currency'">
                              <div *ngIf="question?.isCustom != undefined && question?.isCustom">
                                <input type="text" id="{{question.id}}" class="form-control search-form-control"
                                  [name]="question.name" (keyup.enter)="searchClick()"
                                  attr.data-restriction="{{question.restriction}}"
                                  attr.data-type="{{question.datatype}}" attr.data-name="{{question.name}}"
                                  attr.data-required="{{question.isRequired}}" currencyMask ngModel
                                  [(ngModel)]="question.value" [ngModelOptions]="{standalone: true}"
                                  [options]="{ thousands: question.thousands, decimal: question.decimal, align: question.align, allowNegative: question.allowNegative, allowZero: question.allowZero, precision: question.precision, nullable: question.nullable }">
                              </div>
                              <div *ngIf="question?.isCustom == undefined || !question?.isCustom">
                                <input type="text" id="{{question.id}}" class="form-control search-form-control"
                                  [name]="question.name" (keyup.enter)="searchClick()"
                                  attr.data-restriction="{{question.restriction}}"
                                  attr.data-type="{{question.datatype}}" attr.data-name="{{question.name}}"
                                  attr.data-required="{{question.isRequired}}" currencyMask ngModel
                                  [(ngModel)]="question.value" [ngModelOptions]="{standalone: true}"
                                  [options]="{ thousands: ',', decimal: '.', align: 'right', allowNegative: false, allowZero:true, precision: 2, nullable: false }">
                              </div>
                            </div>

                            <!-- End Hardcode Lookup didalem-->
                            <div *ngIf="question.type=='datepicker'">
                              <input type="date" id="{{question.id}}"
                                class="form-control search-form-control btn-lookup" name="{{question.name}}"
                                attr.data-required="{{question.isRequired}}" value="{{question.value}}"
                                attr.data-type="{{question.datatype}}" (keyup.enter)="searchClick()"
                                attr.data-restriction="{{question.restriction}}">
                            </div>
                            <div *ngIf="question.type=='dropdown'">
                              <!-- Ini kalau datanya tidak di load dari URL -->
                              <div *ngIf="!question.isFromURL">
                                <select name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                  class="form-control search-form-control" attr.query-in="{{question.isQueryIn}}"
                                  attr.data-type="{{question.datatype}}" attr.label="{{question.label}}"
                                  [hidden]="question?.items.length == 1">
                                  <option *ngIf="question.ddlType == 'one' && question?.items.length != 1" value="one">
                                    Select One</option>
                                  <option
                                    *ngIf="(question?.ddlType == undefined || question.ddlType == 'all') && question?.items.length != 1"
                                    value="all">All</option>
                                  <option *ngFor="let item of question?.items" value="{{item.key}}">
                                    {{item.value}}
                                  </option>
                                </select>
                                <label *ngIf="question?.items.length == 1">{{question.items[0].value}}</label>
                              </div>
                              <!-- Ini kalau datanya di load dari URL -->
                              <div *ngIf="question.isFromURL">
                                <div *ngIf="question.isEvent">
                                  <select name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                    class="form-control search-form-control" attr.query-in="{{question.isQueryIn}}"
                                    attr.data-type="{{question.datatype}}" attr.label="{{question.label}}"
                                    (change)="onChangeEvent($event.target.value, question)"
                                    [hidden]="question?.items.length == 1">
                                    <option *ngIf="question.ddlType == 'one' && question?.itemsUrl.length != 1"
                                      value="one">Select One</option>
                                    <option
                                      *ngIf="(question?.ddlType == undefined || question.ddlType == 'all') && question?.itemsUrl.length != 1"
                                      value="all">All</option>
                                    <option *ngFor="let item of question?.itemsUrl" value="{{item.Key}}">
                                      {{item.Value}}
                                    </option>
                                  </select>
                                  <label *ngIf="question?.itemsUrl.length == 1">{{question.itemsUrl[0].Value}}</label>
                                </div>
                                <div *ngIf="!question.isEvent">
                                  <select name="{{question.name}}" attr.data-required="{{question.isRequired}}"
                                    class="form-control search-form-control" attr.query-in="{{question.isQueryIn}}"
                                    attr.data-type="{{question.datatype}}" attr.label="{{question.label}}"
                                    [hidden]="question?.itemsUrl.length == 1">
                                    <option *ngIf="question.ddlType == 'one' && question?.itemsUrl.length != 1"
                                      value="one">Select One</option>
                                    <option
                                      *ngIf="(question?.ddlType == undefined || question.ddlType == 'all') && question?.itemsUrl.length != 1"
                                      value="all">All</option>
                                    <option *ngFor="let item of question?.itemsUrl" value="{{item.Key}}">
                                      {{item.Value}}
                                    </option>
                                  </select>
                                  <label *ngIf="question?.itemsUrl.length == 1">{{question.itemsUrl[0].Value}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 form-group" *ngIf="(isReport != undefined && isReport)">
                      <div class="col-md-12">
                        <div class="row">
                          <label class="col-md-5 no-padding" translate>Report Type</label>
                          <div class="col-md-7 no-padding">
                            <select name="ExportType" [(ngModel)]="ExportType" class="form-control search-form-control"
                              attr.data-type="text">
                              <option *ngFor="let item of ExportTypeList" [value]="item.key">{{item.value}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 no-padding">
                    <form>
                      <div class="form-actions right">
                        <button *ngIf="exportData == true" type="button" (click)="exportAsXLSX()"
                          class="btn btn-raised btn-success mr-1" translate>
                          <i class="fa ft-download"></i> Export Excel
                        </button>
                        <button type="button" (click)="reset()" class="btn btn-raised btn-warning mr-1" translate>
                          <i class="fa fa-times"></i> Reset
                        </button>
                        <button *ngIf="(isReport == undefined || !isReport)" type="button" (click)="searchClick()"
                          class="btn btn-raised btn-primary" #UCSearchClick translate>
                          <i class="fa fa-search"></i> Search
                        </button>
                        <button *ngIf="(isReport != undefined && isReport)" type="button" (click)="GenerateReport()"
                          class="btn btn-raised btn-primary" translate>
                          <i class="fa ft-download"></i> Generate Report
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
<!-- // Basic form layout section end -->