<app-prod-ho-view [inputProdHId]="ProdHId"></app-prod-ho-view>
<div class="card">
  <div class="card-body">
    <div class="px-3">
      <form class="form form-horizontal" [formGroup]="FormObj" (ngSubmit)="FormObj.valid && SaveForm()" #enjiForm="ngForm">
        <div class="form-body">
          <lib-ucapprovalcreate [parentForm]="FormObj" [enjiForm]="enjiForm" [InputObj]="InputObj" *ngIf="IsReady" #ApprovalComponent></lib-ucapprovalcreate>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]">
              <i class="ft-x"></i>&nbsp;<span translate>Cancel</span>
            </button>
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>