<form class="form form-horizontal" [formGroup]="AddCollDataForm" (ngSubmit)="AddCollDataForm.valid" #enjiForm="ngForm">
  <lib-ucSubsection [id]="'AddCollDataId'" [title]="'Collateral'" [panel]="'AddCollData'">
  </lib-ucSubsection>
  <div *ngIf="type == 'Paging'" class="form-actions right">
    <button type="button" (click)="open('AddExisting')" class="btn btn-raised btn-warning mr-1" translate>
      <i class="fa fa-plus"></i> Add Existing
    </button>
    <button type="button" (click)="open('AddEdit')" class="btn btn-raised btn-warning mr-1" translate>
      <i class="fa fa-plus"></i> Add New
    </button>
  </div>

  <div *ngIf="type == 'Paging'" class="form-body" id="AddCollData">
    <table class="table table-responsive text-center table-hover">
      <thead>
        <tr class="table-header">
          <th><span class="thead-header" name='CollNo' translate>COLLATERAL NO.</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='CollName' translate>COLLATERAL NAME</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='CollType' translate>COLLATERAL TYPE</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='MouCustName' translate>DOCUMENT OWNER NAME</span>
          </th>
          <th><span style="float: right;" class="thead-header" name='CollPrice' translate>COLLATERAL PRICE</span>
          </th>
          <th><span style="float: right;" class="thead-header" name='CollPrcnt' translate>COLLATERAL PERCENTAGE</span>
          </th>
          <th><span style="float: right;" class="thead-header" name='CollPortionAmt' translate>COLLATERAL PORTION AMOUNT</span>
          </th>
          <th><span class="thead-header" name='CollSource' translate>COLLATERAL SOURCE</span>
          </th>
          <th>ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listCollateralData; let i = index">
          <td>{{item.CollateralNo}}</td>
          <td align="left">{{item.FullAssetName}}</td>
          <td align="left">{{item.FullAssetCode}}</td>
          <td align="left">{{item.CustName}}</td>
          <td align="right">{{item.CollateralValueAmt | number:'.2':'en-US'}}</td>
          <td align="right">{{item.CollateralPrcnt | number:'.6':'en-US'}}</td>
          <td align="right">{{item.CollateralPortionAmt == null ? 0 : item.CollateralPortionAmt | number:'.2':'en-US'}}</td>
          <td>{{item.CollateralStat}}</td>
          <td>
            <a *ngIf="item.CollateralStat == 'NEW'" class="success p-0" (click)="editData(item.MouCustCollateralId, true )">
              <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
            <a *ngIf="item.CollateralStat == 'EXISTING'" class="success p-0" (click)="editData(item.MouCustCollateralId, false )">
              <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
            
            <a class="danger p-0" (click)="delete(item.MouCustCollateralId)">
              <i class="ft-trash-2 font-medium-3 mr-2"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isUseDigitalization == '1' && isNeedCheckBySystem == '0' && type == 'Paging'">
    <lib-ucSubsection [id]="'FraudCheckingId'" [title]="'Fraud Checking'" [panel]="'fraudChecking'">
    </lib-ucSubsection>
    <div [id]="fraudChecking">
      <div class="form-group row">
        <label class="col-md-2" translate>RAPINDO</label>
        <div class="col-md-8">
          <button type="button" name="hitAPI" id="add" (click)="HitAPI()" class="btn btn-raised btn-primary" translate>
            HIT RAPINDO
          </button>
          <label *ngIf="thirdPartyRsltHId != '' && thirdPartyRsltHId != null" class="col-md-4" translate>Requested At {{this.latestReqDtCheckIntegrator | date: 'dd-MMMM-yyyy hh:mm:ss'}}</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="type == 'Paging'" class="col-md-12" style="padding: 0; text-align: right;">
    <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="btn btn-raised btn-primary" (click)="next()" translate>
      <i class="far fa-check-square"></i> Save
    </button>
  </div>
</form>

<div *ngIf="type == 'AddEdit'" class="px-3">
  <form class="form form-horizontal" #enjiForm="ngForm" [formGroup]="AddCollForm"
    (ngSubmit)="AddCollForm.valid && SaveForm()">
    <lib-ucSubsection [id]="'AddCollInfoId'" [title]="'Collateral Info'" [panel]="'AddCollInfo'">
    </lib-ucSubsection>
    <div id="AddCollInfo">
      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Type</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="AssetTypeCode" (change)="onItemChange($event.target.value, true)"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.AssetTypeCode.invalid }">
                <option *ngFor="let item of CollTypeList" [value]="item.Key">{{item.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="AddCollForm.controls.AssetTypeCode" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Condition</label>
              <label class="col-md-8">Used</label> 
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Manufacturing Year</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="ManufacturingYear">
              <lib-uc-show-errors [control]="AddCollForm.controls.ManufacturingYear" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Price</label>
            <div class="col-md-8">
              <input type="text" currencyMask class="form-control adInsInput text-right"
                formControlName="CollateralValueAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralValueAmt.invalid }">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralValueAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adInsLabel adins-required-label" translate>Collateral Portion Type </label>
            <div class="col-md-8">
              <select class="form-control adInsInput" style="width: auto" (change)="CollateralPortionTypeChange()"
                formControlName="CollateralPortionType"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPortionType.invalid }">
                <option *ngFor="let it of CollateralPortionTypeObj " [value]="it.Key">
                  {{it.Value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4  adins-required-label" translate>Collateral Portion(%/Amt)</label>
            <div class="col-md-4" style="border-right: 1px solid grey">
              <input type="" currencyMask id="CollateralPrcnt" class="form-control"
                formControlName="CollateralPrcnt" (focusout)="UpdateValueCollateralPortionAmt()"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPrcnt.invalid}">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralPrcnt"
                [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
            <div class="col-md-4">
              <input type="" currencyMask id="CollateralPortionAmt" class="form-control" formControlName="CollateralPortionAmt"
                (focusout)="UpdateValueCollateralPrcnt()"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPortionAmt.invalid}">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralPortionAmt"
                [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-label" translate>Notes</label>
            <div class="col-md-8">
              <textarea type="textarea" row="5" class="form-control" formControlName="Notes"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.Notes.invalid}"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" for="FullAssetName" translate>Collateral Name </label>
            <div class="col-md-8">
              <lib-uclookupgeneric *ngIf="inputLookupObj?.isReady" [lookupInput]="inputLookupObj"
                [parentForm]='AddCollForm' [enjiForm]='enjiForm' [identifier]="'FullAssetName'" #LookupCollateral
                (lookup)="getLookupCollateralTypeResponse($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
          <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index;">
              <div class="form-group row" [formGroupName]="i">
                <label class="col-md-4 "
                  [ngClass]="{'adins-required-label': isUsed && item.controls.IsMandatory.value == true}" translate>
                  {{item.controls.SerialNoLabel.value}} </label>
                <div class="col-md-8  ">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNoValue"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.items['controls'][i]['controls'].SerialNoValue.invalid}">
                  <lib-uc-show-errors [control]="AddCollForm.controls.items['controls'][i]['controls'].SerialNoValue"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'AddCollDocumentId'" [title]="'Collateral Document'" [panel]="'AddCollDocument'">
    </lib-ucSubsection>
    <div id="AddCollDocument">
      <div class="form-body" formArrayName="ListDoc">
        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">
              <th><span translate class="thead-header">Document</span></th>
              <th><span translate class="thead-header">Recieved</span></th>
              <th><span translate class="thead-header">Document No</span></th>
              <th><span translate class="thead-header">Expired Date</span></th>
              <th><span translate class="thead-header">Document Notes</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of AddCollForm.controls.ListDoc.controls; let i = index" [formGroupName]="i">
              <td>{{item.controls.AssetDocName.value}}</td>
              <td>
                <input type="checkbox" class="border-primary" formControlName="IsReceived">
              </td>
              <td>
                <input type="text" class="form-control width-100-per" formControlName="DocNo">
                <lib-uc-show-errors [control]="AddCollForm.controls.DocNo" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
              <td>
                <input type="date" class="form-control width-100-per" formControlName="ACDExpiredDt">
                <lib-uc-show-errors [control]="AddCollForm.controls.ACDExpiredDt" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
              <td>
                <input type="text" class="form-control width-100-per" formControlName="DocNotes">
                <lib-uc-show-errors [control]="AddCollForm.controls.DocNotes" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <lib-ucSubsection [id]="'AddCollOwnerId'" [title]="'Collateral Owner'" [panel]="'AddCollOwner'">
    </lib-ucSubsection>
    <div id="AddCollOwner">
      <div class="form-group row">
        <label class="col-md-2 adins-required-label" translate>Owner Name</label>
        <div class="col-md-3">
          <input type="text" class="form-control" formControlName="OwnerName"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerName.invalid }">
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerName" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <label class="col-md-1"></label>
        <label class="col-md-2 adins-required-label" translate>ID Type</label>
        <div class="col-md-2">
          <select class="form-control" formControlName="MrIdType"
            (change)="ChangeIdType($event.target.value)"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.MrIdType.invalid }">
            <option *ngFor="let item of IdTypeList" [value]="item.Key">{{item.Value}}</option>
          </select>
          <lib-uc-show-errors [control]="AddCollForm.controls.MrIdType" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 adins-required-label" translate>Owner Relationship</label>
        <div class="col-md-3">
          <select class="form-control" formControlName="OwnerRelationship"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerRelationship.invalid }">
            <option *ngFor="let item of OwnerRelationshipObj" [value]="item.Key">{{item.Value}}</option>
          </select>
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerRelationship" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <label class="col-md-1"></label>
        <label class="col-md-2 adins-required-label" translate>Owner ID No.</label>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="OwnerIdNo"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerIdNo.invalid }">
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerIdNo" [customPattern]="customPattern" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLegalAddr" [enjiForm]="enjiForm"
        [identifier]="'legalAddr'" [UCAddrForm]="AddCollForm"></lib-ucaddress>
    </div>

    <lib-ucSubsection [id]="'AddCollLocationId'" [title]="'Collateral Location'" [panel]="'AddCollLocation'">
    </lib-ucSubsection>
    <div id="AddCollLocation">
      <div class="form-group row">
        <label class="col-md-2" translate>Copy Address From</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" formControlName="CopyFromLegal">
              <option *ngFor="let item of copyToLocationObj" [value]="item.Key">
                {{item.Value}}
              </option>
            </select>
            <div class="input-group-append">
              <span class="input-group-btn">
                <button class="btn btn-raised btn-primary" type="button" (click)="copyToLocation()" translate>
                  <i class="fa fa-check-square-o"></i>Copy
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLocAddr" [enjiForm]="enjiForm"
        [identifier]="'locationAddr'" [UCAddrForm]="AddCollForm"></lib-ucaddress>
    </div>

    <div class="form-actions right">
      <button type="button" (click)="Cancel()" class="btn btn-raised btn-warning mr-1" translate>
        <i class="ft-x"></i> Cancel
      </button>
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="far fa-check-square"></i> Save
      </button>
    </div>
  </form>
</div>

<div *ngIf="type == 'AddExisting'" class="px-3">
  <form class="form form-horizontal" #enjiForm="ngForm" [formGroup]="AddCollForm"
    (ngSubmit)="AddCollForm.valid && SaveExistingCollateral()">
    <lib-ucSubsection [id]="'AddCollInfoId'" [title]="'Collateral Info'" [panel]="'AddCollInfo'">
    </lib-ucSubsection>
    <div id="AddCollInfo">
      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Type</label>
            <div class="col-md-8">
              <select class="form-control" formControlName="AssetTypeCode" (change)="onItemChange($event.target.value, true)"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.AssetTypeCode.invalid }">
                <option *ngFor="let item of CollTypeList" [value]="item.Key">{{item.Value}}</option>
              </select>
              <lib-uc-show-errors [control]="AddCollForm.controls.AssetTypeCode" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Condition</label> 
              <label class="col-md-8">Used</label>  
          </div>
          <div class="form-group row">
            <label class="col-md-4" translate>Manufacturing Year</label>
            <div class="col-md-8">
              <input type="text" class="form-control" formControlName="ManufacturingYear">
              <lib-uc-show-errors [control]="AddCollForm.controls.ManufacturingYear" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" translate>Collateral Price</label>
            <div class="col-md-8">
              <input type="text" currencyMask class="form-control adInsInput text-right"
                formControlName="CollateralValueAmt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralValueAmt.invalid }">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralValueAmt" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adInsLabel adins-required-label" translate>Collateral Portion Type </label>
            <div class="col-md-8">
              <select class="form-control adInsInput" style="width: auto" (change)="CollateralPortionTypeChange()"
                formControlName="CollateralPortionType"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPortionType.invalid }">
                <option *ngFor="let it of CollateralPortionTypeObj " [value]="it.Key">
                  {{it.Value}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4  adins-required-label" translate>Collateral Portion(%/Amt)</label>
            <div class="col-md-4" style="border-right: 1px solid grey">
              <input type="" currencyMask id="CollateralPrcnt" class="form-control"
                formControlName="CollateralPrcnt" (focusout)="UpdateValueCollateralPortionAmt()"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPrcnt.invalid}">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralPrcnt"
                [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
            <div class="col-md-4">
              <input type="" currencyMask id="CollateralPortionAmt" class="form-control" formControlName="CollateralPortionAmt"
                (focusout)="UpdateValueCollateralPrcnt()"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.CollateralPortionAmt.invalid}">
              <lib-uc-show-errors [control]="AddCollForm.controls.CollateralPortionAmt"
                [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-4 adins-label" translate>Notes</label>
            <div class="col-md-8">
              <textarea type="textarea" row="5" class="form-control" formControlName="Notes"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.Notes.invalid}"></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 adins-required-label" for="FullAssetName" translate>Collateral Name </label>
            <div class="col-md-8">
              <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]='AddCollForm' [enjiForm]='enjiForm'
                [identifier]="'FullAssetName'" #LookupCollateral (lookup)="getLookupCollateralTypeResponse($event)">
              </lib-uclookupgeneric>
            </div>
          </div>
          <div formArrayName="items">
            <div *ngFor="let item of items.controls; let i = index;">
              <div class="form-group row" [formGroupName]="i">
                <label class="col-md-4 "
                  [ngClass]="{'adins-required-label': isUsed && item.controls.IsMandatory.value == true}" translate>
                  {{item.controls.SerialNoLabel.value}} </label>
                <div class="col-md-8  ">
                  <input type="text" class="form-control adInsInput" formControlName="SerialNoValue"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.items['controls'][i]['controls'].SerialNoValue.invalid}">
                  <lib-uc-show-errors [control]="AddCollForm.controls.items['controls'][i]['controls'].SerialNoValue"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <lib-ucSubsection [id]="'AddCollDocumentId'" [title]="'Collateral Document'" [panel]="'AddCollDocument'">
    </lib-ucSubsection>
    <div id="AddCollDocument">
      <div class="form-body" formArrayName="ListDoc">
        <table class="table table-responsive-md text-center table-hover">
          <thead>
            <tr class="table-header">
              <th><span translate class="thead-header">Document</span></th>
              <th><span translate class="thead-header">Recieved</span></th>
              <th><span translate class="thead-header">Document No</span></th>
              <th><span translate class="thead-header">Expired Date</span></th>
              <th><span translate class="thead-header">Document Notes</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of AddCollForm.controls.ListDoc.controls; let i = index" [formGroupName]="i">
              <td>{{item.controls.AssetDocName.value}}</td>
              <td>
                <input type="checkbox" class="border-primary" formControlName="IsReceived">
              </td>
              <td>
                <input type="text" class="form-control width-100-per" formControlName="DocNo">
                <lib-uc-show-errors [control]="AddCollForm.controls.DocNo" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
              <td>
                <input type="date" class="form-control width-100-per" formControlName="ACDExpiredDt">
                <lib-uc-show-errors [control]="AddCollForm.controls.ACDExpiredDt" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
              <td>
                <input type="text" class="form-control width-100-per" formControlName="DocNotes">
                <lib-uc-show-errors [control]="AddCollForm.controls.DocNotes" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <lib-ucSubsection [id]="'AddCollOwnerId'" [title]="'Collateral Owner'" [panel]="'AddCollOwner'">
    </lib-ucSubsection>
    <div id="AddCollOwner">
      <div class="form-group row">
        <label class="col-md-2 adins-required-label" translate>Owner Name</label>
        <div class="col-md-3">
          <input type="text" class="form-control" formControlName="OwnerName"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerName.invalid }">
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerName" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <label class="col-md-1"></label>
        <label class="col-md-2 adins-required-label" translate>ID Type</label>
        <div class="col-md-2">
          <select class="form-control" formControlName="MrIdType"
            (change)="ChangeIdType($event.target.value)"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.MrIdType.invalid }">
            <option *ngFor="let item of IdTypeList" [value]="item.Key">{{item.Value}}</option>
          </select>
          <lib-uc-show-errors [control]="AddCollForm.controls.MrIdType" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-2 adins-required-label" translate>Owner Relationship</label>
        <div class="col-md-3">
          <select class="form-control" formControlName="OwnerRelationship"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerRelationship.invalid }">
            <option *ngFor="let item of OwnerRelationshipObj" [value]="item.Key">{{item.Value}}</option>
          </select>
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerRelationship" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
        <label class="col-md-1"></label>
        <label class="col-md-2 adins-required-label" translate>Owner ID No.</label>
        <div class="col-md-2">
          <input type="text" class="form-control" formControlName="OwnerIdNo"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && AddCollForm.controls.OwnerIdNo.invalid }">
          <lib-uc-show-errors [control]="AddCollForm.controls.OwnerIdNo" [customPattern]="customPattern"[submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </div>
      </div>
      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLegalAddr" [enjiForm]="enjiForm"
        [identifier]="'legalAddr'" [UCAddrForm]="AddCollForm"></lib-ucaddress>
    </div>

    <lib-ucSubsection [id]="'AddCollLocationId'" [title]="'Collateral Location'" [panel]="'AddCollLocation'">
    </lib-ucSubsection>
    <div id="AddCollLocation">
      <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForLocAddr" [enjiForm]="enjiForm"
        [identifier]="'locationAddr'" [UCAddrForm]="AddCollForm"></lib-ucaddress>
    </div>

    <div class="form-actions right">
      <button type="button" (click)="Cancel()" class="btn btn-raised btn-warning mr-1" translate>
        <i class="ft-x"></i> Cancel
      </button>
      <button type="submit" class="btn btn-raised btn-primary" translate>
        <i class="far fa-check-square"></i> Save
      </button> 
    </div>
  </form>
</div>