  <div class="ucSearch-Button-Right">
    <span class="mr-1">
      <button type="button" class="addButton" (click)="addAsset()" translate>
        <i class="ft-plus-circle"></i> Add Asset
      </button>
    </span>
  </div>
  <lib-ucSubsection [id]="'assetListId'" [title]="'Asset List'" [panel]="'assetList'">
  </lib-ucSubsection>
   <div id="assetList">
    <lib-ucgridview [gridInput]="gridAssetDataObj" (callback)="event($event)"></lib-ucgridview>
  </div>
  <br>
  <br>
  <br>
  <div class="ucSearch-Button-Right">
    <span class="mr-1">
      <button type="button" class="addButton" (click)="addColl()" translate>
        <i class="ft-plus-circle"></i> Add Additional Collateral
      </button>
    </span>
  </div>
  <lib-ucSubsection [id]="'collateralId'" [title]="'Additional Collateral'" [panel]="'collateral'">
  </lib-ucSubsection>
  <div id="collateral">
    <lib-ucgridview [gridInput]="gridAppCollateralObj" (callback)="eventColl($event)"></lib-ucgridview>
  </div>
  <br>
  <br>
  <br>
  <div class="form-actions right" style="text-align: right;">
    <button *ngIf="showCancel" type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="btn btn-raised btn-primary" (click)="next()" translate>
      <i class="far fa-check-square"></i> Save  
    </button>
  </div>