<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="backButton mr-1" (click)="deleteListAsset()" *ngIf="listAssetIdtoDelete.length > 0">
      <i class="ft-x"></i>&nbsp;<span translate>Delete Selected</span>
    </button>
    <button type="button" class="addButton" (click)="addAsset()">
      <i class="ft-plus-circle"></i>&nbsp;<span translate>Add Asset</span>
    </button>
  </span>
</div>
<lib-ucSubsection [id]="'assetListId'" [title]="'Asset List'" [panel]="'assetList'">
</lib-ucSubsection>
<div id="assetList">
  <lib-ucgridview [gridInput]="gridAssetDataObj" (callback)="event($event)" (callbackCheckBox)="getIds($event)"></lib-ucgridview>
</div>
<div *ngIf="listDataAsset.length > 0" class="form-group row">
  <label class="col-md-2 adInsLabel px-3" style="padding: 0.75em" translate>Copy Asset</label>
  <div class="col-md-7">
    <select class="form-control" style="width: inherit" [(ngModel)]="selectedAsset" name="selectAsset">
      <option *ngFor="let item of listDataAsset" [value]="item.Code">
        {{item.Descr}}
      </option>
    </select>
  </div>
  <div class="col-md-1">
    <input class="form-control" type="number" [(ngModel)]="units" name="unit">
  </div>
  <label class="col-md-1 adInsLabel" style="padding: 0.75em" translate>Unit</label>
  <button type="button" class="btn btn-raised btn-primary" (click)="CopyAsset()" translate>
    Copy
  </button>
</div>

<br>
<br>
<br>
<div class="ucSearch-Button-Right">
  <span class="mr-1">
    <button type="button" class="addButton" (click)="addColl()">
      <i class="ft-plus-circle"></i>&nbsp;<span translate>Add Collateral</span>
    </button>
  </span>
</div>
<lib-ucSubsection [id]="'collateralId'" [title]="'Additional Collateral'" [panel]="'collateral'">
</lib-ucSubsection>
<div id="collateral">
  <lib-ucgridview [gridInput]="gridAppCollateralObj" (callback)="eventColl($event)"></lib-ucgridview>
</div>
<br>
<br>
<br>
<div class="form-actions right" style="text-align: right;">
  <button *ngIf="showCancel" type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()">
    <i class="ft-x"></i>&nbsp;<span translate>Cancel</span>
  </button>
  <button type="submit" class="btn btn-raised btn-primary" (click)="next()">
    <i class="far fa-check-square"></i>&nbsp;<span translate>Save</span>
  </button>
</div>