<div class="row">
    <div class="col-md-12 col-xl-12 col-lg-12" style="margin-top : 10px !important">
        <div class="" style="height:300px;">
            <div class="card-body">
                <br>
                <div class="text-center" style="margin-top: 50px;">
                    <i class="ft-x-circle" style="font-size:150px;color:red;"></i>
                </div>
                <br>
                <div>
                    <h2 class="text-center">You are not authorized to access this page</h2>
                </div>
            </div>
        </div>
    </div>
</div>