<div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <div class="addEdit">
            <form class="form form-horizontal" [formGroup]="CustomerForm" (ngSubmit)="CustomerForm.valid && SaveForm()"
              #enjiForm="ngForm" *ngIf="IsReady">
              <lib-ucSubsection [id]="'MainInfoPubId'" [title]="'Shareholder Main Info'" [panel]="'MainInfoPub'">
              </lib-ucSubsection>
              <div class="form-body" id="MainInfoPub">
                <div class="form-group row">
                  <div class="col-md-6">
  
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label" translate>Public Type </label>
                      <div class="col-md-8" *ngIf="DictUcDDLObj[RefMasterTypeCodePublicType]?.isReady">
                        <lib-ucdropdownlist [dropdownListObj]="DictUcDDLObj[RefMasterTypeCodePublicType]"
                          [parentForm]="CustomerForm" [enjiForm]="enjiForm" [identifier]="'MrPublicTypeCode'"
                          (callback)="onOptionsSelected($event)"></lib-ucdropdownlist>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label" translate>Identity No </label>
                      <div class="col-md-8">
                        <input type="text" class="form-control adInsInput" formControlName="PublicIdentityNo"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerForm.controls.PublicIdentityNo.invalid}">
                        <lib-uc-show-errors [customPattern]="customPattern" [control]="CustomerForm.controls.PublicIdentityNo"
                          [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" translate>Is Active</label>
                      <div class="col-md-8">
                        <input class="border-primary" type="checkbox" data-md-icheck formControlName="IsActive" />
                      </div>
                    </div>
  
                  </div>
  
                  <div class="col-md-6">
  
                    <div class="form-group row">
                      <label class="col-md-4 adins-required-label" translate>Name</label>
                      <div class="col-md-8">
                        <input type="text" class="form-control adInsInput" formControlName="PublicName"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerForm.controls.PublicName.invalid}">
                        <lib-uc-show-errors [control]="CustomerForm.controls.PublicName" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" translate> Position SLIK </label>
                      <div class="col-md-8">
                        <lib-uclookupgeneric [lookupInput]="positionSlikLookUpObj" [parentForm]="CustomerForm"
                          [enjiForm]="enjiForm" [identifier]="'PositionSlikCode'" (lookup)=getLookUpSlik($event)>
                        </lib-uclookupgeneric>
                      </div>
                    </div>
  
                    <div class="form-group row">
                      <label class="col-md-4 adInsLabel" translate> Share(%) </label>
                      <div class="col-md-8">
                        <input type="" currencyMask min="0" max="100" class="form-control" formControlName="SharePrcnt"
                          [ngClass]="{ 'is-invalid': enjiForm.submitted && CustomerForm.controls.SharePrcnt.invalid}"
                          [options]="{  suffix: '%',thousands: ',', decimal: '.', align: 'right', allowNegative: true, allowZero:true, precision: 6, nullable: false}">
                        <lib-uc-show-errors [control]="CustomerForm.controls.SharePrcnt" [submit]="enjiForm.submitted">
                        </lib-uc-show-errors>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'LegalAddr'" [title]="'Legal Address'" [panel]="'LegalAddrSection'">
              </lib-ucSubsection>
              <div class="form-body" id="LegalAddrSection">
                <div class="form-group row" *ngIf="!isExisting">
                  <label class="col-md-2" translate>Copy Address From Legal Customer</label>
                  <div class="col-md-4">
                    <div class="input-group">
                      <div class="input-group-append">
                        <span class="input-group-btn">
                          <button [disabled]="isExisting ? 'true' : null" type="button" class="btn btn-raised btn-primary"
                            (click)="CopyAddress()" translate>
                            <i class="fa fa-files-o"></i> Copy
                          </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <lib-ucaddress [addressObj]="inputAddressObj" [UCAddrForm]="CustomerForm" [enjiForm]="enjiForm"
                  [identifier]="'UcAddress'">
                </lib-ucaddress>
              </div>
  
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
                  <i class="far fa-window-close"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary" translate>
                  <i class="far fa-check-square"></i> Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>