<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate> Application View
              </h4>
            </div>
          </div>
        </div>
        <div class="px-3">

          <mat-tab-group>
            <mat-tab label="Summary">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Customer">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Referantor">
              <ng-template matTabContent>
                <app-tab-referantor [appId]="AppId"></app-tab-referantor>
              </ng-template>
            </mat-tab>
            <mat-tab label="Commission">
              <ng-template matTabContent>
                <app-tab-commission [appId]="AppId"></app-tab-commission>
              </ng-template>
            </mat-tab>
            <mat-tab label="Application Data">
              <ng-template matTabContent>
                <app-tab-application [appId]="AppId"></app-tab-application>
              </ng-template>
            </mat-tab>
            <mat-tab label="Analysis Result">
              <ng-template matTabContent>
                <app-tab-analysis-result [appId]="AppId"></app-tab-analysis-result>
              </ng-template>
            </mat-tab>
            <mat-tab label="Invoice Data">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Collateral Data">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Insurance Data">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Financial Data">
              <ng-template matTabContent>

              </ng-template>
            </mat-tab>
            <mat-tab label="Phone Verif">
              <ng-template matTabContent>
                <view-phone-verif [appId]="AppId"></view-phone-verif>
              </ng-template>
            </mat-tab>
            <mat-tab label="Asset">
              <ng-template matTabContent>
                <view-asset-data [appId]="AppId"></view-asset-data>
              </ng-template>
            </mat-tab>
            <mat-tab label="Reserved Fund">
              <ng-template matTabContent>
                <view-reserved-fund [appId]="AppId"></view-reserved-fund>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
