<div class="col-md-12 text-left">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <app-crd-rvw-cust-info [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-cust-info>
        <app-crd-rvw-fam-guar [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-fam-guar>
        <app-crd-rvw-third-party-checking [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-third-party-checking>
        <app-crd-rvw-app-info [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-app-info>
        <app-crd-rvw-asset [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-asset>
        <app-crd-rvw-additional-coll [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-additional-coll>
        <app-crd-rvw-cmo-info [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-cmo-info>
        <app-crd-rvw-dealer-info [CrdRvwCustInfoId]="CrdRvwCustInfoId"> </app-crd-rvw-dealer-info>
        <lib-ucSubsection [id]="'viewAutoDeviationId'" [title]="'Automatic Deviation'" [panel]="'viewAutoDeviation'">
        </lib-ucSubsection>
        <div class="form-body" id="viewAutoDeviation" *ngIf="AutoDeviationData.length > 0">
          <table class="table table-responsive-md text-center table-hover" matSort (matSortChange)="sortAutoDeviationData($event)">
            <thead>
              <tr class="table-header">
                <th><span translate class="thead-header">No. </span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="DeviationType">Deviation Type</span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="OriValue">Original Value</span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="CurrValue">Current Value</span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="AppvAt">Approval At</span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="Notes">Notes</span>
                </th>
              </tr>
            </thead>
            <tbody *ngIf = "AutoDeviationData?.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody>
              <tr *ngFor="let item of AutoDeviationData; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.DeviationType }}</td>
                <td>{{ item.OriValue }}</td>
                <td>{{ item.CurrValue }}</td>
                <td>{{ item.AppvAt }}</td>
                <td *ngIf="item.Notes != null">{{ item.Notes }}</td>
                <td *ngIf="item.Notes == null"> - </td>
              </tr>
            </tbody>
          </table>
        </div>
        <lib-ucSubsection [id]="'viewManualDeviationId'" [title]="'Manual Deviation'" [panel]="'viewManualDeviation'">
        </lib-ucSubsection>
        <div class="form-body" id="viewManualDeviation">
          <div *ngIf="IsEditManualDeviation">
            <form class="form form-horizontal" [formGroup]="FormObjManualDeviationData">
              <div class="form-body">
                <div class="form-actions right">
                  <button type="button" (click)="AddNewForm()" class="btn btn-raised btn-primary" translate>
                    <i class="fa fa-check-square-o"></i> Add
                  </button>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-2">
                    <label class="adInsLabel">Deviation Criteria</label>
                  </div>
                  <div class="col-md-10">
                    <select class="form-control adInsInput" style="width: auto" formControlName="DeviationCrit" (change)="onChange($event)">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of DDLDeviationCriteriaData" value="{{it}}">
                        {{it}} </option>
                    </select>
                    <lib-uc-show-errors [control]="DeviationCrit"></lib-uc-show-errors>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-2">
                    <label class="adInsLabel">Approve At</label>
                  </div>
                  <div class="form-group col-md-10">
                    <label class="adInsLabel">{{ FormObjManualDeviationData.value.ApvAt }}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="form-group col-md-2">
                    <label class="adInsLabel">Notes</label>
                  </div>
                  <div class="form-group col-md-10">
                    <textarea type="textarea" row="5" class="form-control" formControlName="Notes"
                      [ngClass]="{ 'is-invalid': FormObjManualDeviationData.controls.Notes.invalid}"></textarea>
                    <lib-uc-show-errors [control]="Notes"></lib-uc-show-errors>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <table class="table table-responsive-md text-center table-hover" matSort (matSortChange)="sortManualDeviationData($event)">
            <thead>
              <tr class="table-header">
                <th><span translate class="thead-header" mat-sort-header="SeqNo"> No. </span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="DeviationCategory">Deviation Criteria</span>
                </th>
                <th><span translate class="thead-header" mat-sort-header="ApvAt">Approval At</span>
                </th>
                  <th>
                    <span translate class="thead-header" mat-sort-header="Notes">Notes</span>
                  </th>               
                <th *ngIf="IsEditManualDeviation" translate>ACTION</th>
              </tr>
            </thead>
            <tbody *ngIf="ManualDeviationData?.length == 0">
              <tr>
                <td colspan="100%">No Data Available</td>
              </tr>
            </tbody>
            <tbody *ngIf="ManualDeviationData?.length > 0">
              <tr *ngFor="let item of ManualDeviationData; let i = index">
                <td>{{ i + 1 }}</td>
                <td style="text-align: left;">{{ item.DeviationCategory }}</td>
                <td>{{ item.ApvAt }}</td>
                <td>{{ item.Notes }}</td>
                <td *ngIf ="IsEditManualDeviation">
                  <div>
                    <a class="danger p-0" (click)="DeleteFromManualDeviationData(i)">
                      <i class="ft-trash-2 font-medium-3 mr-2"></i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
