<div class="col-lg-12" style="overflow-x:auto;">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th>
          <span class="thead-header" translate>Contract Code</span>
        </th>
        <th>
          <span class="thead-header" translate>Contract Type</span>
        </th>
        <th>
          <span class="thead-header" translate>Contract Status</span>
        </th>
        <th>
          <span class="thead-header" translate>Start Date</span>
        </th>
        <th>
          <span class="thead-header" translate>Maturity Date</span>
        </th>
        <th>
          <span class="thead-header" translate>Real End Date</span>
        </th>
        <th>
          <span class="thead-header" translate>Last Update</span>
        </th>
        <th>
          <span class="thead-header" translate>Total Facility Amount</span>
        </th>
        <th>
          <span class="thead-header" translate>Outstanding Amount</span>
        </th>
        <th>
          <span class="thead-header" translate>Past Due Amount (Current)</span>
        </th>
        <th>
          <span class="thead-header" translate>Past Due Days (Current)</span>
        </th>
        <th>
          <span class="thead-header" translate>Worst Past Due Days</span>
        </th>
        <th>
          <span class="thead-header" translate>Worst Past Due Amount</span>
        </th>
        <th>
          <span class="thead-header" translate>Creditor</span>
        </th>
        <th>
          <span class="thead-header" translate>Purpose of Financing</span>
        </th>
        <th>
          <span class="thead-header" translate>Negative / Collectability</span>
        </th>
        <th>
          <span class="thead-header" translate>Collateral Amount</span>
        </th>
        <th>
          <span class="thead-header" translate>Credit Classification</span>
        </th>
        <th>
          <span class="thead-header" translate>Installment Estimation</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf = "Contracts?.length == 0">
        <td colspan="100%">No Data Available</td>
      </tr>
      <tr *ngFor="let item of Contracts.ContractList">
        <td>{{item.ContractCode}}</td>
        <td>{{item.ContractType}}</td>
        <td>{{item.ContractStatus}}</td>
        <td>{{item.StartDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{item.MaturityDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{item.RealEndDate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{item.LastUpdate | date: 'dd-MMM-yyyy'}}</td>
        <td>{{item.TotalFacilityAmount.Value | number:'.2':'en-US'}}</td>
        <td>{{item.OutstandingAmount.Value | number:'.2':'en-US'}}</td>
        <td>{{item.PastDueAmount.Value | number:'.2':'en-US'}}</td>
        <td>{{item.PastDueDays}}</td>
        <td>{{item.WorstPastDueDays}}</td>
        <td>{{item.WorstPastDueAmount.Value | number:'.2':'en-US'}}</td>
        <td>{{item.Creditor}}</td>
        <td>{{item.PurposeOfFinancing}}</td>
        <td>{{item.NegativeStatusOfContract}}</td>
        <td>{{item.CollateralAmount}}</td>
        <td>{{item.CreditClassification}}</td>        
        <td>{{item.InstallmentEstimation | number:'.2':'en-US'}}</td>
      </tr>
    </tbody>
  </table>
</div>

