<lib-ucviewgeneric [viewGenericObj]="viewLeadCustomerPersonalMaindata" *ngIf="MrCustTypeCode == 'PERSONAL'">
</lib-ucviewgeneric>
<div class="card-body">
  <div class="px-3">
    <lib-ucSubsection [id]="'LeadCustSocmedId'" [title]="'Social Media'" [panel]="'LeadCustSocmed'">
    </lib-ucSubsection>
    <div class="form-body" id="LeadCustSocmed">
      <div class="form-group row">
        <div class="col-md-12" *ngFor="let item of listLeadCustSocmed">
          <div class="row">
            <div class="col-md-3">
              <label class="label-control" translate=""> {{item.MrSocmedName}} </label>
            </div>
            <div class="col-md-3">
              <label class="label-control" translate=""> {{item.SocmedId}} </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<lib-ucviewgeneric [viewGenericObj]="viewLeadAddressLegal"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewLeadAddressResidence"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewLeadCustPersonalJobData"></lib-ucviewgeneric>
<lib-ucviewgeneric [viewGenericObj]="viewLeadCustPersonalFinData"></lib-ucviewgeneric>