<div class="card">
  <div class="card-body">
    <div class="px-3">
      <div class="customerData">
        <form class="form form-horizontal" [formGroup]="LeadDataForm" (ngSubmit)="LeadDataForm.valid"
          #enjiForm="ngForm">
          <div class="form-body">
            <div class="form-actions right" style="text-align: right;">
              <button hidden type="submit" class="btn btn-raised btn-primary mr-1" (click)="save()" translate>
                <i class="fa fa-check-square-o"></i> Save
              </button>
              <button type="submit" class="btn btn-raised btn-primary" (click)="SaveForm()"  translate>
                <i class="fa fa-check-square-o"></i> Submit
              </button>
              <!-- <button type="button" class="btn btn-raised btn-primary mr-1" (click)="this.LeadDataForm.valid && test()"
                translate>
                <i class="fa fa-check-square-o"></i> test
              </button> -->
            </div>
            <!-- <div id="leadData"> -->
              <div *ngIf="lobKta.includes(returnLobCode) == false" id="leadData">
                <lib-ucSubsection [id]="'assetDataId'" [title]="'Asset Data'" [panel]="'assetData'">
                </lib-ucSubsection>
                <div id="assetData">
                  <div class="form-group row">
                    <label class="col-md-3 adins-required-label" translate>Full Asset Name</label>
                    <div class="col-md-4">
                      <label>{{LeadDataForm.controls.FullAssetName.value}}</label> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 adInsLabel" translate>Asset Condition</label>
                    <div class="col-md-4">
                      <label>{{this.tempMrAssetConditionCode}}</label> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 adInsLabel" translate>Manufacturing Year</label>
                    <div class="col-md-4">
                      <label>{{LeadDataForm.controls.ManufacturingYear.value}}</label> 
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-3 adins-required-label" translate>Asset Price</label>
                    <div class="col-md-4">
                      <label>{{LeadDataForm.controls.AssetPrice.value | number:'.2':'en-US'}}</label> 
                    </div>
                  </div>
                </div>   
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>Down Payment Type</label>
                  <div class="col-md-4">
                    <label>{{this.tempMrDownPaymentTypeCode}}</label> 
                  </div> 
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adins-required-label" translate>Down Payment Amount</label>
                  <div class="col-md-4">
                   <label>{{LeadDataForm.controls.DownPaymentAmount.value | number:'.2':'en-US'}}</label>
                  </div>
                </div> 
                  <div class="form-group row">
                    <label class="col-md-3 adins-required-label" translate>Down Payment Percentage</label>
                    <div class="col-md-4"> 
                      <label>{{LeadDataForm.controls.DownPaymentPercent.value}}</label>
                    </div>
                  </div>
 
                <div formArrayName="items">
                  <div *ngFor="let item of items.controls; let i = index;">
                    <div class="form-group row" [formGroupName]="i">
                      <label class="col-md-3 "[ngClass]="{'adins-required-label': isUsed && item.controls.IsMandatory.value == true}"  translate> {{item.controls.SerialNoLabel.value}} </label> 
                      <div class="col-md-4">
                         
                          <label>{{items['controls'][i]['controls'].SerialNoValue.value}}</label>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
              <lib-ucSubsection [id]="'financialDataId'" [title]="'Financial Data'" [panel]="'financialData'">
              </lib-ucSubsection>
              <div *ngIf="lobKta.includes(returnLobCode) == false" id="financialData">
                <div class="form-group row">
                  <label class="col-md-3 adins-required-label" translate>Tenor</label>
                  <div class="col-md-4">
                    <label>{{LeadDataForm.controls.Tenor.value}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>First Installment Type</label>
                  <div class="col-md-4">
                        <label>{{this.tempMrFirstInstTypeCode}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>NTF Amount</label>
                  <div class="col-md-5">
                    <label class="  adInsLabel">{{LeadDataForm.controls.NTFAmt.value | number:'.2':'en-US'}}</label>
                    
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adins-required-label" translate>Installment Amount</label>
                  <div class="col-md-5">
                    <label class="  adInsLabel">{{LeadDataForm.controls.InstallmentAmt.value | number:'.2':'en-US'}}</label> 
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>Total Down Payment Amount</label>
                  <div class="col-md-5">
                    <label class="  adInsLabel">{{LeadDataForm.controls.TotalDownPayment.value | number:'.2':'en-US'}}</label> 
                  </div>
                </div> 
              </div>
              <div *ngIf="lobKta.includes(returnLobCode) == true" id="financialData">
                <div class="form-group row">
                  <label class="col-md-3 adins-required-label" translate>Tenor</label>
                  <div class="col-md-4">
                    <label>{{LeadDataForm.controls.Tenor.value}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>First Installment Type</label>
                  <div class="col-md-4">
                    <label>{{this.tempMrFirstInstTypeCode}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adInsLabel" translate>NTF Amount</label>
                  <div class="col-md-4">
                    <label>{{LeadDataForm.controls.NTFAmt.value}}</label>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 adins-required-label"  translate>Installment Amount</label>
                  <div class="col-md-4">
                    <label>{{LeadDataForm.controls.InstallmentAmt.value}}</label>
                  </div>
                </div> 
              </div>
            <!-- </div> -->
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>