<app-mou-main-info [MouCustId]="MouCustId"></app-mou-main-info>
<lib-ucSubsection *ngIf="responseObj.length > 0" [id]="'Hierarchy'" [title]="'List Document'" [panel]="'ListDocId'">
</lib-ucSubsection>
<div id="ListDocId">
  <table class="table table-responsive-md text-center table-hover" *ngIf="responseObj.length > 0">
    <thead>
      <tr class="table-header">
        <th class="text-left"><span class="thead-header" name='docName' translate>DOCUMENT NAME</span>
        </th>
        <th class="text-center"><span class="thead-header" name='lastPrintedDt' translate>LAST PRINTED DATE</span>
        </th>
        <th class="text-left"><span class="thead-header" name='lastPrintedBy' translate>LAST PRINTED BY</span>
        </th>
        <th class="text-right"><span class="thead-header" name='numOfPrinted' translate>NUMBER OF PRINTED</span>
        </th>
        <th><span class="thead-header text-center" name='print' translate>PRINT</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of responseObj">
        <td class="text-left">{{item.DocumentName}}</td>
        <td class="text-center">{{item.LastPrintedDate | date: 'dd-MM-yyyy'}}</td>
        <td class="text-left">{{item.LastPrintedByName}}</td>
        <td class="text-right">{{item.NumOfPrinted}}</td>
        <td class="text-center">
          <a class="success p-0" (click)="print(item.MouCustDocPrintId)">
            <i class="ft-printer font-medium-3 mr-2"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="float-right">
  <button type="button" class="btn btn-raised btn-warning mr-1" [routerLink]="[CancelLink]" translate>
    <i class="ft-x"></i> Cancel
  </button>
</div>