<lib-ucviewgeneric [viewInput]="viewObj"></lib-ucviewgeneric>


<table class="table table-responsive-md text-center table-hover">
  <thead>
    <tr class="table-header">
      <th class="text-left"><span class="thead-header" name='fullAssetCode' translate>DOCUMENT NAME</span>
      </th>
      <th class="text-left"><span class="thead-header" name='fullAssetName' translate>LAST PRINTED DATE</span>
      </th>
      <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>LAST PRINTED BY</span>
      </th>
      <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>NUMBER OF PRINTED</span>
      </th>
      <th class="text-left"><span class="thead-header" name='assetCategoryName' translate>PRINT</span>
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>