<p>
  app-fin-data works!
</p>

<form class="form-horizontal" [formGroup]="FinDataForm" (ngSubmit)="FinDataForm.valid && Submit()" #enjiForm="ngForm">
  <app-app-subsidy [AppId]="'57'" [ParentForm]="FinDataForm"></app-app-subsidy>
  <app-app-fee [AppId]="'57'" [ParentForm]="FinDataForm" [identifier]="AppFee" ></app-app-fee>
  <br/>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 form-inline">
            <label>Total Fee</label>
          </div>
          <div class="col-md-3 form-inline">
            <label>{{FinDataForm.controls.TotalFeeAmt.value | number}}</label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
        <div class="col-md-3 form-inline">
          <label>Total Fee Capitalized</label>
        </div>
        <div class="col-md-3 form-inline">
          <label>{{FinDataForm.controls.TotalFeeCapitalizeAmt.value | number}}</label>
        </div>
      </div>
      </div>
    </div>
  </div>



  <!-- <span>XXX</span>
  <div class="col-md-12" formArrayName="AppFee"
    *ngFor="let node of FinDataForm['controls']['AppFee']['controls']; let i = index">
    <div class="form-group row" [formGroupName]="i">
      <label class="col-md-2">{{FinDataForm.controls.TotalFeeAmt.value}}</label>
    </div>
  </div> -->
</form>


<button class="btn btn-raised btn-primary" translate type="button" tabindex="0" (click)="test()">
  Test
</button>