<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="InsuranceDataForm"
          (ngSubmit)="InsuranceDataForm.valid" #enjiForm="ngForm">
          <div [hidden]="PageState != 'Paging'" id="assetData">
            <lib-ucSubsection [id]="'assetDataId'" [title]="'Loan Object'" [panel]="'assetData'">
            </lib-ucSubsection>
            <lib-ucgridview [gridInput]="gridAssetDataObj" (callback)="event2($event)"></lib-ucgridview>
          </div>

          <div [hidden]="PageState != 'Paging'" id="collateral">
            <lib-ucSubsection [id]="'collateralId'" [title]="'Collateral'" [panel]="'collateral'">
            </lib-ucSubsection>
            <lib-ucgridview [gridInput]="gridAppCollateralObj" (callback)="event($event)"></lib-ucgridview>
          </div>

          <div [hidden]="PageState != 'EditAsset'">
            <app-asset-data-add-edit [AppAssetId]="appAssetIdForAssetModal" [AppId]="appIdForAssetModal"
              (assetValue)="getValue($event)"> </app-asset-data-add-edit>
          </div>

          <div [hidden]="PageState != 'EditInsurance'">
            <app-insurance-data (outputTab)="getValue($event)"></app-insurance-data>
          </div>
          <br>
        </form>
        <form [hidden]="PageState != 'Paging'" class="form form-horizontal" [formGroup]="InsuranceDataForm"
          (ngSubmit)="AppInsForm.valid && SubmitForm()">
          <div class="form-body">
            <div class="row">
              <label class="col-md-2 adins-label" translate>Total Premium to Customer</label>
              <label class="col-md-2 adins-label" translate>{{TotalPremiumToCust | number}}</label>
              <div class="col-md-2"></div>
              <label class="col-md-2 adins-required-label" translate>Paid Amount By Customer</label>
              <div class="col-md-2">
                <input type="" currencyMask class="form-control adInsInput" formControlName="PaidAmtByCust" (focusout)="PaidAmtChanged($event.currentTarget.value)"
                  [ngClass]="{ 'is-invalid': enjiForm.submitted && AppInsForm.controls.PaidAmtByCust.invalid }" />
                <lib-uc-show-errors [control]="AppInsForm.controls.PaidAmtByCust" [submit]="enjiForm.submitted">
                </lib-uc-show-errors>
              </div>
            </div>
          </div>
          <div class="form-body">
            <div class="row">
              <label class="col-md-2 adins-label" translate>Capitalized Amount</label>
              <label class="col-md-2 adins-label" translate>{{CapAmt | number}}</label>
            </div>
          </div>
          <div class="form-actions right">
            <button type="submit" class="btn btn-raised btn-primary">
              <i class="fa fa-check"></i> Save And Continue
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>