<div class="row text-left">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="px-3">
                    <div class="card-header header-title" style="margin-bottom: 10px;">
                        <div class="row">
                            <div class="col-md-8">
                                <h4 class="card-title" id="horz-layout-colored-controls" translate> Edit Agreement After
                                    Credit Approval View</h4>
                            </div>
                        </div>
                    </div>

                    <!-- <app-agr-main-info [arrValue]="arrValue"></app-agr-main-info> -->
                    <lib-ucviewgeneric *ngIf="this.isReady" [viewGenericObj]="viewGenericObj"
                        (callback)="GetCallBack($event)"></lib-ucviewgeneric>
                    <div class="card-body">
                        <div class="px-3">
                            <lib-ucSubsection [id]="'DataChangeSummaryId'" [title]="'Data Change Summary'"
                                [panel]="'dataChangeSummaryId'">
                            </lib-ucSubsection>
                            <div class="form-body" id="dataChangeSummaryId">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="adInsLabel"> <b>Old Value</b> </label>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="adInsLabel"> <b>New Value</b> </label>
                                    </div>
                                </div>
                                <br>

                                <div *ngFor="let item of ChangeSummaryObj?.AssetDataObjs">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.FullAssetName}}</b> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.FullAssetName}}</b> </label>
                                        </div>
                                    </div>
                                    <div *ngFor="let docname of item.AppCollateralDocsObjs">
                                        <div class="form-group row" *ngIf="docname.length != 0">
                                            <div class="col-md-6">
                                                <label class="adInsLabel"> <b>{{docname.DocName}}</b> </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="adInsLabel"> <b>{{docname.DocName}}</b> </label>
                                            </div>
                                        </div>
                                    <div *ngFor="let detail of item.EditAppAftApvTrxDObjs">
                                            <div class="form-group row"
                                                *ngIf="detail.RefId == docname.AppCollateralDocId && detail.TableName == 'APP_COLLATERAL_DOC'">
                                                <div class="col-md-3">
                                                    <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                                </div>
                                                <div class="col-md-3" *ngIf="detail.ChangeItemCode == 'IS_RECEIVED'">
                                                    <label class="adInsLabel"> {{detail.OldValue == '1' ? 'YES' : 'NO'}}
                                                    </label>
                                                </div>
                                                <div class="col-md-3" *ngIf="detail.ChangeItemCode != 'IS_RECEIVED'">
                                                    <label class="adInsLabel"> {{detail.OldValue}} </label>
                                                </div>
                                                <div class="col-md-3">
                                                    <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                                </div>
                                                <div class="col-md-3" *ngIf="detail.ChangeItemCode == 'IS_RECEIVED'">
                                                    <label class="adInsLabel" translate> {{detail.NewValue == '1' ?
                                                        'YES' : 'NO'}} </label>
                                                </div>
                                                <div class="col-md-3" *ngIf="detail.ChangeItemCode != 'IS_RECEIVED'">
                                                    <label class="adInsLabel"> {{detail.NewValue}} </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div *ngFor="let detail of item.EditAppAftApvTrxDObjs">
                                        <div class="form-group row" *ngIf="detail.TableName != 'APP_COLLATERAL_DOC'">
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.OldValue}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.NewValue}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngFor="let item of ChangeSummaryObj?.PoDataObjs">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Purchase Order - {{item.SupplName}}</b>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Purchase Order - {{item.SupplName}}</b>
                                            </label>
                                        </div>
                                    </div>

                                    <div *ngFor="let detail of item.EditAppAftApvTrxDObjs">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.OldValue}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.NewValue}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngFor="let item of ChangeSummaryObj?.AgrmntCommissionDataObjs">
                                    <div *ngIf="item.CommissionRecipientTypeDesc == 'Supplier' || item.CommissionRecipientTypeDesc == 'Referantor'"
                                        class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.CommissionRecipientTypeDesc + '
                                                    Commission - ' + item.CommissionRecipientName}}</b> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.CommissionRecipientTypeDesc + '
                                                    Commission - ' + item.CommissionRecipientName}}</b> </label>
                                        </div>
                                    </div>
                                    <div *ngIf="item.CommissionRecipientTypeDesc == 'Supplier Employee'"
                                        class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.CommissionRecipientTypeDesc + '
                                                    Commission - ' + item.SupplierName + ' - ' +
                                                    item.CommissionRecipientName + ' - ' +
                                                    item.CommissionRecipientPositionDesc}}</b> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>{{item.CommissionRecipientTypeDesc + '
                                                    Commission - ' + item.SupplierName + ' - ' +
                                                    item.CommissionRecipientName + ' - ' +
                                                    item.CommissionRecipientPositionDesc}}</b> </label>
                                        </div>
                                    </div>
                                    <div *ngFor="let detail of item.EditAppAftApvTrxDObjs">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.OldValue}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{detail.NewValue}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="ChangeSummaryObj?.OtherInfoObj?.EditAppAftApvTrxDObjs?.length > 0">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Bank Account</b> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Bank Account</b> </label>
                                        </div>
                                    </div>
                                    <div *ngFor="let item of ChangeSummaryObj?.OtherInfoObj.EditAppAftApvTrxDObjs">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.OldValue}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.NewValue}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div *ngIf="ChangeSummaryObj?.AppXObj?.EditAppAftApvTrxDObjs?.length > 0">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Bank Account Detail</b> </label>
                                        </div>
                                        <div class="col-md-6">
                                            <label class="adInsLabel"> <b>Bank Account Detail</b> </label>
                                        </div>
                                    </div>
                                    <div *ngFor="let item of ChangeSummaryObj?.AppXObj.EditAppAftApvTrxDObjs">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.OldValue}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.ChangeItemDescr}} </label>
                                            </div>
                                            <div class="col-md-3">
                                                <label class="adInsLabel"> {{item.NewValue}} </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>