<div class="col-md-10">
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Inquiry Last 12 Month</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.Inquiries?.InquiriesForLast12Months}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Total Facility Amount (Open Contract)</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.ContractOverview?.TotalFacilityAmount}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Number of Collateral</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.Collaterals.NumberOfCollaterals}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Total Outstanding Amount (Open Contract)</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.ContractOverview?.TotalOutstandingAmount}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Fraud Alerts</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.CIQ?.FraudAlerts}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Total Collateral Amount</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.Collaterals?.TotalNonCashCollateralValue?.Value}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Fraud Alerts Third Party</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.CIQ?.FraudAlertsThirdParty}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Total Past Due Sum Amount</label>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Active Contract Disputes</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.Disputes?.ActiveContractDisputes}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Max No. of Due Days (Current)</label>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Subscriber Last 12 Month</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.Inquiries?.SubscribersInLast12Months}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Worst Past Due Amount</label>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Number of Different Subscriber</label>
        </div>
        <div class="col-md-6">
          {{PefindoData?.Dashboard?.PaymentsProfile?.NumberOfDifferentSubscribers}}
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="form-group row">
        <div class="col-md-6">
          <label>Worst No. of Due Days</label>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </div>
  </div>
</div>