<div *ngIf="appInsObjObj?.InsAssetCoveredBy == 'CO'">
  <lib-ucSubsection [id]="'insuranceObjectId'" [title]="'Insurance Object: ' + appAssetObj?.FullAssetName + appCollateralObj?.FullAssetName " [panel]="'insuranceObject'">
  </lib-ucSubsection>
  <div id="insuranceObject">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insured By </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetCoveredByName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Company </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InscoBranchName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Coverage Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CvgAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Admin Fee Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustAdminFeeAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Paid By </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetPaidByName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Cover Period </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetCoverPeriodName}}</label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Length </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsLength}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Notes </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.Notes}} </label>
        </div>
      </div>
    </div>
  </div>
  <lib-ucSubsection [id]="'coverageId'" [title]="'Coverage'" [panel]="'coverage'">
  </lib-ucSubsection>
  <div id="coverage">
    <lib-ucgridview [gridInput]="inputGridObj"></lib-ucgridview>
  </div>
  <lib-ucSubsection [id]="'summaryId'" [title]="'Summary'" [panel]="'summary'">
  </lib-ucSubsection>
  <div id="summary">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Main Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustMainPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Additional Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustAddPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Fee to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustMainPremiAmt + appInsuranceObj.TotalCustAddPremiAmt + appInsuranceObj.TotalCustFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Discount Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustDiscAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi to Customer after Discount</label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Capitalize Amount</label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInsCptlzAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Main Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoMainPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Additional Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoAddPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Fee from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoPremiAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="appInsObjObj?.InsAssetCoveredBy == 'CU'">
  <lib-ucSubsection [id]="'insuranceObjectId'" [title]="'Insurance Object: ' + appAssetObj?.FullAssetName + appCollateralObj?.FullAssetName " [panel]="'insuranceObject'">
  </lib-ucSubsection>
  <div id="insuranceObject">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insured By </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetCoveredByName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Branch Name </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustInscoBranchName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Coverage Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustCvgAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Notes </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustNotes}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Policy No </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsPolicyNo}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Policy Name </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsPolicyName}}</label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Start Date </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustCoverStartDt | date: 'dd-MMM-yyyy'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> End Date </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.EndDt | date: 'dd-MMM-yyyy'}} </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="appInsObjObj?.InsAssetCoveredBy == 'CUCO'">
  <lib-ucSubsection [id]="'insuranceObjectId'" [title]="'Insurance Object: ' + appAssetObj?.FullAssetName + appCollateralObj?.FullAssetName " [panel]="'insuranceObject'">
  </lib-ucSubsection>
  <div id="insuranceObject">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insured By </label>
          <label class="col-md-6 adInsLabel"> Customer </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Branch Name </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustInscoBranchName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Coverage Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustCvgAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Notes </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustNotes}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Policy No </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsPolicyNo}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Policy Name </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsPolicyName}}</label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Start Date </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustCoverStartDt | date: 'dd-MMM-yyyy'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> End Date </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.StartDt | date: 'dd-MMM-yyyy'}} </label>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insured By </label>
          <label class="col-md-6 adInsLabel"> Company </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Company </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InscoBranchName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Coverage Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CvgAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Admin Fee Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.CustAdminFeeAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Paid By </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetPaidByName}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Cover Period </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetCoverPeriodName}}</label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Length </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsLength}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insurance Notes </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.Notes}} </label>
        </div>
      </div>
    </div>
  </div>
  <lib-ucSubsection [id]="'coverageId'" [title]="'Coverage'" [panel]="'coverage'">
  </lib-ucSubsection>
  <div id="coverage">
    <lib-ucgridview [gridInput]="inputGridObj"></lib-ucgridview>
  </div>
  <lib-ucSubsection [id]="'summaryId'" [title]="'Summary'" [panel]="'summary'">
  </lib-ucSubsection>
  <div id="summary">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Main Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustMainPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Additional Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustAddPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Fee to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi to Customer </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustMainPremiAmt + appInsuranceObj.TotalCustAddPremiAmt + appInsuranceObj.TotalCustFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Discount Amount </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustDiscAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi to Customer after Discount</label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalCustPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Capitalize Amount</label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInsCptlzAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Main Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoMainPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Additional Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoAddPremiAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Fee from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoFeeAmt | number:'.2':'en-US'}} </label>
        </div>
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Total Premi from Insco </label>
          <label class="col-md-6 adInsLabel"> {{appInsuranceObj.TotalInscoPremiAmt | number:'.2':'en-US'}} </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="appInsObjObj?.InsAssetCoveredBy == 'OFF'">
  <lib-ucSubsection [id]="'insuranceObjectId'" [title]="'Insurance Object: ' + appAssetObj?.FullAssetName + appCollateralObj?.FullAssetName " [panel]="'insuranceObject'">
  </lib-ucSubsection>
  <div id="insuranceObject">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <label class="col-md-6 adInsLabel" translate> Insured By </label>
          <label class="col-md-6 adInsLabel"> {{appInsObjObj.InsAssetCoveredByName}} </label>
        </div>
      </div>
      <div class="col-md-6">
  
      </div>
    </div>
  </div>
</div>