<div class="card">
  <lib-ucviewgeneric [viewGenericObj]="viewMainInfoObj" (callback)="viewMainInfoCallback($event)" #viewMainProd> </lib-ucviewgeneric>
  <div class="ucSearch-Button-Right pr-3" style="right:0px">
    <button type="button" class="btn btn-raised btn-warning" (click)="buttonBackOnClick()">
      <i class="fa fa-arrow-left"></i> Back
    </button>
  </div>

  
  <div class="card-body px-3">
    <lib-ucSubsection [id]="'ListSubjId'" [title]="'List Subject'" [panel]="'ListSubjId'"></lib-ucSubsection>
    <div id="ListSubjId">
      <lib-ucgridview [gridInput]="gridSubjectObj"></lib-ucgridview>
      <div class="text-right py-2">
        <button type="button" class="btn btn-raised btn-primary" (click)="buttonSubmitOnClick()" translate>Submit</button>
      </div>
    </div>
  </div>
</div>