<form class="form form-horizontal" [formGroup]="MouCustTcForm" #enjiForm="ngForm" novalidate
  (ngSubmit)="enjiForm.form.valid && Save(enjiForm)">
  <lib-ucSubsection [id]="'MouCustTcFieldId'" [title]="'Term and Condition'" [panel]="'MouCustTcSection'"></lib-ucSubsection>
  <div id="MouCustTcSection">
    <div class="col-md-12" style="padding: 0; text-align: right;">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: left;">
              <span class="thead-header" name='no' translate>NO.</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='documentName' translate>DOCUMENT NAME</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='checked' translate>CHECKED</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='mandatory' translate>MANDATORY</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='expiredDate' translate>EXPIRED DATE</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='promiseDate' translate>PROMISE DATE</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='notes' translate>NOTES</span>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="MouCustTcList">
          <tr *ngFor="let item of MouCustTcForm.get('MouCustTcList').controls; index as i" [formGroupName]="i">
            <td style="text-align: left;">
              {{i+1}}
            </td>
            <td style="text-align: left;">
              {{MouCustTcForm.get('MouCustTcList').at(i).controls.TcName.value}}
            </td>
            <td style="text-align: left;">
              <input type="checkbox" formControlName="IsChecked" (change)="checkedHandler($event, i)"/>
            </td>
            <td style="text-align: left;">
              <input type="checkbox" formControlName="IsMandatory" (change)="mandatoryHandler($event, i)"/>
            </td>
            <td style="text-align: left;">
              <input type="date" class="form-control adInsInput" formControlName="ExpiredDt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && MouCustTcForm.get('MouCustTcList').at(i).controls.ExpiredDt.invalid }"
                [attr.disabled]="MouCustTcForm.get('MouCustTcList').at(i).controls.IsChecked.value == true ? null : ''" />
              <show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.ExpiredDt" [submit]="enjiForm.submitted"></show-errors>
            </td>
            <td style="text-align: left;">
              <input type="date" class="form-control adInsInput" formControlName="PromisedDt"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && MouCustTcForm.get('MouCustTcList').at(i).controls.PromisedDt.invalid }"
                [attr.disabled]="MouCustTcForm.get('MouCustTcList').at(i).controls.IsChecked.value == true ? '' : null" />
              <show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.PromisedDt" [submit]="enjiForm.submitted"></show-errors>
            </td>
            <td style="text-align: left;">
              <textarea class="form-control adInsInput" formControlName="Notes"
                [ngClass]="{ 'is-invalid': enjiForm.submitted && MouCustTcForm.get('MouCustTcList').at(i).controls.Notes.invalid }">
              </textarea>
              <show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.Notes" [submit]="enjiForm.submitted"></show-errors>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="form-actions right" style="text-align: right;">
    <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
      <i class="ft-x"></i> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" translate>
      <i class="fa fa-check-square-o"></i> Save and Continue
    </button>
  </div>
</form>