<form class="form form-horizontal" [formGroup]="MouCustTcForm" #enjiForm="ngForm" novalidate
  (ngSubmit)="Save()">
  <lib-ucSubsection [id]="'MouCustTcFieldId'" [title]="'Term and Condition'" [panel]="'MouCustTcSection'"></lib-ucSubsection>
  <div id="MouCustTcSection">
    <div class="col-md-12" style="padding: 0; overflow-x: auto;">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: left;">
              <span class="thead-header" name='no' translate>NO.</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='documentName' translate>DOCUMENT NAME</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='checked' translate>CHECKED</span>
            </th>
            <th style="text-align: center;">
              <span translate class="thead-header text-center">WAIVED</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='mandatory' translate>MANDATORY</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='expiredDate' translate>EXPIRED DATE</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='promiseDate' translate>PROMISE DATE</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='notes' translate>NOTES</span>
            </th>
          </tr>
        </thead>
        <tbody formArrayName="MouCustTcList">
          <tr *ngFor="let item of MouCustTcForm.get('MouCustTcList')['controls']; index as i" [formGroupName]="i">
            <td class="text-left">{{i+1}}</td>
            <td class="text-left">{{MouCustTcForm.get('MouCustTcList').at(i).controls.TcName.value}}</td>
            <td class="text-center"><input type="checkbox" class="border-primary" formControlName="IsChecked" (change)="checkedHandler($event, i)"/>
            </td>
            <td class="text-center"><input type="checkbox" class="border-primary" formControlName="IsWaived" (change)="waiveHandler($event, i)"></td>
            <td class="text-center">
              <!-- <input type="checkbox" formControlName="IsMandatory" (change)="mandatoryHandler($event, i)"/> -->
              {{MouCustTcForm.get('MouCustTcList').at(i).controls.IsMandatory.value == '1' ? 'Yes' : 'No'}}
            </td>
            <td class="text-left">
              <input type="date" class="form-control" formControlName="ExpiredDt" [min]="businessDate | date: 'yyyy-MM-dd'" onkeypress="return false;"
                [ngClass]="{ 'is-invalid': formSubmitted && MouCustTcForm.get('MouCustTcList').at(i).controls.ExpiredDt.invalid }"
                [attr.disabled]="MouCustTcForm.get('MouCustTcList').at(i).controls.IsWaived.value == true ? '' : MouCustTcForm.get('MouCustTcList').at(i).controls.IsChecked.value == true && MouCustTcForm.get('MouCustTcList').at(i).controls.IsExpiredDt.value == true ? null : ''" />
              <lib-uc-show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.ExpiredDt" [submit]="formSubmitted"></lib-uc-show-errors>
            </td>
            <td class="text-left">
              <input type="date" class="form-control" formControlName="PromisedDt" [min]="businessDate | date: 'yyyy-MM-dd'" onkeypress="return false;"
                [ngClass]="{ 'is-invalid': formSubmitted && MouCustTcForm.get('MouCustTcList').at(i).controls.PromisedDt.invalid }"
                [attr.disabled]="MouCustTcForm.get('MouCustTcList').at(i).controls.IsWaived.value == true ? '' : MouCustTcForm.get('MouCustTcList').at(i).controls.IsChecked.value == true ? '' : null" />
              <lib-uc-show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.PromisedDt" [submit]="formSubmitted"></lib-uc-show-errors>
            </td>
            <td class="text-left">
              <textarea class="form-control" formControlName="Notes"
                [ngClass]="{ 'is-invalid': formSubmitted && MouCustTcForm.get('MouCustTcList').at(i).controls.Notes.invalid }">
              </textarea>
              <lib-uc-show-errors [control]="MouCustTcForm.get('MouCustTcList').at(i).controls.Notes" [submit]="formSubmitted"></lib-uc-show-errors>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <br>
  <br>
  <br>
  <div class="form-actions right" style="text-align: right;">
    <button type="button" class="btn btn-raised btn-warning mr-1" (click)="back()" translate>
      <i class="ft-x"></i> Back
    </button>
    <button type="submit" class="btn btn-raised btn-primary" translate>
      <i class="fa fa-check-square-o"></i> Save and Continue
    </button>
  </div> -->
</form>