<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate> Application View
              </h4>
            </div>
          </div>
        </div>
        <div class="px-3">

          <mat-tab-group>
            <mat-tab label="Agreement Card">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Customer Card">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Deviation">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Loan Data">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Collateral Data">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Term and Condition">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Summary">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Document">
              <ng-template matTabContent>
                <agrmnt-view-document [agrmntId]="AppId"></agrmnt-view-document>
              </ng-template>
            </mat-tab>

            <mat-tab label="Collection">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Remedial">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Payment History">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="PDC">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="EWS">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Amendment History">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Online Payment">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Income Recognize">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="PSAK Amortization">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="SMS History">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Funding">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Invoice Data">
              <ng-template matTabContent>
                <!-- <app-invoice-view></app-invoice-view> -->
              </ng-template>
            </mat-tab>

            <mat-tab label="Complain Handling">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Additional Service">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

          </mat-tab-group>


        </div>
      </div>
    </div>
  </div>
</div>
