<div class="row text-left">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header header-title">
          <div class="row">
            <div class="col-md-8">
              <h4 class="card-title" id="horz-layout-colored-controls" translate> Agreement View
              </h4>
            </div>
          </div>
        </div>
        <div class="px-3">
          <app-agr-main-info [arrValue]="arrValue"></app-agr-main-info>

          <mat-tab-group>
            <mat-tab label="Customer">
              <ng-template matTabContent>
                <app-view-app-cust-data-company *ngIf="ResponseAppDetailData?.MrCustTypeCode=='COMPANY'" [appId]="ResponseAppDetailData?.AppId"></app-view-app-cust-data-company>
                <app-view-app-cust-data-personal *ngIf="ResponseAppDetailData?.MrCustTypeCode=='PERSONAL'" [appId]="ResponseAppDetailData?.AppId"></app-view-app-cust-data-personal>
              </ng-template>
            </mat-tab>

            <mat-tab label="Asset">
              <ng-template matTabContent>
                <view-asset-data [appId]="ResponseAppDetailData?.AppId"></view-asset-data>
              </ng-template>
            </mat-tab>

            <mat-tab label="Collateral">
              <ng-template matTabContent>
                <agrmnt-view-collateral [agrmntId]="AgrmntId"></agrmnt-view-collateral>
              </ng-template>
            </mat-tab>

            <mat-tab label="Insurance">
              <ng-template matTabContent>
                <view-insurance [AppId]="ResponseAppDetailData?.AppId"></view-insurance>
              </ng-template>
            </mat-tab>

            <mat-tab label="Agreement Card">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Commission">
              <ng-template matTabContent>
                <app-view-commission-agrmnt [agrmntId]="AgrmntId"></app-view-commission-agrmnt>
              </ng-template>
            </mat-tab>

            <mat-tab label="Purchase Order">
              <ng-template matTabContent>
                <app-view-purchase-order [agrmntId]="AgrmntId"></app-view-purchase-order>
              </ng-template>
            </mat-tab>

            <mat-tab label="Customer Card">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Deviation">
              <ng-template matTabContent>
                <app-view-deviation [AppId]="ResponseAppDetailData?.AppId"></app-view-deviation>
              </ng-template>
            </mat-tab>

            <mat-tab label="Loan Data">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Collateral Data">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Delivery Order">
              <ng-template matTabContent>
                <agrmnt-view-delivery-order [agrmntId]="AgrmntId"></agrmnt-view-delivery-order>
              </ng-template>
            </mat-tab>

            <mat-tab label="Summary">
              <ng-template matTabContent>
                <agrmnt-view-summary [agrmntId]="AgrmntId"></agrmnt-view-summary>
              </ng-template>
            </mat-tab>

            <mat-tab label="Document">
              <ng-template matTabContent>
                <agrmnt-view-document [agrmntId]="AgrmntId"></agrmnt-view-document>
              </ng-template>
            </mat-tab>

            <mat-tab label="Invoice Data">
              <ng-template matTabContent>
                <!-- <app-invoice-view></app-invoice-view> -->
              </ng-template>
            </mat-tab>

            <mat-tab label="Complain Handling">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

            <mat-tab label="Additional Service">
              <ng-template matTabContent>
              </ng-template>
            </mat-tab>

          </mat-tab-group>


        </div>
      </div>
    </div>
  </div>
</div>
