<div class="modal-header">
    <h4 class="modal-title" translate>{{CustomerTitle}} Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('0')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-view-app-cust-data-completion-personal [appCustId]="AppCustId" [isDetail]="true" *ngIf="MrCustTypeCode=='PERSONAL'"></app-view-app-cust-data-completion-personal>
    <app-view-app-cust-data-completion-company [appCustId]="AppCustId" [isDetail]="true" *ngIf="MrCustTypeCode=='COMPANY'"></app-view-app-cust-data-completion-company>
</div>