<form class="form form-horizontal">
  <lib-ucSubsection [id]="'AddCollDataId'" [title]="'Collateral'" [panel]="'AddCollData'">
  </lib-ucSubsection>
  <div class="form-body" id="AddCollData" style="overflow-x: auto;">
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th><span class="thead-header" name='CollNo' translate>COLLATERAL NO.</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='CollName' translate>COLLATERAL NAME</span>
          </th>
          <th><span style="float: left;" class="thead-header" name='MouCustName' translate>CURRENT OWNER NAME</span>
          </th>
          <th><span style="float: center;" class="thead-header" name='CollStat' translate>COLLATERAL STATUS</span>
          </th>
          <th><span style="float: right;" class="thead-header" name='CollPrice' translate>COLLATERAL PRICE</span>
          </th>
          <th><span style="float: center;" class="thead-header" name='CollRcvDt' translate>RECEIVE DATE</span>
          </th>
          <th><span style="float: center;" class="thead-header" name='CollRlsDt' translate>RELEASE DATE</span>
          </th>
          <th><span style="float: center;" class="thead-header" name='ViewDetail' translate>VIEW DETAIL</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="listCollateralData==null || listCollateralData?.length==0">
          <td colspan="100%">No Data Available</td>
        </tr>
        <tr *ngFor="let item of listCollateralData; let i = index">
          <td>{{item.CollateralNo}}</td>
          <td align="left">{{item.FullAssetName}}</td>
          <td align="left">{{item.OwnerName}}</td>
          <td align="center">{{item.CollateralStat}}</td>
          <td align="right">{{item.CollateralValueAmt | number}}</td>
          <td align="center">{{item.CollateralReceivedDt | date: 'dd-MM-yyyy'}}</td>
          <td align="center">{{item.CollateralReleasedDt | date: 'dd-MM-yyyy'}}</td>
          <td align="center">
            <a class="success p-0" (click)="ViewColl(item.ChangeMouCustCollateralId)">
              <i class="ft-edit-2 font-medium-3 mr-2"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="form-body" id="AddCollDetailData" *ngIf="isView">
    <div class="ucSearch-Button-Right">
      <button type="button" (click)="Back()" class="btn btn-raised btn-warning" translate>
        <i class="fa fa-check-square-o"></i> Back
      </button>
    </div>
    <br>
    <app-change-mou-view-addcoll-detail-x [ChangeMouCustCollateralId]="ChangeMouCustCollateralId"></app-change-mou-view-addcoll-detail-x>
  </div>
</form>
