<div formArrayName="{{identifier}}">
  <table class="table table-responsive-md text-center table-hover">
    <thead>
      <tr class="table-header">
        <th><span translate class="thead-header text-center">No</span></th>
        <th><span translate class="thead-header text-left">Document Name</span></th>
        <th><span translate class="thead-header text-center">Prior To</span></th>
        <th><span translate class="thead-header text-center">Required</span></th>
        <th><span translate class="thead-header text-center">Check</span></th>
        <th><span translate class="thead-header text-center">Waived</span></th>
        <th><span translate class="thead-header text-center">Promise Date</span></th>
        <th><span translate class="thead-header text-center">Expired Date</span></th>
        <th><span translate class="thead-header text-center">Notes</span></th>
      </tr>
    </thead>
    <tbody>
      <tr [formGroupName]="i" *ngFor="let item of parentForm.controls[identifier]['controls']; let i = index">
        <td style="width: 5%" class="text-center">{{i+1}}</td>
        <td style="width: 25%;" class="text-left">{{parentForm.controls[identifier].controls[i].controls.TcName.value}}</td>
        <td style="width: 10%" class="text-center">{{parentForm.controls[identifier].controls[i].controls.PriorTo.value}}</td>
        <td style="width: 5%"class="text-center" *ngIf="parentForm.controls[identifier].controls[i].controls.IsMandatory.value==true">Yes</td>
        <td style="width: 5%" class="text-center" *ngIf="parentForm.controls[identifier].controls[i].controls.IsMandatory.value==false">No</td>
        <td style="width: 5%" class="text-center"><input type="checkbox" class="border-primary" (change)="ResetPromisedAndExpiredDtToNull(i)" formControlName="IsChecked"></td>
        <td style="width: 5%" class="text-center"><input type="checkbox" class="border-primary" (change)="ResetPromisedAndExpiredDtToNull(i)" formControlName="IsWaived"></td>
        <td style="width: 10%"><input type="date" min="{{businessDt | date: 'yyyy-MM-dd'}}" class="form-control dateCustomWidth" formControlName="PromisedDt"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls[identifier].controls[i].controls.PromisedDt.invalid}">
          <lib-uc-show-errors [control]="parentForm.controls[identifier].controls[i].controls.PromisedDt" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </td>
        <td style="width: 10%"><input type="date" class="form-control dateCustomWidth" formControlName="ExpiredDt" min="{{businessDt | date: 'yyyy-MM-dd'}}"
            [ngClass]="{ 'is-invalid': enjiForm.submitted && parentForm.controls[identifier].controls[i].controls.ExpiredDt.invalid}">
          <lib-uc-show-errors [control]="parentForm.controls[identifier].controls[i].controls.ExpiredDt" [submit]="enjiForm.submitted">
          </lib-uc-show-errors>
        </td>
        <td style="width: 25%"><textarea class="form-control textAreaHeight" formControlName="Notes"></textarea></td>
      </tr>
    </tbody>
  </table>
</div>