<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <div class="form-body">
          <h4 class="form-section card-title" translate>View APPLICATION</h4>
         <lib-ucviewgeneric [viewInput]="viewAgrMainInfo" ></lib-ucviewgeneric>
          <mat-tab-group>
            <mat-tab label="Agreement Card">
              <ng-template matTabContent>
                <app-agrmnt-card [AgrmntId] ="AgrmntId"></app-agrmnt-card>
              </ng-template>
            </mat-tab>
            <mat-tab label="Loan Object Data">
              <ng-template matTabContent>
                
              </ng-template>
            </mat-tab>
            <mat-tab label="Invoice Data">
              <ng-template matTabContent>
                 
              </ng-template>
            </mat-tab>
            <mat-tab label="Insurance Data">
              <ng-template matTabContent>
                
              </ng-template>
            </mat-tab>
            <mat-tab label="Commision Data">
              <ng-template matTabContent>
                
              </ng-template>
            </mat-tab>
            <mat-tab label="Reserved Fund Data">
              <ng-template matTabContent>
         
              </ng-template>
            </mat-tab>
            <mat-tab label="Document">
              <ng-template matTabContent>
        
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>