<div class="ucSearch-Button-Right">
    <span class="mr-1">
      <button type="button" class="addButton" [routerLink]="[AddFreeLink]" [queryParams]="{LobCode:'CF2W'}">
        <i class="ft-plus-circle"></i>&nbsp;<span translate>Add Free</span>
      </button>
    </span>
    <span class="mr-1">
        <button type="button" class="addButton" [routerLink]="[AddFixedLink]" [queryParams]="{LobCode:'CF2W'}">
          <i class="ft-plus-circle"></i>&nbsp;<span translate>Add Fixed</span>
        </button>
      </span>
</div>
<lib-ucpaging [searchObj]="inputPagingObj"></lib-ucpaging>