<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="px-3">
        <span class="mr-1">
          <button type="button" class="addButton pull-right" (click)="add(content)" translate>
            <i class="ft-plus-circle"></i> Add Guarantor
          </button>
        </span>
        <lib-ucgridview [gridInput]="inputGridObj" (callback)="event(content,$event)"></lib-ucgridview>
      </div>
      <button type="button" (click)="SaveAndContinue()" class="btn btn-raised btn-primary pull-right margin-15">
        <i class="fa fa-check-square-o"></i> Save And Continue
      </button>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <app-guarantor [AppGuarantorId]=AppGuarantorId [MrGuarantorTypeCode]=MrGuarantorTypeCode [mode]=mode [AppId]="AppId" (closeX)="close($event)"></app-guarantor>
</ng-template>