<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <app-asset-opl-main-info [AppAssetId]="AppAssetId"></app-asset-opl-main-info>
      <div class="px-3">
        <form class="form form-horizontal" [formGroup]="InsuranceDataForm"
          (ngSubmit)="InsuranceDataForm.valid && SaveForm()" #enjiForm="ngForm">
          <div class="form-body">
            <lib-ucSubsection [id]="'insuranceInfoId'" [title]="'Insurance'"
            [panel]="'insuranceInformation'">
            </lib-ucSubsection>
            <div id="insuranceInformation">
              <div class="form-group row">
                <label class="col-md-2" for="paidBy" translate>Paid By</label>
                <label class="col-md-4" for="paidBy" translate>{{InsuranceDataForm.controls.InsAssetPaidByName.value}}</label>
                <label class="col-md-2 adins-required-label" for="coverPeriod" translate>Order Period</label>
                <div class="col-md-4">
                  <select class="form-control width-75-per" id="coverPeriod" formControlName="InsAssetCoverPeriod"
                    (change)="CoverPeriodChanged($event)"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetCoverPeriod.invalid }">
                    <option value="">-Select One-</option>
                    <option *ngFor="let item of insAssetCoverPeriodObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <!--<select class="form-control width-75-per" id="coverPeriod" formControlName="InsAssetCoverPeriod"
                    (change)="CoverPeriodChanged($event)" *ngIf="this.assetObj.MrAssetOwnerTypeCode == 'INT'"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetCoverPeriod.invalid }">
                    <option value="">-Select One-</option>
                    <option value="AN">
                      Annualy
                    </option>
                    <option value="IP">
                      Input Period
                    </option>
                  </select>-->
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetCoverPeriod"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" for="assetRegion" translate>Asset Region</label>
                <div class="col-md-4">
                  <select class="form-control width-75-per" id="assetRegion" formControlName="InsAssetRegion"
                    (change)="AssetRegionChanged()"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InsAssetRegion.invalid }">
                    <option value="">-Select One-</option>
                    <option *ngFor="let item of insAssetRegionObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.InsAssetRegion"
                    [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
                <label class="col-md-2 adins-required-label" for="insuredBy" translate>Insco Branch Name</label>
                <div class="col-md-4">
                  <select class="form-control width-75-per" id="insuredBy" formControlName="InscoBranchCode"
                    (change)="InscoBranchCodeChanged($event)"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.InscoBranchCode.invalid }">
                    <option value="">-Select One-</option>
                    <option *ngFor="let item of inscoBranchObj" [value]="item.Key">
                      {{item.Value}}
                    </option>
                  </select>
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.InscoBranchCode"
                                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2 adins-required-label" for="cvgAmt" translate>Coverage Amount</label>
                <div class="col-md-4">
                  <input type="" currencyMask id="cvgAmt" class="form-control" formControlName="CvgAmt"
                    [options]="{ allowNegative: false, nullable: false }"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.CvgAmt.invalid }"
                    (ngModelChange)="CvgAmtChanged()">
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.CvgAmt" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>

                <label class="col-md-2" for="insLength" translate>Insurance Length</label>
                <label class="col-md-4" for="insLength" translate>{{InsuranceDataForm.controls.InsLength.value}}</label>
              </div>
              <div class="form-group row">
                <label class="col-md-2" for="notes" translate>Insurance Notes</label>
                <div class="col-md-4">
                  <textarea rows="5" id="notes" class="form-control" formControlName="Notes"
                    [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls.Notes.invalid }"></textarea>
                  <lib-uc-show-errors [control]="InsuranceDataForm.controls.Notes" [submit]="enjiForm.submitted">
                  </lib-uc-show-errors>
                </div>
              </div>
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-primary" (click)="GenerateInsurance(undefined)" translate>
                  <i class="fa fa-check-square-o"></i> Generate Insurance
                </button>
              </div>
              <div *ngIf="showGenerate == true">
                <div class="form-group row">
                  <label class="col-md-2" for="mainCvg" translate>Main Coverage</label>
                  <div class="col-md-4">
                    <select class="form-control width-75-per" id="mainCvg" formControlName="InsMainCvgType" (change)="changeMainCvgddl($event)">
                      <option *ngFor="let item of insMainCvgTypeRuleObj" [value]="item.Key">
                        {{item.Value}}
                      </option>
                    </select>
                  </div>
                </div>
                <div [hidden]="addDdl.length < 1" class="form-group row">
                  <label class="col-md-2" for="startDt" translate>Additional Coverage</label>
                  <div class="col-md-10">
                    <label formArrayName="InsAddCvgTypes"
                      *ngFor="let item of InsuranceDataForm.controls.InsAddCvgTypes.controls; let i=index"
                      class="custom-control display-inline-block">
                      <div [formGroupName]="i">
                        <label [hidden]="insAddCvgTypeRuleObj[i].Value == 'Loading'">
                          <input type="checkbox" class="checkboxLabel" formControlName="Value"> {{addDdl[i].Value}}
                        </label>
                      </div>
                    </label>
                  </div>
                </div>
                <div class="form-actions right">
                  <button type="button" class="btn btn-raised btn-primary" (click)="CalculateInsurance()" translate>
                    <i class="fa fa-check-square-o"></i> Calculate Insurance
                  </button>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-2" for="paidBy" translate>Total Premi</label>
                <label class="col-md-4" for="paidBy" translate>{{InsuranceDataForm.controls.TotalInsInscoAmt.value  | number:'.2':'en-US'}}</label>
              </div>
            </div>
            <div>
              <div *ngIf="isMainPackageReady">
                <lib-ucSubsection [id]="'maintenanceId'" [title]="'Maintenance'" [panel]="'maintenance'">
                </lib-ucSubsection>
                <div id="maintenance">
                  <div class="form-group row">
                    <label class="col-md-2 adins-required-label" for="mainCvg" translate>Package Name</label>
                    <div class="col-md-4">
                      <select class="form-control width-75-per" id="mainCvg" formControlName="PackageType" (change)="changeMainPackage()">
                        <option *ngFor="let item of packageTypeRuleObj" [value]="item.MaintenancePackageCode">
                          {{item.MaintenancePackageName}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-actions right" *ngIf="isCanBeAddedMaintenance">
                    <button type="button" name="add" id="add" (click)="addService()" translate
                      class="btn btn-raised btn-primary">
                      <i class="ft-plus-circle"></i> Add
                    </button>
                  </div>
                  <div formArrayName="ServiceObjs">
                    <table class="table table-responsive-md text-center table-hover">
                      <thead>
                        <tr class="table-header">
                          <th><span translate class="thead-header">Service Name</span></th>
                          <th><span translate class="thead-header">Service Amount</span></th>
                          <th><span translate class="thead-header">Action</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="InsuranceDataForm.controls['ServiceObjs'].controls == 0">
                          <td align="center" colspan="3">No data available</td>
                        </tr>
                        <tr *ngFor="let item of InsuranceDataForm.controls['ServiceObjs'].controls;let i = index">
                          <td [formGroupName]="i" class="text-center" *ngIf="!InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].IsLock.value">
                            <lib-uclookupgeneric [enjiForm]="enjiForm"
                              [lookupInput]="dictServiceLookup[InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].No.value]"
                              [parentForm]="InsuranceDataForm"
                              [identifier]="'lookupServiceObj' + InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].No.value"
                              (lookup)="SetService(i,$event)"></lib-uclookupgeneric>
                          </td>
                          <td [formGroupName]="i" *ngIf="InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].IsLock.value">
                            {{InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].ServiceName.value}}
                          </td>
                          <td [formGroupName]="i">
                            <input type="" currencyMask id="serviceAmt{{i}}" class="form-control" (ngModelChange)="calculateService()"
                              formControlName="ServiceAmt" [options]="{ nullable: true }"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].ServiceAmt.invalid }">
                            <lib-uc-show-errors [control]="InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].ServiceAmt"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td [formGroupName]="i">
                            <a class="danger p-0" (click)="deleteService(i)" *ngIf="!InsuranceDataForm.controls['ServiceObjs']['controls'][i]['controls'].IsLock.value">
                              <i class="ft-trash-2 font-medium-3 mr-2"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!--sparepart-->
                  <div class="form-actions right" *ngIf="isCanBeAddedMaintenance">
                    <button type="button" name="add" id="add" (click)="addSparePart()" translate
                      class="btn btn-raised btn-primary">
                      <i class="ft-plus-circle"></i> Add
                    </button>
                  </div>
                  <div formArrayName="SparePartObjs">
                    <table class="table table-responsive-md text-center table-hover">
                      <thead>
                        <tr class="table-header">
                          <th><span translate class="thead-header">Sparepart Name</span></th>
                          <th><span translate class="thead-header">Sparepart Amount</span></th>
                          <th><span translate class="thead-header">Action</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="InsuranceDataForm.controls['SparePartObjs']['controls'].length == 0">
                          <td align="center" colspan="3">No data available</td>
                        </tr>
                        <tr *ngFor="let item of InsuranceDataForm.controls['SparePartObjs'].controls;let i = index">
                          <td [formGroupName]="i" class="text-center" *ngIf="!InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].IsLock.value">
                            <lib-uclookupgeneric [enjiForm]="enjiForm"
                              [lookupInput]="dictSparePartLookup[InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].No.value]"
                              [parentForm]="InsuranceDataForm"
                              [identifier]="'lookupSparePartObj' + InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].No.value"
                              (lookup)="SetSparePart(i,$event)"></lib-uclookupgeneric>
                          </td>
                          <td [formGroupName]="i" *ngIf="InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].IsLock.value">
                            {{InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].SparePartName.value}}
                          </td>
                          <td [formGroupName]="i">
                            <input type="" currencyMask id="sparePartAmt{{i}}" class="form-control" (ngModelChange)="calculateSparepart()"
                              formControlName="SparePartAmt" [options]="{ nullable: true }"
                              [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].SparePartAmt.invalid }">
                            <lib-uc-show-errors [control]="InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].SparePartAmt"
                              [submit]="enjiForm.submitted"></lib-uc-show-errors>
                          </td>
                          <td [formGroupName]="i">
                            <a class="danger p-0" (click)="deleteSparePart(i)" *ngIf="!InsuranceDataForm.controls['SparePartObjs']['controls'][i]['controls'].IsLock.value">
                              <i class="ft-trash-2 font-medium-3 mr-2"></i>
                            </a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4" for="paidBy" translate>Total Service Amount</label>
                    <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalServiceAmt.value  | number:'.2':'en-US'}}</label>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4" for="paidBy" translate>Total Sparepart Amount</label>
                    <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalSparepartAmt.value  | number:'.2':'en-US'}}</label>
                  </div>
                </div>
              </div>
              <lib-ucSubsection [id]="'expenseId'" [title]="'Other Expense'" [panel]="'expense'">
              </lib-ucSubsection>
              <div id="expense">
                <div class="form-actions right" *ngIf="isExpenseCanAdd">
                  <button type="button" name="add" id="add" (click)="addOtherExpense()" translate
                    class="btn btn-raised btn-primary">
                    <i class="ft-plus-circle"></i> Add
                  </button>
                </div>
                <div formArrayName="OtherExpenseObjs">
                  <table class="table table-responsive-md text-center table-hover">
                    <thead>
                      <tr class="table-header">
                        <th><span translate class="thead-header">Other Expense Type</span></th>
                        <th><span translate class="thead-header">Amount</span></th>
                        <th><span translate class="thead-header">Action</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="InsuranceDataForm.controls['OtherExpenseObjs']['controls'].length == 0">
                        <td align="center" colspan="3">No data available</td>
                      </tr>
                      <tr *ngFor="let item of InsuranceDataForm.controls['OtherExpenseObjs']['controls'];let i = index">
                        <td [formGroupName]="i" class="text-center">
                          <select class="form-control width-75-per" id="othExpenseCode{{i}}" formControlName="OthExpenseCode">
                            <option *ngFor="let item of otherExpenseObj" [value]="item.Key">
                              {{item.Value}}
                            </option>
                          </select>
                        </td>
                        <td [formGroupName]="i">
                          <input type="" currencyMask id="othExpenseAmt{{i}}" class="form-control" (ngModelChange)="calculateExpense()"
                            formControlName="OthExpenseAmt" [options]="{ nullable: true }"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['OtherExpenseObjs']['controls'][i]['controls'].OthExpenseAmt.invalid }">
                          <lib-uc-show-errors [control]="InsuranceDataForm.controls['OtherExpenseObjs']['controls'][i]['controls'].OthExpenseAmt"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <a class="danger p-0" (click)="deleteOtherExpense(i)" *ngIf="!InsuranceDataForm.controls['OtherExpenseObjs']['controls'][i]['controls'].IsLock.value">
                            <i class="ft-trash-2 font-medium-3 mr-2"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" for="paidBy" translate>Total Other Expense</label>
                  <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalOthExpenseAmt.value  | number:'.2':'en-US'}}</label>
                </div>
              </div>
              <lib-ucSubsection [id]="'feeId'" [title]="'Fee'" [panel]="'fee'">
              </lib-ucSubsection>
              <div id="fee">
                <mat-radio-group formControlName="FeeInputType" name="MrCustTypeCode" (change)="changeInputFee()">
                  <mat-radio-button [disabled]="isInputTypeLock" class="custom-control custom-radio display-inline-block" *ngFor="let item of inpFeeObj"
                    [value]="item.Key">
                    {{item.Value}}
                  </mat-radio-button>
                </mat-radio-group>
                <div formArrayName="FeeObjs">
                  <table class="table table-responsive-md text-center table-hover">
                    <thead>
                      <tr class="table-header">
                        <th><span translate class="thead-header">Fee Type</span></th>
                        <th *ngIf="isIncludeVAT"><span translate class="thead-header">Amount After VAT</span></th>
                        <th *ngIf="!isIncludeVAT"><span translate class="thead-header">Amonut Before VAT</span></th>
                        <th><span translate class="thead-header">VAT Amount</span></th>
                        <th><span translate class="thead-header">Capitalized Amount</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="InsuranceDataForm.controls['FeeObjs']['controls'].length == 0">
                        <td align="center" colspan="3">No data available</td>
                      </tr>
                      <tr *ngFor="let item of InsuranceDataForm.controls['FeeObjs']['controls'];let i = index">
                        <td [formGroupName]="i">
                          {{InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls']["FeeTypeName"].value}}
                        </td>
                        <td [formGroupName]="i">
                          <input type="" currencyMask id="feeTypeAmt{{i}}" class="form-control" (ngModelChange)="calculateChangeVAT(i)"
                            formControlName="FeeTypeAmt" [options]="{ nullable: true }"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].FeeTypeAmt.invalid }">
                          <lib-uc-show-errors [control]="InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].FeeTypeAmt"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <input type="" currencyMask id="vATAmt{{i}}" class="form-control" (ngModelChange)="calculateVAT()"
                            formControlName="VATAmt" [options]="{ nullable: true }"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].VATAmt.invalid }">
                          <lib-uc-show-errors [control]="InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].VATAmt"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </td>
                        <td [formGroupName]="i">
                          <input type="" currencyMask id="cptlzAmt{{i}}" class="form-control" (ngModelChange)="calculateCptlz()"
                            formControlName="CptlzAmt" [options]="{ nullable: true }"
                            [ngClass]="{ 'is-invalid': enjiForm.submitted && InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].CptlzAmt.invalid }">
                          <lib-uc-show-errors [control]="InsuranceDataForm.controls['FeeObjs']['controls'][i]['controls'].CptlzAmt"
                            [submit]="enjiForm.submitted"></lib-uc-show-errors>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" for="paidBy" translate>Total Fee Before VAT</label>
                  <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalFeeBfrVATAmt.value  | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" for="paidBy" translate>Total VAT Amount</label>
                  <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalVATAmt.value  | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" for="paidBy" translate>Fee Capatalized</label>
                  <label class="col-md-4 text-right" for="paidBy" translate>{{InsuranceDataForm.controls.TotalFeeCptlzAmt.value  | number:'.2':'en-US'}}</label>
                </div>
              </div>
              <lib-ucSubsection [id]="'totalPremiId'" [title]="'Summary'" [panel]="'totalPremi'">
              </lib-ucSubsection>
              <div id="totalPremi">
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Insurance At Cost</label>
                  <label class="col-md-4 text-right" style="font-size: 90%" translate>{{InsuranceDataForm.controls.TotalInsInscoAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Maintenance At Cost</label>
                  <label class="col-md-4 text-right" style="font-size: 90%" translate>{{InsuranceDataForm.controls.TotalServiceAmt.value + InsuranceDataForm.controls.TotalSparepartAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Other Expense</label>
                  <label class="col-md-4 text-right" style="font-size: 90%" translate>{{InsuranceDataForm.controls.TotalOthExpenseAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate>Fee Capitalized</label>
                  <label class="col-md-4 text-right" style="font-size: 90%" translate>{{InsuranceDataForm.controls.TotalFeeCptlzAmt.value | number:'.2':'en-US'}}</label>
                </div>
                <div class="form-group row">
                  <label class="col-md-4" style="font-size: 90%" translate><b>Asset Expense</b></label>
                  <label class="col-md-4 text-right" style="font-size: 90%" translate><b>{{InsuranceDataForm.controls.TotalAssetExpense.value | number:'.2':'en-US'}}</b></label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-actions right">
            <button type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
              <i class="ft-x"></i> Cancel
            </button>
            <button type="submit" class="btn btn-raised btn-primary" translate>
              <i class="far fa-check-square"></i> Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>