<div class="col-md-12 text-left">
  <div class="card">
    <lib-ucviewgeneric [viewGenericObj]="viewGenericObj" (callback)="GetCallBack($event)"> </lib-ucviewgeneric>
    <div class="card-body">
      <div class="px-3">
        <app-crd-rvw-cust-info *ngIf="isShow" [appId]="appId" [crdRvwCustInfoObj]="crdRvwCustInfoObj">
        </app-crd-rvw-cust-info>
        <app-crd-rvw-fam-guar *ngIf="isShow" [appId]="appId" [crdRvwCustInfoObj]="crdRvwCustInfoObj">
        </app-crd-rvw-fam-guar>
        <app-crd-rvw-legal-doc *ngIf="isShow && crdRvwCustInfoObj.MrCustTypeCode == CustTypeCompany"
          [AppCustCompanyId]="crdRvwCustInfoObj.AppCustCompanyId"></app-crd-rvw-legal-doc>

        <app-crd-rvw-third-party-checking *ngIf="AppObj.AppNo != ''" [AppNo]="AppObj.AppNo">
        </app-crd-rvw-third-party-checking>
        <app-crd-rvw-app-info *ngIf="isShow" [CrdRvwCustInfoId]="crdRvwCustInfoObj.CrdRvwCustInfoId" [appId]="appId"
          [BizTemplateCode]="BizTemplateCode">
        </app-crd-rvw-app-info>

        <app-app-rvw-summary-asset *ngIf="isShow" [AppId]="appId"></app-app-rvw-summary-asset>
        <app-tab-deviation [AppId]="appId" [IsEditManualDeviation]="false"></app-tab-deviation>

      </div>
    </div>
    <div class="ng-star-inserted">
      <div class="row margin-bot-15">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="px-3">
                <lib-ucSubsection [id]="'CreditApprovalHistoryId'" [title]="'Application Approval History'"
                  [panel]="'CreditApprovalHistory'">
                </lib-ucSubsection>
                <div id="CreditApprovalHistory">
                  <lib-ucapprovalHistory *ngIf="IsCrdApvReady" [InputObj]="CrdApvObj">
                  </lib-ucapprovalHistory>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <lib-ucapproval [inputObj]="inputObj" [showCancel]="'true'" (onCancel)="onCancelClick()" (nextTask)="onAvailableNextTask()" (result)="onApprovalSubmited($event)">
    </lib-ucapproval>  -->

    <lib-ucapprovalgeneralinfo [InputObj]="UcInputApprovalGeneralInfoObj" *ngIf="IsReady"></lib-ucapprovalgeneralinfo>

    <lib-ucapprovalR3 [InputObj]="InputApvObj" *ngIf="IsReady" (result)="onApprovalSubmited($event)"
      (onCancel)="onCancelClick()"></lib-ucapprovalR3>
    <div class="form-actions right">
      <button type="button" class="btn btn-raised btn-primary float-right" (click)="OpenPefindoView()" translate>
        <i class="far fa-check-square"></i> View Pefindo
      </button>
    </div>
  </div>
</div>