<lib-ucSubsection [id]="'MouCustListedCustFctrId'" [title]="'Listed Customer Factoring'"
  [panel]="'MouCustListedCustFctrSection'"></lib-ucSubsection>
<div id="MouCustListedCustFctrSection">

  <form class="form form-horizontal" [formGroup]="MouCustIsListedForm" #enjiForm="ngForm" novalidate
    (ngSubmit)="enjiForm.form.valid && Save(enjiForm)"> 
    <div class="form-group row">
      <label class="col-md-3 adInsLabel adins-required-label" for="IsListedCust" translate>Listed Customer
        Factoring</label>
      <div class="col-md-9" style="display: inline-block;">
        <input type="checkbox" formControlName="IsListedCust" />
      </div>
    </div>
    <div class="col-md-12" style="padding: 0; text-align: right;">
      <span class="mr-1">
        <button type="button" class="addButton" (click)="addListCust()"
          [disabled]="MouCustIsListedForm.controls.IsListedCust.value == false" translate>
          <i class="ft-plus-circle"></i> Add
        </button>
      </span>
    </div>
    <div class="col-md-12" style="padding: 0; text-align: right;">
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: left;">
              <span class="thead-header" name='custNo' translate>CUSTOMER NO.</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='custName' translate>CUSTOMER NAME</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='custType' translate>CUSTOMER TYPE</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='action' translate>DELETE</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf = "MouCustIsListedForm.controls['ListCust'].controls.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody *ngIf = "MouCustIsListedForm.controls['ListCust'].controls.length > 0">
          <tr *ngFor="let item of MouCustIsListedForm.controls['ListCust'].controls; let i = index">
            <td style="text-align: left;">
              <lib-uclookupgeneric [enjiForm]="enjiForm" [lookupInput]="dictLookup[MouCustIsListedForm.controls['ListCust'].value[i].No]" [parentForm]="MouCustIsListedForm" [identifier]="'lookupCustomerForGrp' + MouCustIsListedForm.controls['ListCust'].value[i].No" (lookup)="CopyCustomer($event, i)"></lib-uclookupgeneric>
            </td>
            <td style="text-align: left;">
              <a [routerLink]="" (click)="openView(MouCustIsListedForm.controls['ListCust'].value[i].CustNo)">{{MouCustIsListedForm.controls['ListCust'].value[i].CustName}}</a>
            </td>
            <td style="text-align: left;">
              {{MouCustIsListedForm.controls['ListCust'].value[i].MrCustTypeCode}}
            </td>
            <td style="text-align: center;">
              <a (click)="deleteCustFctr(MouCustIsListedForm.controls['ListCust'].value[i].MouListedCustFctrId, i)">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>

</div>