<lib-ucSubsection [id]="'AssetId'" [title]="'Asset Information'" [panel]="'Asset'">
</lib-ucSubsection>
<div id="Asset">
  <div class="card-body" *ngIf="crdRvwCustInfoObj.BizTemplateCode == BizTemplateCF4W">
    <div class="row">
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Asset Name </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwAssetObj.AssetName}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Asset Price </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwAssetObj.AssetPrice}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Negative Asset </label>
            <span id="NegAssetIndicator" style="float: right;">
              <i *ngIf=" crdRvwCustInfoObj.NegativeAssetIndicator != null && crdRvwAssetObj.NegativeAssetIndicator != whiteIndicator"
                [ngStyle]="{'color': crdRvwAssetObj.NegativeAssetIndicator}"
                class="font-medium-3 fa fa-circle tooltips">
                <span [ngClass]="'tooltipstext'">
                  {{crdRvwAssetObj.NegativeAssetIndicatorDescr}}
                </span>
              </i>
              <i *ngIf="crdRvwCustInfoObj.NegativeAssetIndicator == null || crdRvwCustInfoObj.NegativeAssetIndicator == whiteIndicator"
                class="font-medium-3 far fa-circle tooltips">
                <span [ngClass]="'tooltipstext'">
                  <span *ngIf="!crdRvwAssetObj.NegativeAssetIndicatorDescr"> {{crdRvwAssetObj.NegativeAssetIndicatorDescr}} </span>
                  <span> No Data </span>
                </span>
              </i>
            </span>
          </div>
          <div class="col-md-6 ">
            <label class="label-control" *ngIf="crdRvwAssetObj.IsNegativeAsset"> Yes </label>
            <label class="label-control" *ngIf="!crdRvwAssetObj.IsNegativeAsset"> No </label>
            <label class="label-control"> &nbsp;/ {{crdRvwAssetObj.NegativeAssetNotes}} </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> DP Amount / Percentage </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwAssetObj.DpAmount}} / {{crdRvwAssetObj.DpPrcnt}}% </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Insurance </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control"> {{crdRvwAssetObj.Insurance}} </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="label-control"> Is Double Financing </label>
          </div>
          <div class="col-md-6 ">
            <label class="label-control" *ngIf="crdRvwAssetObj.IsDoubleFinancing"> Yes </label>
            <label class="label-control" *ngIf="!crdRvwAssetObj.IsDoubleFinancing"> No </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="crdRvwCustInfoObj.BizTemplateCode != BizTemplateCF4W">
    <!-- <div class="px-3">     -->
      <table class="table table-responsive-md text-center table-hover">
        <thead>
          <tr class="table-header">
            <th style="text-align: center;">
              <span class="thead-header" name='No' translate>No</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='AssetName' translate>Asset Name</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='AssetPrice' translate>Asset Price</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='DPAmt_Prcnt' translate>DP Amount/Percentage</span>
            </th>
            <th style="text-align: left;">
              <span class="thead-header" name='Insurance' translate>Insurance</span>
            </th>
            <th style="text-align: center;">
              <span class="thead-header" name='IsDoubleFinancing' translate>Is Double Financing</span>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="ListCrdRvwAssetObj.length == 0">
          <tr>
            <td colspan="100%">No Data Available</td>
          </tr>
        </tbody>
        <tbody>
          <tr *ngFor="let item of ListCrdRvwAssetObj; let i = index">
            <td style="text-align: center;">{{i+1}}</td>
            <td style="text-align: left;">{{item.AssetName}}</td>
            <td style="text-align: left;">{{item.AssetPrice}}</td>
            <td style="text-align: left;">{{item.DpAmount}} / {{item.DpPrcnt}}%</td>
            <td style="text-align: left;">{{item.Insurance}}</td>
            <td style="text-align: center;" *ngIf="item.IsDoubleFinancing">Yes</td>
            <td style="text-align: center;" *ngIf="!item.IsDoubleFinancing">No</td>
          </tr>
        </tbody>
      </table>
    <!-- </div> -->
  </div>
</div>