<lib-ucviewgeneric [viewGenericObj]="viewGenericObj"> </lib-ucviewgeneric>
<div class="ucSearch-Button-Right">
  <span class="mr-1">
      <button type="button" class="backButton" [routerLink]="['/Setting/AppSource/Paging']" translate>
        <i class="fa fa-arrow-left"> </i> Back 
      </button>
      <button type="button" class="addButton" [routerLink]="['/Setting/AppSource/OfficeMember/Add']" [queryParams]="{RefAppSrcId:this.RefAppSrcId}">
        <i class="ft-plus-circle"></i> Add
      </button>
  </span>
</div>
<lib-ucpaging id="memberUcPaging" [searchObj]="inputPagingObj"></lib-ucpaging>
