<div class="row text-left" *ngIf="isReady == 1">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="px-3">
          <form class="form form-horizontal" [formGroup]="PersonalForm" #enjiForm="ngForm"
            (ngSubmit)="PersonalForm.valid && SaveForm()">
            <div class="form-body">
              <lib-ucSubsection [id]="'mainDataId'" [title]="'Main Data'" [panel]="'mainData'">
              </lib-ucSubsection>
  
              <div *ngIf="tempCustNo!= null">
                <div class="form-group row">
                  <label class="col-md-2">Customer No</label>
                  <label class="col-md-4">{{this.tempCustNo}}</label>
                </div>
              </div>

              <div class="row" id="mainData">
                <!-- left --> 
                <div class="col-md-6 ">
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Guarantor Name </label>
                    <div class="col-md-8">
                      <lib-uclookupgeneric [lookupInput]="inputLookupObj" [parentForm]="PersonalForm"
                        [enjiForm]="enjiForm" [identifier]="'LookupGuarantor'" (lookup)="lookupGuarantor($event)">
                      </lib-uclookupgeneric>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Id Type </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrIdTypeCode" (change)="ChangeIdType()"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MrIdTypeCode.invalid }">
                        <option *ngFor="let it of MrIdTypeCode" [value]="it.MasterCode">
                          {{it.Descr}}
                        </option>
                        <lib-uc-show-errors [control]="PersonalForm.controls.MrIdTypeCode"
                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">ID No </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="IdNo"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.IdNo.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.IdNo" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel"
                      *ngIf="PersonalForm.controls.MrIdTypeCode.value == 'EKTP' || PersonalForm.controls.MrIdTypeCode.value == 'NPWP'">ID
                      Expired Date </label>
                    <label class="col-md-4 adins-required-label"
                      *ngIf="PersonalForm.controls.MrIdTypeCode.value != 'EKTP' && PersonalForm.controls.MrIdTypeCode.value != 'NPWP'">ID
                      Expired Date </label>
                    <div class="col-md-8">
                      <input *ngIf="PersonalForm.controls.MrIdTypeCode.value == 'EKTP'" readonly type="date"
                        class="form-control" id="idExpDt" formControlName="IdExpDt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.IdExpDt.invalid}">
                      <input *ngIf="PersonalForm.controls.MrIdTypeCode.value != 'EKTP'" type="date"
                        min="{{MaxDate | date:'yyyy-MM-dd'}}" class="form-control" id="idExpDt"
                        formControlName="IdExpDt"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.IdExpDt.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.IdExpDt" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Birth Place</label>
                    <div class="col-md-8">
                      <input type="text" class="form-control adInsInput width-100-per" formControlName="BirthPlace"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.BirthPlace.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.BirthPlace" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Birth Date </label>
                    <div class="col-md-8">
                      <input type="date" class="form-control" formControlName="BirthDt"
                        max="{{Max17YO | date:'yyyy-MM-dd'}}"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.BirthDt.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.BirthDt" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel" *ngIf="PersonalForm.controls.MrIdTypeCode.value != 'NPWP'">NPWP
                    </label>
                    <label class="col-md-4 adins-required-label"
                      *ngIf="PersonalForm.controls.MrIdTypeCode.value == 'NPWP'">NPWP </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="TaxIdNo"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.TaxIdNo.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.TaxIdNo" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Mobile Phone </label>
                    <div class="col-md-8">
                      <input type="text" class="form-control" formControlName="MobilePhnNo"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MobilePhnNo.invalid}">
                      <lib-uc-show-errors [control]="PersonalForm.controls.MobilePhnNo" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                </div>
                <!-- right -->
                <div class="col-md-6 ">
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Customer Relationship </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrCustRelationshipCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MrCustRelationshipCode.invalid }">
                        <option *ngFor="let it of MrCustRelationshipCode" value="{{it.Key}}">
                          {{it.Value}}
                        </option>
                        <lib-uc-show-errors [control]="PersonalForm.controls.MrCustRelationshipCode"
                          [submit]="enjiForm.submitted"></lib-uc-show-errors>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel" translate>Gender</label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrGenderCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MrGenderCode.invalid }">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of MrGenderCode" value="{{it.MasterCode}}">
                          {{it.Descr}}
                        </option>
                      </select>
                      <lib-uc-show-errors [control]="PersonalForm.controls.MrGenderCode" [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row ">
                    <label class="col-md-4">Marital Status </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrMaritalStatCode">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of MrMaritalStatCode" value="{{it.MasterCode}}">
                          {{it.Descr}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row adins-required">
                    <label class="col-md-4 adInsLabel">Nationality </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrNationalityCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MrNationalityCode.invalid}"
                        (change)="ChangeNationality($event)">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of MrNationalityCode" value="{{it.MasterCode}}">
                          {{it.Descr}}
                        </option>
                      </select>
                      <lib-uc-show-errors [control]="PersonalForm.controls.MrNationalityCode"
                        [submit]="enjiForm.submitted"></lib-uc-show-errors>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel">Country </label>
                    <div class="col-md-8">
                      <lib-uclookupgeneric *ngIf="!isLocal" [lookupInput]="inputLookupObj1" [parentForm]="PersonalForm"
                        [enjiForm]="enjiForm" [identifier]="'LookupCountry'" (lookup)="lookupCountry($event)">
                      </lib-uclookupgeneric>
                      <label *ngIf="isLocal"> {{selectedNationalityCountryName}} </label>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-md-4 adInsLabel">Religion </label>
                    <div class="col-md-8">
                      <select class="form-control adInsInput full-width" style="width: auto"
                        formControlName="MrReligionCode"
                        [ngClass]="{ 'is-invalid': enjiForm.submitted && PersonalForm.controls.MrReligionCode.invalid}">
                        <option value="">-Select One-</option>
                        <option *ngFor="let it of MrReligionCode" value="{{it.MasterCode}}">
                          {{it.Descr}}
                        </option>
                      </select>
                      <lib-uc-show-errors [control]="PersonalForm.controls.MrReligionCode"
                        [submit]="enjiForm.submitted">
                      </lib-uc-show-errors>
                    </div>
                  </div>
                </div>
              </div>
              <lib-ucaddress #UcAddrGrp [addressObj]="inputAddressObjForPersonal" [enjiForm]="enjiForm" [identifier]="'AddrObj'" [UCAddrForm]="PersonalForm"></lib-ucaddress>
              <!-- <lib-ucaddress #UcAddrGrp [title]="'Address'" [UCAddrForm]="PersonalForm" [enjiForm]="enjiForm"
                             [identifier]="'AddrObj'" [default]="AddrObj" [inputField]="inputFieldObj" [showAllPhn]="false">
              </lib-ucaddress> -->
              <div class="form-actions right">
                <button type="button" class="btn btn-raised btn-warning mr-1" (click)="cancel()" translate>
                  <i class="ft-x"></i> Cancel
                </button>
                <button type="submit" class="btn btn-raised btn-primary">
                  <i class="far fa-check-square"></i> Save
                </button>
                <!-- <button type="button" class="btn btn-raised btn-primary" (click)="test()">
                  <i class="fa fa-check-square-o"></i> Test
                </button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>