<div class="row text-left">
  <div class="col-md-12">
    <div class="card">

      <div class="card-body">
        <!-- <div class="px-3"> -->

          <form class="form form-horizontal" [formGroup]="NapAppReferantorForm" (ngSubmit)="NapAppReferantorForm.valid && ClickSave()"
            #enjiForm="ngForm">
            <!-- Main Info -->
            <lib-ucSubsection [id]="'ReferantorId'" [title]="'Referantor'" [panel]="'Referantor'">
            </lib-ucSubsection>
            <div class="form-body" id="Referantor">
              <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> Referantor </h4> -->

              <div class="form-group row">
                <label class="col-md-2 adInsLabel" translate>Referantor </label>
                <div class="col-md-10">
                  <mat-checkbox color="primary" formControlName="CheckBoxAppReferantor" (change)="TurnReferantor()"></mat-checkbox>
                </div>
              </div>

              <div [hidden]="!ReferantorOn">
                <div class="form-group row adins-required">
                  <label class="col-md-2 adInsLabel" translate>Referantor Name </label>
                  <div class="col-md-5">
                    <lib-uclookupgeneric *ngIf="inputLookupObj.isReady" [lookupInput]="inputLookupObj" [parentForm]='NapAppReferantorForm'
                      [enjiForm]='enjiForm' [identifier]="'ProductOfferingIdentifier'"
                      (lookup)="getLookupAppReferantorResponse($event)">
                    </lib-uclookupgeneric>
                  </div>
                </div>

                <div class="form-group row" [hidden]="appReferantorObj.MrReferantorType == null">
                  <label class="col-md-2 adInsLabel" translate>Referantor Type</label>
                  <label class="col-md-5 adInsLabel" translate *ngIf="appReferantorObj.MrReferantorType == 'AGENCY_COMPANY'">
                    Agency Company </label>
                  <label class="col-md-5 adInsLabel" translate *ngIf="appReferantorObj.MrReferantorType == 'AGENCY_PERSONAL'">
                    Agency Personal </label>
                </div>

                <div class="form-group row adins-required" *ngIf="NpwpOn">
                  <label class="col-md-2 adInsLabel" translate>Account Bank</label>
                  <div class="col-md-10">
                    <select class="form-control adInsInput" style="width: auto" formControlName="AccountBank"
                      ng-disabled="!ReferantorOn" (change)="ChangeValueBank($event)"
                      [ngClass]="{ 'is-invalid': enjiForm.submitted && NapAppReferantorForm.controls.AccountBank.invalid }">
                      <option value="">-Select One-</option>
                      <option *ngFor="let it of bankItems" value="{{it.BankAccountNo}}">
                        {{it.BankAccountNo + " " + it.BankName + " " + it.BankAccountName}} </option>
                    </select>
                    <lib-uc-show-errors [control]="NapAppReferantorForm.controls.AccountBank"
                      [submit]="enjiForm.submitted"></lib-uc-show-errors>
                  </div>
                </div>

                <lib-ucSubsection [hidden]="!NpwpOn" [id]="'NPWPReferantorInfoId'" [title]="'NPWP REFERANTOR INFO'" [panel]="'NPWPReferantorInfo'">
                </lib-ucSubsection>
                <div class="row" [hidden]="!NpwpOn" id="NPWPReferantorInfo">
                  <!-- <h4 class="form-section card-title" translate><i class="ft-file-text"></i> NPWP REFERANTOR INFO </h4> -->
                  <div class="col-md-12">

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> NPWP No </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label> {{appReferantorObj.TaxIdNo}} </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> NPWP Name </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label> {{appReferantorObj.TaxIdName}} </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> Address </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdAddr != null"> {{appReferantorObj.TaxIdAddr}} </label>
                        <label *ngIf="appReferantorObj.TaxIdAddr == null"> - </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> RT / RW </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdAreaCode4 != null"> {{appReferantorObj.TaxIdAreaCode4}} &nbsp; </label>
                        <label *ngIf="appReferantorObj.TaxIdAreaCode4 == null"> - &nbsp; </label>
                        <label *ngIf="appReferantorObj.TaxIdAreaCode3 != null">  / {{appReferantorObj.TaxIdAreaCode3}} </label>
                        <label *ngIf="appReferantorObj.TaxIdAreaCode3 == null">  / - </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> Kelurahan </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdAreaCode2 != null"> {{appReferantorObj.TaxIdAreaCode2}} </label>
                        <label *ngIf="appReferantorObj.TaxIdAreaCode2 == null"> - </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> Kecamatan </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdAreaCode1 != null"> {{appReferantorObj.TaxIdAreaCode1}} </label>
                        <label *ngIf="appReferantorObj.TaxIdAreaCode1 == null"> - </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> City </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdCity != null"> {{appReferantorObj.TaxIdCity}} </label>
                        <label *ngIf="appReferantorObj.TaxIdCity == null"> - </label>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-2 form-inline">
                        <label translate> Zip Code </label>
                      </div>
                      <div class="col-md-4 form-inline">
                        <label *ngIf="appReferantorObj.TaxIdZipcode != null"> {{appReferantorObj.TaxIdZipcode}} </label>
                        <label *ngIf="appReferantorObj.TaxIdZipcode == null"> - </label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


            </div>

            <div class="form-actions right">
              <button *ngIf="showCancel" type="button" class="btn btn-raised btn-warning mr-1" (click)="Cancel()" translate>
                <i class="ft-x"></i> Cancel
              </button>
              <button type="submit" class="btn btn-raised btn-primary" translate>
                <i class="far fa-check-square"></i> Save
              </button>
              <!-- <button type="submit" (click)="ClickSave('next')" class="btn btn-raised btn-primary" translate>
                <i class="fa fa-check-square-o"></i> Next
              </button> -->
            </div>

          </form>

        <!-- </div> -->
      </div>
    </div>
  </div>
</div>