<p>
  verf-question works!
</p>

<!-- <form class="form form-horizontal" [formGroup]="ParentForm" (ngSubmit)="VerfResultDForm.valid && SaveForm()"
  #enjiForm="ngForm"> -->
  <form class="form form-horizontal" [formGroup]="ParentForm" #enjiForm="ngForm">
  <!-- <div class="form-body" [formGroupName]="i" *ngFor="let QuestionGrpList of VerfResultDForm.controls; let i = index">
    <h4 class="form-section card-title" translate><i
        class="ft-file-text"></i>{{QuestionGrpList.value.VerfQuestionGrpName}}</h4>
    <span formArrayName="VerfQuestionAnswerList">
      <div class="form-group row" [formGroupName]="j"
        *ngFor="let QRList of QuestionGrpList.controls.VerfQuestionAnswerList.controls; let j = index">
        <label class="col-md-3" translate>{{QRList.value.QuestionGrp.VerfQuestionText}} </label>
        <div class="col-md-5" formGroupName="ResultGrp">
          <span
            *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'DDL' || QRList.value.QuestionGrp.VerfAnswerTypeCode == 'RBL'">
            <select class="form-control" formControlName="Answer"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
              <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer" [submit]="enjiForm.submitted">
              </lib-uc-show-errors>
              <option *ngFor="let item of ListVerfAnswer[i][j]" value="{{item}}">
                {{item}}</option>
            </select>
          </span>
          <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'TXT'">
            <input type="text" class="form-control" formControlName="Answer"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
            <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </span>
          <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'DT_PICKER'">
            <input type="date" class="form-control" formControlName="Answer"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
            <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </span>
          <span *ngIf="QRList.value.QuestionGrp.VerfAnswerTypeCode == 'UC_INPUT_NUMBER'">
            <input type="text" class="form-control" formControlName="Answer"
              [ngClass]="{ 'is-invalid': enjiForm.submitted && QRList.controls.ResultGrp.controls.Answer.invalid }">
            <lib-uc-show-errors [control]="QRList.controls.ResultGrp.controls.Answer" [submit]="enjiForm.submitted">
            </lib-uc-show-errors>
          </span>
        </div>
        <div class="col-md-4" formGroupName="ResultGrp">
          <textarea class="form-control" formControlName="Notes"></textarea>
        </div>
      </div>
    </span>
  </div> -->

  <!-- History List -->
  <!-- <lib-ucSubsection [id]="'HistoryListId'" [title]="'History List'" [panel]="'HistoryList'">
  </lib-ucSubsection>
  <div class="form-body" id="HistoryList">
    <table class="table table-responsive-md text-center table-hover">
      <thead>
        <tr class="table-header">
          <th><span translate class="thead-header text-left">Phone No</span></th>
          <th><span translate class="thead-header text-left">Status</span></th>
          <th><span translate class="thead-header text-left">Notes</span></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of VerfResultHList; let i = index">
          <td class="text-left">{{item.Phn}}</td>
          <td class="text-left">{{item.MrVerfResultHStatName}}</td>
          <td class="text-left">{{item.Notes}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->
  <div class="form-actions right">
    <!-- <button type="button" class="btn btn-raised btn-warning mr-1"
      [routerLink]="['/Nap/AdminProcess/CustConfirmation/Detail']"
      [queryParams]="{AgrmntId:AgrmntId, AppId:AppId, AgrmntNo:agrmntObj.AgrmntNo}" translate>
      <i class="ft-x"></i> Cancel
    </button>
    <button type="submit" class="btn btn-raised btn-primary" translate>
      <i class="fa fa-check-square-o"></i> Save
    </button> -->
    <button type="submit" class="btn btn-raised btn-primary" (click)="CheckValue()">
      <i class="fa fa-check-square-o"></i>&nbsp;<span translate>CheckValue</span>
    </button>
  </div>
</form>