<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Serial No 1</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppCollateralObj"].SerialNo1 }} </label>
</div>
<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Serial No 2</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppCollateralObj"].SerialNo2}} </label>
</div>
<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Lisence Plate No</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppCollateralObj"].SerialNo3}} </label>
</div>
<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Manufacturing Year</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppCollateralObj"].ManufacturingYear}} </label>
</div>


<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Temporary Registration Letter No</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppAssetObj"].TempRegisLettNo}} </label>
</div>
<div class="form-group row">
  <label class="col-md-2 adInsLabel" translate>Temporary Registration Letter Date</label>
  <label class="col-md-2 adInsLabel" translate>{{assetData["ResponseAppAssetObj"].TempRegisLettDt}} </label>
</div>
